[2022-06-23 13:38] gpkmr-genesys commented on #2017
@imjasonh - created this as per our conversation in slack

[2022-06-24 06:04] MageshSrinivasulu commented on #1653
@hectorj2f Can you please let me know when this feature will be available?

[2022-06-24 13:39] chipzoller opened #2025 "Attestation is not replaced despite success"
**Description**

When replacing an attestation of an identical predicate type (keyless), although the command returns success and states the correct predicate type which should be replaced, when verifying attestations afterwards the new attestation is not reflected.

**Version**

1.9.0

**Reproduce Steps**

1. Create, for example, a Trivy scan on a container image that you wish to have attested. S

[2022-06-25 13:33] chipzoller opened #2027 "Attached attestations in keyless mode not returned with verify-attestations"
**Description**

In keyless mode with Cosign 1.9, an attestation that is attached to a container image using `cosign attach attestation` is not returned in a `cosign verify-attestations` command with others which were created with `cosign attest`. It will be returned only in a `cosign download attestation` command.

[2022-06-25 15:33] dlorenc commented on #2027
I think the issue here is that the verification bundle is stored outside of the attestation. It gets attached correctly, but isn't returned because there isn't enough information to verify the signature portion.

A fix would be to upload the verification bundle if present on disk, either via flags or some discovery scheme.

[2022-06-26 11:19] brackend opened #2028 "Replication doesn't not replicate signatures along with artifact"
**Local replication did not replicate the cosign signatures from another local repository**

Created a pull replication from one local repo to another local repo on the same Harbor registry.
The source had several cosign signatures.
Replication worked fine for replicating the image into the new repository.  Problem is the destination repo doesn't see the signatures.  That is the new repo replicate

[2022-06-27 06:54] ianlewis commented on #2027
For those following along at home here are the commands to reproduce:
[code]

[2022-06-27 07:13] ianlewis commented on #2027
Some background:

The reason we want to do this is that we want to support generating SLSA provenance safely in a generic way using a [reusable GitHub Actions workflow](https://github.com/slsa-framework/slsa-github-generator/blob/main/.github/workflows/generator_generic_slsa3.yml). This generates some generic provenance including metadata about the GitHub Actions environment, workflow run etc. and

[2022-06-27 19:26] laurentsimon commented on #2027
/cc @asraa

[2022-06-28 12:35] thepwagner opened #2031 "dockerfile-verify: inline certificate verification options"
**Description**

In `cosign dockerfile verify`, verification options like `--certificate` and `--certificate-oidc-issuer` are passed as command-line arguments.
This leaves the user burdened with mapping certificate criteria to images externally, and for multi-stage builds invoking `cosign verify dockerfile` multiple times.

I propose allowing the `options.CertVerifyOptions` to be encoded within co

[2022-06-29 14:51] sfzylad opened #2034 "Lack of backward compatibility for verify-attestation"
**Description**

Images attested with `cosign v1.4.1` (for full output from cosign version refer to the Version section) cannot be verified with `verify attestation` due to the lack of `payloadType` field compatibility when verified with `cosign 1.9.0`.

To reproduce the problem (using cosign 1.4.1):
[code]

Then using the `cosign 1.9.0`:
[code]

*Output:*
[code]

*Expected output:*
Cosign should

[2022-06-29 15:11] hectorj2f commented on #2034
@sfzylad Thanks for the issue. I have a couple of questions. Is there any reason to use 1.4.1 ? Why don't you use the same cosign version for the attestation and verification ?

[2022-06-29 15:14] hectorj2f commented on #1997
We also realized that any restart of the rekor instance changed the public key value, so that looks like one more reason to get the public key from the specified instance l when set.

[2022-06-29 15:26] asraa commented on #1997
Hey Hector! Maybe I could clarify documentation for the flag -- this is where the client should be talking to for the log information, but trusted that log would mean that you have no out of band trust pinned in the client. Otherwise, there would be no need to verify any signature from Rekor.

[2022-06-29 15:27] asraa commented on #1997
A rekor server deployment can also be specified with a particular signer, that'll avoid a creation of an in-memory key pair: https://github.com/sigstore/rekor/blob/ed585a3385f9d6447f886d6948554e261288bc6a/config/rekor.yaml#L59

[2022-06-29 16:44] sfzylad commented on #2034
@hectorj2f I've encountered this problem trying to verify the attestation that's been created some time ago when version 1.4.1 was the most recent or close to the most recent. The described problem started just after updating.

[2022-06-29 16:53] #1625 closed

[2022-06-29 19:25] chipzoller commented on #1989
Closed in https://github.com/sigstore/cosign/pull/1626 ?

[2022-06-29 21:43] developer-guy commented on #1989
Yep, closed with #1626

[2022-06-29 21:43] #1989 closed

[2022-06-29 21:44] developer-guy commented on #1989
Thanks @chipzoller for bringing this into my attention 🙋🏻‍♂️

[2022-06-29 22:32] haydentherapper commented on #1997
A couple more thoughts:

We should avoid pulling the key directly from the log because it opens us up to various attacks. This could include man in the middle, where an attacker injects their own key material and inclusion proofs and signed tree heads. Pinning a key out of band would make this detectable. Much like with PKI where you pin a root certificate that you trust, you need to start the tru

[2022-06-30 01:47] #1378 closed

[2022-06-30 14:31] brackend commented on #2028
Hi,  can anyone help with this?   Right now I don't have access to external registries hence reason I'm sourcing repo in same registry instance.

[2022-06-30 15:29] dlorenc commented on #2028
This might be a better bug for the harbor issue tracker.

[2022-06-30 15:33] brackend commented on #2028
Absolutely.  My apologies.  Didn't realize I posted in the wrong one.  Closing.

[2022-06-30 15:33] #2028 closed

[2022-06-30 15:37] dlorenc commented on #2028
No worries! Let me know if there's anything to fix on this end.

[2022-07-02 06:26] hectorj2f commented on #1566
Closing it! @bburky feel free to re open  it!

[2022-07-02 06:26] #1566 closed

[2022-07-04 03:37] ianlewis opened #2043 "Add OIDC token verification to GitHub provider."
The GitHub provider somewhat blindly requests tokens from the GitHub provider and returns them to the application. The provider should probably do some verification on the token to make sure it contains what is expected.

Some data that could be verified:
- audience
- issuer
- expiry
- signature

[2022-07-04 06:37] developer-guy opened #2044 "add --skip-information flag to clean cmd for consistency"
**Description**

Based on the talk in Slack[^1] with @imjasonh, it'd be better for consistency to use the `skip-information` flag for clean cmd in addition to the `force` flag.

The whole UX would be like the following:

1. We'll probably want `--force` to continue to exist for 1+ release, with a warning that it's renamed to `--skip-confirmation`.
2. use --force's value to set o.SkipConfirmation.

[2022-07-04 06:37] developer-guy commented on #2044
@dentraz would you like to give this one a hand?

[2022-07-04 07:02] developer-guy opened #2045 "add additional information about COSIGN_REPOSITORY env"
**Description**

Here in README.md[^1] and sigstore.dev[^2], The `COSIGN_REPOSITORY` env variable looks like it can only be used for storing signatures in the given repository. Still, it can be used to store additional software supply chain materials like sboms, attestations, etc.

![Screen Shot 2022-07-04 at 10 01 49 AM](https://user-images.githubusercontent.com/16693043/177099535-c4742597-7d50-4

[2022-07-04 19:29] dlorenc commented on #2034
Hey,

Sorry about this one. We were incorrectly storing attestations before, and confusing the DSSE envelope with the in-toto attestation in a few areas. The bug fix was unfortunately backwards incompatible.

[2022-07-04 22:30] znewman01 commented on #2044
CC @haydentherapper; see also #1909 and my comments therein

Before a rename I'd really like to see some documentation (comments in the code would be sufficient) about our prompting philosophy first. I think it's really useful to have (1) consistent principles for flag naming, prompting, etc. across the tool and (2) communicate those to users, so they know what to expect.

I also prefer `--force`

[2022-07-04 22:30] znewman01 commented on #2044
Also I think you wanted @Dentrax :)

[2022-07-04 22:32] znewman01 commented on #2004
zsh (there are a few other shells that do this as well) uses `%` to distinguish between:

- (no `%`): the command you ran ended its output with a newline
- (`%`): the command you just ran did not terminate with a newline, but rather than start your prompt in the middle of the last line, I've automatically inserted a newline here

[2022-07-04 22:36] znewman01 opened #2047 "Discourage signing references to images that aren't digests"
If you run `cosign sign container.registry.io/foo:tag`, then you're vulnerable to:

1. Race conditions, where `:tag` changed. Immutable tags help with this, but it's hard for cosign to know whether a registry's tags are immutable.
2. Funny business, where the registry itself changes the image.

It's much more meaningful to sign the *digests*, which are immutable.

In Slack discusssion, @imjasonh w

[2022-07-05 19:28] vaikas commented on #927
@mattmoor @JimBugwadia @mlieberman85 I'm closing this since I feel like with the ClusterImagePolicy this has been sufficiently addressed. Please reopen if you think there's still something missing.

[2022-07-05 19:28] #927 closed

[2022-07-05 21:55] vaikas commented on #1653
Sorry for the tardy reply, was OOO. So, I like the `approve`: [true|false] format over the initial proposal for 'just pass' because then one could for example block a particular version, or set of registries, etc. One could also create a 'catch-all' CIP if one wanted to subvert the legacy behaviour by being able to create an allow list that would permit images that would otherwise be blocked, and

[2022-07-06 11:38] JanZerebecki opened #2049 "support remote signing via reproducible builds"
**Description**

Have cosign on the developers machine run the same build, creating a signature locally and then sending the signature to the remote in machine, where it is checked and applied. (See also https://www.qubes-os.org/doc/split-gpg/ for something similar in concept.)
Besides allowing signing on an untrusted machine while still retaining security, this makes it possible to independently

[2022-07-06 17:22] TomHennen opened #2052 "`attach attestation` should support Attestation Bundles"
**Description**

Users may have multiple attestations that they want to attach to a given image.  `cosign download attestation` supports downloading all the attestations for a given image, but `cosign attach attestation` doesn't support uploading multiple attestations.

It would be nice if `attach attestation` supported [in-toto Attestation Bundles](https://github.com/in-toto/attestation/blob/main

[2022-07-06 18:22] dlorenc commented on #2052
Makes sense, are there any tools to generate those bundles? Should download also result in a bundle in the case where there are multiple?

[2022-07-06 19:03] imjasonh opened #2053 "Rename --k8s-keychain flag"
**Description**

The `--k8s-keychain` flag (e.g., in [`cosign sign`](https://github.com/sigstore/cosign/blob/main/doc/cosign_sign.md)) is

This is a bit of a misnomer, since "the kubernetes keychain" as a term isn't particularly well defined, and because what I believe it means is, "the common set of cloud auth helpers that can be included in Kubernetes", and in actuality, the flag enables a numbe

[2022-07-06 21:08] developer-guy commented on #2052
it makes sense to me, I'd love to help

[2022-07-07 12:23] TomHennen commented on #2052
Great!  Would you like to author the change (I'd be happy to test whatever you come up with), review any PRs I create, or something else?

[2022-07-07 17:41] znewman01 opened #2056 "Discourage (disallow?) naked `cosign verify` invocations"
Inspired by https://github.com/sigstore/sigstore-python/issues/155

`cosign verify` (in keyless mode) without any `--cert-email` provided will succeed when literally anybody has signed an image/blob. This is almost never the right behavior: evil@hacker.com can sign any blob you can.

Instead, we should require *some* verification policy:

- `--cert-email` (*and* `--cert-oidc-provider`; see #1947)

[2022-07-07 19:11] znewman01 commented on #2049
Overall, I agree with you that reproducible builds and software signatures go well together!

Is your argument something like the following?

- Some people are having GitHub Actions sign with private keys stored as GitHub Secrets.
- This is bad for a couple of reasons:
  - GitHub Actions can now sign anything it wants. So if (1) GitHub is compromised, or (2, more likely) the GitHub actions configu

[2022-07-12 13:12] morwn opened #2061 "Failed to verify docker image with rekor-cli"
**Description**

I'm failed to verify docker Image against the transpancy log with rekor-cli verify:
[code]

The signing look like this:
[code]

The transparency record fetch successfully:
[code]

My cosign version:
[code]

My rekor-cli:
[code]

[2022-07-12 17:26] JanZerebecki commented on #2049
Yes, my argument was somewhat like that. Important details in my scenario are that they are 1) using Github Web UI to do merges (not git merge and push) and tags 2) do not use commit signing 3) already use what cosign calls keyless mode.

So (3) makes it different, but your criticism of your scenario applies equally to mine as the entity in control of the commit signing key used for Web UI actions

[2022-07-13 01:01] mattmoor commented on #865
Let's use: https://github.com/sigstore/gitsign/issues/94 to track this work!

[2022-07-13 01:01] #865 closed

[2022-07-13 17:54] lcarva opened #2068 "Digest mismatch when fetching module version v1.9.0"
**Description**

When using golang to fetch version 1.9.0 of cosign, the computed digest is not consistent between different environments. This causes portability issues in `go.sum` of projects using cosign:

[code]
Depending on your environment the hashes may be reversed.

Here's a simple reproducer:
[code]

The output of the `diff` commands is:
[code]

The version in the proxy appears to be olde

[2022-07-13 17:58] lcarva commented on #2068
Based on the diff output in the description, it looks like the git tag may have been moved to accommodate https://github.com/sigstore/cosign/commit/a4cb262dc3d45a283a6a7513bb767a38a2d3f448

[2022-07-14 21:58] haydentherapper commented on #2056
+100000 to this. A couple thoughts:
* This is a significant breaking change, so we should prepare for issues to be filed. Blog posts/Slack/documentation beforehand is critical.
* We do have a gap that needs to be resolved first, that a flag like `certificate-identity` must be added in order to support non-email IDs (SPIFFE and GitHub Actions currently).
* There is recent support for checking GitHu

[2022-07-14 22:29] znewman01 commented on #2056
My preference is to immediately stick a deprecation warning in, and leave it for a release or two first. But yeah, I'm on-board overall.

I don't feel super strongly about this, but I do think it'd be pretty useful for debugging (not just debugging Cosign, but debugging Sigstore integrations generally).

Good call. See also https://github.com/sigstore/cosign/issues/1964

Works for me.

Agreed on s

[2022-07-15 17:45] haydentherapper commented on #2056
Sounds good, let's get the deprecation warning in after the community meeting.

I'm hesitant because we've seen testing features like the environment variables for providing roots of trust work their way into documentation. Maybe we start without one, and if we hear complaints from developers, we add one?

Sent you the 1-pager, feel free to update. Let's see how many folks are at this week's offic

[2022-07-16 00:23] znewman01 commented on #2056
SGTM; I'll take a look. I won't make office hours this coming week, but I should be available the week after for the community meeting.

Appreciate you knocking out the 1-pager so quick!

[2022-07-16 00:46] dlorenc commented on #2056
What about a command to inspect the bundle? Instead of verify, cosign inspect? I agree this is usage is dangerous and that we should remove it. It's also useful for debugging so I'd love to keep it in some form if we can make it safe.

[2022-07-16 02:34] haydentherapper commented on #2056
That’d also give us the ability to define a machine readable format with information about the bundle and signature, would be very useful for policy engines to consume to make decisions.

[2022-07-16 08:48] hectorj2f commented on #2056
+1000
I remember we discussed this topic on a slack thread before. I like the idea of `cosign inspect` which gives us more freedom to require certain flags and support more complex scenarios i the future (e.g. using policies). We could add warning messages in `cosign verify` suggesting a switch to inspect for a more secure validation.

[2022-07-16 17:20] haydentherapper commented on #2056
I think we should have both - A simple-to-use secure verification with `verify`, and `inspect` for those who want to author their own policies.

[2022-07-17 01:18] znewman01 commented on #2049
I'd like to check that I'm understanding your proposal: GitHub merge commits are signed by GitHub, *not* maintainers, so if we check (1) that a commit is signed, and (2) a build is done by GitHub CI, (1) isn't giving us a whole lot of assurance (single-point-of-failure, no tie to maintainer identity).

But we like the GitHub workflow; how do we get the security assurance of signed commits without

[2022-07-20 16:09] jeff-mccoy commented on #1462
Just finding this issue from twitter.  Quick comment for https://github.com/defenseunicorns/zarf as we include both cosign and syft as sdks, the dependency tree is large—but I’d be more concerned with Cosign just falling back to kubectl for us as we can’t guarantee that binary is available when our tools runs.

[2022-07-20 16:20] imjasonh commented on #1462
I assume that's responding to https://github.com/sigstore/cosign/issues/1462#issuecomment-1040653999:

I agree I don't think shelling out to `kubectl` will be a good approach, for basically the reasons you describe.

It might be worth exploring replacing the k8s client used to get/create/update secrets with standard HTTP calls, but even that will probably be more headache than it's worth since we'

[2022-07-20 19:37] salrashid123 commented on #396
if it helps for any reference, her'es a side-show repo of using pkcs11 and an implementation of `crypto.Signer` for that  (its nothing for prod use, just fun tinkering)

* https://github.com/salrashid123/mtls_pkcs11
* https://github.com/salrashid123/go_pkcs11#tpm

pkcs11 would provide the most flexiblity (you just need a std interface for any provider (whell, thats the idea)...like kms (gcp and aw

[2022-07-20 20:16] Dentrax opened #2082 "attest: if there is no attestation `--replace` causes empty manifest layer"
**Description**

We (@@developer-guy) noticed a strange behavior: If there is no attestation, and we passed `--replace` flag, it creates new `.att` but does not attach any `layers` in the manifest.

1. Clean the image:

[code]

2. Attest the image with `--replace` flag:

[code]

3. Expect `layers` empty

[code]

[code]

I would expect something like:

* Fail with error (you have to attest first be

[2022-07-20 20:22] developer-guy commented on #2082
We are willing to work on this, if you let us to do that, I can assign to me 🙋🏻‍♂️

[2022-07-20 20:25] developer-guy commented on #2025
Hi @chipzoller, we (w/@dentrax) have investigated this issue. The problem seems related to the `go-containerregistry` lib, In the cosign v1.9.0, which uses `go-containerregistry v0.8.1`.

We have compiled the cosign binary from the main branch, which uses `go-containerregistry v0.10.0`, and everything worked fine. However, we opened an issue on the zulu project side from installing the cosign bina

[2022-07-20 20:52] griggheo opened #2083 "Trivy reports 2 HIGH security vulns for cosign 1.9.0"
**Description**

Given this Dockerfile:

[code]

When running `trivy` against it:

[code]

there are 2 HIGH vulns discovered as of 07/20/22:

[code]

[2022-07-20 20:54] Dentrax commented on #2025
Hey @cpanato! 👋

Is it good time to release cosign 1.9.1? There are more than [350+ changes](https://github.com/sigstore/cosign/compare/v1.9.0...main) since last release. Obviously, bumping `go-containerregistry` is the major one. Also there some good ones such as bumping Go to 1.18, env subcommand, cyclonedx support, cert-extensions verify, etc. Wdyt?

[2022-07-20 21:21] williamh opened #2084 "cosign 1.9.0 make all complains about goimports"
**Description**

The following is the output when "make all" is run on v1.9.0. The build is successful, but it complains about goimports, which doesn't make sense since "make all" just builds the cosign binary.

[code]

It seems like "make all" shouldn't be attempting to run "goimports".

**Version**

This happens when attempting to build version 1.9.0.

Thanks,

William

[2022-07-20 21:44] Dentrax commented on #2052
Hey @TomHennen,

With @developer-guy we submit a small PR to support passing multiple `--attestation <file>`. Can you please check? https://github.com/sigstore/cosign/pull/2085

[2022-07-20 22:43] hectorj2f commented on #2083
@griggheo I can see how these dependencies are updated in the `main` branch. I believe we are just waiting to release a new version.

[2022-07-21 06:52] marcofranssen commented on #1609
Also found here a tutorial walking through an implementation. Would be happy to contribute, we just need to agree on a way to pass the `client cert/ca` for the mTLS connection.

[2022-07-21 10:20] dlorenc commented on #2083
Cc @cpanato

[2022-07-21 10:51] cpanato commented on #2083
i will go over the PRs and prepare the changelog for a new release :)

[2022-07-21 12:44] TomHennen commented on #2052
Thanks @Dentrax, I left a comment on the PR.  Thanks for working on this!

[2022-07-21 15:41] griggheo commented on #2083
Thanks for the quick response everyone! As you know, in some environments
if a given piece of software has High and Critical vulnerabilities, then it
is automatically disqualified, unless you jump through many hoops and prove
that you have mitigation measures in place.

So I appreciate you cutting a new release. However, the question will
remain - what do you do the day after tomorrow, when a new

[2022-07-22 10:21] cpanato commented on #2083
v1.10.0 is released: https://github.com/sigstore/cosign/releases/tag/v1.10.0

running grype
[code]

[2022-07-22 10:24] cpanato commented on #2083
and running trivy in the same way you did

[code]

[2022-07-22 10:24] cpanato commented on #2083
closing this for now, if this is still an issue please reopen or open a new one
thanks!

[2022-07-22 10:24] #2083 closed

[2022-07-22 11:50] cpanato commented on #2025
1.10.0 release is out https://github.com/sigstore/cosign/releases/tag/v1.10.0

[2022-07-22 12:19] chipzoller commented on #2027
@ianlewis we need help pushing on this if the container provenance generators (current and future) are supposed to use this attach flow rather than the strip-attest flow.

[2022-07-22 12:34] chipzoller commented on #2025
Confirmed working using Cosign 1.10.0! Nice work, everyone!

[2022-07-22 12:35] chipzoller commented on #2025
Closed in PR https://github.com/sigstore/cosign/pull/2021, verified in release 1.10.0.

[2022-07-22 12:35] #2025 closed

[2022-07-22 13:14] imjasonh opened #2091 "x509: cannot verify signature: insecure algorithm SHA1-RSA"
**Description**

From head (95b74db89941e8ec85e768f639efd4d948db06cd)

[code]

Adding the `GODEBUG` as suggested makes the test pass:

[code]

[code]

Mostly filing this since I couldn't find any other reference to this in issues or code in any sigstore repo. Has anybody seen this before

edit: see https://github.com/golang/go/issues/41682

[2022-07-22 16:07] griggheo commented on #2083
Thanks for the prompt response and the new release @cpanato  - really appreciate it!

[2022-07-22 18:27] chuangw6 opened #2094 "cosign cli doesn't recognize `.../cryptoKeyVersions/$KEY_VERSION`"
I want to use cosign cli to verify a signature that was generated using `sigstore` pkg with a gcp kms ref `gcpkms://projects/$PROJECT/locations/$LOCATION/keyRings/$KEYRING/cryptoKeys/$KEY/cryptoKeyVersions/$KEY_VERSION`.

[code]
However, I got an error.
[code]

If I changed the `KEY_REF` from `.../cryptoKeyVersions/1` to `.../versions/1`, the cli verification works. If the version part `/cryptoKey

[2022-07-23 07:56] knqyf263 opened #2095 "vulnerability attestation: change Result to interface{}"
Is there any specific reason `Result` is `map[string]interface{}`?
https://github.com/sigstore/cosign/blob/612826982d3695cc85f7f4e42c8c26cc1218d1a5/pkg/cosign/attestation/attestation.go#L77

We are trying to add support for [Cosign Vulnerability Scan Record Attestation](https://github.com/sigstore/cosign/blob/main/specs/COSIGN_VULN_ATTESTATION_SPEC.md) in Trivy, but our result is not `map[string]i

[2022-07-23 19:57] luc-lynx opened #2097 "sign-blob attemps to read the whole file into memory"
**Description**

At the moment `sign-blob` logic attempts to read the whole file into memory and then sign it. It can lead to problems with signing large blobs and leads to increased memory requirements on build agents perform signing.

I suggest refactoring that place and using more "traditional" steps like
- digest calculation which can be done via sequential reading of small potrions of file
-

[2022-07-23 21:19] luc-lynx opened #2098 "Are secure timestamps omitted intentionally?"
**Question**

Having a quick look at the signature process I can't see any queries to secure timestamping services. Including a signed timestamp is a critical piece of functionlity for almost any scenario involving digital signatures.

There's a citition from the [cosign course on Edx](https://learning.edx.org/course/course-v1:LinuxFoundationX+LFS182x+2T2022/home)

If a signature is valid it's imp

[2022-07-24 10:47] dlorenc commented on #2098
We use the transparency log (Rekor) inclusion proof as a timestamp. It serves the same purpose but has a different API than traditional TSA's.

I would like to add support for RFC3161 TSAs in addition.

There's some discussion here: https://blog.sigstore.dev/its-ten-o-clock-do-you-know-where-your-private-keys-are-5c869cf53234

[2022-07-25 00:14] ianlewis commented on #2027
@chipzoller Right now the container workflow is using `cosign attest` to sign and upload the provenance. We just [generate and give it a predicate](https://github.com/slsa-framework/slsa-github-generator/blob/c489188008fc4cfd20acc5976fa06d9b32ba2fad/.github/workflows/generator_container_slsa3.yml#L137-L144).

[2022-07-25 14:11] asraa commented on #2098
Agreed, there is no monitoring that verifies monotonicity of the integrated time in Rekor. Even then, the integrated time in an entry can be mutated in the underlying database. There's also no way of adding an external or third party timestamp in our APIs, with either an RFC 3161 timestamp or other timestamping protocols.

I agree that there is room to add this data into Rekor entries in a variety

[2022-07-25 16:00] asraa commented on #2098
One more addition: Rekor supports an RFC 3161 timestamp type, which means you can upload timestamps on a cron or scheduled job to Rekor for more assurance of its integrated time. That can provide some guarantees that entries are monotonic in relation to those timestamps.

[2022-07-26 05:08] luc-lynx commented on #2098
Can you elaborate on that? I'm just trying to understand the security guarantees. Let's assume I rely only on the project tooling without additional code written and additional checks performed on my side - just using cosign sign/sign-blob, cosign verify with support for rekor checks (experimental enabled) and funcio "keyless" scheme like it's suggested in various posts, documentation and EDX cour

[2022-07-26 05:47] haydentherapper commented on #2098
Walking through the signing and verification flow, focusing on where timestamps are referenced:

On signing:

1) Fulcio creates a short-lived certificate, associating an identity with an ephemeral public key
2) The certificate is uploaded to a transparency log along with the signature and artifact hash
3) The log returns a signed bundle which includes the inclusion timestamp and artifact hash, and

[2022-07-26 06:13] Lerentis commented on #522
I can confirm that they do get removed 😅
Any update on the decision to change this behavior or giving the user an option to use the timestamp of the signing date here? This is really frustrating to be forced to choose in between signing and housekeeping

[2022-07-26 10:07] dlorenc commented on #522
Cc @imjasonh who has been talking about timestamps lately

[2022-07-26 10:14] asraa commented on #2098
Note that you are still correct here: the expiration time is about 10 minutes, and a compromised key that re-uses the signing cert and signs during that 10 min window would still validate. Keyless attempts to have a small enough window where compromise is feasible compared to std PKI

[2022-07-26 10:20] #2095 closed

[2022-07-26 14:10] imjasonh commented on #522
ref: docs for Gitlab Registry housekeeping: https://docs.gitlab.com/ee/user/packages/container_registry/reduce_container_registry_storage.html

I don't totally agree with Gitlab's decision to implement housekeeping in this way, but since they do, I think it makes sense to set the `.config.created` timestamp so these don't get reaped.

[2022-07-26 16:28] williamh commented on #2084
This is still an issue with 1.10.0.

Thanks,

William

[2022-07-26 16:38] cpanato commented on #2084
i will fix that

[2022-07-26 18:26] luc-lynx commented on #2098
Thank you all for the explanation, now it's clear!

[2022-07-26 23:46] xmlking opened #2104 "Cosign with goreleaser fail with error: Bad Request PKCE S256 is required"
git fork repo  https://github.com/goreleaser/supply-chain-example.git

run following command:

[code]

When I try to login via GitHub getting following error `Bad Request PKCE S256 is required.`

<img width="871" alt="image" src="https://user-images.githubusercontent.com/627951/181130903-23949c54-2e19-4b4e-bf4e-b3a4fcd6a7c2.png">

[code]

[2022-07-27 06:03] developer-guy commented on #2052
I propose making a new flag smth like "--bundle" for specifying attestation bundles instead of individual attestation files. This way, we can both consider attestation files and bundles.

[code]

PTAL @dlorenc @Dentrax

[2022-07-27 09:29] dmesser commented on #596
I tried using #903 but it doesn't work for me. Even though the digest is correct, cosign will try to reach the registry where the image is stored.

The use case here is zero-trust in the registry. Currently I have to have some trust in the registry that it doesn't mingle with my content after I pushed it but before I signed it.

[2022-07-27 09:56] sudo-bmitch commented on #596
If you have the digest, and you're signing that, then you have zero trust in the registry. The registry can't change the content without changing the digest.

[2022-07-27 10:01] dmesser commented on #596
@sudo-bmitch Agreed, but I couldn't get `cosign` to sign without trying to contact the registry which I understand your PR would enable. Maybe I had wrong expectations?

[2022-07-27 10:04] sudo-bmitch commented on #596
@dmesser best guess is something changed to sign the entire descriptor and a digest isn't enough. The fix for that would be using an OCI Layout. But the underlying problem you wanted to solve shouldn't be an issue.

[2022-07-27 10:14] dmesser commented on #596
Is using an OCI layout referring to an on-disk representation where I can direct `cosign sign` to an image URI starting with `oci://` or to an OCI image stored in a registry?

[2022-07-27 11:34] sudo-bmitch commented on #596
It's referring to the on-disk format. There's still a lot to develop for this (not just in cosign), and you'd need a separate step to copy the signed image to a registry later. I was talking about this at Open Source Summit this year showing a lot of the gaps left to be resolved, and why we should want to solve them.
https://sudo-bmitch.github.io/presentations/oci-layout/presentation.html#2

[2022-07-27 12:29] Lerentis commented on #522
I tried to have a look where in the code base this date is set but I could not find it. Using reflect to modify the signature does not seem like a good idea, so if one could drop me a hint where to set this date I could try to create a pr for this issue (:

[2022-07-27 12:50] #2084 closed

[2022-07-27 13:07] TomHennen commented on #2052
I'm not sure having a separate flag for handling bundles is a great idea.  My thinking is that often users of `attach` won't know if the file they have is a bundle with multiple attestations or not.

Consider a vulnerability scanner that issues an in-toto attestation.
1. User runs the scanner
2. Scanner produces a single attestation with predicateType A
3. Scanner emits the attestation in <FILE>
4

[2022-07-27 13:24] imjasonh commented on #522
The reason you can't find code for setting that date is because we _don't_ set that date anywhere, and the zero date is the default. Sorry that's a bit confusing.

The place where we'd set the time is probably in https://github.com/sigstore/cosign/blob/main/pkg/oci/mutate/signatures.go when we append a signature to the existing set of signatures. When there aren't any previous signatures, we appen

[2022-07-27 18:11] Lerentis commented on #522
Thanks @imjasonh , this seems longer than the implementation. highly appreciate your effort :)
PR here: https://github.com/sigstore/cosign/pull/2108

[2022-07-27 19:48] developer-guy commented on #2052
Hello @TomHennen, I think we have resolved your issue this time, here is my example `multiple.intoto.jsonl`, you can use this file to upload multiple attestations right now.

[code]

[code]

[2022-07-29 01:33] #522 closed

[2022-07-29 19:58] jdolitsky opened #2113 "Remove dependency on github.com/golang/glog"
Please see https://github.com/sigstore/policy-controller/pull/112 for more context.

TLDR - without this being removed, policy-controller will crash on startup due to conflicts with the klog dependency.

This appears to be brought in via [github.com/google/certificate-transparency-go](https://github.com/google/certificate-transparency-go). After looking there, it led to a rabbit hole of other depe

[2022-08-01 20:22] haydentherapper commented on #2113
For some context, I tried to work around this issue awhile ago by copying in files from certificate-transparency-go (https://github.com/sigstore/cosign/blob/f2c360eb97e52fa7766ecde370f1a48b910d7404/cmd/cosign/cli/fulcio/fulcioverifier/ctutil/ctutil.go) to avoid pulling in glog.

[2022-08-02 03:40] trixor commented on #116
@dlorenc is this issue still valid or should we close it out? It was added to the GA plan (unclear as to why), so I wanted to verify before taking it off the plan of record.

[2022-08-02 15:35] priyawadhwa commented on #116
So this basically means that we will remove the "experimental" env var requirement from cosign once Rekor/Fulcio are stable. Think it makes sense as a GA requirement since GA assumes the services are reliable not experimental.

[2022-08-02 17:05] caarlos0 commented on #1406
happening again with some newly signed releases:

[code]

[2022-08-02 17:11] bobcallaway commented on #1406
looks like https://github.com/sigstore/rekor/issues/891

[2022-08-02 19:59] haydentherapper commented on #2094
I see in the error output it's prefixed with `gcpkms:/` instead of `gcpkms://`. If you add an extra slash, do you still get the error?

[2022-08-02 20:38] chuangw6 commented on #2094
Hi @haydentherapper ,

The key ref in the `cosign verify-blob --key` starts with `gcpkms://` rather than `gcpkms:/`. Don't know why in the error it complains`gcpkms:/`.

[2022-08-02 22:34] sheldonhull commented on #1443
I'm also wondering this. Looking for any reference to pfx and couldn't find anything but this current issue.

[2022-08-02 23:42] haydentherapper commented on #2091
Looking into this. Interestingly it fails on 1.18, but not 1.19.

[2022-08-02 23:47] haydentherapper commented on #2091
Need to generate new test data for certificate-transparency-go that doesn't use SHA1 for the signing algorithm digest.

[2022-08-03 12:10] laurentsimon opened #2121 "failure to get Fulcio root"
As part of the native SLSA builders for GitHub https://github.com/slsa-framework/slsa-github-generator, we use cosign API to verify binaries.
Recently users who user the builder to release their binaries have encountered problems:
[code]

The builder version is v1.0.0 from 2 months ago, and uses cosign@1.7.2. We have a more recent builder version, but not all users update promptly.

Is there a way

[2022-08-03 12:12] lukehinds opened #2122 "Document 'SIGSTORE_TRUST_REKOR_API_PUBLIC_KEY'"
A few users are being tripped up on this subject env not being documented. There should be an entry in docs.sigstore.dev

[2022-08-03 12:15] dlorenc commented on #2121
you'll need to update to at least cosign 1.9. This will be stable going forward though!

[2022-08-03 12:26] hectorj2f commented on #2122
+1

[2022-08-03 13:27] laurentsimon opened #2123 "inclusion proof failure: wrong proof size 11, want 12"
As part of our SLSA native GitHub verifier https://github.com/slsa-framework/slsa-verifier, we intermittently see the following error in our e2e tests:

https://github.com/slsa-framework/slsa-verifier/blob/8c4373c533dfa2d9ec74ec042a12811a75c205de/pkg/rekor.go#L176-L179
[code]

We have seen this error happen every once in a while. Are we doing something wrong in the code? How can we troubleshoot th

[2022-08-03 13:28] asraa commented on #2123
@bobcallaway @priyawadhwa
anything for some more Rekor help. It's very difficult to reproduce it since the inclusion proof changes over time.

[2022-08-03 13:33] asraa commented on #2121
@cpanato and etc -- can we do patch version releases for important fixes like this? I can prep backport patches for the fix, but we don't have a policy on which versions of cosign that we intend to backport to (e.g. maybe the last 3)

[2022-08-03 13:35] laurentsimon commented on #2121
+1 on a defined policy. Having a LTS version should also be stated clearly. As a user, I want to use the LTS version to be sure I have these fixes backported.

[2022-08-03 13:36] asraa commented on #2122
This option should not be exposed at all -- this trusts the public key by querying Rekor, which provides no protection. Users need to use the other options for setting a custom Rekor key outside of TUF

Actually, it should be removed. I'm waiting on scaffolding changes to go through (they are staged right now!)

[2022-08-03 13:37] asraa commented on #2122
This PR was actually incorrect: https://github.com/sigstore/cosign/pull/2040

I'll put out a fix right now and add documentation on the correct way to set a custom non-TUF Rekor key.

[2022-08-03 13:43] hectorj2f commented on #2122
@asraa That PR was the result of this discussion https://github.com/sigstore/cosign/issues/1997#issuecomment-1170560083. Based on @haydentherapper comment, I assumed that was a well-known usage.

Why are we exposing the public key in rekor API if that could lead to security issues ?

[2022-08-03 13:44] asraa commented on #2122
I think there was just a mistake in the env var that the comment had.

See this earlier comment: https://github.com/sigstore/cosign/issues/1997#issuecomment-1155507528

[2022-08-03 13:44] asraa commented on #2122
@haydentherapper

[2022-08-03 13:45] hectorj2f commented on #2122
👍🏻 , I saw it now in #2124

[2022-08-03 13:46] asraa commented on #2122
Some services do not expose that for this reason. But it is convenient to double check what the public key is AGAINST an out of band delivered one.

[2022-08-03 13:50] asraa commented on #1997
Closing in favor of documenting the out of band one https://github.com/sigstore/cosign/issues/2122

Eventually we will remove this. See https://github.com/sigstore/scaffolding/issues/211

Scaffolding is WIP to create a TUF server, people should use scaffolding, create their own custom TUF repo, OR use SIGSTORE_REKOR_PUBLIC_KEY in worst case scenario

[2022-08-03 13:50] #1997 closed

[2022-08-03 13:57] hectorj2f commented on #1997
Awesome! Thanks @asraa

[2022-08-03 14:36] bobcallaway commented on #2123
i'm suspect of the tree size calculation due to sharding. if this is being done against the staging instance (where we have sharded), it's possible we're returning an incorrect treesize which causes the merkle inclusion proof to think there should be a different number of hashes than are actually there returned in the response.

there's also everything we would need to verifying the inclusion proo

[2022-08-03 14:38] asraa commented on #1406
actually, i did some debugging. it's a UUID issue. Fixing now.

[2022-08-03 14:39] asraa commented on #1406
EDIT: I never submitted this PR: https://github.com/sigstore/cosign/pull/2058
This will fix it! Updating.

[2022-08-03 16:30] priyawadhwa commented on #2123
seems like it's being run against prod:

https://github.com/slsa-framework/slsa-verifier/blob/8c4373c533dfa2d9ec74ec042a12811a75c205de/pkg/rekor.go#L43

[2022-08-03 17:19] asraa commented on #2098
Closing because all clear!

[2022-08-03 17:19] #2098 closed

[2022-08-03 17:38] laurentsimon commented on #2123
Good point. I thought we'd updated to use staging. My bad. Good catch!

[2022-08-03 21:04] chuangw6 commented on #2094
To summarize working v.s. not-working key ref for signing & verification

1. no version specified
 `gcpkms://projects/$PROJECT/locations/$LOCATION/keyRings/$KEYRING/cryptoKeys/$KEY`
✅  works for signing
✅  works for verification

2. version specified using `cryptoKeyVersions`
 `gcpkms://projects/$PROJECT/locations/$LOCATION/keyRings/$KEYRING/cryptoKeys/$KEY/cryptoKeyVersions/$KEY_VERSION`
✅ works

[2022-08-03 21:22] asraa commented on #2123
Investigating this now. Actually, the workflow run it failed in is coming from https://github.com/slsa-framework/slsa-github-generator/blob/4a8e7ad5fd41988c38beb9cf3ff1d1dd04ae4ce8/signing/sigstore/rekor.go#L81
(it is happening during provenance generation and signing)

the `cosign.VerifyInclusionProof`, not from code in the `slsa-verifier`.

[2022-08-03 21:54] asraa commented on #2123
I've been spamming the log (no one says not to? :P)

and i got one reproducer. I should have logged the root size etc, but this is what I got for the inclusion proof for a certain entry.
[code]

[2022-08-03 22:53] laurentsimon commented on #2123
Here's another from 5mn ago (pre-submits):
[code]

[2022-08-04 00:39] otms61 opened #2126 "Why is an SBOM attestation predicate wrapped in CosignPredicate?"
**Question**

When Cosign creates an SBOM attestation, the SBOM predicate is wrapped in [CosignPredicate](https://github.com/sigstore/cosign/blob/0f017f82d1f6201799548dc1d60dfbe61426e562/specs/COSIGN_PREDICATE_SPEC.md
). ([spdx](https://github.com/sigstore/cosign/blob/5aa17b98ec2cb16721b314d48d5599df8d4387d9/pkg/cosign/attestation/attestation.go#L244-L246), [cyclonedx](https://github.com/sigstore/

[2022-08-04 06:20] lukehinds commented on #2122
closing, thanks @asraa

[2022-08-04 06:20] #2122 closed

[2022-08-04 16:12] asraa commented on #2123
got one more reproducer. here's more info.

log index: `3111199`
root hash: `9fefcec8d664a5a4e20131ef23cfd0e48006e1ea4266c607c127967cae4eab42`
leaf hash/uuid: `8238c7f97d0e9ade9499f91f80e11c96d188a73a19fb6bb26b4953d5572fcfac`

inclusion proof
[code]

error:
[code]

have not been able to get a reproducer on a local rekor

[2022-08-04 16:36] asraa commented on #2123
another one, with the error on proof size

log index `3112036`
root hash `69c1cb658a4a7f01e2a3677fde09067a26a537e81af539070a2fee96f131e051`
leaf hash `9770922f93e570b842eeb7f62943d0265c07f17621ec2aba85511b28b41dae42`
inclusion proof
[code]

error
[code]

[2022-08-04 17:19] patflynn opened #2131 "Cosign signing bundles"
Details of this proposal available in this [Google Doc.](https://docs.google.com/document/d/1gucjOA_bGyRjK6TeaOI-X5GIUv8WsPzeMDMkq25Kv4Y/edit#heading=h.we5fqok7jai5)

### Summary

The current `sign-blob` command and documentation steer the user towards producing two files (raw sig and cert) for each signing operation.  This is not ideal because:

- the two files do not contain enough information t

[2022-08-04 18:43] haydentherapper commented on #2094
cc @cdris

[2022-08-05 01:01] williamokano opened #2133 "Support docker mirrors as default registry"
**Description**

Currently, when no registry is provided into the Global Unique Name (GUN), such as `vendor/image:version`, cosign will default the registry do `docker.io` and try to upload/retrieve the signatures when using `cosign verify vendor/image:version` or `cosign sign vendor/image:version`.

This is very true when using the default "mirror" registry, but can be false when there are extra

[2022-08-05 01:18] dlorenc commented on #2133
cc @imjasonh @jonjohnsonjr

[2022-08-05 15:26] wata727 opened #2134 "How to get the Fulcio root certificate securely in `verify-blob`?"
First of all, thank you for the great project and everyone involved in it. I'm a maintainer of an [OSS project](https://github.com/terraform-linters/tflint) using cosign to sign release binaries. Our project uses GoReleaser for signing, and we run the following commands on the checksum:

[code]
https://github.com/terraform-linters/tflint/blob/e7668cb182999e93a2e79534968d8ad686c14f14/.goreleaser.ym

[2022-08-05 16:24] asraa commented on #2134
Hi @wata727! Thanks for the very thoughtful question, this is great.

You are exactly correct that that way does not verify the certificate chain. I think this was noted in a prior issue, but I can't find it right now.

Correct.

Yes, actually `cosign initialize` performs the same retrieval of the targets `GetRoots()` and `GetIntermediates()` like the code you linked to.

This is the code run to `

[2022-08-05 17:07] haydentherapper commented on #2134
There hasn't been discussion about that. It'd be changing [this behavior](https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/verify/verify_blob.go#L121-L139) or [this](https://github.com/sigstore/cosign/blob/539a0b7a1229ecbb0d05c424e292f9fbee0064ad/cmd/cosign/cli/verify/verify.go#L162). Originally I will guess the thought was that by providing only the certificate, it's just a vehicle for

[2022-08-05 21:11] hsuchan opened #2137 "Unable to load KMS public key using the signature package"
*** Background ***
I am writing an AWS lambda function that will act as handler for AWS EventBridge events.
The EventBridge rule is triggered when images are pushed to ECR.
Inside the lambda handler, I am basically loading the KMS public key, and using that key to check if the image pushed has a valid cosign signature.

The problem is that I am not able to load the KMS key.

Relevant code:
[code]

[2022-08-05 22:12] wlynch opened #2138 "verify-blob can't verify DSSE blobs with COSIGN_EXPERIMENTAL"
**Description**

@eddiezane and I stumbled on this today - verify-blob has logic for handling DSSE messages

https://github.com/sigstore/cosign/blob/128f8fbd5f1bed0f7f1069d01c7e33cd52f6c381/cmd/cosign/cli/verify/verify_blob.go#L234-L237

but when this is combined with COSIGN_EXPERIMENTAL, it fails:

[code]

We think the root cause is verify-blob is expecting a blob + signature (because by default

[2022-08-06 00:05] hsuchan commented on #2137
I was able to resolve the issue by adding this to my import section:
[code]

[2022-08-06 09:23] wata727 commented on #2134
Thank you for answering my question.

Agreed.

Thank you for your comment. I've opened a PR to change the behavior. I would be happy to discuss the implementation here https://github.com/sigstore/cosign/pull/2139.

[2022-08-08 17:10] #2137 closed

[2022-08-08 17:27] asraa commented on #2056
`cosign inspect` would also allow someone to make policy based on what TUF metadata was used. e.g. can we include the Rekor/Fulcio repository name included? Even if your client accepts a public good and scaffolding instance for signing, you may only want to verify against public good rekor/fulcio.

[2022-08-09 12:59] asraa opened #2143 "spec: Root CA in the signature manifest vs out of band root?"
**Description**

I'm curious if I'm being pedantic, or what the rationale is here.

The spec says:

The example chain also includes a root certificate for Fulcio. I don't think that this chain "MAY" be used to verify the certificate property, because you MUST be provided your root CA certificate out of band.

This also appears in the proposal for https://github.com/sigstore/cosign/issues/2131

Thi

[2022-08-09 13:00] asraa commented on #2143
Note that cosign specifically excludes the root: https://cs.github.com/sigstore/cosign/blob/36e18875ce466bb85ac57f2d39b009624248e1da/pkg/cosign/verify.go?q=Chain%28%29+repo%3Asigstore%2Fcosign#L537

[2022-08-09 13:15] dlorenc commented on #2143
I think we should fix the example, the root should never be included.

[2022-08-09 13:18] patflynn commented on #2143
@loosebazooka @jvanzyl FYI.

[2022-08-09 13:35] asraa commented on #2143
We include the root in the manifest right now, but don't include it for verification.

I can push a cosign fix.

[2022-08-09 13:43] znewman01 commented on #2143
+1 to the general sentiment and the specific actions proposed

[2022-08-09 14:05] haydentherapper commented on #2143
I actually think it's fine to have the root in the annotation and would be wrong to not include it. It's a reflection of what the CA returned at that point in time. While we aren't currently doing this, we could also check that the root in the annotation matches a root in TUF, and fail otherwise. You could imagine where two different roots cross-signed an intermediate. Maybe someone wants to write

[2022-08-09 14:26] asraa commented on #2143
In this case the verification logic dictates which out of band root to use.

Yes, but exposing the root in the signature manifest exposes footguns, and I think it's more severe to expose this option.

I could see an argument that PKCS7 optionally includes the certificate chain similar to this, although tools will NOT verify correctly unless the root is provided out of band. Either way, at minimum,

[2022-08-09 14:34] haydentherapper commented on #2143
TLS does the same, returning a complete chain. I don't see this being a significant footgun, and FWIW I think there's many other ways clients can make mistakes - For example, maybe they just don't verify the chain at all, maybe they mess up the time verification, maybe they misunderstand X.509 and pull the root certificate from the CA Issuers extensions. We need to clearly articulate what is requi

[2022-08-09 14:36] asraa commented on #2143
SGTM. I'll update the spec doc, clearer docs will help articulate the need for when you need to rely on out of band trust.

[2022-08-09 14:50] znewman01 commented on #2143
+1 to following TLS here, but also being very explicit in the client specification.

[2022-08-09 15:22] bendory opened #2144 "Clarify documentation around registry spec"
**Description**

Documentation doesn't clarify what is expected when specifying a registry.
I'll be attaching a PR momentarilly.

**Version**

N/A

[2022-08-09 16:16] #2144 closed

[2022-08-09 16:52] asraa commented on #2123
Fix is merged, this will be resolved with the next deployment!

[2022-08-09 16:52] #2123 closed

[2022-08-10 12:03] wata727 commented on #2134
https://github.com/sigstore/cosign/pull/2139 is merged. With this fix, the certificate chain will be verified against the Fulcio root trust by default if you pass the `--cert` option.

The answer to this question is "Fulio root trust is retrieved automatically, so you don't need to pass it with `--cert-chain`".

Thank you again to everyone who answered the question and participated in the code rev

[2022-08-10 12:03] #2134 closed

[2022-08-10 12:29] kommendorkapten opened #2147 "Proposal: Command and format for signing in-toto attestations with DSSE"
**Summary**
Proposal for a way to easily sign in-toto attestations and optionally upload them to Rekor. After a successful signing the result should be capture in a file on the local filesystem. This is very similar to this issue https://github.com/sigstore/cosign/issues/2131 for signing blobs. What I see different is that we would like to capture not just the payload hash, but the entire payload

[2022-08-10 12:33] kommendorkapten commented on #2147
Ping @asraa @haydentherapper @ianlewis

[2022-08-10 13:28] dlorenc commented on #2147
cc @mlieberman85 and @bobcallaway

[2022-08-10 15:03] feelepxyz commented on #2147
Would it make sense to standardize on a single format that can accommodate both dsse/cose in-toto attestations and signed blobs. Can we also call signed blobs attestations?

Following the same format as above but for Sigstore "blob" attestation/signatures:

[2022-08-10 15:43] kommendorkapten commented on #2147
Yes, that would be even better!

[2022-08-10 15:45] mlieberman85 commented on #2147
https://github.com/sigstore/cosign/pull/1265 here's the PR that more or less implements this, but there's a bug in Rekor. I can't find the issue right now, but the signatures aren't stored with the attestations meaning you can't verify it from Rekor, you need to have the signed envelope in another way.

Separately there's some questions. Also beyond Rekor, where could we attach the attestation or

[2022-08-10 15:55] kommendorkapten commented on #2147
I'm mostly interested in getting consensus on a format that captures the details (e.g. DSSE envelope with the payload, the cert + chain and an optional Rekor entry) into a single document. If it's only written to a file to start with, I'm fine with that. The story around export and consumption may be harder to define in general? At least for npm we need some method for this so the cli can download

[2022-08-10 16:06] asraa commented on #2147
Is the requirement that you want to be able to lookup an entry in Rekor, or verify offline?
The inclusion of the cert in the env is enough to perform online signature validation.

Signatures are inside the envelope, do you mean the cert?

+1

[2022-08-10 18:04] lumjjb commented on #2147
+1 on blob attestation support.

On the issue with discovery and finding/downloading attestation, especially with some ecosystems that don't natively use OCI, it would be nice to be able to make the link to generic URIs. (perhaps it's a different issue to address separately though)

[2022-08-10 19:37] mlieberman85 commented on #2147
https://github.com/sigstore/rekor/issues/582 Here's the Rekor bug, so right now we can store content of attestation but not DSSE

[2022-08-11 07:42] kommendorkapten commented on #2147
The inclusion of the cert in the env is enough to perform online signature validation.

Offline verification is the primary goal, with the option that a concerned client _can_ perform an online verification.

[2022-08-11 10:13] cldmnky opened #2149 "Annotation support when uploading blobs"
**Annotations for blobs**

We are using cosign to upload (and sign) release artifacts as blobs. We currently use something like:

`cosign upload blob -f ./release/linux/myapp:linux/amd64 -f ./release/darwin/myapp:darwin/amd64 -f ./release/windows/myapp.exe:windows/amd64 private-registry.tld/foo/myapp/myapp:{{ .releaseVersion }}`

It would be useful to be able to add (common) annotations to the des

[2022-08-12 07:28] bogdanbiv commented on #2068
I also experience this

[2022-08-12 08:05] vaikas opened #2154 "Vet and update the required tests."
**Description**
We should go through the required tests here:
https://github.com/sigstore/community/blob/main/github-sync/github-data/repositories.yaml#L137

And figure out what are real required tests that must pass before a commit is merged. Right now it looks a bit light :)

[code]

I think this is a problem since PRs that have failing tests will merge, especially if folks use 'enable auto-merg

[2022-08-12 12:30] kommendorkapten commented on #2131
This initiative is great, and as I'm working on a similar concept but for attestations, where the actual payload is captured in the signature file I created this proposal: https://github.com/sigstore/cosign/issues/2147.
As they are so similar, there came an immediate comment https://github.com/sigstore/cosign/issues/2147#issuecomment-1210803817 that we could actually compose these two proposals in

[2022-08-12 14:08] patflynn commented on #2131
Fantastic! Attestations was a distant blip on my radar for blobs but I was getting an uneasy feeling that they applied here. I'm very happy to see you connect the dots with this proposal. It makes complete sense to me that simple signatures couple be folded into some kind of attestation type so that we can use the same format across these very similar use-cases.  Merging these proposals seem trivi

[2022-08-12 15:50] #2143 closed

[2022-08-13 05:29] otms61 opened #2158 "verify-attestation's type option cannot parse URI."
**Description**

Verify-attestation's help says that type can use an URI, but I got the error when I passed an URI.

[code]

The default value(custom) for type is set after v1.10.1.  We cannot leave the type unspecified as in the past.

So if we specify an URI when creating an attestation, we cannot verify it.

[code]

Specifying a URI and unspecified also failed.

[code]

**Expectation**

verify-

[2022-08-14 01:53] dlorenc commented on #2154
Ugh, the failures are expected on the dependabot PRs. The e2e tests run with secrets, and shouldn't run at all on PRs. But dependabot somehow triggers PRs that look as if they were pushed to the main fork, but don't have access to the secrets. We need to just stop those from running if it's a dependabot PR.

[2022-08-14 08:15] Ikke opened #2161 "Panic in generate-key-pair when trying to write to a directory without permissions"
**Description**

When running `cosign generate-key-pair` in a directory where it cannot write to, it results in a panic:

[code]

**Version**

1.10.1

[2022-08-14 22:36] erichs commented on #2104
Got the same results in GitHub Actions with goreleaser-action@v3, using cosign-installer v2.5.0 (which defaults to [release 1.10.0 ](https://github.com/sigstore/cosign-installer/blob/main/action.yml#L13) currently).

Also, got the same result (PKCE S256 required) when attempting a local cosign with:
[code]

In case that helps.

[2022-08-14 23:17] dlorenc commented on #2104
cc @bobcallaway

[2022-08-15 08:24] kommendorkapten commented on #2131
What would be the next step? I read through the linked google doc again, the Filespec table is what needs to be updated. The sections on cli signing and verification is still valid I reckon. The need we have right now, is _not_ to introduce a new cli option (that can come at a later phase if it's desired). Aligning on detached, actionable signature files is what I would like to see now.

So the tw

[2022-08-15 10:34] dlorenc commented on #2131
The only real downside to using attestations for everything is that then you'll need DSSE, which means its a bit harder of a transtion for folks. You can't really directly verify it with openssl or other command line tools.

[2022-08-15 11:44] znewman01 commented on #2131
I'd argue that that's a plus—openssl can't verify the timestamps from Rekor, so it's a little bit of false security. Useful for debugging but we don't really want regular users doing this.

IMO if we want that functionality, it belongs behind a `cosign inspect` or similar command. So you could extract to get a vanilla signature, and then `openssl verify` that signature.

[2022-08-15 11:49] kommendorkapten commented on #2131
This would only be true for the the 'attestation/dsse', for 'attestation/type' would it would still work, albeit you would need extract that param via e.g. `grep` and friends or `jq`. Or were you thinking about the use-case when a SLSA attestation is signed as a blob? That could still be signed as a blob. This proposal as of now only changes the output signature file for the sign blob command, and

[2022-08-15 12:11] chipzoller commented on #2158
+1, this is breaking some automation. The expectation is that `cosign verify-attestation <image>` returns all attestations for the image without specifying type.

[2022-08-15 12:12] dlorenc commented on #2158
I haven't had time to double check the fix yet, @chipzoller can you confirm this works for you: https://github.com/sigstore/cosign/pull/2159

[2022-08-15 12:39] chipzoller commented on #2158
Not able to test this for a bit, sorry.

[2022-08-15 13:01] patflynn commented on #2131
Seems like everybody is onboard. @kommendorkapten I just gave you edit access to the doc. Feel free to update or suggest changes to the spec and I'll fold them in.

[2022-08-15 13:28] kommendorkapten commented on #2147
Merging this proposal with https://github.com/sigstore/cosign/issues/2131, so closing this issue.

[2022-08-15 16:57] haydentherapper commented on #2138
cc @asraa

[2022-08-16 08:15] cpanato commented on #2154
updated the repo and add the config in the automation
- https://github.com/sigstore/community/pull/99

[2022-08-16 11:09] #2154 closed

[2022-08-16 14:37] #2158 closed

[2022-08-16 16:49] #2104 closed

[2022-08-16 17:00] #1406 closed

[2022-08-16 21:01] jean3x7 opened #2170 "Has anyone had success signing an windows executable? (SignTool)"
**Question**

https://docs.microsoft.com/pt-br/windows/win32/seccrypto/signtool
https://docs.microsoft.com/en-us/windows-hardware/drivers/install/authenticode

[2022-08-17 09:22] MageshSrinivasulu commented on #1653
@vaikas @hectorj2f  Let me explain a scenario why we need " warn " or " allow-but-warn "

Let's consider two images

1. azurecr.io/image1 ==> This is signed
2. azurecr.io/image2 ==> This is not signed

**CASE 1:** I cannot use ClusterImagePolicy for image2 if I have a wildcard like this azurecr.io/** . Because it will stop the image2 from getting deployed

[code]

**CASE 2:** Also, I cannot use th

[2022-08-17 10:24] vaikas commented on #1653
Yes for sure :) We agree lol
https://github.com/sigstore/policy-controller/issues/98

[2022-08-18 14:30] wlynch commented on #2094
@chuangw6 what version of cosign are you using?

I think https://github.com/sigstore/sigstore/commit/21bce79303a006ad3abd26c368ba3946061d6679 fixes this, and was added to cosign in v0.10.0

The `gcpkms:/` behavior looks like cosign trying to interpret the string as a file path after the GCP KMS regex didn't match.

[2022-08-18 16:05] dlorenc commented on #2131
Confirmed with @patflynn this doesn't require any changes to rekor, dropping ga-candidate.

[2022-08-19 06:40] konthamvivek opened #2178 "Reading Vunerablities Report in ECR and sign the image"
**Question**

Docker Images are hosted in Elastic container registry in AWS and image scanning is enabled in container registry where i can get vunerablities report of docker image , i need to sign the docker image with the vulnerabilities  report (if vunerablities are high and critical the image should not sign ) .
can we do the vunerablities check validating with a policy and sign the image usin

[2022-08-19 11:42] georgettica commented on #1960
Commenting as I am not sure @caarlos0  or @haydentherapper sound the root cause

[2022-08-19 12:14] caarlos0 commented on #1960
this seems to be the route cause... so you'll likely have to update your github action to use the latest cosign..

[2022-08-19 18:06] georgettica commented on #1960
And I've done that.
So I'll.close hopefully it won't show up

[2022-08-19 18:06] #1960 closed

[2022-08-19 18:09] haydentherapper commented on #2170
Copying response from a Fulcio issue (https://github.com/sigstore/fulcio/issues/250) on this topic:

There are no current plans to include the Fulcio root in the macOS or Windows trust stores. The way that Sigstore manages and updates its roots of trust through [TheUpdateFramework](https://theupdateframework.io/) is incompatible with the OSs' trust store requirements.

As for the short expiration,

[2022-08-20 00:17] dlorenc commented on #2178
Hey! This might be a better question for slack. This is definitely possible, but the right approach will vary depending on your build system and security scanner. Can you ask in there and we can help out?

[2022-08-20 02:03] dlorenc commented on #2149
Maybe a different flag to make sure it's clear these are unprotected (not signed)?

[2022-08-20 02:05] dlorenc commented on #2121
When we move the transparency log features out of experimental, there will be a defined stability policy.

https://github.com/sigstore/cosign#anything-under-the-cosign_experimental-environment-variable

[2022-08-20 02:06] dlorenc commented on #2121
We can do a point release if you want to backport the code, but the API won't break after experimental comes off.

[2022-08-20 02:06] #2121 closed

[2022-08-20 02:08] dlorenc commented on #2097
I think this is because we abstract away the signer, and some key types require the full contents in memory (ed25519). We'd have to special case this.

[2022-08-20 02:09] dlorenc commented on #2034
Not much we can do here now, apologies for not remembering this would break at the time.

[2022-08-20 02:09] #2034 closed

[2022-08-20 11:05] dirien opened #2186 "Rework Fig autocomplete"
**Description**

This enhancement will be in two steps:

1. Update and rework the exisisting Fig autocomplete (@developer-guy) function in cosign with the suggested way described here -> https://fig.io/docs/guides/integrating/getting-started

2. Will introduce the autopush function for the cosign spec in the fig autocomplete repository -> https://fig.io/docs/guides/integrating/push-to-autocomplete

[2022-08-21 17:34] cldmnky commented on #2149
Good point, I'll open a PR so we can figure out the flag name.

[2022-08-22 15:46] turbobobbytraykov opened #2189 "Storing signature in Sonatype Nexus fails"
**Description**

When attempting to use cosign sign, we get the following error:

Enter password for private key:
Pushing signature to: onprem.nexus.local/crunchydata/crunchy-postgres
Error: signing [onprem.nexus.local/crunchydata/crunchy-postgres:ubi8-14.3-0]: recursively signing: signing digest: POST http://onprem.nexus.local/v2/crunchydata/crunchy-postgres/blobs/uploads/: DENIED: Deploying to g

[2022-08-23 11:04] turbobobbytraykov commented on #2189
**Update**: we identified that the docker tag as pointing to a Nexus group docker registry which is read-only by default.
Switching the docker tag to our hosted registry + ensuring that the docker client (using docker login) is logged to that registry solved the problem for us.

So for a Nexus hosted docker registry, the integration **_IS_** working as stated.

Though, we are currently investigati

[2022-08-23 11:04] #2189 closed

[2022-08-23 13:56] asraa opened #2194 "[Bug] Incorrect Verification: Verification succeeds using an expired certificate with offline verification"
**Description**

This is a bug about Cosign verification flow. When experimental mode is turned OFF (in "offline verification": we still use bundles), Cosign validates a signature successfully despite the fact that the certificate is expired. This occurs when TLOG upload is bypassed, or the offline bundle is removed. This is because without experimental mode, it has no access to make a network cal

[2022-08-23 14:02] dlorenc commented on #2194
I think this is the subtle bit - they're verified against the certificate, but the certificate itself isn't necessarily verified. The fix is tricky because it generally means that we'd need to add warnings about the EXPERIMENTAL stuff into the non experimental flow.

Some of this gets easier to reason about after we drop the separation between experimental and not. WDYT about instead just dropping

[2022-08-23 14:12] asraa commented on #2194
If EXPERIMENTAL means network access, note that we do verify offline bundles in this flow. If the offline bundle is unavailable (or not present due to bypass), then it should fail.

If a certificate isn't verified I posit that the signature isn't verified: this is akin to verifying the signature successfully, but then passing validation even when it doesn't chain to the root CA.

I agree, it will

[2022-08-23 14:26] dlorenc commented on #2194
+1 to this, I think this is the best way forward then we can clearly document what will change as experimental goes away.

[2022-08-23 14:32] asraa commented on #2194
Note: what I find really interesting about this is that the presence of more info turns a signature success into a signature failure. I think that's why it bothers me so much.

[2022-08-23 15:21] haydentherapper commented on #2194
I don’t think we should entirely disable certificate validation. This risks impacting users, and it’s not a security risk to validate an unexpired certificate. We just published a post documenting how Sigstore is more than just its infrastructure too, so I’d prefer to not break those flows.

There are three valid certificate cases:
* an unexpired certificate
* An expired certificate with a valid 3

[2022-08-23 17:39] dlorenc commented on #2194
Out of these 4, I think only these two should work without experimental right now (basically just drop support for the bundle stuff without experimental:

If you think you can get the expired cert stuff working without experimental that's fine, but I'm also fine moving that into experimental if that makes the code easier. We don't support timestamps at all yet, so that's really the only case for c

[2022-08-23 18:39] lcarva opened #2197 "verify-attestation fails when rekor is enabled"
**Description**

I have an image, `quay.io/lucarval/tekton-test:914262188b`, which has been signed and attested by Tekton Chains. When using cosign 1.11.0, the `verify-attestation` command fails if `COSIGN_EXPERIMENTAL=1` is set.

[code]

With the previous version of cosign, 1.10.1, all is well:

[code]
NOTE: There are no issues if `COSIGN_EXPERIMENTAL=1` is not set, aka Rekor integration disabled

[2022-08-23 18:52] haydentherapper commented on #2194
Agreed, I think it's fair to require the EXPERIMENTAL flag for bundles (effectively meaning "doing something with rekor, offline or online").

I think we should fix "unexpired certificates" for non-experimental, and punt on expired cert + 3161 until we've added a TSA. So in the case you provide an expired certificate without either a rekor bundle, then we'll fail. If you provide an unexpired certi

[2022-08-23 21:01] patflynn opened #2198 "Cosign should retry Fulcio and Rekor RPCs"
**Description**

@vaikas mentioned to me that cosign commands occasionally fail due to an unexpected error either from the network or Sigstore backends.  These errors typically will come at the very end of a CI job.  To avoid failing expensive long running jobs with a transient cosign error we should retry failed Sigstore calls.

We should do this in all Sigstore clients.

Ideally this would be im

[2022-08-24 14:23] asraa commented on #2197
:/

I found the problem. It was a typo between `signature` and `payload`. I will send a fix.

[2022-08-24 15:09] #2197 closed

[2022-08-24 15:33] dlorenc commented on #2178
Discussed in slack, closing!

[2022-08-24 15:33] #2178 closed

[2022-08-24 15:33] #2186 closed

[2022-08-25 02:16] #1942 closed

[2022-08-25 02:16] #1912 closed

[2022-08-25 02:16] #1882 closed

[2022-08-25 02:16] #1845 closed

[2022-08-25 02:16] #1627 closed

[2022-08-26 02:17] #1570 closed

[2022-08-26 02:17] #1567 closed

[2022-08-27 02:17] #1445 closed

[2022-08-28 16:45] chipzoller commented on #2158
I'm still seeing, as of 1.11.1, that `cosign verify-attestation` is still not returning all attestations like in previous behavior. Was this a conscious design change in the command?

[2022-08-29 02:22] #1444 closed

[2022-08-29 02:22] #1416 closed

[2022-08-29 12:20] thesayyn commented on #1905
I have this exact use case. I believe not having the signature available for a brief moment is as bad as not having the signature at all since this time period could overlap with the pod scheduling thus leading to the unsigned images being used by systems unless you have something in place to prevent this. This is okay if you control both the image itself and downstream systems. however, this is n

[2022-08-29 12:44] #2007 closed

[2022-08-29 13:05] dlorenc commented on #1905
We should definitely fix this.

[2022-08-29 13:23] thesayyn commented on #1905
I'd be willing to fix it if I am given the proper instructions. I am not familiar with the codebase at all but already familiar with gccr.

[2022-08-30 01:37] atoy3731 opened #2208 "`cosign copy` fails when copying to Harbor"
**Description**

I've validated that `cosign copy` works exactly as expected when copying from Azure ACR to registry v2 and Jfrog's JCR, however attempting to copy to 2 different Harbor deployments, I get an error (note - heavily redacted):

[code]

Just for awareness, I do have the `example` project created in my Harbor instance and have validated that I can push/pull images to/from it using `doc

[2022-08-30 15:34] Rajpratik71 opened #2209 "signature revokation support or approach"
**Question**

Is signature revocation supported in "cosign"?

if yes, how to achieve that?

[2022-08-30 16:48] znewman01 commented on #2161
This is closed by #2162 right?

[2022-08-30 17:08] znewman01 commented on #2209
Revocation is a notoriously tricky problem. In general, at signature verification time, the verifier needs to fetch an up-to-date list of the things that have been revoked (keys, identities, etc.) and check that the signature is still valid. There are a number of approaches here and it's still [an area of active research](https://scholar.google.com/scholar?as_ylo=2021&q=certificate+revocation).

I

[2022-08-30 17:19] znewman01 opened #2210 "Add `cosign inspect` command."
Related to [Sigstore clients should require a provided identity](https://docs.google.com/document/d/1o8_bXIygufgiohJGlmBzqF4_BnXCTfgh4ILgJFJxYRs/edit?resourcekey=0-YEar3v67uoT31kj83dCVvA).

Right now, if you want to poke around at a signature/cert, the easiest way to do that is to run `cosign verify`. This is a little dangerous: commands that make it easy to verify artifacts just so you can pretty

[2022-08-30 17:28] znewman01 commented on #2097
Could we get away with passing around a handle to a file instead?

[2022-08-30 17:31] dlorenc commented on #2097
At some point you still need to read the entire file though, unless we special case out the ed25519 style signers.

[2022-08-30 17:32] znewman01 commented on #1370
This may be more appropriate for a new `cosign inspect` verb (https://github.com/sigstore/cosign/issues/2210).

See https://github.com/sigstore/cosign/issues/2056 for background.

[2022-08-30 17:34] znewman01 commented on #1304
This is still a good idea; please remove the no-issue-activity label.

[2022-08-30 17:36] znewman01 commented on #1313
Can we close this in favor of https://github.com/sigstore/cosign/issues/1964 ? (I know *that* issue is a duplicate of *this* one so it's not totally fair, but most recent discussion has taken place over there.)

[2022-08-30 17:37] haydentherapper commented on #1313
This also was fixed as of #1626 i believe

[2022-08-30 17:50] haydentherapper commented on #2209
Revocation is hard - How do you build such a list? How do you authorize who can upload a revoked artifact to a public list for Sigstore? How should a client poll for updates to a list? Where does a client store this list? How do you prevent this list from growing too large?

Echoing @znewman01, I would try to solve this through a verification policy rather than design a revocation mechanism. Speci

[2022-08-30 17:50] znewman01 commented on #2097
See [`SignMessage`](https://github.com/sigstore/sigstore/blob/0e610e39782f5c71533aee27f06d0baecbeea90f/pkg/signature/signer.go#L41). The `message` passed to `SignMessage` is an `io.Reader`; even for ed25519 we just [rewind the reader](https://github.com/sigstore/sigstore/blob/0e610e39782f5c71533aee27f06d0baecbeea90f/pkg/signature/ed25519.go#L59). The sigstore/sigstore libraries [take care not to r

[2022-08-31 14:49] trondat opened #2214 "The --touch-policy does not work in the piv-tool"
**Description**

We are using an Yubikey 5C nano FIPS with Cosign.

When using the command
`cosign piv-tool generate-key --random-management-key=true --verbose --touch-policy NEVER`

and then doing signing with
`cosign sign --sk <image-name>`
we are prompted to tap the security key even though the touch-policy is set to NEVER

When using Ykman and setting the policies directly it works as expected

[2022-09-01 09:19] developer-guy opened #2215 "read attestation from stdin in attest cmd"
**Description**

We(w/@dentrax)'ve opened an issue in the Trivy project related to the signing attestation before saving it to the disk.[^1] A similar work has also been done in the Syft project.[^2] Thanks to @knqyf263, he came up with an interesting idea, if we pass attestations via a pipe in attest cmd, then all security scanners don't have to re-implement cosign functionalities. So, the UX wou

[2022-09-01 09:27] developer-guy opened #2216 "use proper naming for Sigstore OID information inside verification message"
**Description**

we (w/@dentrax) made a development about printing cert extensions in the verification message[^1]. But, I noticed that within that optional field, the values in the form of root OID is not very user-friendly.

[code]

So, we can use proper naming (sorry that I don't know the technical names of them) for them to be more useful to end users.

[code]

[^1]: https://github.com/sigstor

[2022-09-01 12:54] Rajpratik71 commented on #2209
A similar approach which the "Notary v1" or "docker trust" command does to sign and revoke the signature of an artifact tag, can be used/implemented to achieve a bit level of signature revocation.

[2022-09-01 13:02] znewman01 commented on #2209
I would strongly advise against considering "deleting the signature" to imply "revoking the signature." If anyone has stored that signature, they can still convince you to consider the image valid. This may happen maliciously (an attacker) or accidentally (caching).

Based on the [`docker trust` docs](https://docs.docker.com/engine/reference/commandline/trust_revoke/), it does something pretty ana

[2022-09-01 13:52] Rajpratik71 commented on #2209
Hmm ok.

One other major operation of the lifecycle is "signature verification".

I have gone through the approaches provided by [sigstore/policy-controller](https://github.com/sigstore/policy-controller) or [Kyverno](https://blog.sigstore.dev/how-to-verify-container-images-with-kyverno-using-kms-cosign-and-workload-identity-1e07d2b85061) which are fine for K8S based environment.

But for simple d

[2022-09-01 14:34] znewman01 commented on #2209
Are you manually pulling/running images using `docker run` or `nerdctl run`? If so, I'd just stick a `cosign verify` call before you do that. If you have more sophisticated infrastructure, you'll need to use a policy engine there.

A couple of caveats:

- make sure to refer to images by *digest* (not *tag*) once you've resolved the image, since the tags are mutable (even on an immutable registry,

[2022-09-01 18:20] asraa opened #2219 "[intoto] Support intoto v0.0.2 type in rekor for upload and verification"
**Description**

This type allows full verification of the intoto entry. See https://github.com/sigstore/rekor/pull/973

We can migrate upload support to v0.0.2 and continue supporting v0.0.1 for verification. I can stage the PR for whenever Rekor server is deployed with v0.0.2 support.

[2022-09-01 21:35] haydentherapper commented on #1313
Marking as complete.

[2022-09-01 21:35] #1313 closed

[2022-09-01 21:37] haydentherapper commented on #2056
Design doc: https://docs.google.com/document/d/1o8_bXIygufgiohJGlmBzqF4_BnXCTfgh4ILgJFJxYRs/edit?resourcekey=0-YEar3v67uoT31kj83dCVvA# (sigstore-dev@ for access)

Related issues I'm going to leave open that will be closed once this is completed: https://github.com/sigstore/cosign/issues/1947, https://github.com/sigstore/cosign/issues/1964

[2022-09-01 21:53] haydentherapper commented on #2210
cc @kpk47

[2022-09-01 21:53] haydentherapper commented on #2056
@kpk47 will be taking on this issue. Thanks @kpk47!

[2022-09-01 21:59] kpk47 commented on #2056
ACKing so you can assign me the issue.

[2022-09-02 22:42] znewman01 commented on #1905
FYI @imjasonh is probably a good person to give some guidance here; he's OOO this week but will be back next week. Give him a few days to catch up and then maybe ping this issue.

[2022-09-02 22:47] znewman01 commented on #2215
FWIW you can do this today in bash or zsh (though not sh) with process substitution:

[code]

That said, I still think accepting `-` is convenient and a good idea.

[2022-09-02 22:48] znewman01 commented on #2208
@jdolitsky can I ask for your OCI registry quirks expertise on this?

[2022-09-02 22:50] znewman01 commented on #2161
Closing as fixed by #2162.

[2022-09-02 22:50] #2161 closed

[2022-09-03 00:56] znewman01 commented on #2094
I think this is a bad error message; see https://github.com/sigstore/cosign/pull/2220

[2022-09-04 21:57] znewman01 commented on #2094
I'm closing this, as I believe between #2220 (better error message) and https://github.com/sigstore/sigstore/pull/359 the issue is resolved. Please reopen if you're seeing this again.

[2022-09-04 21:57] #2094 closed

[2022-09-05 02:17] #1324 closed

[2022-09-05 08:11] hirokuni-kitahara opened #2222 "`verify-blob` function should be implemented consistently with verify image function"
**Description**

`verify-blob` is now implemented in "cmd/cosign/cli/verify" package, but this is inconsistent with `verify`.
The core functions of `verify` such as `VerifyImageSignature()` are implemented in "pkg/cosign", and it is easy for developers to invoke cosign's verification function from their own golang projects.
However, `verify-blob` does not have this type of implementation, and deve

[2022-09-06 10:41] imjasonh commented on #1905
@puerco says https://github.com/sigstore/cosign/pull/1616 unintentionally removed this ability, and we should add it back. AIUI this means using `ociempty.SignedImage` if the image-by-digest doesn't exist in the registry, determined using [`pkg/v1/remote.Head`](https://godoc.org/github.com/google/go-containerregistry/pkg/v1/remote#Head) presumably.

If we're concerned about the race that introduce

[2022-09-06 13:53] asraa commented on #2222
I'll be working on one change to refactor and simplify the logic, TBA.

[2022-09-06 15:46] ribbybibby commented on #1370
`cosign inspect` looks like a much better approach to this so I'll close this in favour of that.

[2022-09-06 15:46] #1370 closed

[2022-09-06 21:08] haydentherapper commented on #2219
We pushed the new release of Rekor to staging and ran into this. This is a blocker for releasing the new Rekor since we no longer allow the upload of 0.0.1 intoto entries, unless we want to ease that restriction.

@bobcallaway

[2022-09-06 22:05] asraa commented on #2219
What about old clients using old cosign versions?

[2022-09-06 22:09] haydentherapper commented on #2219
This is likely an issue. Clients will need to update, so we will need to give them the time to do so. I think we should relax the restriction for now so we can unblock Rekor updates.

[2022-09-07 18:12] Rajpratik71 commented on #2209
Manually i tried. but mainly i am looking for automation.

Policy controller or Kyverno is fine for K8S based environment.

But for a CLI based environment like "docker" or "other CLI" or even in "compose" environments,

is there any way to achieve it and enforce it by default on system level through plugins in these environments  ? or similar thing

[2022-09-07 18:40] znewman01 commented on #2209
I believe OPA [can work at the Docker level](https://www.openpolicyagent.org/docs/latest/docker-authorization/). You might be able to cobble something together there, though OPA and Sigstore integration isn't particularly mature at the moment.

But I'd argue that this is really outside the scope of what Docker on its own is meant for—Docker just runs the things you hand it. Making sure that those

[2022-09-07 18:42] chaospuppy opened #2230 "Add support for XML-formatted CycloneDX SBOMs as attestations"
**Description**

Currently the `cyclonedx` option for for the `cosign attest --type` flag expects to receive a CycloneDX SBOM that is JSON formatted.  This was a bit ambiguous, and for some use-cases it could be useful to be able to supply CycloneDX SBOMs in an XML format.  Tools such as `syft` produce XML-formatted CycloneDX SBOMs, so this seems like a useful feature to have overall.

[2022-09-08 02:17] #1152 closed

[2022-09-08 17:43] todaywasawesome opened #2236 "feat: Cosign env should show all possible environment variables."
**Description**

I'm trying to track down all the possible environment variables as I learn how to use cosign but they're not listed anywhere. It's not uncommon in other tools that use environment variables to have that command show all values set and unset.

So running `cosign env` would show something like:
[code]

This would make it a lot easier to learn how to use cosign.

[2022-09-08 18:57] asraa commented on #2236
Yes! The TUF client pkg exists in sigstore/sigstore, and the behavior there is also affected by env vars.

In the future, that will not be the case and all env vars will be at the top level in cosign. I have a TUF client redesign in the works, but it will likely not happen for the next 3 weeks.

[2022-09-08 22:44] znewman01 opened #2237 "Failure to parse PEM certificate file with trailing newline"
**Description**

Repro script:

[code]

Then run it (note: it swallows all output so un-redirect to `/dev/null` if it's not working; you also have to do the OAuth flow when your browser opens):

[code]

Bug appears to be here: https://github.com/sigstore/sigstore/blob/ec922cf4f1c266c4f6be3985f1c317133b691897/pkg/cryptoutils/certificate.go#L62

Sticking a `remaining := bytes.TrimSpace(remaining)` a

[2022-09-09 07:48] hectorj2f commented on #2230
@chaospuppy Thanks for opening the issue. We don't have support for that in the attest command. I believe it makes sense to create the attestation and the payload all on the same format (instead of having json and xml). Besides of that, I know Syft produces cyclonedx docs in JSON format.

[2022-09-09 07:49] hectorj2f commented on #2230
I give it a try to the `syft attest` command and I also found the cyclonedx xml format is not supported.

[code]

[2022-09-09 16:24] chaospuppy commented on #2230
Hi @hectorj2f I should have been more clear about the `syft` command I was referencing.  `syft` as of version `0.30.1` will output a CycloneDX SBOM in XML format when running commands similar to the following to generate a CycloneDX SBOM:

[code]
At least up until `0.30.1`, XML was the only available output format for CycloneDX SBOM generation with `syft`.

As of the latest `syft` version, `0.55.1

[2022-09-09 16:29] chaospuppy commented on #2230
This isn't a critical add, just a feature of convenience in case only XML CycloneDX SBOMs are available to those looking to add them as attestations.

[2022-09-09 21:15] ybelMekk opened #2240 "Release 1.11.1 attest command with keyless fails"
**Description**
When running `cosign attest` command with `keyless`, cosign outputs an error thats not present when running cosign locally.

[code]

Error output:
`Error: signing ttl.sh/test-keyless:1h: getting signer: getting key from Fulcio: verifying SCT: unmarshal: unexpected end of JSON input
main.go:46: error during command execution: signing ttl.sh/test-keyless:1h: getting signer: getting k

[2022-09-11 06:45] TBBle commented on #913
Still a thing, but pending on https://github.com/docker/roadmap/issues/135 before any changes can be made on this.

[2022-09-11 20:02] ybelMekk commented on #2240
seems like i got I to work with 1.11.1 for some reason, closing this.

[2022-09-11 20:02] #2240 closed

[2022-09-11 23:30] vaikas commented on #820
We should add these in to the list that we care about, utilizing this:
https://github.com/knative/pkg/pull/2547

Of course, we also need to validate them in the actual webhook.

[2022-09-12 13:34] imjasonh commented on #913
In the last ~month, the OCI working group for reference types has proposed and accepted https://github.com/opencontainers/distribution-spec/pull/335 and https://github.com/opencontainers/image-spec/pull/934 which describe an OCI-official method both for describing and querying artifacts-that-reference-things (e.g., signatures), _and_ a fallback naming mechanism for registries that don't yet suppor

[2022-09-12 23:22] znewman01 commented on #1554
I think the "BYO-root" use case is broken.

Imagine I have some certs (`root -> intermediate -> foo`):

[code]

I can use them to sign an image:

[code]

That works. I'd expect to be able to verify using `SIGSTORE_ROOT_FILE`:

[code]

But that fails. I can do it myself in a pretty hacky way:

[code]

This feels like a use case that should be supported; I'd argue for a first-class `--certificate-ro

[2022-09-13 02:17] #1108 closed

[2022-09-13 03:13] mmdriley commented on #677
Obviously the project can prioritize this against goals and other work, but it does seem like the lack of a revocation story should be highlighted as a risk for adopters trying to build a robust security strategy around cosign.

[2022-09-13 08:13] haydentherapper commented on #1554
Will take a look! At a glance, my guess is the correct intermediate is not being found, but it might be something else.

[2022-09-13 13:50] haydentherapper commented on #1554
re: `--certificate-root`, I would like to avoid more flags that make it easy to provide your own root. We should be encouraging TUF usage. I've always said that `SIGSTORE_ROOT_FILE` is a testing flag.

[2022-09-13 16:20] haydentherapper commented on #1554
Looks like this was an accidental regression, at one point we were lazily loading the intermediate pool - https://github.com/sigstore/cosign/pull/1804/files

I think this change occurred when we moved over code from sigstore/sigstore. I'll fix this!

[2022-09-13 19:29] znewman01 commented on #1554
I agree with you in principle, but as a matter of pragmatism, using an existing root is a real use case, and setting up TUF is a hassle. Even if the tooling were polished, you have to stand up a new repository, and manage the keys. Think about migrating from a traditional code-signing PKI to Sigstore (like your [Adopting Sigstore Incrementally post](https://blog.sigstore.dev/adopting-sigstore-incr

[2022-09-14 08:37] #2194 closed

[2022-09-15 02:18] #945 closed

[2022-09-15 14:49] asraa commented on #604
This is done.

[2022-09-15 15:13] znewman01 opened #2253 "1.12.0 release notes don't mention breaking changes to fix vulnerability"
The [v1.12.0](https://github.com/sigstore/cosign/releases/tag/v1.12.0) release contains a fix for https://github.com/sigstore/cosign/security/advisories/GHSA-8gw7-4j42-w388 which is technically a breaking change (something that used to work no longer does).

While the advisory is called out at the top, it may not be clear to someone reading the release notes that this might cause issues without cl

[2022-09-15 15:31] asraa commented on #2253
Here's some guidance:

* When using `verify-blob` with signatures created with keyless mode, we require either `COSIGN_EXPERIMENTAL=1` or a valid Rekor bundle for offline verification passed with `--bundle`.

[2022-09-15 15:35] znewman01 commented on #2253
A good note for this might be:

[code]

[2022-09-15 15:42] cpanato commented on #2253
Updated

https://github.com/sigstore/cosign/releases/tag/v1.12.0

[2022-09-15 15:44] znewman01 commented on #2253
Great, thanks for the quick fix @cpanato  😄

Now, the long-run question: does our existing release notes tooling handle security advisory fixes? Is there a process fix here? I can imagine the same thing happening for *any* fix to an advisory.

[2022-09-15 16:29] znewman01 opened #2255 "COSIGN_EXPERIMENTAL and offline mode"
`COSIGN_EXPERIMENTAL` was introduced AFAICT for two reasons:

1. The Sigstore *idea*, *interface*, and *implementation* were still experimental
2. The Sigstore *infrastructure* wasn't reliable/didn't have guarantees.

So to start, anything that touched Sigstore infrastructure (TUF roots, Fulcio, Rekor) was gated: users needed to set `COSIGN_EXPERIMENTAL=1` to use them.

Over time, we've blurred th

[2022-09-15 16:51] haydentherapper commented on #2255
+1 to an offline flag! Here's a copy paste of a comment I left on a doc when we were looking into the Cosign CVE:

With no flag, I'd propose the behavior be:
* Default to fetching from Rekor without any flags
* To avoid a call to Rekor, either
--- provide a bundle
--- add a flag explicitly opting out of the rekor call

[2022-09-15 17:04] znewman01 commented on #2255
+1 to that as the default behavior.

Then, the additional changes for an offline mode:

- use cached TUF state (after checking their age), which gives you Rekor/Fulcio root certs
- fail the command immediately if the bundle or opt-out flag isn't provided
- we never hit Fulcio in verification anyway AFAICT (though maybe eventually we should check the CT log by default unless an SCT is provided embe

[2022-09-15 21:45] asraa commented on #2222
Hey! We just released the security fixes and the code is refactored (and tested). If you rebase your PR (or might be easier to redo....) I think it'll be good to go!

[2022-09-16 05:11] vaikas opened #2258 "Should we be checking dependent repos for licenses in a consistent manner?"
**Description**

We were having trouble upgrading to latest cosign because our license checks were failing here:
https://github.com/sigstore/policy-controller/pull/236

Looks like there's a mismatch between what's being checked in cosign and in policy-controller. Seems like consistency here would be good :)

[2022-09-16 07:42] cpanato commented on #2258
will add also for rekor/fulcio projects

[2022-09-16 08:14] cpanato commented on #2253
we will improve in the release notes for sure, and i think in this case was a miscommunication :(

[2022-09-16 08:14] cpanato commented on #2253
will close this

[2022-09-16 08:14] #2253 closed

[2022-09-17 02:17] #833 closed

[2022-09-17 13:24] chipzoller opened #2264 "`verify-attestation` failure since 1.10.1 when no predicate type specified"
**Description**

Since Cosign 1.10.1, the ability to perform a `cosign verify-attestation` on a keyless-signed image containing attestations of multiple predicate types returns `main.go:62: error during command execution: none of the attestations matched the predicate type: custom`. The help output for the `verify-attestation` command indicates this is still a valid command so I'm confused on the

[2022-09-19 02:17] #653 closed

[2022-09-19 02:17] #621 closed

[2022-09-19 02:17] #618 closed

[2022-09-19 03:33] adammfrank opened #2265 "Cosign Clean Response is "DIGEST_INVALID: provided digest did not match uploaded content""
**Description**

I want to be able to clean all signatures off of a signed image, but `cosign clean` fails.

**Steps to Reproduce:**

Start with a signed image that has been saved to a local directory: `signed_image/`

Run local registry:  `docker run -d -p 5001:5000 --restart always -e REGISTRY_STORAGE_DELETE_ENABLED=true --name registry registry:2`

Save local dir to local registry: ` cosign loa

[2022-09-19 17:35] znewman01 commented on #2209
I'm going to close this out now, but feel free to comment here, open a new issue, or ask in Slack if you have further questions!

[2022-09-19 17:35] #2209 closed

[2022-09-19 21:36] znewman01 commented on #2255
Additional note: we need to give more guidance about offline settings, especially w/r/t TUF (do you mirror it? do you risk stale root certs?). I think this documentation would be really valuable.

[2022-09-19 21:46] haydentherapper commented on #2255
@asraa's design doc for the Sigstore TUF client also mentioned supporting offline TUF. IIRC it was configurable how to handle expired metadata.

[2022-09-20 02:35] hirokuni-kitahara commented on #2222
Thank you very much! @asraa
I will check the latest code and will update my PR.

[2022-09-20 04:12] Rajpratik71 commented on #2209
thanks @znewman01  @haydentherapper  for support

[2022-09-20 12:02] #2237 closed

[2022-09-20 14:37] trondat commented on #2214
No response ?????

[2022-09-20 14:55] znewman01 opened #2267 "`cosign attach` commands support providing a signature or attestation but not certificate"
[code]

If you attach a signature:

[code]
There's no way to put a signature and accompanying certificate on the image.

[2022-09-20 18:18] dlorenc commented on #2214
I haven't been able to repro this, could you try it with lowercase `never` maybe?

[2022-09-21 02:17] #595 closed

[2022-09-21 02:17] #587 closed

[2022-09-21 02:17] #547 closed

[2022-09-21 02:17] #538 closed

[2022-09-21 02:17] #532 closed

[2022-09-21 12:31] cpanato commented on #2214
thanks for opening the issue and explaining the steps. Please be kind to the community and try to not make this kind of comment. People work hard to maintain this project and everything, but we also have other things.
Sorry if that take too long for a reply.

I tried both cases `never` and `NEVER` and seems both are not working as expected. So we might have an issue here

steps:

[code]

cosign ve

[2022-09-22 17:48] asraa commented on #2264
Was this a regression due to https://github.com/sigstore/cosign/commit/c5fda01a8ff33ca981f45a9f13e7fb6bd2080b94?

It seems related, but haven't checked the internals. @mattmoor

[2022-09-22 17:48] asraa opened #2275 "feat: Support `cosign attest` for multiple images"
**Description**

When generating SLSA provenance for multiple images, we may want to generate the predicate header with subject digests for all supplied containers and attach each one.

[2022-09-22 18:16] mattmoor commented on #2264
There isn't a form of `verify-attestation` that checks all/multiple predicate types.

The predicate type defaults to `custom`, but `verify-attestation` was previously reporting success (for ANY predicate type) if there were attestations with valid signatures, even if there isn't one for the specified (or defaulted) predicate type.  This was the CVE that commit fixed.

Now `cosign verify-attestatio

[2022-09-22 18:17] mattmoor commented on #2264
Here is the GHSA which contains more: https://github.com/sigstore/cosign/security/advisories/GHSA-vjxv-45g9-9296

[2022-09-22 18:22] chipzoller commented on #2264
So with this fix in place, what would be the approach to get a valid return to the question, "show all of the attestations for image `foo`"? Also, if `--type` is now required, might want to change the output of the help command.

[2022-09-22 18:23] asraa commented on #2264
Agree that if `--type` is not specified, all valid attestations probably should return

[2022-09-22 18:28] chipzoller commented on #2264
As a user, that's what I would expect because one cannot know which attestations and their types may exist.

[2022-09-22 18:29] mattmoor commented on #2264
I would recommend adding an `all` value for `--type`, and (personally speaking) would also be fine with that being the default.

However, to illustrate my point:
[code]

... is indistinguishable from:
[code]

... and what we were doing before was very wrong for the latter.

[2022-09-22 18:31] mattmoor commented on #2264
This gets doubly true when policy arguments are passed to run over attestations matching the `type` 😅

For `--type=all` we would need to think through those arguments behaviors, and possible disallow them.

[2022-09-23 02:17] #507 closed

[2022-09-23 02:17] #437 closed

[2022-09-23 11:30] #2215 closed

[2022-09-23 11:46] maxking commented on #1554
I am trying to setup container image signing without having to setup and maintain a service for TL. We already have a PKI system with identity certificates available that I want to use for signing the container images.

So, far, I have been able to use `cosign import-key-pair` to import the key/cert, use them to sign and attach both certificate and certificate chain to the image using `cosign sign

[2022-09-23 15:42] var-sdk commented on #2198
For anyone picking this up (especially "good first issue" folk) loop in fulcio and rekor people for a review to make sure cosign only retries for retriable errors. Retrying errors that are not retriable (e.g. 403s are not retriable, 429s are retriable if you respect the "Retry-After" header.)

[2022-09-23 17:52] haydentherapper commented on #1554
Can you try `SIGSTORE_ROOT_FILE=root.cert cosign verify $IMAGE:$TAG`?  This should pick up the certificate and chain from the annotations on the image automatically.

[2022-09-23 18:47] #2216 closed

[2022-09-23 19:49] RTann opened #2277 "Data race in FetchSignaturesForReference"
**Description**

For each fetched signature, a new goroutine is spawned [here](https://github.com/sigstore/cosign/blob/main/pkg/cosign/fetch.go#L87). Each of these goroutines use the same `err error` variable, originally declared [here](https://github.com/sigstore/cosign/blob/main/pkg/cosign/fetch.go#L64).

To make it a bit easier to read, I will copy and paste the code below:

[code]

We can see

[2022-09-24 01:08] maxking commented on #1554
@haydentherapper ^ That doesn't work unless you have COSIGN_EXPERIMENTAL=1 turned on, which as I understand, is going to try to talk to TL?

[code]

[2022-09-24 10:02] maxking commented on #1554
FWIW, i tried verification using Kyverno and it seems to work by just adding the cert chain in the ClusterPolicy. This is the [verification code in Kyverno](https://github.com/kyverno/kyverno/blob/main/pkg/cosign/cosign.go#L164).

So, it seems like this is just a matter of allowing verification (and perhaps a better way to pass the root-cert/chain to the CLI) in the CLI? I'll try to spend some tim

[2022-09-24 10:36] maxking opened #2279 "RFE: Allow verifying CN when verifying using certificates"
**Description**

I have described how we are trying to use Cosign [here](https://github.com/sigstore/cosign/issues/1554#issuecomment-1256109541), but in short, we provision identity certificates to all services and want to use those for signing and verification. So far, I've been able to sign using the cert and verify using kyverno (#1554: bug for verification usign cosign CLI).

Given that all ce

[2022-09-24 11:38] dlorenc commented on #2279
Thanks for the details! This is definitely a case we should support. cc @znewman01

[2022-09-24 15:31] haydentherapper commented on #1554
Ah yes, that would require checking the transparency log by default. We should be supporting this use case of automatically fetching the certificate and chain from the annotations. We are working on removing the experimental flag and will be providing a flag to explicitly not check the tlog.

For now, I believe you can set “rekor-url” to an empty string, which should disable tlog checks even when

[2022-09-24 15:40] haydentherapper commented on #2279
Interesting question! Supporting verification of fields that aren’t set by Fulcio sounds like out of scope for Cosign. Fulcio only sets SANs, not common name. I think this should be a part of a verification engine. @znewman01 has outlined a new command “inspect” that would support such requests for verification of other fields, by returning structured info about the certificate, signature, etc to

[2022-09-24 21:15] maxking commented on #2279
@haydentherapper Would you be okay with allowing SANs instead of CN in that case to be verified in the `cosign verify` command?

[2022-09-24 22:50] haydentherapper commented on #2279
Feature incoming! https://github.com/sigstore/cosign/issues/1964

[2022-09-25 07:03] maxking commented on #1554
Aha, you are absolutely right! Setting the COSIGN_EXPERIMENTAL=1 and `--rekor-url=""` allows it to fetch the cert and chain from the annotations. Thanks a lot!

[2022-09-26 00:50] znewman01 commented on #2279
+1 to the @haydentherapper's general sentiment: I really would prefer to avoid giving `cosign verify` a flag for every possible X.509 field/extension/etc.—this kind of "kitchen sink" UX is why e.g. `openssl` is so hard to use. Further, I think that we as tooling authors *can't* know *what* you're trying to check if you're using certs generated externally, and it's much better to make *you* tell us

[2022-09-26 00:52] znewman01 commented on #1554
Glad you got it working! Apologies that this UX is...unfortunate right now. Normally I would insist that we clean it up, but I think in this case there's going to be some unification where we flip `COSIGN_EXPERIMENTAL` behavior on by default over the next couple of months and it'll get resolved on its own.

[2022-09-26 02:17] #435 closed

[2022-09-26 05:18] maxking commented on #1554
In terms UX, my initial expectation was to use `--cert-chain` flag to pass in the certificate chain/root CA to the `verify` command similar to how we pass in to `sign` command.

I agree that removing the `COSIGN_EXPERIMENTAL` flag (wither some way to skip talking to TL) would fix the other parts.

[2022-09-26 12:40] cpanato commented on #2214
this will fix the issue: https://github.com/sigstore/cosign/pull/2282

[2022-09-26 14:44] #2214 closed

[2022-09-26 15:36] thesayyn commented on #1905
@imjasonh Definitely. I'll start by understanding what each of these APIs does. Thanks for the pointers.

[2022-09-26 17:13] RTann commented on #2277
https://github.com/sigstore/cosign/pull/2283

[2022-09-26 18:27] thesayyn commented on #1905
@imjasonh I have some questions here;

1- What if the `non-existent-image-by-digest` is an image index rather than an image? is there a way to determine this?
2- What should be the behavior in case of a race condition? abort or overwrite?
3- If the behavior is to abort, how do we determine it? `If-Match`?

[2022-09-27 02:17] #409 closed

[2022-09-27 02:17] #396 closed

[2022-09-27 02:17] #313 closed

[2022-09-27 02:17] #279 closed

[2022-09-27 17:24] #2277 closed

[2022-09-28 02:17] #263 closed

[2022-09-28 02:17] #251 closed

[2022-09-28 08:47] souleb opened #2290 "Support for insecure mode in verifier"
cosign has a flag `--allow-insecure-registry` that set `InsecureSkipVerify=true` on in the underlying `tls` config. We would like to have another option that set the scheme to `http` the same ways `crane` does it with its `insecure` flag.

The primary use case is testing.

[2022-09-28 19:40] asraa opened #2294 "[bug] verify-blob & rekor shards: search all shards for proposed entries"
**Description**

https://github.com/fluxcd/source-controller/issues/899#issuecomment-1261295343

After rekor sharded, the current Rekor tree is moved to a new one.

When verifying blobs, we search the Rekor log proposed entries:
https://github.com/sigstore/cosign/blob/727e3e1d4af2856126f67c014d5bd2cf4b29a94a/pkg/cosign/tlog.go#L392

and expect that exactly **one** entry was retrieved.

Rekor CURRE

[2022-09-28 19:40] asraa commented on #2294
Does anyone have some time to fix? If no one can volunteer I can "promise" my next free time goes to this, but... you know...

[2022-09-29 01:13] vaikas commented on #2255
this may be relevant for the discussion here too:
https://github.com/theupdateframework/go-tuf/pull/397

[2022-09-29 02:17] #234 closed

[2022-09-29 02:17] #228 closed

[2022-09-29 02:17] #209 closed

[2022-09-30 02:17] #195 closed

[2022-09-30 13:46] trondat opened #2296 "-f or --no-input option does not work with piv-tool set-pin"
**Description**

When setting new pin on the PIV device the command `cosign piv-tool set-pin --no-input --new-pin <new pin> --old-pin <old pin>` will prompt for confirmation even though --no-input is specfied
`? Setting new pin. This will overwrite the previous pin.? [y/N] █`

**Version**

GitVersion:    devel
GitCommit:     unknown
GitTreeState:  unknown
BuildDate:     unknown
GoVersion:     go1.

[2022-09-30 14:27] cpanato commented on #2296
thanks, i will try to reproduce and if confirms will see how to fix it

[2022-09-30 22:16] gerhard opened #2298 "docker pull - failed to register layer: Error processing tar file(exit status 1): unexpected EOF"
### How to reproduce

[code]

### How to workaround

[code]

### `docker info`

[code]

[2022-10-01 02:18] #596 closed

[2022-10-01 11:12] #2294 closed

[2022-10-03 08:54] nicolaevladescu opened #2300 "Verify the binary downloads when installing from .deb (or any other binary release)"
How can we verify the binary downloads when installing from .deb?

Can the downloads be verified with openssl or gpg?

It's kind of an chicken and egg problem if you use `cosign` to sign blobs, you assume there is a `cosign` version already on the system, but in my case it is not.

[2022-10-03 09:01] developer-guy commented on #2126
Hi @otms61, thanks for the question. You don't need to use _CosignPredicate_ unless you specify a type for your attestation. AFAIK, cosign will use the _custom_ type and put the given predicate under the _Data_ section if you don't specify any type. Still, of course, there is a chance to define your attestation type by using a URL format like this _--type https://spdx.dev/Document_; if that happen

[2022-10-03 19:11] xmudrii commented on #2236
Is this still available? I’d like to try my luck contributing to cosign and this seems like a nice starter. 🙂

[2022-10-03 19:17] znewman01 commented on #2236
@xmudrii: 👍

If you need guidance, let me know. My last comment shows a couple ways to get started.

[2022-10-04 02:16] #188 closed

[2022-10-04 11:53] ChristianCiach opened #2307 "Feature: Provide an easier way to retrieve SBOM from In-Toto attestation"
Since https://github.com/sigstore/cosign/pull/1756 cosign issues a warning when using `cosign attach sbom` and `cosign download sbom`, heavily encouraging users to use `cosign attest` and `cosign verify-attestment` instead.

While I don't really like this change, because all our sboms are signed and there is no need to scare the users like that, we are trying to migrate to use said attestations.

[2022-10-04 14:05] ChristianCiach commented on #2307
Slight off-topic: I think there should be a way to avoid the warnings when using `cosign download sbom` and `cosign attach sbom`.  Maybe like this:  We could add a `--key` option to both commands. If present, `cosign download sbom` automatically verifies the signature of the downloaded sbom-image against the given public key and `cosign attach bom` automatically signs the attached sbom using the g

[2022-10-04 17:20] ChristianCiach commented on #2298
That is probably expected...? Cosign signature images are not in a usual format that Docker could handle. In fact, the integrated Trivy scanner for our Harbor registry chokes similarly:

![grafik](https://user-images.githubusercontent.com/19341644/193884655-e3ab443a-38b6-43cf-8adb-16cb290c930d.png)

When I click on "View logs" the log says:
[code]

I don't think this is a bug. Tools like Docker an

[2022-10-04 20:26] richlander commented on #2298
I also noticed this. I wonder why the default experience using cosign if it isn't compatible with `docker pull`.

https://github.com/actions/starter-workflows/blob/main/ci/docker-publish.yml

[2022-10-05 02:16] #168 closed

[2022-10-05 02:16] #165 closed

[2022-10-05 11:38] developer-guy commented on #2290
I can take over this one @dlorenc

[2022-10-05 14:55] chipzoller commented on #2264
We're seeing attestation failures in Kyverno 1.8.0, presumably related to this issue: https://github.com/kyverno/kyverno/issues/4819

[2022-10-05 15:00] developer-guy commented on #2264
_https://github.com/tektoncd/chains/pull/581_
_https://github.com/buildsec/frsca/pull/322_

[2022-10-05 15:03] JimBugwadia commented on #2264
@mattmoor the `all` would be useful when external policy is applied and reduce calls. The other option that would work is to take a list of types and return all that match.

[2022-10-05 15:27] ChristianCiach commented on #2208
It looks like cosign tries to copy the signature first. Harbor has special support for cosign signatures and it seems that harbor only accepts signature images for image that already exists in the registry.

Running `cosign copy --verbose` indeed shows that the `.sig` artifact is copied first. Harbor than complains that there is no image that the tag of the `.sig` image references:

[code]

As you

[2022-10-05 15:53] ChristianCiach commented on #2208
This also means that you also cannot use the `COSIGN_REPOSITORY` environment variable to store *only the signature* in Harbor. Harbor does not accept signatures without the corresponding image. I would argue that this is probably a bug in Harbor.

[2022-10-06 02:16] #140 closed

[2022-10-06 02:16] #113 closed

[2022-10-06 02:16] #98 closed

[2022-10-06 05:38] developer-guy commented on #2264
I can take care of this one ☝️🫡

[2022-10-06 08:49] ChaosInTheCRD commented on #2307
In relation to your first question, do you think that a flag such as `--view-predicate` would suffice here? This flag would ensure that if called it can strip out and decode the predicate from everything wrapped around it.

[2022-10-06 08:50] ChaosInTheCRD commented on #2307
on the second question - in order to sign the SBOMs, have you up until now been using `cosign sign-blob`?

[2022-10-06 10:30] ChristianCiach commented on #2307
Being able to combine these two commands into one command would actually be *double nice*, because the same image tag is used in both commands, but the tag could resolve to difference digests between both invocations, as described here: https://github.com/sigstore/cosign/pull/2313

[2022-10-06 10:42] ChristianCiach commented on #2047
Don't have `cosign attach sbom` and `cosign attest` have the same issue? When used with tags, you may attach sboms or attestations to the wrong image.

[2022-10-06 10:46] ChristianCiach commented on #2208
@developer-guy Since you implemented the current order of copying the images, I think it makes sense to at least notify you about that.

[2022-10-07 01:07] ianlewis commented on #2047
@ChristianCiach Yes, I think whenever you reference a remote image you could potentially have this issue.

[2022-10-07 02:17] #1443 closed

[2022-10-07 02:17] #88 closed

[2022-10-07 02:17] #86 closed

[2022-10-07 08:20] Dentrax opened #2318 "verify: spams `tuf: warning using deprecated ecdsa hex-encoded keys`"
**Description**

[code]

**Version**

`1.12.1 - 0baa044bea61e7c16d56023be20ead3d9204b24a`

[2022-10-07 14:28] asraa commented on #2318
Hi!

We're aware of this, and `cosign` at HEAD does not do this. We just need a new minor patch release.

[2022-10-07 14:55] asraa opened #2320 "Feat: option for online tlog verification of containers/blobs"
**Description**

Right now, all containers use offline verification by default, and only perform online verification as a fallback mechanism. This is because offline Rekor bundles are stored along in the OCI registry.

Proposal: Expose an option (default off) to perform online verification against Rekor. By doing this paranoid users can enable online verification, and we can also more easily detec

[2022-10-07 15:30] asraa commented on #2320
I'd probably expose this an option for `VerifyOpts` like `OnlineLogVerify`

[2022-10-07 15:39] haydentherapper commented on #2320
Another question, should we mandate that you provide a previous checkpoint for the consistency proof? I think yes, otherwise there’s not much point to the online lookup.

[2022-10-07 15:41] haydentherapper commented on #2320
I don’t know if we need to prioritize this before there’s support for gossiping. I would like this mode to provide the strongest assurances against a malicious log.

[2022-10-07 15:41] asraa commented on #2320
Part of it is to make sure Rekor isn't misbehaving: Rekor serves you an offline proof, and then gets compromised and the log is rotated, if you were part of the compromise you would fail now, rather than rely on your old bundled proof.

[2022-10-07 15:41] asraa commented on #2320
Honestly, part of my motivation is that no one detected the Rekor outage in staging because no one HAD the option of using Rekor online for containers!

[2022-10-07 15:42] haydentherapper commented on #2320
So maybe two phases for this? One to add a flag just to say “online lookup”, and one to also gossip. I think this also fits in nicely with the required work around removing the experimental flag.

[2022-10-07 15:45] asraa commented on #2320
Added a description about that in the issue of non-goal and that it would require state checking for full paranoia mode.

[2022-10-07 22:45] znewman01 commented on #1397
Just want to bump this now that the working group for reference types has concluded:

https://github.com/opencontainers/wg-reference-types

[2022-10-07 23:04] imjasonh commented on #1397
There's some work ongoing in ggcr now: https://github.com/google/go-containerregistry/pull/1455

When that gets closer to landing I will try to see how cosign should use it, to make sure it's a good fit, and so sigstore-go gets a good go API for discovering attached things by type.

We'll probably also need cosign to maintain a compat mode for some time (forever?) so signatures etc that were attac

[2022-10-07 23:05] znewman01 commented on #2298
Precisely. This is expected behavior and IMO not a real problem. What *should* happen when you try to `docker pull` something that's not an image? If anything, this is a bug for docker to give you a better error message.

For background, those are OCI objects containing signatures, *not* images. They're given a tag like  to aid in discoverability: the signatures on an image `gcr.io/foo@sha256:abcd

[2022-10-07 23:22] znewman01 commented on #2300
If I understand correctly, you're saying: why should I trust the .deb files (and other release artifacts) coming from the Cosign repository on GitHub itself.

This is a pretty interesting question, glad you asked it :)

I can think of three broad approaches:

1. Provide alternate signatures (e.g., using GPG).
2. Provide instructions for performing Cosign verification manually. There's nothing magi

[2022-10-09 02:16] #60 closed

[2022-10-09 19:24] xmudrii commented on #2236
I created #2322 which combines easy and hard modes with the difference that I didn't create a new CLI command, but used `cosign env` (as described in the ticket description).

The PR should have accomplished everything but banning Getenv-related functions. I did some research on banning functions and it doesn't seem possible to ban functions natively with Go. Creating a linter is definitely an opt

[2022-10-10 08:36] nicolaevladescu commented on #2300
Hello.

I see 1. and 2. almost the same option and the only wide spread one,  it should not be anything complicated, lots of project that sign their binary releases already distribute a key and use `gpg` to verify. An imprefect remedy to the trusting of the key problem is to get only the public key id from cosign and the look it up on a public PGP server.

[2022-10-10 20:06] znewman01 commented on #2300
Agreed, it would be pretty easy to do. But I think we want to avoid anything that presents a false sense of security.

In my experience, "lots of projects already do it" is not a strong signal that a security practice is worthwhile 🙂

Can you elaborate on this workflow? What would I be checking when I look it up on a public PGP server—that I personally know a Cosign developer? One of the primary p

[2022-10-10 20:07] znewman01 commented on #2300
BTW I hope I'm not coming off as hostile! We're very open to this idea, but we just want to understand concretely what the benefits are to GPG signing before we go through the effort of implementing it.

[2022-10-10 23:45] znewman01 commented on #2236
Hey, looks great on first skim @xmudrii! It's a holiday locally so I haven't had a time to really dig into your question; will get back to you soon.

[2022-10-11 00:44] znewman01 commented on #2236
Perfect, thank you!

I think it might be simpler than that. IIUC [forbidigo](https://golangci-lint.run/usage/linters/#forbidigo), built into golanglint, makes this pretty easy. That only applies to our codebase, not upstream (e.g. github.com/sigstore/sigstore) but gets us 90% of the way there. Might even be straightforward to put that in #2322 (if you have a hard time, we won't block merging #2322

[2022-10-11 07:37] xmudrii commented on #2236
I've looked at the list of linters and haven't seen this one. I guess I didn't pay enough attention. :see_no_evil: I'll update #2322 to integrate `forbidigo`.

[2022-10-11 10:45] nicolaevladescu commented on #2300
I agree with all your points, and yes, lots of projects doing something doesn't make it bulletproof or worth implementing just for the sake of it. It was just a reflex of mine to always try to do some additional checks when downloading something from the internet in my CI/CD workflows.

The trust-on-first-use with Cosign is not that different versus trusting a distro release released with gpg alre

[2022-10-11 10:45] #2300 closed

[2022-10-11 22:06] #1964 closed

[2022-10-11 22:08] znewman01 commented on #2298
I'm going to close for now; please reopen if you think there's something we can do on our end to make this better!

[2022-10-11 22:08] #2298 closed

[2022-10-12 04:56] S0b1t opened #2329 "How to run cosign in docker container from Dockerfile"
Hi!

I am new to Harbor, there is a Dockerfile in the project repository. From this Dockerfile, I built a cosign image with the command:

and than i ran the image with command:

container didn't run, am i did something wrong? How to run cosign in docker container from Dockerfile?

The second question is after run docker container how should i run commands **cosign sign --key** and **cosign verify

[2022-10-12 21:01] priyawadhwa opened #2330 "allow setting flag values via environment variables"
When I'm using staging I end up having to pass in flags for rekor, fulcio, oauth, every time I use cosign. It would be nice to be able to set flag values with env vars instead so I don't have to keep repeating flags. I think viper supports something like this but have to look into it!

[2022-10-12 21:57] priyawadhwa opened #2331 "Allow using a TSA instead of Rekor to validate certs"
Right now, cosign assumes that every Fulcio cert has an associated entry in Rekor. The time that the entry was added to Rekor is used to verify that the signature happened during the cert's validity period.

We can get the same guarantee with a TSA. We'll need to refactor cosign to allow using a TSA instead of Rekor. We'll also want to store this TSA in the bundle so offline verification still wor

[2022-10-12 22:07] znewman01 commented on #2331
CC @haydentherapper I know you've talked about this before, I thought there was somewhere this was being tracked but I can't find it.

[2022-10-12 22:37] haydentherapper commented on #2331
This came up in https://github.com/sigstore/cosign/issues/2194, when discussing how to handle expired certificates. Either a Rekor entry or a signed timestamp should suffice as a countersignature over time. A TSA doesn't offer public auditability however, so it's not exactly equivalent to a Rekor entry. A verifier may want both a timestamp and Rekor entry - The timestamp to provide a third-party a

[2022-10-13 11:27] znewman01 opened #2333 "Fix Counter-Signing demo in README"
Right now, the counter-signing demo has you sign an image, then sign the signature as follows:

[code]

However, this signs the signature by tag (see #2047), opening you up to race conditions.

The ideal workflow would be:

1. (party A) cosign sign the image
2. (party B) cosign triangulate to get the signature
3. (party B) crane digest to get the digest of the signature
4. (party B) cosign verify

[2022-10-13 11:45] znewman01 commented on #2047
Before resolving, make sure to:

- do this for other commands (`cosign attach *`, `cosign attest`, `cosign generate`)
  - can we do this more systematically? make it hard to sign something by reference (make the signing APIs take only digests)
- ensure all docs are up to date
- actually finish the deprecation (will take a couple of releases)

[2022-10-13 11:48] ChristianCiach commented on #2047
Please also make sure that references like `repo:tag@digest` continue to work. This means that the warning should not be emitted when a tag is present, but only when a digest is absent.

[2022-10-13 13:49] asraa commented on #2331
We can start with an env var for trusting a TSA root CA, but we also need a plan for inserting a TSA root CA into TUF. Just FYI: if Sigstore deploys one, no problem, but as we do this work I'll track changes we'll need fro mthe TUF side.

[2022-10-13 15:13] haydentherapper commented on #2255
cc @priyawadhwa

[2022-10-13 15:19] haydentherapper commented on #2331
Tracking issue - https://github.com/sigstore/root-signing/issues/466

[2022-10-17 08:34] beltran-rubo opened #2345 "Be able to modify the docker-reference field"
**Description**

Based on the [Signature Spec](https://github.com/sigstore/cosign/blob/main/specs/SIGNATURE_SPEC.md#simple-signing) the `critical.identity.docker-reference` field is ignored. This field could be confusing copying images & signatures across different registries. Do you think would be useful to add an option to customize it or to make it empty?

[2022-10-17 10:52] datosh commented on #2264
Any update on this @developer-guy ? Just tried to follow anchore's blog post on this topic, and verify step fails without specifying the `--type` which is quite convoluted to find in the first place:

[code]

[2022-10-17 13:18] znewman01 commented on #2296
Problem is `Confirm` in `pivcli/commands.go`: https://github.com/sigstore/cosign/blob/cb4898b327f195b2059db7288f433e668e33c575/cmd/cosign/cli/pivcli/commands.go#L301

The solution would be to use [ConfirmPrompt](https://github.com/sigstore/cosign/blob/cb4898b327f195b2059db7288f433e668e33c575/pkg/cosign/common.go#L32-L44) instead. This would be a fast fix.

It has an added benefit of getting rid of

[2022-10-17 13:20] znewman01 commented on #2318
I'm going to close this out, since the issue is fixed and will be in the 1.14.0 release

[2022-10-17 13:20] #2318 closed

[2022-10-17 21:37] #2236 closed

[2022-10-18 05:18] suyash691 commented on #1777
@dlorenc Does cosign use local caching like docker cli does for signatures or are those pulled from the source of truth with each cosign verify?

[2022-10-18 14:34] jkremser commented on #1307
imho it should, how would you distinguish between the case where one wants to pass a literal "abcd" and a file called abcd. It only opens a new attack vector as it is implemented right now. This overloaded wannabe smart functionality doesn't do what it is expected if the file is not there.

[2022-10-18 15:46] #2330 closed

[2022-10-18 16:29] znewman01 commented on #1777
No local cacheing right now. That's an interesting idea!

It would be very doable to resolve the tag `<image digest>.sig` to a signature digest and use a content-addressed cache in `~/.sigstore` (or `$XDG_CACHE_HOME/.sigstore`).

The question is whether it's worth the increased complexity from doing so (it seems simple, but you have to worry about cache expiration, using too much disk space, etc.)

[2022-10-18 21:50] upodroid opened #2354 "`cosign attest` doesn't work with provenances"
**Description**

Hi

I'm doing provenance generation for knative and I'm seeing bugs with `cosign attest`

https://github.com/knative/test-infra/issues/3440

[code]
https://prow.knative.dev/view/gs/knative-prow/logs/nightly_net-contour_main_periodic/1582299938572734464 look for "Using payload from: attestation.json"

Builder is definitely there so is this a bug in cosign?

https://github.com/knati

[2022-10-19 02:28] #2170 closed

[2022-10-19 05:15] rnachire opened #2355 "Excluding custom resources via rules in Validating & Mutating web-hook configuration is getting overriden with default config"
**Excluding custom resources via rules in Validating & Mutating web-hook configuration is getting overriden with default config**

we have tried to adding rules to apply the validating & mutating webhook of **policy.sigstore.dev** with namespaceselector policy.sigstore.dev/include label and rules were empty by default.

we tried to add the rules to go via admission controller only for well known k

[2022-10-19 09:47] msmeissn opened #2356 "support image lists for verify-attestation"
**Description**

Currently the verify-attestation command does not handle imagelists well.

The SUSE BCI images are multi-architecture, and so accessing registry.suse.com/bci/golang:latest gives you an image list, not a single image.

see https://codeengineered.com/blog/2022/bci-slsa-attestation/ blog from Matt Farina.

I know verify-blob-attestation or explicit sha256 blob tagging could work, but

[2022-10-19 10:47] hectorj2f commented on #2355
@rnachire Thanks for opening this issue. But you should create it in https://github.com/sigstore/policy-controller/issues.

[2022-10-19 11:34] hectorj2f commented on #2331
FYI: I'm working on this feature in case anyone else is working on a similar direction.

[2022-10-19 13:26] asraa commented on #2331
@hectorj2f how do you plan to approach it?

I think we have a lot of efforts by many people in the same direction: e.g. the Sigstore bundle has support for RFC 3161 as well: maybe something like:
* Do you plan on making it work for OCI and blobs?
* How will the timestamp be formatted? RFC 3161?
* How will the root cert for the TSA be loaded or passed in?

[2022-10-19 14:22] hectorj2f commented on #2331
@asraa The idea is to get a first shareable version, so we can discuss more details or any considerations. I am making use of `sigstore/timestamp-authority`, so the timestamp is formatted to RFC 3161. Initially I am working on getting these changes for OCI, but blobs are also part of the effort (coming afterwards).

In this draft version, i thought about relying on a KMS service, but I could be wr

[2022-10-19 15:22] haydentherapper commented on #2331
I think it would be good to sync on this to avoid duplicated work.

[2022-10-19 16:15] priyawadhwa commented on #2331
Yep +1, this follows the current pattern we have in cosign. We can stick with RFC3161 timestamps since that's what sigstore/timestamp-authority uses.

I think this will likely require some refactoring of cosign so we can easily use rekor vs the TSA for all commands.

@hectorj2f can start with adding in the env var, and TSA support for images. IIUC nobody else is working on that in cosign, so work

[2022-10-19 17:02] haydentherapper commented on #2331
Now at a keyboard, so typing a bit more haha. Here's the current efforts, if I understand this ticket correctly and combining the ongoing work:

* Adding support in Cosign for using a TSA in addition to (or instead of?) Rekor, split up by OCI and blobs - I'd like to make sure we're super clear on the security properties of this too. If a TSA is used instead of Rekor, the signed timestamp should co

[2022-10-19 19:15] priyawadhwa commented on #2331
Yep this ticket is only meant to cover that first point, adding support in cosign for using a TSA instead of Rekor, and we can definitely start with the OCI support. If you'd prefer to sync sooner we can try to set something up this week, or find time to chat in-person next week. I don't think there's anything blocking getting started on this in cosign though.

[2022-10-19 19:15] kent007 commented on #1351
Hi, I'd like to see about getting some more attention on this issue. I'm looking at using cosign via Connoisseur in a k8s environment for signature validation and we've run into this same issue....we want to have a rolling keyring in Vault of several valid keys, and we want cosign to understand which one to use for validation (or try all of them?).

Right now the default behavior of Cosign is to s

[2022-10-19 20:06] asraa commented on #2138
I think this will be addressed in verify-blob-attestation, given that there's an attest-blob separate command. @priyawadhwa

[2022-10-20 13:00] znewman01 commented on #1351
There are two ways we could get Cosign to know which key to use for validation:

1. Try all of them (as you point out/suggest)
2. Give Cosign a "hint." There's [ongoing work](https://github.com/sigstore/cosign/pull/2204) on a new "bundle format" which will have support for "key IDs". So when you use Cosign, the signature would mention which version of the key was used to sign.

I strongly prefer (

[2022-10-20 16:27] lehors opened #2367 "Cosign doesn't use the correct CycloneDX predicate"
**Description**

The CycloneDX predicate defined in in-toto-golang has changed and cosign needs to move to the latest version to be compatible with other tools like syft. See https://github.com/in-toto/in-toto-golang/pull/188

**Version**

GitVersion:    1.12.0
GitCommit:     8483d6c71f153f38f237ba79c88d0fda6306e6e3
GitTreeState:  "clean"
BuildDate:     2022-09-14T15:41:15Z
GoVersion:     go1.19.1

[2022-10-20 16:33] developer-guy commented on #2367
Yeah, AFAIK, @puerco already knows that problem, and will fix it soon 🙋🏻‍♂️

[2022-10-20 19:01] lehors commented on #2367
Fixed by PR #2368

[2022-10-20 19:01] #2367 closed

[2022-10-20 23:10] AaronLuo3296 opened #2372 "cosign login: Registries must be valid RFC 3986 URI authorities: https://gcr.io/my-project-id"
It seems that cosign login doesn't support private registry on Google Container Registry.

I got "Error: registries must be valid RFC 3986 URI authorities: https://gcr.io/my-project-id" error while I was running the following scripts to login to my gcr registry.

[code]

Any ideas how to login to gcr?

[2022-10-20 23:16] dlorenc commented on #2372
I think login is scoped to just the domain portion, can you try `docker login gcr.io` instead?

[2022-10-20 23:34] AaronLuo3296 commented on #2372
`docker login -u oauth2accesstoken -p "${TOKEN}" "https://gcr.io/${GCP_PROJECT_ID}"` works.

I was trying to use `cosign sign/copy` features without relying on docker. Is that possible?

[2022-10-20 23:35] dlorenc commented on #2372
Ah sorry can you try `cosign login gcr.io` without the suffix part? It should be possible, docker might just be more flexible here on the string they take.

cc @jonjohnsonjr

[2022-10-20 23:43] AaronLuo3296 commented on #2372
`cosign login gcr.io` doesn't work. I got another error which might be related to `docker-credential-gcr`.
[code]

BTW, when I change it to `docker login -u oauth2accesstoken -p "${TOKEN}" gcr.io`, I also got the same error "Error: error storing credentials - err: exit status 1, out: \`add is unimplemented\`".

[2022-10-20 23:46] dlorenc commented on #2372
Ah - if you have docker-credential-gcr you shouldn't need to login. You can try:

`gcloud auth configure-docker` then just use cosign as usual!

[2022-10-21 00:30] #2290 closed

[2022-10-21 02:18] AaronLuo3296 commented on #2372
Yes, you are right. Once I run `docker-credential-gcr configure-docker` (similar as `gcloud auth configure-docker`, `cosign copy` just works. Thanks for your help.

[2022-10-21 02:18] #2372 closed

[2022-10-23 14:38] justbaileym commented on #2356
Thanks for sharing the blog posts! It definitely helps look at some cosign vs crane calls and how they're implemented.

I started digging into enabling this, by checking all of them, but we might want to support both.

We'll still need to do the ImageIndex call for a specific platform, but at least we can make fewer calls if we only care about a subset of them.

[2022-10-23 17:18] justbaileym commented on #2356
I have some work in progress on my branch, but I'm not sure it even does the right thing and I am concerned the performance will be worse than the existing code.

https://github.com/sigstore/cosign/compare/main...justbaileym:cosign:b/support-image-lists

[2022-10-23 17:20] justbaileym commented on #2356
For images, it should be possible to not degrade performance at all, if I properly understand how the manifests work.

For ImageIndex refs, the performance will be affected, since it requires an extra request, but if we support both all platforms and specific platforms, at least that'll enable folks to have an option with better performance too.

[2022-10-24 05:45] haydentherapper opened #2376 "Cosign 2.0 Tracking"
**Description**

This is an issue to track Cosign 2.0, with the primary change being the removal of the experimental flag. I've added some initial issues I think would be in scope, feel free to discuss and edit. We should also triage open bugs.

- [ ] Cosign experimental and offline mode - https://github.com/sigstore/cosign/issues/2255
- [ ] Cosign inspect - https://github.com/sigstore/cosign/issu

[2022-10-24 11:33] KnechtionsCoding opened #2377 "cosign login shouldn't require `docker-credential-desktop` from being installed."
**Description**

Currently when trying to login to an OCI registry with `cosign login` it errors if `docker-credential-desktop` isn't installed/available.

Instead cosign should utilize an auth file similar to skopeo's implementation allowing cosign login to be run without a docker daemon being installed.

[2022-10-24 14:32] asraa commented on #2376
I'd like to propose another thing: conglomerating all the env vars we use for pinning rekor/ct/fulcio keys and creating a Root provider interfact, that either uses TUF or populates with any env vars that are enabled.

This would be a MAJOR cleanup and help people use cosign in special environments.

[2022-10-24 15:44] znewman01 commented on #2376
See also: https://github.com/sigstore/cosign/discussions/2365 especially the proposal to separate the CLI versioning and the library versioning, and the proposal to provide no guarantees about API stability.

I'm in favor of a quick, relatively narrow 2.0 (scoped to CLI only) because dropping COSIGN_EXPERIMENTAL is a big win and because a long-lived `v2-staging` branch is a recipe for headache. Wh

[2022-10-24 22:37] priyawadhwa commented on #2376
Thanks for opening this tracking issue @haydentherapper! +1 to a narrow-scoped 2.0, I think all the tagged issues are in-scope. For the root provider refactor, I'm ok not making it a requirement for 2.0 but if it gets in by the time we're ready to release that would be awesome :)

[2022-10-25 10:09] asraa commented on #2376
I think that's fair: if we can make the requirement of ripping out any TUF calls from the internal verification functions I think that would suffice! Doing it quickly makes sense. @vaikas

[2022-10-25 14:57] asraa commented on #2354
Hey! Try sending just the predicate part of the `kn-attestation.json`. Then it should work.

Like:
[code]

The cosign tool creates the rest, but unfortunately I think that it MIGHT create the subjects individually per-image.

[2022-10-25 19:41] asraa commented on #2376
This would be great: https://github.com/sigstore/cosign/issues/2222

I can work on it soon

[2022-10-25 19:43] asraa commented on #2376
To some degree, all bugs should technically be fixed before a major release.
https://github.com/sigstore/cosign/issues/2138

I think it should be replaced with https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/verify/verify_blob_attestation.go and we should remove the verify-blob support for attestations.

[2022-10-25 19:43] asraa commented on #2376
This too: https://github.com/sigstore/cosign/issues/2219 @bobcallaway

[2022-10-25 19:47] haydentherapper opened #2382 "Require embedded SCT on verification by default"
**Description**

Currently, SCT verification happens on:
* Signing, either by checking an embedded SCT (public good Fulcio) or a detached SCT returned in a header. It's skipped if an insecure flag is provided
* Verification, if either the `enforce-sct` flag is set or if an embedded SCT is present.

Signing is good - Always check, unless you explicitly provide an insecure flag. However, for verific

[2022-10-25 19:47] haydentherapper commented on #2376
I'd like to add https://github.com/sigstore/cosign/issues/2382 - This would require that an SCT is provided as proof the certificate is logged in a CT log, unless an insecure flag is provided. This was what we always should have done, but couldn't because old certs didn't have embedded SCTs.

[2022-10-25 19:48] haydentherapper commented on #2376
+1 to bugs being fixed, should we set up some time to triage open bugs?

[2022-10-25 19:49] bobcallaway commented on #2376
Agreed, that is dependent on Rekor changes sigstore/rekor#1139 and sigstore/rekor#1144 going live in production

[2022-10-25 20:22] toddysm opened #2384 "Env variables are not taken into account when Azure user is signed in"
**Description**

When trying out signing with a key from Azure Key Vault it doesn't seem that the env variables are taken into account as described in the https://docs.sigstore.dev/cosign/kms_support#azure-key-vault. What happened was that I was signed in with a user account on the console and have also set the environment variables. The user account had permissions on the registry while the servi

[2022-10-25 20:29] #2198 closed

[2022-10-25 22:53] lancew-q commented on #2265
I am also running into this same issue with almost the exact same setup but I am using cosign v1.13.0. Signature is placed on an existing image using `cosign sign`.

[2022-10-25 23:07] lancew-q commented on #2265
I think the problem here, according the documentation, it will only delete manifests by digest:

https://docs.docker.com/registry/spec/api/#deleting-an-image

`For deletes, reference must be a digest or the delete will fail`

[2022-10-26 05:31] rnachire commented on #2355
Sure, I have added https://github.com/sigstore/policy-controller/issues/347 .. could you please provide some way for the same.

[2022-10-26 09:28] hectorj2f commented on #2355
closing this issue! it is now opened in https://github.com/sigstore/policy-controller/issues/347

[2022-10-26 09:28] #2355 closed

[2022-10-26 15:32] asraa commented on #2198
Reopening for the Fulcio one

[2022-10-26 18:15] haydentherapper commented on #2376
Would like to add https://github.com/sigstore/cosign/pull/1762 so that Cosign stops calling the legacy API for Fulcio

[2022-10-26 20:24] asraa commented on #1825
This is fixed now! Test here:
https://github.com/sigstore/cosign/blob/c3c4ea961deb4ae2bc1bc5c632e269b2da129e85/cmd/cosign/cli/verify/verify_blob_test.go#L535

[2022-10-26 20:24] #1825 closed

[2022-10-26 20:25] asraa commented on #1753
This is fixed: https://github.com/sigstore/sigstore/blob/150e3866a5b97240c0c0112e4dd599df50a104a5/pkg/tuf/client.go#L706

[2022-10-26 20:25] #1753 closed

[2022-10-27 12:43] missemily22 opened #2390 "TUF: invalid key"
**Description**

getting key from Fulcio: verifying SCT: updating local metadata and targets: error updating to TUF remote mirror: tuf: invalid key
![image](https://user-images.githubusercontent.com/114487400/198287307-172c4c85-fa2f-4789-a746-eb41ba37b2f4.png)
![image](https://user-images.githubusercontent.com/114487400/198287314-a75d1dec-4703-45bb-a73f-e64ec6ab3d88.png)

**Version**

 Latest

[2022-10-27 14:04] asraa commented on #2390
Thanks for the issue: are you sure you're using latest?
This would have been fixed in https://github.com/sigstore/cosign/releases/tag/v1.13.0

[2022-10-27 17:37] L1ghtman2k commented on #2390
Running into this issue on `v1.13.1` too

[2022-10-27 17:39] L1ghtman2k commented on #2390
[code]

[code]

[2022-10-27 18:26] Namanl2001 commented on #2210
@znewman01 - I would like to work on this issue. However, I'm not able to access the doc linked in the issue description.

[2022-10-27 18:29] znewman01 commented on #2210
Most sigstore docs can be accessed if you join ***@***.***

https://groups.google.com/g/sigstore-dev

Let me know if that doesn’t work for you and I can add you directly

[2022-10-27 18:38] haydentherapper commented on #2210
@kpk47 You haven't begun work on this yet, correct?

[2022-10-27 18:51] asraa commented on #2390
I'm not able to reproduce when I sign my own image.

Can you try
[code]

[2022-10-27 20:45] L1ghtman2k commented on #2390
I am running off of [latest](https://github.com/sigstore/cosign-installer/commit/9becc617647dfa20ae7b1151972e9b3a2c338a2b) cosign installer action. i don't think there is anything in `$HOME/.sigstore` in there, unless cosign installer does some setup in that directory

[2022-10-27 21:31] asraa commented on #2390
I think the problem is in cosign-installer then. I don't know enough to help debug the problem right now. If you locally run cosign at v1.13.1 it doesn't have this problem. It is weird that whatever build it's pulling from does not match the one at the tag:

[code]

[2022-10-27 21:33] asraa commented on #2390
Could you cross post this in cosign-installer then?

[2022-10-27 22:07] L1ghtman2k commented on #2390
`cosign version` that is outputted after I run cosign-installer:
[code]

[2022-10-28 01:20] dlorenc commented on #2384
Thanks for filing! Most of us are azure newbies so we'll try to better document this, but if you have any pointers to what flow would make the most sense we'd really appreciate it!

[2022-10-28 17:05] L1ghtman2k commented on #2390
Created an issue on cosign-installer repo as per asraa's suggestion: https://github.com/sigstore/cosign-installer/issues/100

[2022-10-28 17:55] znewman01 commented on #2265
I think this varies based on registry; that checks out with the above explanation. Thanks for the investigative work @lancew-q !

CC @imjasonh : I feel like what we *really* want Cosign clean to do is:

1. Remove the *tags*, keeping track of the digests that the tags pointed to
2. Delete the digests iff there's no tags pointing at those images

I have no idea if OCI APIs support that. If they don'

[2022-10-29 11:16] bobcallaway commented on #2390
FYI, this https://github.com/sigstore/cosign-installer/issues/100#issuecomment-1295805950 was found to be using `syft` as part of their workflow which was embedding an earlier version of cosign which had a known issue.

[2022-10-29 18:39] znewman01 commented on #2390
Okay, https://github.com/sigstore/cosign-installer/issues/100 seems to address @L1ghtman2k's issue.

@missemily22 : are you still seeing this with an up-to-date Cosign?

[2022-10-31 16:03] toddysm commented on #2384
I have not looked at the code to see how you got the signed in user token but if the documentation says that the env variables should be the ones used for Key Vault access, I would expect to sign into the Key Vault with the information stored in the env variables (i.e. the service principal in this case). Having in mind that this flow will mostly be used in automation, using the developer credenti

[2022-11-01 02:33] chunteck opened #2394 "Signing gitlab CI attestation with cosign"
Gitlab has recently started generating [attestations for build artifacts](https://docs.gitlab.com/ee/ci/runners/configure_runners.html#artifact-attestation). The attestation format is the standard intoto-attestation format.

I was hoping to sign the attestation and attach it to my docker image, using the command

`cosign attest --predicate `gitlab-attestation.json` --key cosign.key my-registry/pro

[2022-11-01 03:57] L1ghtman2k opened #2395 "Attaching Multiple SBOMs to a single image"
Disregard...

[2022-11-01 03:58] #2395 closed

[2022-11-01 06:13] developer-guy commented on #2394
Hello @chunteck, thanks for bringing it to our attention. One of the things that came to my mind is that maybe you can extract the `predicate` part of the attestation and save it to another file then you could go with it, does that make sense?

[2022-11-01 06:51] chunteck commented on #2394
Hi @developer-guy ,

I did consider that as a last resort. However, the gitlab attestation has additional keys e.g `metadata`, `materials` outside of the `predicate` portion. I was hoping to find a solution where I can keep all these extra information in the attestation and still be able to use cosign to sign and attach the attestation to the docker image.

[2022-11-01 07:06] developer-guy commented on #2394
It shouldn't be outside the predicate portion, and the documentation on GitLab's website is wrong; please [see](https://slsa.dev/provenance/v0.2#fields).

Also, in the example of the attestation in the documentation, these are also included in the `predicate` field.

Copy the example attestation content from the documentation and use one of the JSON beautifiers, you will notice that these are in t

[2022-11-01 08:21] chunteck commented on #2394
well, seems like gitlab is really generating their attestation wrongly, I will have to wait for them to fix it.

What about the `subject` field then? any way to include both the `subject` and `predicate` into the `cosign attest`?

[2022-11-01 11:42] developer-guy commented on #2394
The only thing that you need to provide is the type of the predicate via the _--type_ flag and the _predicate_ itself; the rest will be added according to the type of the document, that's all, which means that you don't need to provide anything than predicate's body.

[2022-11-01 13:26] znewman01 commented on #2394
I don't completely understand how this is meant to be used.

What I'd like to see happen is this: GitLab generates *and signs* (as GitLab) a Statement; you can then attach it to a container image with `cosign attach attestation`. This roughly means "I, GitLab, built these artifacts with this job;" anybody can verify this and trace back to find the workflow used. I believe [this issue](https://gitl

[2022-11-01 13:50] Rajpratik71 opened #2396 "Tagged release of "cosign" container images on "gcr" showing the wrong creation date"
**Description**

Tagged release of "cosign" container images on "[gcr](https://console.cloud.google.com/gcr/images/projectsigstore/global/cosign)" showing the wrong creation date

![image](https://user-images.githubusercontent.com/12658912/199248616-2c0d7ad3-3296-4497-9c0a-63960f940afa.png)

![image](https://user-images.githubusercontent.com/12658912/199248883-9d5f722f-91ce-4ebf-8e7f-a8225b62cd8b.

[2022-11-01 14:40] znewman01 commented on #2396
Yes, that's deliberate and necessary for reproducible OCI image builds. [Ko](https://github.com/ko-build/ko) (which we use) and many other image creation tools do this by default.

Is it causing problems?

[2022-11-01 16:41] SantiagoTorres commented on #2394
I broadly agree. I see that [in-here](https://gitlab.com/gitlab-org/gitlab-runner/-/issues/29063#note_1146301446) the consensus is around providing a way for gitlab to use a key, rather than managing the envelope. Personally, I would like for us to have a way to say "this gitlab instance attests this provenance". Who attaches it may just be a workflow problem (i.e., do you want to decide where to

[2022-11-01 17:01] developer-guy commented on #2394
we (w/@dentrax) have opened an issue for consuming the correct models from the in-toto's Go SDK
instead of writing their own 👇

_https://gitlab.com/gitlab-org/gitlab-runner/-/issues/29334_

[2022-11-01 20:45] haydentherapper commented on #2376
Another AI, we need to update documentation and blog posts

[2022-11-01 21:22] haydentherapper opened #2398 "Support fetching a Fulcio certificate with a managed key"
**Description**

Currently, if you provide a key, this implies that you don't want to use Fulcio. Even if you specify `COSIGN_EXPERIMENTAL`, the presence of the key flag will take priority.

As per https://blog.sigstore.dev/adopting-sigstore-incrementally-1b56a69b8c15, one of the incremental options was to provide a key, but still get a code signing certificate and upload to the transparency log.

[2022-11-02 07:02] suyash691 commented on #1777
I checked in docker hub and that also increments pull count on the repository when cosign verify is done (it just takes a while to update its pull counter)

[2022-11-02 13:14] znewman01 commented on #2354
I'm going to mark this a duplicate of https://github.com/sigstore/cosign/issues/2394

(I know this issue came first but there's already a little more discussion there.)

[2022-11-02 13:14] #2354 closed

[2022-11-02 15:49] toddysm opened #2403 "Misleading extension for a file in the signature and attestation payloads"
**Description**

Pulling the signature artifact and unzipping the layer shows the following files inside

[code]
Trying to unzip the inner tarball gives the following error:
[code]

It seems all the files are some kind of JSON. I have two concerns with this:
- First, why does a JSON file has a `tar.gz` extension? This is misleading and may get flagged as a malicious file?
- What is the purpose of

[2022-11-02 16:10] toddysm opened #2404 "Malformed JSON for attestation verification output"
**Description**

The output from the `cosign verify` command for attestations returns a malformed JSON. Here is the steps to get the output:

[code]
 and here is how the output looks in VS Code:

![image](https://user-images.githubusercontent.com/1007103/199541498-7ef0a7a5-9c9b-490a-9995-bdf8d212563f.png)

It seems there are two JSON objects concatenated with each other and not put in an JSON arra

[2022-11-02 22:14] jeremyrickard commented on #2384
I can try and help improve this.

[2022-11-03 08:52] cpanato commented on #2384
thanks @jeremyrickard let me know where i can help you

[2022-11-03 14:12] dlorenc commented on #2403
IIUC this is because the Docker on-disk format for images (used by crane pull) and the registry formats are not actually the same. The docker on disk format is really only used for downloading runnable images and then loading them into docker with docker load, so the format doesn't support anything other than layer tarballs. Pulling an OCI artifact that's not a container image into a docker-format

[2022-11-03 14:24] dlorenc commented on #2404
This is actually a JSONL format, or an attestation bundle: https://github.com/in-toto/attestation/blob/main/spec/bundle.md

It's just multiple JSON documents concatenated with newlines. Many tools like jq support it fine!

[2022-11-03 14:38] woodruffw commented on #2056
Circling back: what's the status here? I see https://github.com/sigstore/cosign/pull/2278 adds `--cert-identity`, but doesn't close this issue entirely 🙂

[2022-11-03 14:45] kpk47 commented on #2056
@woodruffw Your timing is impeccable. 😅

[2022-11-03 18:40] gerhard commented on #2298
Great answer @znewman01, all clear now, thank you!

[2022-11-03 18:55] trevrosen commented on #2404
@toddysm are you in the Sigstore Slack? It's a great place to ask questions any time you see behavior that might seem a little odd. We work hard to make it a very welcoming community - hope to see you there! 😄

[2022-11-03 21:04] L1ghtman2k opened #2413 "How should one attach multiple SBOMs of the same type (CycloneDX in my case)to an image?"
**Question**
How should one attach multiple SBOMs of the same type (CycloneDX in my case)to an image?

Context:

I have a multi-stage docker build image. The final stage only contains the compiled binary, on a bare-bones alpine container. I want to attach two SBOM files to the image:
 - The SBOM file of the final image
 - The SBOM file of the file system from which the compiled binary was generate

[2022-11-03 21:09] vaikas commented on #2413
One option would be to use this flag:
[code]

[2022-11-03 22:11] L1ghtman2k commented on #2413
Thank you, that solves it for me!

[2022-11-03 22:11] #2413 closed

[2022-11-03 22:49] toddysm commented on #2404
@dlorenc Thank you for the clarification - I assumed that is what you were going for. Was not clear from the docs what to expect, and the output is a bit stumbling for a user unfamiliar with the tool. Is parsing with jq the expected usage for the output? Would be good to add to the documentation.

[2022-11-03 23:54] toddysm commented on #2404
BTW, @trevrosen, I cannot find out how to join the Sigstore slack. I saw a link somewhere but now I can't find it.

[2022-11-04 11:45] trevrosen commented on #2404
https://join.slack.com/t/sigstore/shared_invite/zt-mhs55zh0-XmY3bcfWn4XEyMqUUutbUQ

[2022-11-04 15:35] asraa opened #2415 "Countersigning support for attestations"
**Description**

Currently, neither blobs or OCIs support countersigning DSSE envelopes, e.g. appending a signature to a known DSSE envelope, or verifying a DSSE envelope with more than one signature.

For verification, verifying DSSE envelopes comes with a (t, n) protocol. As in, the client choose to decide that t of the n signatures should be verified.

It would be nice to start with generating

[2022-11-05 03:03] toddysm commented on #2384
@jeremyrickard If you are going to improve this, I would suggest the following behavior:

- If env variables are present, consider the env variables as priority (i.e. ignore the signed in user)
- If env variables are not present, fallback to signed in user (if present)

I am not sure whether Managed Identity should be considered in this scenario. Is running build agents with MI a common practice?

[2022-11-07 07:14] Footur opened #2416 "Unable to post a key pair into GitLab"
We are using a self-hosted GitLab instance. By generating a key pair we get the following error message:
[code]
Our config is based on [this](https://docs.sigstore.dev/cosign/git_support) documentation. Is there a way to get a more verbose output (we are already using the `-d` flag)?

For reproduction:
[code]

[2022-11-07 07:45] developer-guy commented on #2416
IIRC, the client pkg we used for interacting GitLab instances requires setting protocol schemes such as http or https. Can you please retry by setting the correct scheme for your GitLab instance ?

[2022-11-07 11:48] Footur commented on #2416
@developer-guy Thank you! It's working! 💖

The configuration variables should be documented in the official documentation.

[2022-11-07 11:48] #2416 closed

[2022-11-07 14:10] developer-guy commented on #2416
great, happy to help 🥳

[2022-11-07 14:56] loresuso opened #2417 "OCI Artifacts to store signatures"
**Question**

Hello everybody,

Now that also docker has introduced [support for OCI artifacts](https://www.docker.com/blog/announcing-docker-hub-oci-artifacts-support/), I would like to know if there is an ongoing effort to store signatures as such, using the latest changes deriving from the work done by the [Reference Types Working Group](https://github.com/opencontainers/wg-reference-types/), w

[2022-11-07 15:10] dlorenc commented on #2417
cc @jdolitsky @imjasonh

We should be able to switch to storing signatures as OCI artifacts whenever now that Dockerhub has added support.

We're also planning to switch to the new reference types API and are prototyping it now!

[2022-11-07 18:44] znewman01 commented on #2417
Duplicate of https://github.com/sigstore/cosign/issues/1397

[2022-11-07 18:44] #2417 closed

[2022-11-07 18:52] patflynn opened #2419 "Remove non-GA APIs from experimental sign-blob verification flow"
**Description**

This issue is to ensure we remove the use of `/api/v1/index/retrieve` from cosign [verify-blob flow](https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/verify/verify_blob.go#L235) before we launch this version of the command to stable.

Another option is to get Rekor to commit to supporting the API.

[2022-11-07 19:01] asraa commented on #2419
I think there were some users who were still relying on this flow. I agree, we discussed this at some point during the cosign blob verification outputs. I can put out a quick PR to do that, we should label in release notes HEAVILY.

For e.g. here were users failing when that endpoint broke: https://github.com/sigstore/cosign/issues/1406

[2022-11-07 20:13] #2382 closed

[2022-11-07 20:25] haydentherapper commented on #2419
We can remove it for 2.0. But it would be worth understanding what the customer workflows are and if we can support those in other ways

[2022-11-07 20:41] znewman01 commented on #2416
@Footur: Where did you see the `GITLAB_HOST` variable documented?

FYI our env vars should be documented with `cosign env`:

[code]

Could be better (examples!) but it does tell you about the URL.

I agree that the GitLab docs should also mention this 😄

[2022-11-07 20:56] SaiJyothiGudibandi opened #2421 "Feature request: sign and verify the (custom metadata file)blobs and use them as attestation files"
**Feature Request**

**Description**
Trying to achieve supply chain using GitHub/Jenkins pipeline using cosign and rekor.
1. In Each and every stage of the pipeline, sign the (auto/)generated (custom)metadata file.
2. Attest the signed metadata data files as a bundle of predicate files after publishing artifacts.
3. At the time of verify-attestation, cosign should be mature enough to verify all th

[2022-11-07 22:29] znewman01 commented on #2210
Ping, would like to make sure we don't cross paths here.

[2022-11-07 22:30] kpk47 commented on #2210
No, I haven't.

Sorry for the delayed response. I missed the email notification.

[2022-11-07 22:34] znewman01 commented on #2210
No worries!  @Namanl2001 has expressed interest so I'd like to offer them the opportunity to work on it.

@kpk47 : If it becomes urgent or rises to the top of your TODO list, comment here and we can coordinate.

@Namanl2001 : Are you still able to do this? If so, do you need any help from us?

[2022-11-08 08:18] Footur commented on #2416
@znewman01 I've used the latest container image, but the env command was not available. I recommend that these variables are also included in [this](https://docs.sigstore.dev/cosign/) documentation.

[2022-11-08 15:04] joshuabezaleel commented on #2002
Hi @Dentrax @znewman01 ! I've just recently gotten interested in the supply chain security and Chainguard with its set of tools is definitely something I came to really appreciate for what you folks contribute to the community, thank you!  I've just scoured on the Chainguard Academy and looking to find my way to contribute to Chainguard's repos which I think would be good to start with either sigs

[2022-11-08 15:52] znewman01 commented on #2002
Give me a few minutes to give you a detailed answer but just want to point out that, while Chainguard is proud to contribute to Sigstore and Cosign, the projects have been successful because of contributors from a huge number of companies and the support of the OpenSSF :)

[2022-11-08 16:18] joshuabezaleel commented on #2002
Oh no that was definitely my fault I think I got it swapped in my mind since my first entry point was from the chainguard academy and I recognized some of the folks earlier, but what I was intended to mean was the Sigstore project in general not only Chainguard specifically. I am so ashamed of that earlier comment of mine and I am so sorry for that ... I did not mean to disregard the other compani

[2022-11-08 17:20] znewman01 commented on #2002
Not a big deal! We're just glad that you're excited about the project :)

Yes, definitely! There's a ["good first issue"](https://github.com/sigstore/cosign/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) label that has a bunch of good candidates for new contributors to work on.

I think so! I've just added the "good first issue" label.

[2022-11-08 17:34] znewman01 commented on #2416
See https://github.com/sigstore/docs/issues/27 to track docs

[2022-11-08 19:38] asraa commented on #2419
GoReleaser updated docs to pass in the signing cert, at least that is done.

[2022-11-08 22:01] znewman01 commented on #116
I feel like this is covered between https://github.com/sigstore/cosign/pull/2387 and https://github.com/sigstore/cosign/issues/2376 🤷

[2022-11-08 22:03] priyawadhwa commented on #116
sgtm, will close!

[2022-11-08 22:03] #116 closed

[2022-11-09 00:20] #2419 closed

[2022-11-09 11:12] quadrinho opened #2428 "Cosigned Helm Chart - tls: no certificates configured"
**Description**

App Version 1.8.0
Chart Version 0.1.23

I have tried to deploy the last version of the cosigned chart but in the webhook and policy-webhook i received this errors:

**{"level":"warn","ts":"2022-11-09T11:00:37.588Z","logger":"clusterimagepolicy","caller":"webhook/webhook.go:154","msg":"server key missing"}
2022/11/09 11:00:37 http: TLS handshake error from 10.199.120.107:43092: tls

[2022-11-09 11:15] hectorj2f commented on #2428
@quadrinho Please, could you open this issue in https://github.com/sigstore/policy-controller ? I'd be glad to help you there.

[2022-11-09 13:00] #2428 closed

[2022-11-09 16:15] johanngyger opened #2432 "Multiple concurrent invocations of the attest command can result in lost attestations"
Running `cosign attest <image>` (almost) concurrently can have the side effect that attestations written to the container registry previously are overridden by later invocations:

1. `cosign attest` no 1 reads existing attestations
2. `cosign attest` no 2 reads existing attestations
3. `cosign attest` no 1 writes attestations with new attestation1
4. `cosign attest` no 2 writes attestations with n

[2022-11-09 17:34] znewman01 commented on #2432
This proposed change to the OCI distribution spec would help: https://github.com/opencontainers/distribution-spec/issues/250

We *could* hack around this with some terrible locking implemented over OCI. @imjasonh @jdolitsky any precedent for that in OCI?

[2022-11-09 18:06] quadrinho opened #2433 "Cosigned - Webhook are not trigger even if the namespace is correctly labeled"
**Version**
App Version 1.8.0
Chart Version 0.1.23

**Description**

I have tried to deploy the last version of the cosigned chart and the pod are up&running but i see in the logs:

[code]

I also tried to create a namespace and label it and install it the nginx chart:

[code]

The chart is installed and the webhooks are not triggered.

Below the values.yaml used to install cosigned chart:

[code]

[2022-11-09 18:14] imjasonh commented on #2432
That OCI spec change was proposed more or less to solve exactly this issue, for cosign specifically. The same can happen if two process are `cosign sign`ing the same image.

I think we might be close to having OCI specify the recommendation of using ETags for this, but it won't necessarily be enforced by all registries. The concern in OCI has been that some legacy registries use backing storage th

[2022-11-09 18:36] hectorj2f commented on #2433
@quadrinho Please, could you move this issue to sigstore/policy-controller ? As detailed in the Chart, that repository is more appropriated to report any issues with this helm chart https://github.com/sigstore/helm-charts/blob/main/charts/policy-controller/Chart.yaml#L6.

[2022-11-09 18:43] quadrinho commented on #2433
Hello @hectorj2f ,

I have opened this one:

https://github.com/sigstore/policy-controller/issues/369

Can you help me on that issue?

[2022-11-09 19:32] #2433 closed

[2022-11-10 10:35] tetsuo-cpp opened #2434 "Add conformance testing"
**Description**

Hey Cosign folks! Recently, @woodruffw and I have been working on a conformance testing suite for Sigstore clients. At the moment, it just does a basic sign/verify test along the happy path, but we'll be focusing on building out coverage in the coming weeks. The test suite is exposed via a GitHub Action which can be found [here](https://github.com/trailofbits/sigstore-conformance)

[2022-11-10 10:51] Dentrax commented on #2002
Thank you, @joshuabezaleel, for your kind words! Welcome to the community. This would be a good starting point to get into it. We are ready to help!

---

I agree with Zack. Maybe just `--only` would better since _copy_ keyword seems as a duplicate in the first place: `cosign copy --copy-only` -> `cosign copy --only`.

We should deprecate the `--sig-only` flag. To respect backward compatibility, m

[2022-11-10 19:49] znewman01 commented on #2434
Hey @tetsuo-cpp !

This is great—but I'd actually prefer to do the testing at a slightly lower level.

For instance, in https://github.com/sigstore/protobuf-specs/pull/5 there's an `Input` protobuf message, which would capture the input to a `Verify()` function. (We could do the same thing for signing.) Clients don't necessarily need to make this the primary interface to their `Verify()` functions

[2022-11-10 22:53] JustinJNEAL opened #2442 "Unable to build with `make cosign-pivkey-pkcs11key`"
**Description**

When building with `make cosign-pivkey-pkcs11key` I get the following error:

[code]

I tried navigating to this url directly, but I get a 404. When navigating to this location from the open-policy-agent repo manually, this url gets redirected to https://github.com/open-policy-agent/opa/tree/main/capabilities

**Version**

Current main branch as well as cosign version v1.13

[2022-11-11 03:08] szemmour-rh commented on #2390
using the image version 1.13.1  fixes  the issue for me

[2022-11-11 06:14] Namanl2001 commented on #2210
My understanding of this issue: currently for keyless signing, `cosign verify` does the insecure verification and adding `--certificate-oidc-issuer --certificate-email` makes it secure but we also want to have the current functionality of the `cosign verify` ie: verify that the artifact was signed, but not who signed it. And for this purpose we want to introduce a new command `cosign inspect` (ple

[2022-11-11 08:17] hectorj2f commented on #820
Closing this issue! Yes, we have to worry about ephemeral containers. We also added support for those in the sigstore/policy-controller.

[2022-11-11 08:17] #820 closed

[2022-11-11 09:28] cpanato commented on #2442
i just tried using the latest main and was able to build

[code]

using go1.19.3

[2022-11-11 10:24] houdini91 opened #2443 "InToto statement subject validation condition"
**Description**
Hi,
I wanted to query about the validation flow of InToto statements.
Today it seems if you have more than one sha256 subject they must all match the image repoDigest,

**Suggestion**
I was thinking maybe it better to return valid if at least one of the hashs match? (for example i may want to add more than one repo digest or other image identifiers such as the image ID).
Does that

[2022-11-11 13:29] Namanl2001 commented on #2047
I would like to do this for `cosign generate` :)

Any plans for this?

[2022-11-11 17:26] znewman01 commented on #2047
Excellent, go for it!

FYI you can just make the breaking change if you do it before the Cosign 2.0 release, no need to bother with a deprecation period. Let us know if you'd like any guidance.

Long-term, yes. But I think this is blocked on a few other things:

- [Versioning plan for the Cosign library API](https://github.com/sigstore/cosign/discussions/2365) that will allow big refactors like th

[2022-11-11 17:28] znewman01 commented on #2210
Yup, that's right :)

Precisely. Inspect isn't going to *check* anything, it's just going to *report* what's there.

[2022-11-11 18:39] znewman01 commented on #2434
Appreciate the additional context; I understand much better what you're trying to achieve here. I think overall our goals are aligned and I'm optimistic that we can come up with a plan we're both happy with (and again, I'm still open to merging the CLI tests as-written and even keeping them long-term, I just want to make sure that's part of a coherent conformance testing strategy).

Precisely. IMO

[2022-11-12 07:48] TBBle commented on #913
DockerHub has now [gained support for OCI Artifacts](https://www.docker.com/blog/announcing-docker-hub-oci-artifacts-support/), so that's one fewer roadblocks for the changes @imjasonh described above.

[2022-11-12 12:19] dlorenc commented on #913
Yes! We should make the migration.

[2022-11-12 13:05] znewman01 commented on #913
Duplicate of https://github.com/sigstore/cosign/issues/1397 which has more activity recently

[2022-11-12 13:05] #913 closed

[2022-11-13 17:14] haydentherapper commented on #2210
I think it might be useful to have a design doc before coding for this feature, so we can discuss formatting and what is to be reported by inspect

[2022-11-14 13:54] znewman01 commented on #2056
Can you give context? This is basically always the wrong thing to check, and my gut reaction is that we should be correcting that behavior rather than indulging it.

If you truly don't care whether you're getting any security guarantees from a signature, something like a `cosign inspect` command (https://github.com/sigstore/cosign/issues/2210) will show you *who* signed something.

[2022-11-14 15:41] znewman01 commented on #677
I view key compromise as largely *external* to the Sigstore project. Sigstore aims to provide a secure mapping from signatures to identities ("artifact X was signed by user@example.com at time T"). Revocation seems to be more about *whether* (and when) you should trust a particular key/identity.

*Any* use of Sigstore needs to answer questions of that form ("whom should I trust?") for itself. The

[2022-11-14 15:57] JustinJNEAL commented on #2442
@znewman01
OS: Ubuntu 20.04.5 LTS
Go Version: go1.13.8

I see my go version is a little bit older than what @cpanato is using. This could be my issue, but I'm not sure since the error mentions it couldn't find any go files

[2022-11-14 15:59] znewman01 commented on #2442
IIRC Cosign depends on Go 1.18+. Go has changed the way it fetches dependencies pretty dramatically since 1.13 so I bet that's what the issue is. Can you go ahead and try with 1.18?

[2022-11-14 17:34] woodruffw commented on #2056
Strong +1 to what @znewman01 said -- absent a trusted identity, an arbitrary sigstore signature is equivalent to an integrity check against an untrusted hash.

*If* this is something that `cosign` (and `sigstore-python`) intentionally support, my recommendation is that we shove it behind a "scary" flag/environment variable, something like:

[code]

[2022-11-14 17:38] haydentherapper commented on #2056
+1, not checking identity is equivalent to being handed a verification key alongside the signature without checking the verification key belongs to an entity you trust. I think it's fine for the API to be flexible, but I would prefer the CLI not be. Please let us know if there's a use-case we're missing.

[2022-11-14 19:06] cpanato commented on #2442
Yep, to build you will need at least go1.18 but I would recommend to use 1.19

[2022-11-14 20:35] JustinJNEAL commented on #2442
That was my issue. Thank you @znewman01 and @cpanato!

[2022-11-14 20:35] #2442 closed

[2022-11-15 15:27] di commented on #2434
I think there's a benefit to both testing the specs and testing the application as a black box (via CLI). Can we agree that it's worthwhile to do both?

[2022-11-15 17:10] bobcallaway commented on #2434
FWIW, I agree with @di - I think it is definitely worthwhile to do both.

[2022-11-15 19:26] haydentherapper commented on #2068
Older version, closing ticket

[2022-11-15 19:26] #2068 closed

[2022-11-16 00:41] kpk47 opened #2462 "verify* subcommands should share signature verification flag parsing"
**Description**

There's a lot of duplicated and almost-duplicated code in the verify, verify-blob, verify-attestation, and verify-blob-attestation subcommands. I wrote a short doc suggesting how to refactor them and would like feedback: https://docs.google.com/document/d/1OBg0OuoIDDv8Sy8bXNU9OnZvji82JhgyjYD2ykXhY4o/edit?usp=sharing&resourcekey=0-fg8AokOOQAtyKdpelRSeFA

[2022-11-16 13:37] znewman01 commented on #2462
Overall LGTM!

FWIW the intended outcome of the [sigstore-go](https://github.com/sigstore/sigstore-go) work ([proposal](https://docs.google.com/document/d/1aZfk1TlzcuaO0uz76M9D26-gAvoZLn0oCAKvkbuhcPM/edit)), along with the [protobuf-specs](https://github.com/sigstore/protobuf-specs) repo, is to remove a lot of redundancy. The plan is then that Cosign becomes a relatively thin wrapper.

I think the

[2022-11-16 13:47] Namanl2001 commented on #2210
Drafted: https://docs.google.com/document/d/1V2Sag9aK4Vua8c_toTsJi9S-goIpv43EnicOuBZESBE/edit?usp=sharing

PHAL and share your thoughts.

Noob question 😅 : I'm a bit unclear with the terms `bundles`, `payloads` & `signatures,` and need an explanation. You can also redirect me to some doc where common terminology is already mentioned. Thanks :)

[2022-11-16 14:44] chipzoller commented on #2264
Bump

[2022-11-16 15:40] asraa commented on #2462
Nice! Yeah, maybe we can start with chunking out the smaller verification pieces in sigstore-go? e.g. verifying a cert against the cert related options?

FWIW I started a PR that combines all the verification code here: https://github.com/sigstore/cosign/pull/2461
It's a little hard for me to manage since we're making a bunch of changes at the same time.

Basically, from that PR, the steps are all

[2022-11-16 15:40] asraa commented on #2462
Would definitely love this in sigstore-go to start.

[2022-11-16 23:33] ChaosInTheCRD commented on #2210
Hey @Namanl2001! sorry, it is always tough to find the time to work on open-source but really pressing to do more.

I was particularly interested in this feature and actually had a desire to write it and raise the PR. I also feel pretty comfortable with the terms you listed above, would you be interested in working together on this somewhat? Can't make a lot of promises on how much time I can dedi

[2022-11-16 23:34] ChaosInTheCRD commented on #2210
oh yeah also - I guess the same functionality is going to be added for `inspect-attestation` and `inspect-blob`? the attestation is a big one to me as it always contains stuff that one would want to strip out and 'inspect' more closely 😄

[2022-11-16 23:37] znewman01 commented on #2434
I think if we can articulate what we're trying to get out of the CLI testing and why it differs from the "test vector" style testing, then definitely. If not, I'd rather avoid maintaining two parallel suites of test cases. Perhaps the following delineation of responsibilities?

**CLI testing:** common e2e tests for both clients and infrastructure

* Against prod/staging Sigstore infrastructure. (M

[2022-11-17 00:15] znewman01 commented on #2210
Terminology is a little messy here, and it's all under-documented sadly because things keep changing (very normal in open source!).

@ChaosInTheCRD: yup, that's all right but there's some nuance: we need to distinguish between various "signature"/"bundle" concepts.

Let's ignore OCI images for a second and consider Cosign in the context of keylessly signing files (`cosign sign-blob foo.txt`). You

[2022-11-17 00:19] znewman01 commented on #2210
Doc is off to a good start! I think I'd like to see a little more detail on the following:

- A subsection for each command: `inspect`, `inspect-blob`, `inspect-attesation`, `inspect-blob-attestation` (as @ChaosInTheCRD points out)
   - What flags do they have? (And note what's missing, as compared with their `verify-*` counterparts)
   - What will the output look like? Presumably the format is [J

[2022-11-17 00:25] znewman01 commented on #2210
Oh, I want to echo @ChaosInTheCRD here too:

[2022-11-17 15:49] asraa opened #2466 "Cases for verification for cosign 2.0"
**Description**

@znewman01 @haydentherapper these are coming up in my refactor, and I want to enumerate them and we can close this out when we know we have testing coverage for these cases.

@priyawadhwa @hectorj2f

We currently have the following options available to users:
* Offline
* TSA bundle
* (Rekor) bundle
* Key
* Cert
* RekorClient
* TSAClient
* SkipTlogVerify

I was hoping it'd be clear

[2022-11-17 18:22] haydentherapper commented on #2466
Edit: I guess if you have to pass in the cert chain for which TSA you trust, this is sufficient for saying which TSAs you trust (same with if the tsa chain comes from TUF).

[2022-11-17 18:26] asraa commented on #2466
I would actually set it to false... and people opt in to offline.

Good question. Yes: as in, there's no bundle. I'll word that better in the original issue. If it was present and it fails verification we exit.

I think so, updated.

[2022-11-17 18:31] haydentherapper commented on #2466
That makes sense. So if the bundle is present and passes, we don't check online still (unless we add a flag to force online?)

I think we need to be clear on the behavior of the RequireTlogVerify flag then. So if you have a bundle, and it fails, then you'll exit, which is reasonable. What about if you a) have no bundle, b) don't set offline, c) set RequireTlogVerify=false? Per the proposed logic,

[2022-11-17 18:33] asraa commented on #2466
Check the updated logic! In the new flow it would not.

[2022-11-17 18:44] haydentherapper commented on #2466
Updated flow LGTM! Couple more questions:

a. [offline] If a TSA bundle is present, verify it. If fails, exit. If succeeds, extract tsaVerificationTime. (Not that I did NOT say if TSAClient was set @hectorj2f -- the TSAClient is NOT used in VerifyTSABundle` anyway)

What if someone removes the timestamp from the OCI annotation? For Rekor, it would fall back to online. There's no fallback here (i g

[2022-11-18 10:00] ChaosInTheCRD commented on #2210
Is there somewhere you could point me to so I can see this format? Thanks

[2022-11-18 12:55] Namanl2001 commented on #2210
Thanks, @ChaosInTheCRD & @znewman01, for the detailed explanation; although I'm not able to digest everything, I believe I'll learn along the way 💪

Yes, @ChaosInTheCRD, that would be awesome.

[2022-11-18 13:25] znewman01 opened #2471 "Generated PEM labels should say "SIGSTORE" rather than "COSIGN""
[code]

This means that any Sigstore client implementation must:

1. Accept the "COSIGN PRIVATE KEY" format, or else they won't be able to use Cosign keys
2. Generate keys with "COSIGN PRIVATE KEY", or else Cosign won't be able to understand those keys. This is a little weird if the client has nothing to do with cosign.

I'd prefer "BEGIN ENCRYPTED SIGSTORE PRIVATE KEY" if this is going to be a sh

[2022-11-18 14:24] znewman01 opened #2472 ""Chain" for verification is confusingly named"
See helpful context: https://github.com/sigstore/cosign/pull/2461#discussion_r1024644134_

The `verify-*` commands have this argument:

[code]

[2022-11-18 15:57] znewman01 commented on #2466
I think these are all fine as incremental improvements. If I'm allowed to dream big:

--------------------------------------------------------------------------------

My overall philosophy here is to *have flags to specify really clearly* what's going on, and then *set sensible defaults* so most people don't have to think about them. I think "boolean" is the wrong type for many of these flags, wh

[2022-11-18 16:06] asraa commented on #2466
AMAZING.

I like the idea of specifying with an enum over a boolean for the fallbacks/etc

As an incremental improvement, maybe we can at least adopt that for the rekor verification side for 2.0?

Likewise for the identity flags, this is something we can do with our existing logic already.

[2022-11-18 17:04] haydentherapper commented on #2471
Do we need a Sigstore specific label? Can we just require that clients understand a few different encodings?

[2022-11-18 23:21] znewman01 commented on #2471
I would prefer not to have our own PEM labels at all. Conditional on having PEM labels, I want them to be "SIGSTORE" instead of "COSIGN".

I assume there's a ~good~ reason for having our own label; the history isn't well documented.

[2022-11-18 23:24] haydentherapper commented on #2471
If I were to guess, it was maybe a way to enforce that the private key is password protected. Though there's already PEM headers for that, so maybe that would be sufficient? @dlorenc or @priyawadhwa do you recall why we chose our own PEM labels?

[2022-11-18 23:47] priyawadhwa commented on #2471
No specific reason that I know of!

[2022-11-20 02:14] #707 closed

[2022-11-21 02:20] Xynnn007 commented on #2471
Hi, FYI, surely there is already PEM headers for private keys like `PRIVATE KEY` or something else, but the private keys used in `cosign` and `sigstore` are encrypted in a special scheme. As defined in [TUF](https://github.com/sigstore/sigstore/blob/main/pkg/cryptoutils/privatekey.go#L29), the scheme involves `xsalsa20poly1305` as AEAD and `scrypt` as KDF.

cc @dekkagaijin

[2022-11-21 13:24] tetsuo-cpp commented on #2434
I won't speak for @di and @woodruffw but the way I see it, the CLI test suite is a broader, coarse-grained view of conformance that covers client behaviour as a whole including side effects, rather than testing specifically whether it passes/fails for given input bundles. So it can answer questions like:

- What files get created by the client in what situations?
- Does the client fail to sign whe

[2022-11-21 16:27] znewman01 commented on #2434
Great, that all makes perfect sense to me. Given that, I'm pro-CLI conformance testing and happy to help wherever I can. (I'd love some of the above points to make their way into the README.)

Sorry for being a bit of a drag here, I just want to understand *why* we're doing these tests before I commit to maintaining them indefinitely.

--------------------------------------------------------------

[2022-11-21 23:53] chaospuppy opened #2476 "Custom Annotation Support for Attestations"
**Description**

Currently, when using `cosign download attestation`, every attestation attached to the artifact is returned, which forces additional parsing to take place client-side using tools like `jq` to decode and filter out only the desired attestation (based on `predicateType`, for example).  Adding support for annotations on artifact layers would achieve two things:
1. It would make retri

[2022-11-22 07:29] kameshsampath opened #2477 "[Question] Error while using cosign lib"
**Question**
I am trying to use cosign lib as part of my code to sign https://github.com/kameshsampath/drone-cosign-plugin/blob/874813bcb93a122ebfce444f8184ddf1d0337ece/plugin/plugin_test.go#L91-L92, when I try to run my test case to see if mechanics work I see the following error,

[code]
I am not sure why there is a mismatch of the dependency lib and whats causing it.

While I am debugging it th

[2022-11-22 09:32] kameshsampath commented on #2477
Here is my analysis and the fix that I did to over come the issue,

I have dependency to `github.com/ko-build/ko v0.12.0` that brings the dependency `k8s.io/apimachinery v0.25.4` (https://github.com/ko-build/ko/blob/main/go.mod#L22), that brings an indirect dependency of `k8s.io/kube-openapi  v0.0.0-20220803162953-67bda5d908f1` that was using  `github.com/google/gnostic/openapiv2` instead of `gith

[2022-11-22 11:49] joshuabezaleel commented on #2002
Hi @Dentrax , thank you for the kind words and really warm welcome! Sorry for the really late reply.

There are 2 things that I want to verify first:
1. Flag argument is not mutually exclusive since it accepts an array meaning that there could be 2 copy inputs at a particular command execution, right?
For example, `cosign copy --only=sbom,sign` means that it will copy both the sbom AND the signatu

[2022-11-22 14:22] imjasonh commented on #2477
This should be resolved by bumping cosign's k8s.io dependencies to 0.25.4.

There's work underway to redesign cosign's and sigstore's Go APIs so they're a bit less crufty than relying on `sign.SignCmd`, which should also have the result of dropping the K8s dependencies and solve this Once And For All™️.

[2022-11-22 14:30] znewman01 commented on #2476
@asraa WDYT?

[2022-11-22 14:30] joshuabezaleel commented on #2002
Got it, will update soon if there's any blocker that I encounter. Thank you for the really helpful reply, @znewman01 ! 🙂

[2022-11-22 17:57] znewman01 commented on #2396
I'm going to close this for now. Feel free to comment/reopen if this is causing issues.

[2022-11-22 17:57] #2396 closed

[2022-11-22 18:34] znewman01 commented on #2320
Would it be possible to fold this into https://github.com/sigstore/cosign/issues/2466 ? IIUC the proposals there capture it

(The gossip stuff isn't tracked there though, but I think that should be a separate issue anyway.)

[2022-11-22 18:41] znewman01 commented on #2222
@asraa : To what extend did https://github.com/sigstore/cosign/pull/2461 address this?

[2022-11-22 18:50] znewman01 commented on #2403
I think I'm going to close this one out, because there's nothing really to be done here—this is just an artifact of the (ab)use of an OCI registry for storing non-OCI-image data, and it shouldn't impact users of Cosign directly.

If you'd like more details on what's happening here, check out the [signature spec](https://github.com/sigstore/cosign/blob/8f665771dc246b17413fef13bb32873cf3e0229b/specs

[2022-11-22 18:50] #2403 closed

[2022-11-22 19:00] znewman01 commented on #2329
Sorry we're just now getting to this!  Why are you trying to run Cosign inside of Docker? We'd typically recommend that you install it on your local machine: https://docs.sigstore.dev/cosign/installation/

Which Dockerfile are you referring to? There's no Dockerfile in the Cosign repository, or in the root for https://github.com/goharbor/harbor

----------------------------------------------------

[2022-11-22 19:04] znewman01 commented on #2421
Can you describe what support you'd need from Cosign for this? I believe this is all possible using Cosign as-is.

It  sounds like you'd be interested in the integration with [in-toto](https://in-toto.io/). There aren't good docs for that at the moment; we should write some.

[2022-11-22 19:32] znewman01 commented on #2049
Going through some old issues here. I still think that this issue contains good ideas, but I'm skeptical that Cosign is the right place to implement them. in-toto might make more sense. CC @adityasaky @SantiagoTorres

[2022-11-22 19:37] SantiagoTorres commented on #2049
I think there are things to be said around using in-toto + cosign to sign for a rebuild result. We are already able to attest to anything w/ cosign, so I wonder what else is there to do. Let me take a better look at the ctx and think of a path fw.

[2022-11-22 19:47] znewman01 commented on #1777
I think there's nothing to be done on the Cosign end here. Maybe add an FAQ?

If GHCR had an option to annotate a signature object with "don't count pulls against download metrics" we could use it but I don't think realistically we're going to go through the trouble to get that added to OCI.

[2022-11-22 19:55] znewman01 commented on #1771
If I had to guess, this is probably fixed in 1.7+. Can you reproduce?

(Sorry for the long delay)

[2022-11-22 19:59] znewman01 commented on #1384
I believe this is fixed by https://github.com/sigstore/cosign/pull/2459

[2022-11-22 19:59] #1384 closed

[2022-11-22 19:59] znewman01 commented on #1895
This will be obsoleted by https://github.com/sigstore/cosign/issues/1397 IIUC

[2022-11-22 19:59] #1895 closed

[2022-11-22 20:09] adityasaky commented on #2049
It makes sense to me to record results of every build using in-toto (we already do this in rebuilderd) and each builder (whether GitHub actions or the developer) can use OIDC identities to sign the metadata (https://github.com/in-toto/ITE/blob/master/ITE/7/README.adoc makes this possible in in-toto). So for the proposed workflow, we'd either use in-toto + Fulcio ITE-7 bits to sign the metadata or

[2022-11-22 20:11] znewman01 commented on #1013
Fixed by #2313

[2022-11-22 20:11] #1013 closed

[2022-11-22 20:15] znewman01 commented on #9
Duplicate of https://github.com/sigstore/cosign/issues/2432

[2022-11-22 20:15] #9 closed

[2022-11-22 20:16] znewman01 commented on #1390
This is tracked here:
 https://github.com/sigstore/cosign/issues/2131

Leaving the issue open to make sure our error message is better here.

[2022-11-22 20:17] znewman01 commented on #2131
As an update: there is a draft of the signature file format in this repo: https://github.com/sigstore/protobuf-specs

We are experimenting with it in various Sigstore clients.

[2022-11-22 20:20] znewman01 commented on #1156
I believe this is obsolete after https://github.com/sigstore/cosign/issues/1384

[2022-11-22 20:20] #1156 closed

[2022-11-22 20:22] znewman01 commented on #678
I believe this is fixed by https://github.com/sigstore/.allstar

Right @cpanato ?

[2022-11-22 20:24] znewman01 commented on #74
+1, it's usually unambiguous from the context (e.g. `cosign sign --key` wants the signing==private key, `cosign verify --key` wants the verification==public key). Plus it'll fail if you give it the wrong one.

Closing as WONTFIX

[2022-11-22 20:24] #74 closed

[2022-11-22 20:24] znewman01 commented on #74
Also we have migrated to Cobra in the meantime.

[2022-11-22 20:27] znewman01 commented on #940
I'm going to close this out unless Make is causing problems; it seems to be working fine (if it ain't broke, don't fix it)

[2022-11-22 20:27] #940 closed

[2022-11-22 20:28] znewman01 commented on #1155
Hey Hayden can you update status here? I think there's been a bunch of work

[2022-11-22 20:31] znewman01 commented on #1373
This should be fixed via a combination of:

- https://github.com/sigstore/cosign/issues/2320
- https://github.com/sigstore/cosign/issues/2466
- https://github.com/sigstore/cosign/issues/2255

[2022-11-22 20:33] znewman01 commented on #1356
Dupe of https://github.com/sigstore/cosign/issues/1373

[2022-11-22 20:35] znewman01 commented on #2267
When we do this, we need to make sure that the *verify* commands can also use the attached certificate!

[2022-11-23 12:31] tetsuo-cpp commented on #2434
Absolutely. I'll follow up with a PR to sigstore-conformance's README to capture what we discussed here.

Coming back to adding the action to Cosign CLI, I need to write a wrapper for Cosign. I'm thinking this should be a simple one-file Go program similar to [this wrapper](https://github.com/sigstore/sigstore-python/blob/main/test/integration/sigstore-python-conformance).

Not at all! That totall

[2022-11-23 14:40] hectorj2f commented on #2267
@znewman01 What do we want to verify for the certificate ? Should we expect any precedence over other verifications ?

[2022-11-23 15:02] znewman01 commented on #2267
The overall workflow for external signing using a CA *before* the feature requested in this issue.

1. There's a root cert *R*.
2. Get a child cert *C* with keys *pk* and *sk*.
3. Sign the image payload *P* with *sk* to get a signature *S*.
4. `cosign attach` *S* and *P* to the image in the registry.
5. Distribute *R* and *C* out-of-band.

To verify, you run something like `cosign verify --root R

[2022-11-23 15:45] JanZerebecki opened #2478 "document key roation and a way to find a key without being vulnerable to a third party"
Currently the README.md neither suggests how someone can get the key for verification of signatures without being vulnerable to a third party nor will there be a way to rotate the key to ensure one can reduce the risk of the key having been compromised or recover from it.

Is that correct, or did I miss something?

There are two well known ways to solve this: TUF and Web of Trust. And a way that i

[2022-11-23 16:41] znewman01 commented on #2478
I want to echo this sentiment: we don't want users to be doing this themselves. But I think Cosign is the wrong tool for key management. I'll quote myself from https://github.com/sigstore/cosign/issues/677 :

I think everything I said about key compromise or revocation applies similarly to rotation, and in fact I'm somewhat inclined to close this issue as a duplicate and concentrate conversation o

[2022-11-23 16:42] cnwaldron commented on #2126
I'm a bit confused by this statement. I ran into this issue when using `--type spdxjson` and `--type cyclonedx` however reading your message it sounds like the sbom shouldn't be under `predicate.Data` in this case?

Is this behavior documented anywhere?

[2022-11-23 16:50] JanZerebecki commented on #2049
Thank you for your responses.

To improve the source part I started a proof of concept https://gitlab.com/source-security/git-verify .

OIDC doesn't seem to a be good fit for verifying code signatures as typical security requirements are out of scope and https://docs.sigstore.dev/security#fulcio-security-model even deems further ones out of scope. But we should probably discuss this in the Fulcio

[2022-11-23 17:33] znewman01 commented on #2478
I don't think that follows. Plenty of tools allow generating keys but don't prescribe a complete solution for distributing them (`ssh-keygen`, for one).

[2022-11-23 17:44] znewman01 commented on #2049
Very cool! I'll be sure to watch that as it progresses. If you're interested in using Sigstore as a building block and it's missing features, feel free to open issues and we'll try to help out.

In general, I don't think we can capture every use case in the README. IMO it's sufficient to provide Cosign as a primitive and describe how it works.

That said, if you're interested in writing something

[2022-11-23 17:44] #2049 closed

[2022-11-23 19:20] JanZerebecki commented on #2478
It doesn't follow that we should repeat the mistakes others made, just because widely used tools have grave errors in their security design. Other examples of projects where the foot-gun and assembly-needed approach is widely recognized as mistakes: openssl, x509 in https, OpenPGP.

Especially the first example of how to use the project should be one that is secure.

I didn't try, but I think it i

[2022-11-23 22:21] di commented on #2056
FWIW, the latest release of `sigstore-python` now requires `--cert-identity` and `--cert-oidc-issuer` at verification time.

[2022-11-23 22:21] di commented on #1947
FWIW, the latest release of `sigstore-python` now requires `--cert-identity` and `--cert-oidc-issuer` at verification time.

[2022-11-24 09:20] upodroid commented on #2394
@asraa Would it be possible for cosign to be modified to be allowed to attest multiple images with a single predicate?

For knative, I build multiple images with ko but I need to attach a single attestation to all the images that I build.
[code]

Having to attest each image separately is annoying and doesn't look really good.

[code]

[2022-11-24 12:36] znewman01 opened #2480 "Deduplicate one attestation over multiple images"
@asraa Would it be possible for cosign to be modified to allow it to attest multiple images with a single predicate?

For knative, I build multiple images with ko but I need to attach a single attestation to all the images that I build.
[code]

Having to attest each image separately is annoying and doesn't look really good.

[code]

_Originally posted by @upodroid in https://github.com/sigstore/co

[2022-11-24 12:38] znewman01 commented on #2394
@upodroid I filed https://github.com/sigstore/cosign/issues/2480

[2022-11-24 12:56] hectorj2f commented on #2331
Closing this issue! We added support for this feature request.

[2022-11-24 12:56] #2331 closed

[2022-11-24 13:36] upodroid commented on #2480
I have two separate requests.

1. Deduplicate signatures. I'm seeing cases where cosign is sending duplicate signatures to the registry. https://github.com/knative/test-infra/issues/3615

2. Creating a single attestation with multiple subjects (images)