[2021-02-06 16:57] dlorenc opened #1 "Add an examples doc"
This could show:

- [ ] Other signing formats (in-toto, v1.Descriptor, etc.)
- [ ] How to sign/verify with openssl
- [ ] How to sign/verify with a remote KMS
- [ ] How to sign other things: a Tekton Bundle, a Helm Chart
- [ ] Other places to store these signatures (Rekor, Grafeas?)
- [ ] How to fetch and inline these signatures into a k8s object at deployment time.
- [ ] OPA integration?

[2021-02-06 23:55] dlorenc opened #2 "Payload format: Simple Signing vs. OCI Descriptor."
Both are JSON that contain the image reference and have a space for extra annotations.

I think I'd prefer to switch to OCI descriptors, but many tools already use Simple Signing.

[2021-02-07 00:00] dlorenc opened #4 "FR: Add a flag to allow extra annotations in the "Optional" section"

[2021-02-09 23:04] cppforlife opened #8 "minor suggestion on tag name of signature index"
while working on https://github.com/vmware-tanzu/imgpkg i've also noodled on the idea of using tags for searching related artifacts (signatures and few other things) since there is no other mechanisms available in registry APIs. i'm glad yall came to a similar conclusion :)

im curious where yall see this project head to (is it a poc)... my team have recently popped into notary OSS WG to see where

[2021-02-09 23:19] cppforlife opened #9 "tag update race"
are yall aware of any work in opencontainers to support atomic tag swaps (aka fail to update tag if expected previous digest does not match what tag is pointing at right before the update)? it might be too much burden to implement for registry implementors but would be handy for tag updates.

[2021-02-10 00:16] dlorenc commented on #9
I think there's a discussion to something with HTTP etags for this. @jonjohnsonjr knows more!

[2021-02-10 00:17] dlorenc commented on #8
SGTM! What do you think about using a suffix? sha256-dfasfd.cosign ?

[2021-02-10 00:43] jonjohnsonjr commented on #9
Yes, I proposed a solution for this in last week's OCI dev call. It's on my TODO list to put together an actual PR to the spec.

Everyone seemed generally receptive to the idea, so I have high hopes for this getting implemented broadly. I'll ping this issue when I open the PR.

[2021-02-10 15:23] dlorenc commented on #8
And on this question - I don't really have a great answer yet. I need to sign containers and can't really wait for nv2. I'd be happy to use nv2 or something else if handled everything this does. So, I'd like to continue to support this until/if something larger/more standardized gets adopted.

I don't want to increase the size/scope of this project _too much_, but if there are small things that wi

[2021-02-10 16:18] jonjohnsonjr commented on #8
We've discussed a couple other approaches that might help avoid collisions, e.g. having a separate child or sibling repository that contains only signatures, or stacking all signatures onto a single tagged artifact:

![image](https://user-images.githubusercontent.com/17863526/107537982-57e7f900-6b78-11eb-909d-0e89c19a136c.png)

Of course, both of these approaches make things slightly more complica

[2021-02-11 01:50] dlorenc commented on #8
I'm so excited for our glorious future of registry polyfills.

[2021-02-11 20:00] cppforlife commented on #8
suffix also works. just wanted a good scheme for using sha256-xxx pattern collectively.

[2021-02-15 00:38] dlorenc commented on #8
OK, added the ".cosign" suffix!

[2021-02-15 00:38] #8 closed

[2021-02-16 03:27] dlorenc opened #25 "Easy support for GitHub actions"
Credentials are passed in as environment variables. That would require writing to disk first (which we would like to avoid anyway). Cosign could take in a predefined env var for private keys for these environments.

[code]

[2021-02-28 02:15] dlorenc opened #34 "TLOG Support"
Let's add an experimental TLOG mode to the tool. This will look like:
[code]

and
[code]

The tlog server will default to `api.rekor.dev`, and can be overridden with the `REKOR_SERVER` env variable.

`TLOG=1 cosign sign` will publish the signature, public key and payload to the Rekor tlog.
`TLOG=1 cosign verify` will verify the signature, public key and payload are in the tlog, as well as verifyin

[2021-03-01 17:34] dlorenc opened #38 "Idea: kubectl plugin to embed signatures in objects"
This could work something like:

[code]

This way deployment time policy enforcement (OPA, etc.) could look directly at the yaml rather than needing to interact with an external service.

[2021-03-03 13:10] dlorenc opened #40 "Registry Support"
Our primary goal is broad registry support. Right now we're unsure of where we are:

- GCR (tested, mostly works)
- Google Artifact Registry (works)
- Quay - works in latest version, not in hosted service yet
- Dockerhub?
- Azure Container Registry?
- Amazon Container Registry?
- Others?

We have some options we can try to increase support, but they're kind of ugly. I'd first like to understand ho

[2021-03-03 19:32] #4 closed

[2021-03-03 20:33] jonjohnsonjr commented on #40
https://github.com/google/go-containerregistry/pull/954

[2021-03-04 01:28] dlorenc opened #45 "Some kind of remote KMS support"
GCP KMS doesn't support ed25519.
So we can store the ed25519 private-key as a GCP Secret, descrypt it - sign - destroy.

The command would be something like:
    `cosign generate-key-pair -kms gcp://project/secrets/region...`

Then allow key `-key` to reference the kms secret by URI as well.

`cosign sign -key gcp://fkdafd gcr.io/dlorenc-vmtest2/demo`

It will use GCP auth helpers.

We can support

[2021-03-04 14:13] dlorenc opened #46 "Switch from ed25519 to ecdsa?"
We would use sha256 or 512, and P-384.

Basically until ed25519 gets into FIPS, most KMS systems and CAs aren't going to support ed25519 curves.

The keys are larger, but still smaller than RSA keys. For a sample:
[code]

vs.
-----BEGIN PUBLIC KEY-----
MCowBQYDK2VwAyEAhJNkGxncSZ3R2ijORaJ9m1BHxzx5nJ2Q/GTLNfYt9UM=
-----END PUBLIC KEY-----

It's still manageable to squeeze one of these onto one line

[2021-03-04 14:14] dlorenc commented on #46
ed25519 might be coming soon: https://csrc.nist.gov/publications/detail/fips/186/5/draft

[2021-03-04 15:56] dlorenc commented on #45
Or this might get easier with #46

`cosign generate-key-pair -kms gcpkms://location/keyring/<name>`
This creates the key and fetches the public one

`cosign sign -key gcpkms://location/keyring/name` this has the KMS do the payload signing.

[2021-03-05 00:21] #34 closed

[2021-03-05 03:19] dlorenc opened #49 "Extra check if the TLOG=1 and the image is not public"
We can be extra safe by checking if the image is public before uploading to the tlog.

For public, we can see if we can pull the manifest with no creds.

Print a warning w/ confirmation if the image is private.
Have a -q flag for non-interactive scenarios

[2021-03-06 00:02] dlorenc commented on #49
Ref #50

[2021-03-06 00:02] #49 closed

[2021-03-06 15:58] #46 closed

[2021-03-09 15:17] dlorenc commented on #40
I just tested on DockerHub and things appear to work.

[2021-03-09 20:59] priyawadhwa opened #60 "Consider verifying local images if they exist"
Right now `cosign verify` verifies that the remote image passed in is valid.

Maybe users would want to verify the local image they just pulled is also what they expected it to be. I'm still not sure if:
- this is a feature anyone would actually use
- if there is a way to delete the digest for an image locally but maintain the image in docker (cosign won't work without the digest)

I'll leave this

[2021-03-09 21:10] jonjohnsonjr commented on #60
I'm -1 on this. There are a half dozen different daemons and another handful of on-disk formats for what a "local image" really means.

It's convenient, but if we add first-class support for docker, we'll eventually want containerd, podman, etc etc. I'd be fine with documenting how to do it and ensuring that cosign is composable and flexible enough that it's always a one-liner, but I let's not pol

[2021-03-09 22:47] dlorenc commented on #40
Azure support here: https://github.com/sigstore/cosign/pull/61

[2021-03-10 22:44] #45 closed

[2021-03-11 00:33] dlorenc opened #67 "Simplify the env var handling"
The TLOG=1 and --force-tlog and the new keyless mode stuff all start to interact with each other in complex ways. I think we should probably consider merging these features and putting them behind a single "COSIGN_EXPERIMENTAL" env var or something.

Then the behavior would be:

Experimental Off: No tlog, no fulcio
Experimental On: tlog and fulcio turned on by default, but warn/prompt/confirm for

[2021-03-11 18:57] ahmetb opened #71 "--key arg accepts both file and value, leads to confusing error"
I was just trying:

[code]

but it turned out there's no `cosign.pub` on my disk, so it performed fallback to parsing `cosign.pub` value  as b64, which led to a confusing error message.

1. This sort of fallback behavior defeats principle of least astonishment.
2. Users can provide values as fds e.g. `--key <(echo "...")` that we can read as files.

So this sort of fallback is unpredictable. Happy

[2021-03-11 19:33] ahmetb opened #72 "ux: required arguments cause "help requested" error"
e.g. this command is trying to tell me `either -key or -kms` is required:
[code]

[2021-03-11 19:36] ahmetb opened #73 "ux: consider adding EXAMPLES section to commands"
Several flags like `-kms` are currently hard to infer how to use without exploring docs or source code.

Having EXAMPLES in each cmd would help with CUJs. Might need to shoehorn into Description, or use `cobra` library to properly do it.

[2021-03-11 19:39] ahmetb opened #74 "ux: distinguish public key vs private key in CLI"
Right now `-key` flag is used in both meanings "public key" and "private key".

It might be wise to distinguish these as `-key` and `-pub` earlier than later. Please vote 👍🏼 👎🏼 .

[code]

[code]

[2021-03-11 19:43] ahmetb opened #76 "test: go test failing locally"
To onboard new maintainers, it would be better if `go test ./...` worked out of the box.

right now it seems it requests some external setup.

also would be good to introduce `-short` support for unit testing only.

<details>
<summary>...</summary>
<pre>
?   	github.com/sigstore/cosign/cmd/cosign	[no test files]
?   	github.com/sigstore/cosign/cmd/cosign/cli	[no test files]
?   	github.com/sigstor

[2021-03-11 20:25] ahmetb opened #78 "ux: using both -key and -kms should error out"
it seems -key and -kms are mutually exclusive but they are not causing an
error in the CLI at the moment.

[2021-03-11 20:30] ahmetb commented on #71
Another reason why fallback is bad here: GCP `kms.NewKeyManagementClient()` method returns an error if it cannot establish network connection to the server. But we return any `err` from `kms.Get` as "this is not a KMS reference".

So even if I provide the right `-key gcpkms://...` reference, due to my network connection, we'll proceed to parse it as as a file, and because it doesn't exist, we'll p

[2021-03-11 20:31] ahmetb commented on #71
I'll add another issue that I observed right now, `-key` argument accepts `gcpkms://` values, but some commands like `sign` or `verify` also have `-kms` argument that indicates KMS should be used.

However, these two are identical right now:

- `cosign verify -key "$KMSREF" [...]`
- `cosign verify -kms "$KMSREF" [...]`

[2021-03-11 20:43] JayBrown opened #79 "Build fails (macOS)"
Cloned the repo, but `go build -o cosign ./cmd` after `cd ~/Developer/GitHub/cosign` failed with `no Go files in ~/Developer/GitHub/cosign/cmd`. Am I doing something wrong?

(macOS 11.2.3)

[2021-03-11 21:42] FalcoSuessgott commented on #74
Hi @ahmetb I would like to provide a PR for this one if u dont mind:)

What do u think about switching to cobra for the cli arg parsing?

[2021-03-11 22:13] ahmetb commented on #79
It seems the build directory has changed, try `./cmd/cosign` as the last argument.

[2021-03-11 22:18] ahmetb commented on #74
I was planning to implement this to get used to the repo, but I’m also noticing a need for using `cobra` more broadly in other issues as well.

[2021-03-11 22:25] FalcoSuessgott commented on #74
Alright I will keep looking then for a chance to contribute

[2021-03-11 23:05] #79 closed

[2021-03-11 23:43] JayBrown commented on #79
Thank you. Works great actually. Can only do `sign-blob` and `verify-blob`, of course, but it does remind me a bit of minisign. 👍 🎉

[2021-03-12 13:47] dlorenc opened #82 "Initial release plans for cosign"
I ***reeallly*** want to try to sign the first release of cosign, with cosign, if we can figure out a way that makes sense.

I think we'll have to do it manually, since we won't have a signed release to use in automation yet though. Thankfully we can skip some of the issues with reproducible builds.

Here's a rough plan:

The trick is that we can use Go to build a reproducible binary.

- Setup git

[2021-03-12 18:08] ahmetb commented on #71
@dlorenc what do you think?

[2021-03-12 19:21] dlorenc commented on #74
+1 to someone doing this one! I don't love cobra but could be convinced to switch as long as we don't also bring in viper.

[2021-03-12 19:22] dlorenc commented on #76
+1!
Or we invert it and do a `-tags=e2e`.

[2021-03-12 19:22] dlorenc commented on #73
+1!

[2021-03-12 19:54] #76 closed

[2021-03-12 20:05] ahmetb commented on #82
Won't this make the repo quite difficult for new contributors trying to clone? Since we wouldn't want to rewrite the history in the future in a project like this, I think this is something to avoid?

[2021-03-12 21:05] mnm678 opened #86 "Cosign/TUF integration"
As mentioned in the README, cosign can be used to store [TUF](https://theupdateframework.io/) metadata on a registry. This TUF metadata can secure the tag to digest relationships on the registry, define trust delegations, and provide compromise resilience in the case of a registry or infrastructure compromise.  It would be nice to get a working prototype of this integration, possibly leveraging ex

[2021-03-13 00:09] jonjohnsonjr commented on #9
As promised @cppforlife https://github.com/opencontainers/distribution-spec/pull/251

[2021-03-13 03:53] dlorenc commented on #82
Sorry! I think that wasn't clear. How about: "publish a binary to <SOMEWHER> after each commit to main"?

Not things back into main :) I mean we should publish CI builds somewhere (GCS, Github artifacts) after each build.

[2021-03-13 03:54] dlorenc commented on #78
+1. Either mutually exclusive flags or one flag that knows how to take both types.

[2021-03-13 03:56] dlorenc commented on #86
This sounds awesome! How can we help?

[2021-03-14 09:31] fubarhouse commented on #40
Would be interested in any support for [Harbor](https://github.com/goharbor/harbor)

[2021-03-14 23:11] dlorenc commented on #40
@fubarhouse is there an easy for me to try it out? It probably will "just work", but I'd need to check to be sure.

[2021-03-15 01:41] #67 closed

[2021-03-15 04:44] fubarhouse commented on #40
@dlorenc I might give it a try later - would be great if it would already be supported. I don't really know of any public registries I could test on...

[2021-03-15 14:09] lukehinds commented on #40
should you do so, please open a separate issue so we can track, cheers

[2021-03-15 14:29] danmx commented on #38
Afaik, `kubectl apply` doesn't support plugins so this could work for pre-enforcement phase, scan and annotate existing workloads.

Creating a [`kustomize` plugin](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/) would help during deployment time.

[2021-03-15 14:30] dlorenc opened #87 "Managing/configuring root certs for fulcio"
Right now this is hardcoded in the PR (#83 ). We should make this configurable.

[2021-03-15 14:59] dlorenc opened #88 "Come up with a good integration testing story for OIDC"
We should have a way to run e2e tests that doesn't require clicking in the browser...

[2021-03-15 16:09] dlorenc opened #91 "idea: tarsign"
Some kind of mode to sign a zipped tarball, and append the signature/cert into it.

- We should "attach" the sig and cert into the tarball somehow
- We can modify it (obviously), but it would be great if we can still find the original digest
- It should be transparent/not-noticeable to users that don't care about the signatures. They shouldn't notice

[2021-03-15 16:09] dlorenc commented on #91
cc @jonjohnsonjr we might be able to copy some ideas from stargz

[2021-03-15 16:10] priyawadhwa commented on #78
Reopening, should be fixed in `verify` as well

[2021-03-15 16:21] chrnorm commented on #88
@dlorenc if it is helpful: I have previously had a good experience using [Playwright](https://github.com/microsoft/playwright) testing against Auth0 OAuth2.0 flows. Playwright handles jumping through multiple domains as part of an OAuth2.0 flow. I imagine a nice way to run e2e would avoid the browser altogether though to avoid flakiness.

Have you considered [ory/hydra](https://github.com/ory/hydr

[2021-03-15 16:22] dlorenc opened #92 "Gem signing"
Gems support a certs/ directory inside the gem, and a gemspec can point to the cert chain to use for verification.

https://github.com/djberg96/net-proto
https://guides.rubygems.org/security/

We could generate a cert, get it into the directory and configure the fulcio chain all at the same time!

[2021-03-15 16:48] dlorenc commented on #88
Oh nice! Thanks for the pointers.

The only other idea I had so far is a "mock" fulcio server that expects a hardcoded identity token and returns a self-signed cert.

Then we could stub out the place where we open the browser to instead push through that flow.

[2021-03-15 17:15] mnm678 commented on #86
I'll play more with storing TUF metadata using cosign this week, but I think the biggest issue there will be the discoverability of the metadata. So one place I could use some help is a mechanism to query cosign objects by some kind of deterministic name (ie 'root' for root metadata).

For the future steps, allowing storage of the TUF metadata in rekor would require support for either arbitrary da

[2021-03-15 18:31] lukehinds commented on #92
Do you think this might be better implemented in the kitchen sink CLI sigstore/sigstore client (unless that is you're jut raising here to track)?

[2021-03-15 19:34] dlorenc commented on #91
From @jonjohnsonjr:

[2021-03-16 12:04] dlorenc commented on #92
Yeah, should probably be somewhere else!

[2021-03-16 13:50] dlorenc opened #94 "FIPS Compliance"
We might need to make sure this is FIPS compliant.

[2021-03-17 12:03] dlorenc opened #96 ""cosign version" command"
We should get this in before the first release (0.1.0)

[2021-03-17 16:26] david-a-wheeler opened #97 "Use two dashes (e.g., "--name") for multi-letter options (e.g., --key not -key)"
I suggest using two dashes to start multi-letter options. E.g., use "--key" not "-key".

Usually an option with more than one letter is preceded by "--". E.g., "--key" not "-key". That way, you can have single-letter options combined into a single argument, and multi-letter options are clearly distinct. Then you can support, e.g., "-k" for a key option name as well as "--key".

[2021-03-17 16:49] imjasonh opened #98 "cosign sign should be able to take multiple keys"
[code]

should be equivalent to

[code]

while making fewer requests to the registry, and failing to publish any signatures if either signing operation fails.

This might also mean that you should be able to `cosign sign --key foo.key --kms ...` (https://github.com/sigstore/cosign/issues/78)

[2021-03-18 21:12] mchmarny commented on #40
Any technical reasons why cosign would not work with JFrog's container registry?

[2021-03-18 21:35] dlorenc commented on #40
Nope! The only registry we've tried that it hasn't worked on so far is Quay. It works on the newest versions, but not the one running in the hosted service so far.

[2021-03-18 21:38] dlorenc commented on #40
BTW, if anyone has access to these repos and can provide test credentials I'd love to get some CI setup...

Feel free to email me privately and we can figure out a way to handle the credentials.

[2021-03-19 00:14] dlorenc commented on #98
Hmmm, the part about avoiding multiple trips to the registry makes sense - but I'm not sure I understand the usecase fully. I understand wanting to sign multiple times, but if the same "caller" has the ability to sign with multiple keys simultaneously, from the same environment, they sort of seem redundant.

Could you add any more detail?

[2021-03-19 01:06] #96 closed

[2021-03-19 01:21] dlorenc opened #106 "Release v0.1.0"
Here's a list of what's left to do:

- [ ] Merge https://github.com/sigstore/cosign/pull/103
- [ ] Release notes!
- [ ] Final smoke testing!
- [ ] Actually tag a release and cut a branch

From there, we'll get an automated Github action build that pushes an Artifact with a signature and a hash.
The signature is created from the private key that is in the repo at this commit.

We'll publish that in

[2021-03-19 09:24] lukehinds commented on #94
I think we are:

![image](https://user-images.githubusercontent.com/7058938/111758884-e8f77180-8894-11eb-9869-8734bc1215b1.png)

https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf

[2021-03-19 12:40] dlorenc opened #108 "Yubikey support!"
We should be able to support storing keys in yubikeys!

https://github.com/go-piv/piv-go
https://github.com/go-piv/go-ykpiv

[2021-03-19 12:49] dlorenc opened #109 "Use the location header from rekor"
When this goes in we can simplify our upload handling:
https://github.com/sigstore/rekor/pull/226/files

[2021-03-19 15:01] ImJasonH commented on #98
Sure. First of all, I don't really feel that strongly about not emitting any signatures if any signing operation fails. I mostly just wanted to be able to pass multiple keys to the CLI, and being able to avoid registry operations seemed nice to have, and I thought I'd be less surprised in general if the cosign invocation either "succeeded" or "failed", and couldn't partially succeed.

If you think

[2021-03-19 15:28] dlorenc commented on #98
Sorry i think i wasn't clear - it's not about whether it would log or continue on failure.

I'm trying to understand why you would want to sign multiple times with multiple keys at the same time.

[2021-03-19 15:30] dlorenc commented on #98
In all of my imaginary contrived workflows, i would sign once in CI with a key that only the CI system has access to, then sign from my machine with a key that only I have access to.

[2021-03-19 16:51] zuBux commented on #40
hey! I just tested JFrog's Artifactory registry with cosign (signing and signature verification) and it works without any issues! Thought you'd like to know :)

[2021-03-19 18:28] ImJasonH commented on #98
One imagined scenario is when you're rotating keys, you might want to sign the image with old.key and new.key at the same time, until you eventually cycle out old.key.

If the UX of having to specify multiple key passphrases makes this unfeasible that's understandable, it's still possible to just call `cosign sign` multiple times in the meantime.

[2021-03-19 20:06] dlorenc commented on #109
cc @dekkagaijin

[2021-03-20 01:16] dlorenc opened #113 "Fix copacetic!"
I bet i signature verify doesn't work right now after we switched to ecdsa.

[2021-03-20 01:17] dlorenc opened #114 "Multi platform makefile"
Arm, osx!

[2021-03-20 01:17] dlorenc opened #115 "Publish containers for tasks and actions!"

[2021-03-20 01:18] dlorenc opened #116 "Move the transparency log feature out of experimental"

[2021-03-20 01:21] dlorenc opened #117 "Kms ux"
Can we make the string shorter?

Default project, location to global, default key in keyring

[2021-03-20 01:22] dlorenc opened #118 "Installation instructions"
Document these!

[2021-03-20 02:07] dlorenc commented on #113
Maybe it does work!:

[code]

[2021-03-20 02:25] dlorenc opened #122 "Add a "COSIGN_REPOSITORY" flag/env var"
This would act as a replacement for the image repository, in case you want to sign/store/verify from an alternate location.

We should use this before we sign distroless. The first round will be:

[code]
Causing:

`gcr.io/distroless/static -> gcr.io/cosign-signatures/static:sha256-3b3507aa7ce16b085215915d6334f140d8f50ef35bbf3251ee52d3102296f60e.cosign`

[2021-03-20 02:26] dlorenc commented on #115
We need a shell for file redirection to work. Should we use ko, based on distroless:debug?

[2021-03-20 02:59] dekkagaijin commented on #117
probably not :/

The rough UX is common, though. Would probably be worthwhile deciding on a common config format for storing these values, e.g. `~/.gcloud/kms/config.json`

[2021-03-20 06:04] lukehinds commented on #86
Could you outline a bit more @mnm678 what would constitute arbitrary data , we might be able to accommodate that with rekor types, but I guess it depends on how arbitrary we are talking?

[2021-03-20 06:07] lukehinds commented on #92
we have this now, so you could close this if you like https://github.com/sigstore/ruby-sigstore

[2021-03-20 11:35] dlorenc commented on #86
Sorry! Missed this reply.

Depending on how much TUF metadata there is, we can store it as a custom object in cosign. Right now we hardcode the "cosign signature object" type in the redhat simple signing object, but don't really do much else to look at that field.

We could make that configurable and queryable pretty easily, if the TUF metadata can fit into the optional section.

[2021-03-20 12:50] naveensrinivasan opened #126 "Reproducible builds"
https://github.com/sigstore/cosign/blob/8c9c02526c785a5acca63ad1957e60d06b6da24e/Makefile#L21

This makes it harder to have reproducible builds, is there a specific reason to have a date in the ldflags? I understand Git SHA.

[2021-03-20 12:50] dlorenc opened #127 "Refactor into using crypto.Signer interface"
We have three key types now:

- Certs
- Fixed keys
- KMS

If we add Yubikey support (#108) we'll be up to 4. It's probably time to refactor these out into crypto.Signers.

[2021-03-20 13:20] dlorenc commented on #126
+1 on taking this out!

[2021-03-20 13:21] dlorenc commented on #108
https://developers.yubico.com/python-fido2/

[2021-03-20 23:52] #106 closed

[2021-03-20 23:54] dlorenc opened #130 "Release v0.2.0"
Some things I'd like to get in:

- [x] #129
- [x] #128
- [x] #126
- [x] #122
- [x] #115
~~- [ ] #88 (adding this one because I keep breaking it)~~ Moving this one to #183

And I'd like to do #115 with the 0.2.0 release (they'll be published as part of it).

Other nice to haves:

All of @ahmetb's UX things:

- [x] #72
- [ ] #73
- [ ] #74
- [x] #78

[2021-03-20 23:54] dlorenc opened #131 "Support for other KMS systems"
AWS, Azure, more!

[2021-03-21 10:51] dlorenc commented on #117
+1 to piggybacking on gcloud or other configs where we can. There's just way too much mandatory typing right now to be acceptable IMO.

[2021-03-21 10:54] #78 closed

[2021-03-21 16:59] #126 closed

[2021-03-21 19:10] mnm678 commented on #86
The metadata should be able to fit into the optional section (I'm working on a PoC for that). It's just json with a specific set of fields (example from the [TUF spec](https://theupdateframework.github.io/specification/latest/#file-formats-root)).

The only caveat is that not every piece of TUF metadata would be directly associated with an image, so the 'image' field in the simple signing object d

[2021-03-21 19:54] dlorenc commented on #86
Makes sense! I'm hoping to switch the simple signing field to something less Docker and image specific. Do you think the OCI Descriptor type would work?

[2021-03-21 20:10] dlorenc commented on #131
Help wanted: anyone who has credentials or billing accounts for these!

[2021-03-22 17:23] asraa opened #140 "Code coverage metric in CI"
Hi!

I was peering around CI (yay at signing CI builds!), and wondering whether a code coverage metric would be useful per push/PR to detect coverage regressions on new code.
https://github.com/sigstore/cosign/blob/ca5a8aa06525cc6a732812aef243eaa7f6bff6ac/.github/workflows/tests.yaml#L3

I'm very new to Go so don't know its extend of coverage profiling (how easy it is to filter files/generate repo

[2021-03-22 21:22] dlorenc commented on #140
Yes! It's actually pretty easy to add coverage, but every continuous reporting system I've seen has been incredibly flaky/problematic. The one in Tekton never seems to work.

I'd be up for trying another one though if anyone has recommendations!

To do it in cosign now, you can run:

[code]

[2021-03-22 21:49] ahmetb opened #141 "Fulcio/Tlog requests not traceable via -d -v"
Debug and verbose options in the CLI do not seem to be covering requests made to Rekor or Fulcio.

[2021-03-22 21:51] ahmetb opened #142 "Keyless signing for blobs do not seem to be working"
I'm trying

[code]
Output:
[code]

Is this expected? I'm guessing it's just not implemented yet, but it seems we're missing an explicit error.

[2021-03-23 00:48] dlorenc commented on #141
+1! I think there's a DEBUG=1 flag in go-swagger that might work, but we should absolutely standardize this.

[2021-03-23 01:28] dlorenc commented on #118
Done with #136

[2021-03-23 01:28] #118 closed

[2021-03-23 11:36] #142 closed

[2021-03-23 16:03] #122 closed

[2021-03-23 20:44] dlorenc opened #151 "We Need Integration tests with secrets"
We can have these run post-merge? Or just give up on github actions and run them somewhere else.

[2021-03-23 20:45] dlorenc commented on #151
See #150

[2021-03-23 21:22] ahmetb opened #152 "cmd: public-key writing to a particular file"
[code]

I think this experience is problematic because
it always writes to $CWD and with a fixed file name.
That'll make scripting harder. I think we should
write to stdout.

Happy to refactor.

[2021-03-23 21:40] dlorenc commented on #152
Yes, great point

[2021-03-24 00:59] ahmetb opened #156 "cmd: public-key doesn't make use of COSIGN_PASSWORD if password is empty"
"cosign public-key -key cosign.key" command is prompting
interactively for a password. I suspect we should probably
add a symmetry here.

[2021-03-24 01:32] dlorenc commented on #156
hmm, I can't see why that would be the case. I'll dig in.

[2021-03-24 01:33] dlorenc commented on #156
Not reproing for me. The text "enter password" still shows up which is a glitch, but the flow works:
![image](https://user-images.githubusercontent.com/1714486/112240804-0753c900-8c17-11eb-8faf-6b78177e2411.png)

[2021-03-24 01:45] dlorenc commented on #86
@mnm678 and I sketched out a potential UX in a google doc earlier today. The idea is that someone would protect an entire "repository" with TUF, using `cosign` commands. The doc is [here](https://docs.google.com/document/d/1oyMQ-a0Uwyl9Pew7ISYUdKFfnqEp-qfk1psVFdd-o8Y/edit), shared with the [sigstore-dev](https://groups.google.com/g/sigstore-dev) group.

Still undecided: it could be a subcommand un

[2021-03-24 03:14] ahmetb commented on #156
ok I have a theory, I think we don't distinguish between COSIGN_PASSWORD "set but empty" vs "empty string" :) my password was empty (just pressed return while generating)

[2021-03-24 04:40] dlorenc commented on #156
That sounds incredibly likely

[2021-03-24 09:00] joshuagl commented on #86
If we make this a sub-command of `cosign`, let's be sure to include tuf- in each command name and be consistent in the placement i.e tuf-initialize, tuf-sign, tuf-verify, etc. vs. initialize-tuf, tuf-sign, snapshot.

Given the thresholds/quorum of signatures in tuf, co-sign is actually a good name for a tuf signing tool. Pun name based on quorum; `quorsign`? (That bad suggestion may just sway it t

[2021-03-24 09:10] lukehinds commented on #86
we should also keep in mind the other tools we have (albeit still a WIP):
* rubygems-sigtore
* bobs maven sigstore client
* sigstore/sigstore (general client that signs everything else).

[2021-03-24 11:39] dlorenc commented on #86
@lukehinds I was thinking about the other formats and clients. I've convinced myself that I don't think TUF can be done generically, it's too coupled to the storage layer.

Even the formats like ruby and jars where we have a place to stick signatures won't really work because you need a place to store them across multiple artifacts.

[2021-03-24 11:45] #156 closed

[2021-03-24 12:40] dlorenc commented on #151
Ref #153 #158

[2021-03-24 12:52] dlorenc commented on #86
This is probably the wrong place to track this discussion, but I had an interesting idea I want to document somewhere about merging the TUF delegation with Fulcio as a root of trust. Some of the complexity involved in setting up a TUF repo is managing the root keys, rotation and delegation. Fulcio doesn't directly solve those problems, but could provide an alternative model that is simpler (albeit

[2021-03-24 13:46] naveensrinivasan opened #161 "Include a security policy to the repository"
The repository should provide a way to report any security-related issues.
https://docs.github.com/en/code-security/security-advisories/adding-a-security-policy-to-your-repository

[2021-03-24 13:57] joshuagl commented on #86
This is an interesting idea! One place it may make sense to capture this is in a TAP (and I would willing to collaborate on one) documenting Fulcio/sigstore/TUF interactions – an initial idea for that TAP could be captured in the [issue tracker](https://github.com/theupdateframework/taps/issues).

I've been thinking of a less complete version of this for [PEP 480](https://www.python.org/dev/peps/p

[2021-03-24 16:27] dekkagaijin commented on #94
We need to be using a FIPS-validated crypto implementation, i.e. not vanilla Go.
We can use [Go+BoringCrypto](https://github.com/golang/go/tree/dev.boringcrypto/misc/boring) to accomplish this for linux/amd64, but we give up static linkage.

The work I did for GKE has a strong crossover here, I'd be happy to handle it.

[2021-03-24 16:45] dlorenc commented on #94
Thanks for the overview! For now a doc or something explaining the plan is probably all we need, we can wait until someone actually asks for it to implement. That way we can be sure the design will work for the people that really need it.

[2021-03-24 17:33] dekkagaijin commented on #94
My argument to make support a first-class citizen (at least as a bonus release) is that it's a lot easier to offer a FIPS-compliant release from the get go with the pruned cypher-suite than it is to prune it later

It's at the point where we simply swap out OSS k8s's version of Go for the BoringCrypto equivalent. Build tags are sufficient to ensure compatibility for both toolchains

[2021-03-24 17:45] lukehinds commented on #94
I would be ok with a bonus release e.g. 'cosign-fips' or 'cosign-gbc`, but not as main as a number of distros (rhel included) can't ship with Go+BoringCrypto, its not a technical decision, but on going support guarantees.

[2021-03-24 18:17] dlorenc commented on #151
Ref #163

[2021-03-24 19:37] ahmetb commented on #127
Agred. Right now 4 commands ({sign,verify}{,-blob}) accept the same set of key type flags (`-key`, `-kms`).

If we were to have more types e.g.

- `-google-auth`, `-github-auth`, `-microsoft-auth` (or more generally `-oidc google`)
- `-yubikey` (or `-fido2`?)
- `-hsm`

these flags will appear on all these commands, crowding the space quite a bit. But I guess that's acceptable (and we might be able

[2021-03-24 19:43] david-a-wheeler commented on #97
P.S. you can maintain backwards compatibility by interpreting "-k" as "--key", and treating "-e" and "-y" as no-ops.

[2021-03-24 20:50] ahmetb opened #165 "Assess threat model for in-memory private keys"
Currently (1) the `generate-key-pair` command generates a private key in-memory
and then writes it to a file (2) the keyless `sign` command also generates a
single-use private key in-memory (to exchange it with a cert from Fulcio).

However we do not zero these slices (and I'm not sure if Go GC makes copies of
these), therefore a subsequent process calling malloc might retrieve a portion
that cont

[2021-03-24 22:07] dekkagaijin commented on #94
Hm. Goboring only relies on the the core cryptographic libs rather than the entirety of BoringSSL, but I don't suppose that changes the calculus much. It is is API-compatible with the vanilla Go libraries, at least.

FWIW GKE relies on it being fully compatible with OSS, and is continuously validating it as such. It has a high _practical_ level of support

[2021-03-24 22:41] ahmetb opened #168 "verify: empty claim value is not distinguished"
Suppose I do "cosign sign -a k1=v1 -a k2= IMG". Here k2 exists but empty.

When I run "cosign verify -a k3=" this passes, despite k3 doesn't exist in
the signed payload. This is due to:

    func correctAnnotations(wanted, have map[string]string) bool {
        for k, v := range wanted {
            if have[k] != v {
                return false
            }
        }
        return true
    }

B

[2021-03-25 11:48] dlorenc commented on #168
Good question! I guess it comes down to expectations. My initial reaction is that this is WAI, but can see how this would be confusing.

Maybe it would be safest to block empty annotations?

[2021-03-25 11:55] dlorenc commented on #165
I'm definitely interested in opinions here or if there is anything we can do better in Go.

[2021-03-25 11:56] dlorenc commented on #151
This is in pretty good shape now. Next up we need integration tests for the experimental features, but we can track that separately.

[2021-03-25 11:56] #151 closed

[2021-03-25 11:57] dlorenc opened #170 "Switch fulcio to the dex endpoint"
#130

We can copy some of the code from https://github.com/sigstore/sigstore/pulls

[2021-03-25 11:58] dlorenc commented on #127
+1, drop the key literal.

[2021-03-25 11:58] dlorenc commented on #127
cc @ahmetb - you're working on this right?

[2021-03-25 17:07] ahmetb commented on #127
Yeah. Got distracted with pre-refactoring code reading yesterday.

[2021-03-26 15:27] dlorenc commented on #108
We need to do a little bit of thinking on the design here before going too much further. I'll explain some background:

Yubikeys support 3 different levels of protection:

- a 6 digit PIN
- an 8 digit PUK
- a 24 byte management key

The defaults can be found here:
![image](https://user-images.githubusercontent.com/1714486/112653484-764e3f00-8e1c-11eb-9a63-a6a70501f80b.png)

There's a command line

[2021-03-27 11:55] dlorenc opened #178 "Idea: "cosign upload-blob" command."
See https://github.com/sigstore/cosign#oci-artifacts

We have upload and sign-blob, we could sort of reverse it!

[code]

Cons: could be confusing with the existing `cosign upload` command which is used for uploading signatures.

[2021-03-27 12:25] dlorenc commented on #178
cc @jonjohnsonjr I think you suggested this yesterday

[2021-03-27 12:26] dlorenc commented on #178
cc @awakecoding I'd love your feedback here!

[2021-03-27 13:32] dlorenc commented on #116
Some things I want to figure out first:

## How should this be configured? Opt in vs. opt out?
Proposal: Upload send by default for public images (where we can tell), but opt-in for private images.

## How should verification be configured?
Is it a failure to verify if the signature is not present?
Should we check by default?

Proposal: Check by default for a public image., but warn if the signatu

[2021-03-27 13:41] dlorenc commented on #170
This is done!

[2021-03-27 13:41] #170 closed

[2021-03-27 14:18] dlorenc commented on #108
I want to get the balance right between "I just took a yubikey out of a box and want to start using it to sign things" with more advanced yubikey users/workflows where they might be reusing the same hardware for FIDO2/U2F etc., or they have specially provisioned corporate yubikeys that have already been setup with a fixed management key.

[2021-03-27 14:58] dlorenc commented on #115
We have actions over here: https://github.com/sigstore/cosign-installer

[2021-03-27 15:20] #92 closed

[2021-03-27 17:35] dlorenc commented on #108
Also, I'd hope most of this logic ends up in the http://github.com/sigstore/sigstore client/libraries so it can be used for all artifact types!

[2021-03-27 18:06] lukehinds commented on #108
I see what you mean.

On the one hand it's nice to be able to set this up users, that is a really good UX. On the other, if we get them to set up using the upstream tool, we want get any blowback if they can no longer log into their bank.

Perhaps a warning?

[code]

[2021-03-27 19:51] dlorenc commented on #82
All done here! Release 2 coming soon :)

[2021-03-27 19:51] #82 closed

[2021-03-27 19:51] #25 closed

[2021-03-27 21:07] dlorenc commented on #72
I think @priyawadhwa fixed this one:

$ ./cosign sign ghcr.io/dlorenc/signed-container
error: either local key path (-key) or KMS path (-kms) must be provided, not both

[2021-03-27 21:07] #72 closed

[2021-03-27 21:08] dlorenc commented on #72
Actually nope, it was @chrnorm! Thanks!

https://github.com/sigstore/cosign/pull/125

[2021-03-27 21:08] dlorenc commented on #74
@FalcoSuessgott  are you still interested in trying this?

[2021-03-28 01:42] dlorenc opened #181 "cosign sign --bundle flag"
We should have a way to bundle ALL proofs for into the signature object. This requires trusting all the signing keys through our system:

For all modes:
- Rekor trillian key

For keyless mdoe:
- Fulcio root CA
- CT Log key

The signing keys CT log keys will rotate more quickly than the root CA, so we should sign the other public keys with the Fulcio root CA and bake fulcio root CA trust into all t

[2021-03-28 01:43] dlorenc commented on #181
cc @mnm678 @SantiagoTorres

[2021-03-28 01:44] dlorenc commented on #181
@trishankkarthik

[2021-03-28 12:39] dlorenc commented on #73
Only a few left:

- download
- upload
- triangulate

[2021-03-28 12:52] dlorenc opened #183 "Release 0.3.0"
Tracking bug for info related to the next release, 0.3.0. This will follow #130.

Things we need to get in:

- [x] #88 (rollover from last time)
- [ ] #117 and #131 (better KMS ux in general)
- [x] #115 Publish a release container for other integrations (right now it's just CI I believe)
- [x] #127 Improve code quality/refactoring
- [ ] #87 Don't need this in place yet, but a plan would be good

A

[2021-03-28 13:06] dlorenc commented on #87
I propose we do something like:

- Keep the fulcio root pinned here until we have something further back to pin to
- Extra roots can be configured at some user-level path ($HOME/.sigstore/certs)?
  - Env var for another path: sigstore_cert_path
  - These roots are all appended to the fulcio root for verification
- To disable the fulcio root, pass `--no-default-root` or something similar

[2021-03-28 16:04] dlorenc commented on #130
Release prep pr here: #187

[2021-03-28 16:21] dlorenc opened #188 "Idea: Base image validation"
Using the proposed annotations: https://github.com/opencontainers/image-spec/issues/821

We could identify the base image seam. We can't **trust** this annotation, but we can use it as a hint. We can do the following:

* Fetch the *actual* base image by combining the digest and location annotations. Basically, strip the tag from the `org.opencontainers.image.base.ref.name` and add the digest from

[2021-03-28 16:21] dlorenc commented on #188
@ImJasonH @jonjohnsonjr does my annotation-munging scheme make sense?

[2021-03-28 16:24] dlorenc commented on #188
We could do this in `cosign` and/or `copasetic`.

In copasetic it would look something like `oci.base_image_ref` and `oci.base_image_digest` just for the raw annotation values, and `oci.verified_base_image_ref` for fully-qualified ref of the base image (by digest), after verifying the layers.

In `cosign`, it could look something like `cosign verify-base` or `cosign verify --base`, and then everyt

[2021-03-28 20:56] dlorenc opened #191 "Remove CodeQL from presubmits?"
![image](https://user-images.githubusercontent.com/1714486/112767740-0d162980-8fde-11eb-8847-79a081640201.png)

I've never seen it catch anything, ever, and it takes the longest out of all of our tests.

[2021-03-29 00:06] dlorenc opened #195 "Investigate FIDO2/U2F support"
https://duo.com/labs/tech-notes/u2f-key-support-in-openssh

My understanding is that the signatures are sort of compatible, but the signed blobs require extra information so verification is not as straightforward. SSH treats this as a separate algorithm.

[2021-03-29 03:12] naveensrinivasan commented on #191
I agree, codeql usually does not find stuff. But it is that one time that you miss it catches. Usually, the codeql tests aren't this slow for PR.

But I vote for not removing it. It is a security feature and for this project it is critical.

Here is an example of it caught an issue https://github.com/ossf/scorecard/commit/b278475af0c79b6c43139934b29a575961d44a37

[2021-03-29 13:10] dlorenc opened #196 "Tracking Issue: Deployment Policy"
This probably wouldn't live here in this repo, but it's the best spot to open the issue for now.

We should integrate with and document how to use sigstore/cosign signatures to enforce policy at deployment time. I'd really rather avoid making our own admission controller if we can avoid it, but if we do have to for POC or demo purposes I vote we call it "cosigned" :)

Some existing ones we could t

[2021-03-29 13:33] phisco commented on #196
FYI: https://github.com/sighupio/opa-notary-connector takes a midway approach between https://siegert-maximilian.medium.com/ensure-content-trust-on-kubernetes-using-notary-and-open-policy-agent-485ab3a9423c (pure opa) and https://github.com/sse-secure-systems/connaisseur (pure Go).

We started similarly to connaisseur by having the whole logic in Go, but in the end, we decided to move the "resourc

[2021-03-29 13:34] phisco commented on #196
Portieris was what we would have needed, but we didn't manage to spin it up outside of IBM cloud.

[2021-03-29 13:54] dlorenc commented on #196
Cool! I haven't really figured out OPA/rego yet but we did manage to build some built-in functions here: https://github.com/sigstore/cosign/tree/main/copasetic

I'd love for anyone with more OPA experience to help figure out how to get these into something that can enforce policy :)

[2021-03-29 14:05] phisco commented on #196
Nice!

The point is that as long as you don't get your custom function into mainstream rego, deploying it will require embedding or recompiling OPA and if the function is only needed by a niche of users it's unlikely it will be merged. We ended up with the sidecar approach exactly for that reason.

Probably a plugin approach similar to what hashicorp vault does (but less secure maybe) would be bet

[2021-03-29 14:12] OR13 commented on #108
I know this is super hacky, but feel free to borrow any ideas from it:

https://github.com/OR13/lds-pgp2021/blob/main/bin/cli.js#L134

I have tested it with Yubikey.

[2021-03-29 14:29] dlorenc commented on #196
Haha yup, that's exactly what i realized after i wrote these. The embedding model doesn't really allow for composite.

Is there a good place we could plug stuff into an existing sidecar? Or would it make more sense to write our own?

[2021-03-29 14:33] developer-guy commented on #196
cc: @anderseknert

[2021-03-29 14:36] phisco commented on #196
You can see [here](https://github.com/sighupio/opa-notary-connector/blob/master/deployments/helm/opa-notary-connector/opa-config/config.rego#L39) what we did for opa-notary-connector, we have rego rules structured to parse resources and find all images and then check via a simple call on localhost to a sidecar container and build patches with the returned answer.

It should be really easy to write

[2021-03-29 14:46] asraa commented on #191
Maybe make this a daily scheduled job rather than PR?

[2021-03-29 14:48] anderseknert commented on #196
@dlorenc looks like you are already in company of some great OPA/Rego devs! But if there's anything I can help out with, let's chat 😃

[2021-03-29 15:04] naveensrinivasan commented on #191
But how do you catch bad code in PR?

[2021-03-29 15:23] asraa commented on #98
Multiply keys in rotation makes sense to me.

The same might hold for cosign verify in the context of validating multiple signatures, definitely possible to call `cosign verify` multiple times by whoever is enforcing a policy, but might be worth adding support for batched verification.

[2021-03-29 16:46] asraa commented on #191
Yeah, it would only be daily. This is only useful if you recommend people work on releases or at least a couple days before latest. I think pinning at latest revisions is bad practice anyway.

Other alternative: only build some portion of the code based on the diff.

[2021-03-29 17:51] asraa opened #197 "Batching multiple key verification"
**Description**

Cosign could verify that a signature exists for each (or any) key provided:
`cosign verify -key key1.pub -key key2.pub <image>`

which be default would make sure that a signature exists for each of the provided keys in a single call, for example, the pubkey of the build system and of a maintainer.

(Someone may also want to provide an --any flag, i.e. signed by any of the  keys pr

[2021-03-29 18:01] dlorenc commented on #197
+1 to this!

[2021-03-29 18:45] dlorenc commented on #191
I think we actually already have it daily: https://github.com/sigstore/cosign/blob/main/.github/workflows/codeql-analysis.yml

[2021-03-29 18:46] dlorenc commented on #130
This is done!

[2021-03-29 18:46] #130 closed

[2021-03-29 18:54] naveensrinivasan commented on #191
☝️ Sorry, I don't get it.

[2021-03-29 19:05] asraa commented on #191
If it were daily you can still catch and fix regressions within a short window 1-2 days. As long as people aren't running directly at head this doesn't expose them to the issue.

I see. Looks like it's on both daily and PR.

[2021-03-29 19:13] naveensrinivasan commented on #191
Thanks, I understand. That means someone has to manually look at the issue in the Security center and do PR for the fix. If it is missed then we run into an issue of opening a security hole.

[2021-03-29 23:49] dlorenc commented on #115
We have the CI containers, but we need to tag them as part of releases now too!

[2021-03-29 23:49] dlorenc commented on #115
cc @font

[2021-03-30 00:35] dlorenc commented on #196
Thanks for the help! I think I understand that rego, but to double check:, the sidecar API is right here: https://github.com/sighupio/opa-notary-connector/blob/master/deployments/helm/opa-notary-connector/opa-config/config.rego#L79

[code]

So we would need to listen on 8080 and read POSTS to /checkImage, with the image as string in the body?

Where does the configuration for this live? How does t

[2021-03-30 06:43] phisco commented on #196
The configuration is passed in the values.yaml and then used to generate a secret, you can find
[here](https://github.com/sighupio/opa-notary-connector/blob/master/README.md#valuesyaml-deep-dive) an example.

[code]

So yes, the concept is, that's just the opa chart deployed as mutating webhook with a sidecar container injected and a configuration specific for the target signature store. So, in th

[2021-03-30 15:47] FalcoSuessgott commented on #74
@dlorenc implementing that feature or migrating to cobra?

[2021-03-30 16:02] ahmetb commented on #74
FWIW I came to terms calling both pub/priv "-key" over time. So I am not sure if this is worth fixing. -key is more friendly than -pub/-priv?

[2021-03-30 21:01] #152 closed

[2021-03-30 22:04] dekkagaijin commented on #127
Oof, didn't realize you'd already started working in it :x

[2021-03-31 21:02] trishankkarthik commented on #181
@trishankatdatadog

[2021-03-31 22:04] priyawadhwa commented on #181
I'm gonna start sketching out a design for this, if anyone has ideas or wants to collab let me know!

[2021-04-01 11:34] trishankatdatadog commented on #181
Sounds good! How can I help?

[2021-04-01 14:23] xopham opened #209 "Key Management for Trust Pinning"
Hi,
thanks for the great tool :partying_face: It provides great usability for one of the major weak spots of container images :+1:

I was wondering how to implement simple key management (though mentioned as [out-of-scope in the docs](https://github.com/sigstore/cosign#intentionally-missing-features) :stuck_out_tongue_winking_eye: ), specifically key hierarchy to facilitate trust pinning with dele

[2021-04-01 15:54] xopham opened #210 "Output json instead of json lines / ndjson for cosign verify"
## Description
When verifying signatures of an image that has been signed multiple times with the same key, cosign outputs the results as *json lines* / *ndjson* which is not real *json*. While *json lines* is great for streaming, "proper" *json* (a json list) might facilitate processing and using the results, specifically when parsing complex output.

## To reproduce
* Sign an image twice with th

[2021-04-01 17:06] dlorenc commented on #209
Hey! Thanks for asking! This is probably too tough of a topic to completely handle via a github issue, but I'll point you at a few of the options. We're not going to prescribe a single one in cosign, but we'll have a few supported flows and let you build your own.

Here's what we're working towards:

- No key management at all! Generate a key with cosign, sign with it, distribute it however you wa

[2021-04-01 17:16] dlorenc commented on #210
+1!

[2021-04-01 21:25] priyawadhwa commented on #181
@trishankkarthik I'll ping you on Slack and we can start chatting about it!

[2021-04-02 00:45] dlorenc opened #211 "Attached Signatures"
Right now we only work with detached signatures for containers. This handles most workflows fine. We may also want to consider adding support for attached signatures. The downside is that these mutate the container image, but people may still prefer them.

One UX could be:

`cosign sign --attach` (does the same thing it does now, but stores the signatures on the image itself)
`cosign attach` this

[2021-04-02 11:47] dlorenc opened #212 "Document signature format and specifications"
We should more formally document the signature storage format, location and specification for the signature format itself.

[2021-04-02 20:24] priyawadhwa commented on #211
I guess verify would do the following in this case:
 -  Take in the attached image name and the original image name
 -  Make sure the digests of the layers between the original and the attached images match (except for the extra signature layer we added)
 -  Verify the signature in the extra layer in the attached image against the original image

We could also add the old image name as an annotati

[2021-04-02 21:07] dlorenc commented on #211
Yeah I think that's all we could really do... I don't love it...

[2021-04-03 14:11] dlorenc opened #215 "Add a page for integrations!"
Any tools or systems that integrate with cosign signatures should be listed somewhere here in the repo!

[2021-04-03 15:28] cpanato commented on #210
I can work on this.

which other formats we want?
- json
- plain text?
- yaml?

[2021-04-03 16:00] dlorenc commented on #210
The actual payload objects we're outputting are basically plain text, but they happen to be JSON. It's a little awkward. Outputting the overall thing as JSON would basically just be wrapping in a JSON list. I can't think of any other formats that would make sense other than the existing JSON lines or full JSON.

[2021-04-05 11:11] lukehinds opened #220 "Implement version flag"
In accordance with https://github.com/sigstore/community/issues/16, implement a version flag

[2021-04-06 00:14] priyawadhwa commented on #181
As a first step, I'm going to implement this for not-keyless since it's way simpler. For this, we just need to add the following as an annotations:
- the signed inclusion proof that the signature was added to Rekor
- the UUID of the entry in the log

& that should be everything we need to verify the entry is in the log without having to actually access it

[2021-04-06 01:07] #210 closed

[2021-04-06 01:18] dlorenc commented on #196
Ref github.com/dlorenc/cosigned :)

[2021-04-06 01:22] dlorenc commented on #196
One idea to enable TUF:

fulcio is the root CA

fulcio issues signing certificates (delegations via TUF) to repository owners, for those repositories
Those owners sign images with the keys corresponding to the certs, which chain to the fulcio root
Also include signed timestamps and snapshots

clients trust fulcio
Can enable trust for a specific repository, by adding that key to their trust ring
Th

[2021-04-06 14:42] cpanato commented on #220
@lukehinds you mean to output the version of the tool?

today `cosign` have a version command that output the version

[code]

is that this issue is about?

[2021-04-07 13:20] #220 closed

[2021-04-07 14:28] dlorenc opened #228 "Signature spec compatibility"
The signature storage spec in #214 isn't really a signature spec - it's a spec about how the signatures can be stored and discovered within an OCI registry. This format is optimized for the storage layer, which is why it looks unfamiliar to people or tooling who might be expecting a JOSE object or an in-toto metablock. Fortunately, these formats are actually "compatible" - we have all the informat

[2021-04-07 17:19] priyawadhwa commented on #215
- [kaniko](https://github.com/GoogleContainerTools/kaniko)
- [distroless](https://github.com/GoogleContainerTools/distroless)
are the ones I know of rn!

[2021-04-08 05:16] anderseknert commented on #196
Providing config to OPA could be done either when starting the server (for static configuration) or it could be fetched periodically from a bundle endpoint for more dynamic configuration. I had a look at the cosigned admission controller and it does look doable in OPA/Rego, but I'm not sure how to verify that without having an example admission review request and config at hand. Would that be avai

[2021-04-08 15:54] dlorenc opened #229 "Spec change: Set the critical.identity.docker-reference field in the simple signing blob."
We should set this field when creating signatures ASAP, then think through how to expose it during verification.

[2021-04-08 16:54] jonjohnsonjr commented on #229
I don't love this if it's required because it precludes signing images outside of a registry.

[2021-04-08 20:08] dlorenc commented on #229
We actually already started setting this in github.com/sigstore/sigstore/

[2021-04-08 20:08] #229 closed

[2021-04-09 21:11] dlorenc commented on #127
@dekkagaijin I think this is done and can be closed now right?

[2021-04-09 21:13] dekkagaijin commented on #127
yup!

[2021-04-09 21:13] #127 closed

[2021-04-10 00:55] dlorenc opened #234 "Unify prompting to promptui"
We should try to use this for all the places we read input (Y/N, passwords, PINs)

[2021-04-10 21:11] dlorenc commented on #195
https://github.com/openssh/openssh-portable/blob/master/PROTOCOL.u2f

[2021-04-11 00:55] dlorenc commented on #195
More info here too: https://github.com/mdp/u2fcli

If we wanted to do this, it would probably be something like:

- generate-key-pair would perform a "registration". The app id would be something like `cosign:`.
  - The challenge would be randomly generated
  - The response would be checked by cosign
    - This includes the signature (over the challenge and other fields), as well as the attestatio

[2021-04-12 16:56] dlorenc opened #243 "Fix cross compilation"
We need to build for OSX and Linux right now, with support for the go-piv on both. This means we need CGO, making cross-compilation really tricky.

[2021-04-12 17:01] jonjohnsonjr commented on #243
I'm fairly convinced that zig can help with this.

https://github.com/google/ko/issues/261

https://github.com/ziglang/zig/pull/7377/files#diff-a26d0400c46377165e3ae8362be4528a4e9e5708cc70897a4c00905801a1d581

I just haven't had the time to experiment, and I'm sure there will be non-trivial challenges that I haven't considered.

[2021-04-12 21:24] dekkagaijin opened #247 "Support `verify` with public keys from URL"
This would make certain use-cases easier, e.g. if the public key used to verify the signature of a release is stored in the same GitHub repo as the source:

`verify --key-url https://raw.githubusercontent.com/image-publishing-org/project-repo/$RELEASE_TAG/cosign.pub gcr.io/image/to/verify:$RELEASE_TAG`

[2021-04-12 21:25] dlorenc commented on #247
+1!

[2021-04-13 12:05] dlorenc commented on #243
i havent been able to get zig working yet with the extra system dependency we need (libsclite-dev).

[2021-04-13 13:00] dlorenc opened #249 "Spec: Replace .cosign with .sig in the suffix"
See #214

We should do this before 0.3, maybe support both for a release then go back to just one for 0.4

[2021-04-13 13:00] dlorenc opened #250 "Spec: Switch to OCI media types"
Ref: #214

This is backwards compatible, so no big rush in getting it in. We'll want to be careful and test with all the supported registries again as part of the rollout.

[2021-04-13 13:01] dlorenc opened #251 "Spec: Plan hash algorithm migration"
The spec currently assumes sha256 wherever we need a hash algorithm. I think this is fine for the foreseeable future give registry dependence, but we should think through it a bit here.

[2021-04-13 13:04] dlorenc opened #252 "Spec: rename "type" in the simple signing payload"
Do we need to use "atomic container signature" as is specified in the simple signing spec?

https://www.redhat.com/en/blog/container-image-signing

Ref #214

[2021-04-13 16:54] dlorenc commented on #131
From https://github.com/smallstep/certificates/tree/master/kms

[2021-04-13 22:53] #247 closed

[2021-04-14 13:29] dlorenc opened #254 "Document stability policy"
Until we get to 1.0:

- cosign signatures should be interoperable between +/- one release. SIgnatures created with version X should be verifiable by versions X+1 and X-1, and vice versa.
- Experimental is completely up in the air

After 1.0:
- Signatures should always remain interoperable. We can add new formats if we want to, but old ones have to continue working and new versions of the tool need

[2021-04-14 13:46] dlorenc commented on #249
I don't think we'll get to this in 0.3, but when we do it we should try to bump the version pinned here: https://github.com/sse-secure-systems/connaisseur/blob/feat/cosign/docker/Dockerfile#L15

[2021-04-15 12:41] #212 closed

[2021-04-15 14:43] dlorenc commented on #249
Maybe we can support an env var for a release or two called "COSIGN_SUFFIX" to help out here instead of double writing.

[2021-04-15 18:57] MarkLodato opened #259 "Support in-toto attestations"
It would be great if cosign could switch to using [in-toto attestation], which is a new standard for authenticated metadata about software artifacts as part of [SLSA].

The advantage of attestations over the current "Simple Signing" format is that (1) it is not container specific, so that it fits into the [SLSA] framework, and (2) it natively supports "predicates", which are arbitrary, structured

[2021-04-15 19:17] dlorenc commented on #259
I think you're right, the #228 issue is probably how we'll cover compatibility with things like the SSL signing spec. Last I looked they were "compatible" with the way we store the signature components today, so we'd probably add an output/input converter rather than actually switch the way signatures are stored in the registry.

I'd have to think about the other signed provenance aspects more, I

[2021-04-15 21:52] dekkagaijin commented on #252
Depends on how close we want to adhere to the spec, e.g. do we want to require a repo path in the sig payload

[2021-04-15 22:49] dlorenc commented on #252
I think we decided to add the field, but not validate it.

[2021-04-15 22:56] dekkagaijin commented on #252
Right, which would mean that we're not adherent to the spec of the overall scheme. If we don't want to require validation of a "critical" portion of the signature payload, why require it? If we don't want to require it, then we can't adhere to the `atomic` payload spec

[2021-04-15 23:15] dlorenc commented on #252
So the high level desire is that payloads we generate can be validated by things that expect simple signing. I think it's a fair claim to pretend we're compliant at least during the signature generation process, even though we're not for verification.

It is ambiguous though.

[2021-04-15 23:20] dekkagaijin commented on #252
The current atomic/Simple Signing spec only supports OpenPGP: https://github.com/containers/image/blob/master/docs/containers-signature.5.md#the-cryptographic-signature

[2021-04-16 00:49] font opened #263 "Logging convention for stdout and stderr"
**Description**

This issues is to make sure we have a consistent logging convention throughout cosign for `stdout` vs `stderr` vs logging to a file, and ideally document the convention. It may make sense to consider revamping the entire print approach to use a more abstracted logging mechanism to allow for duplicated writing i.e. writing to both a file and/or `stdout`/`stderr`.

Ref https://githu

[2021-04-16 01:15] MarkLodato opened #264 "Keep the signature attached to the payload, not in the index"
Currently, cosign splits the attestation in two separate blobs: the `signature` is stored inside the index and the unsigned `payload` is stored as a blob in the CAS. (The `payload` in turn contains the hash of the thing-to-be-signed.)

In my opinion, this design is a mistake:

- It unnecessarily ties the storage to the crypto. In order to store a signed message into the registry, the tool has to u

[2021-04-16 01:47] MarkLodato commented on #259
(Note: I filed #264 about the storage mechanism, but that's orthogonal to the thread here.)

I *think* we might be on the same page, but I just want to flesh things out a bit to make sure.

Sorry, I should have explained more. The in-toto **attestation** has [three layers](https://github.com/slsa-framework/slsa-controls/blob/main/attestations.md#model-and-terminology):
- Envelope, containing the `

[2021-04-16 09:08] dlorenc commented on #264
What standard attestation tooling?

I think most of this feedback is really addressed as: cosign isn't really designed for "attestations". Cosign signs containers, which has value on its own. I think the simplicity actually reduces our attack surface, see the design inspiration section on tools like minisign/signify.

Cosign signs and verifies containers, not arbitrary attestations today, and that

[2021-04-16 12:29] dlorenc commented on #264
I'm not sure I follow - cosign doesn't parse payloads during signing - it generates them.

It's spelled out in the section you quoted - we can verify the signature without even needing to download, parse or display the payload. The interface of cosign requires users to validate signed payloads against a specified public key. We can avoid needing to download, parse and verify embedded claims for pa

[2021-04-16 12:46] dlorenc commented on #259
Sorry, the -payload flag is an actual flag today that exists for this purpose. You can sign and attach literally anything with it today, including a predicateFile.

Yeah, but I don't think I want to encourage this for provenance. We support signing artifacts within a CI build execution, because the build produced the artifact and that's how people are used to signing artifacts today. I would prefe

[2021-04-16 12:50] MarkLodato commented on #259
Ah, makes sense. Totally agree with you there!

Back to the issue at hand. My suggestion is to (once it is stable) switch to the in-toto attestation format even for regular signing, because it will fit into the ecosystem we're trying to build with SLSA. Obviously you shouldn't commit to anything yet because SLSA and the ecosystem have not yet materialized. I'm just filing this to get directional a

[2021-04-16 13:15] dlorenc commented on #259
The primary goal here is broad adoption and support in other tooling for the signing of containers. Support for more rich provenance would come behind that. I still hesitate to switch the default behavior from something that can be trivially verified with a one line bash script to something more complex, even if it means we miss out on the ability to store rich attestations here.

I'm in full agre

[2021-04-16 13:21] MarkLodato commented on #264
Sorry, I used the term "attestation" too loosely. The issue is independent of "in-toto attestations" vs the regular signatures you are producing. I just need a term other than "signature" because there is the actual signature bytes (output of the crypto primitive) and the overall scheme (including the simple-signing payload).

Can you provide a concrete example? The documentation is inconsistent (

[2021-04-16 13:45] MarkLodato commented on #259
Can you provide a link to such a bash script? I don't see how that is possible with cosign's current design.

Unless I'm missing something, my suggestion does not change the complexity at all. It just changes whether you use Simple Signing or the in-toto Statement. Everything else stays the same.

Yes, that makes total sense. Simple signing is the right choice for now.

[2021-04-16 14:00] dlorenc commented on #259
Sure, we should probably actually document this. Here's a quick one:

https://gist.github.com/dlorenc/19af39d5c06b46a37e526fc87a6859f9

[2021-04-16 14:59] dlorenc commented on #259
Here's one @bobcallaway wrote awhile ago with steps for doing the "keyless" signatures and transparency log aspects with standard tooling as well: https://github.com/redhat-et/sigstore-demo/blob/main/scripts/manual-steps.sh

[2021-04-16 16:29] axelsimon commented on #108
I think one might be even more explicit and say something like:

Yubikeys usually have two slots, so there's always the option of using slot #2 by default, but even then one can't assume it's not already configured :)

[2021-04-16 19:35] dekkagaijin commented on #264
Stated another way, keeping the sig in the index allows us to verify the signed payload _before_ fetching it (not _without_ fetching it).

[2021-04-16 19:52] MarkLodato commented on #264
But what value does that provide? Isn't the expected case that they all pass, thus in practice you'll always end up fetching it?

[2021-04-18 13:25] dlorenc commented on #249
Dual writing is probably the easiest thing for 0.3, it's not really a dual write, but a dual tag. `triangulate` can return just one though.

[2021-04-18 13:26] dlorenc commented on #117
Closing this, the flags have been unified into -key

[2021-04-18 13:26] #117 closed

[2021-04-18 13:26] dlorenc commented on #109
This should be ready now.

[2021-04-19 14:18] MarkLodato commented on #259
Thanks, that helps (though it's far more than one line)!

To clarify, if you switched to in-toto attestations, there would only be two minor differences:
- instead of using `payload.json` directly, you'd construct the PAE
- a different `jq` filter on line 26 of your script (since the field name is different and it's an array)

[2021-04-19 14:33] dlorenc commented on #259
Sorry to clarify it's a few lines to fetch, but that can't be helped regardless of the format. It's the compatibility with openssl/liberal/etc for verification that's important.

The PAE construction is exactly what I'm worried about, even though it's relatively simple it's still another step that isn't trivial to translate into every language and tool.

[2021-04-19 17:05] MarkLodato commented on #259
If we switched to a simpler PAE (https://github.com/secure-systems-lab/signing-spec/issues/27), would that address your concern? Or are you more concerned about having *any* PAE at all?

[2021-04-19 19:23] #108 closed

[2021-04-20 01:21] #183 closed

[2021-04-20 01:23] dlorenc opened #269 "Release 0.4.0"
Stuff to get in!

- [ ] #254 (spec stability in general)
- [x] #250 (pending testing against registries)
- [ ] #195 (this would be fun)
- [x] #249 (dual-tag for a release)
- [x] #273 (e2e tests)

What else?

[2021-04-20 12:20] dlorenc commented on #252
Oof. At least it's worded in a way that allows for more:

OK though, we'll leave this as is until we get a real plan for interop.

[2021-04-21 00:54] dlorenc opened #273 "e2e tests for built containers"
e2e tests for built containers (to catch static linking/cgo style issue in v0.3.0)

[2021-04-21 01:43] dekkagaijin opened #274 "Dedupe signatures"
We currently blindly append a new signature:

[code]

[2021-04-21 08:39] letmaik commented on #228
@dlorenc Could you sketch out in more detail how you would transform to/from a JWS? I don't see how this is possible given that the signature of a JWS is over `base64(JSON(JOSE header object)).base64(payload)` whereas the signature in cosign is defined over the payload only. I think you'd have to re-sign as JWS and store that in addition.

[2021-04-21 17:51] dlorenc commented on #181
Doc here: https://docs.google.com/document/d/1rVuwr0Acvq_0L1FIZn19bwQ5V3oWoEs_5CxX8H_R8Jc/edit?resourcekey=0-3CtYIjkUlZADfYoUwNvjWQ#heading=h.p4l5zh6qb4zs

[2021-04-21 20:08] dlorenc opened #275 "homebrew integration"
Apparently you can use homebrew with OCI to distribute mac binaries: https://explore.ggcr.dev/?image=ghcr.io/homebrew/core/pulumi:3.0.0

Let's sign them!

[2021-04-22 14:58] rosstimson commented on #40
Just tested AWS Elastic Container Registry (ECR) and all seems fine there.

[2021-04-22 15:26] dlorenc commented on #40
@rosstimson amazing! Do you want to send a PR to add it to the list here: https://github.com/sigstore/cosign#registry-support?

I'm happy to take it if you don't have the time :)

[2021-04-23 02:59] RichiCoder1 commented on #131
I might be interested in taking on either AWS KMS or Vault (have access to both)

[2021-04-23 05:48] lukehinds commented on #131
vault would be awesome @RichiCoder1 !

[2021-04-23 13:58] dlorenc commented on #131
Yes! Let me know if I can help. The code has actually been refactored over to here now: https://github.com/sigstore/sigstore/tree/main/pkg/kms

[2021-04-23 19:25] RichiCoder1 commented on #131
Took a swing at vault, luckily not too bad: sigtore/sigstore#44

[2021-04-26 19:31] dlorenc commented on #228
@letmaik good catch! We definitely can't do JWT.

[2021-04-27 12:10] dlorenc opened #279 "e2e test for vault"
We can spin it up using the compose file from sigstore: https://github.com/sigstore/sigstore

Then we have to enable transit and we should be good to go.

[2021-04-27 15:43] spielkind commented on #40
@dlorenc could you specify in since which quay version cosign is supported?  Tried with a v3.3.0 installation and got this error:

[code]

[2021-04-27 15:55] dlorenc commented on #40
cc @font who did the checking - I think he said 3.4 works?

[2021-04-27 23:36] #109 closed

[2021-04-28 02:07] dlorenc opened #281 "Use rekor signedEntryTimestamp if present"
We should figure out where to store these in the OCI registry (an annotation?), update the SPEC, start including them and then start looking for them during verification.

We can always use one of these if present (no opt-in/out needed, and do a force check of the log (--verify-inclusion)? as opt-in.

This should mean we can eliminate read operations from experimental for now (moving them to defau

[2021-04-28 13:44] spielkind commented on #40
Hm, we've upgraded a test environment to Quay 3.4.3 but still get this error:
[code]
Could this be related to another issue? Will try to upgrade Quay 3.5.1 later.

[2021-04-28 17:29] priyawadhwa commented on #281
Yah I think we can store the SET as part of the "bundle" annotation (which will probably end up including other stuff like certs for keyless mode).

[2021-04-29 17:28] #274 closed

[2021-04-29 17:30] dekkagaijin commented on #249
Here's the 2 sanest options I can think of:

1) Rip off the band-aid; new clients sign to and verify from the new location only.
2) Write to and verify from both tags for a time (1 release?). This allows for new clients to see signatures from old clients and vice versa.

[2021-04-30 00:08] #249 closed

[2021-04-30 00:23] dlorenc opened #289 "Update distroless with 0.4.0 changes"
We'll have to sign twice for a bit until we also update k8s to verify with the new location.

[2021-04-30 02:11] dlorenc opened #291 "Output the full bundle in --output=json mode"

[2021-04-30 14:55] pearcec commented on #243
Are Windows binaries being considered?

[2021-04-30 15:04] dlorenc commented on #243
I'd be happy to publish them! I don't like publishing things we can't test at all though, and I don't have access to a windows machine. If someone is up for helping us get them tested in CI and published that would be amazing!

[2021-05-01 23:34] #1 closed

[2021-05-01 23:36] dlorenc commented on #116
I think we're close here with offline bundling. We'll still want to be careful about adding entries to the log, but verification can happen if there's a bundle, whether or not we're in experimental.

[2021-05-01 23:37] dlorenc commented on #140
![image](https://user-images.githubusercontent.com/1714486/116797523-3e39bc00-aaac-11eb-9219-c8442e881a29.png)

[2021-05-01 23:37] dlorenc commented on #131
Vault is done now. @RichiCoder1 are you still thinking of adding AWS support?

[2021-05-02 17:24] RichiCoder1 commented on #131
I am! Should be reasonably simple, just might take me a bit longer to get to it.

[2021-05-03 17:03] #291 closed

[2021-05-04 12:29] dlorenc commented on #281
Is this done now?

[2021-05-04 17:06] #273 closed

[2021-05-04 17:10] priyawadhwa commented on #281
Yup!

[2021-05-04 17:10] #281 closed

[2021-05-04 17:46] dekkagaijin commented on #254
Since we know where `cosign` is being used right now, we're opting for a clean break for `0.4.0`: sigs before and sigs after. This should be the last change made in such a way.

[2021-05-04 18:04] dlorenc commented on #254
+1, we'd document/publish this policy **as part of the 0.5.0** release

[2021-05-04 22:19] #250 closed

[2021-05-05 12:32] dlorenc opened #303 "Cosign cp"
**Description**

It's pretty easy to copy an image with crane, and you can use cosign triangulate to figure out how to copy signatures, but it's not trivial to hook up in bash.

Let's add a cosign cp command to copy an image with it's signatures.

[2021-05-05 12:54] thebsdbox opened #304 "The installation instructions appear to have some requirements missing"
**Description**

I followed the instructions on the `README.md` unfortunately they resulted in an error:

[code]

[2021-05-05 12:58] thebsdbox opened #305 "Static binaries are broken"
**Description**

The `cosign` binary isn't static so unfortunately grabbing the new release and trying to use it results in shared library errors.

[code]

[2021-05-05 13:07] dlorenc commented on #304
Ref #305 as well - we should public static binaries for Linux that don't support yubikeys too.

[2021-05-05 13:09] thebsdbox commented on #304
Awesome.. I finally had a few minutes to start playing with `cosign` against raw OS images in registries so just hit a few things :-) thanks for the quick response!

[2021-05-05 17:00] dekkagaijin commented on #269
v0.4.0 released: https://github.com/sigstore/cosign/releases/tag/v0.4.0

[2021-05-05 17:00] #269 closed

[2021-05-05 17:17] #289 closed

[2021-05-06 04:38] font commented on #40
@spielkind @dlorenc Apologies for the delay! While Quay 3.4 added support for OCI Artifacts, it's only for pre-defined mime types. Quay will actually not support custom mime types until 4.6. Once 4.6 is available, quay.io support will follow. See https://issues.redhat.com/browse/PROJQUAY-1032 for more details.

[2021-05-06 13:40] dlorenc commented on #303
cc @jonjohnsonjr just in case you hate this

[2021-05-06 17:06] jonjohnsonjr commented on #303
I hate it a little bit but it's fine. You're going to run into a bunch of the same UX issues `crane cp` has, so you might want to think about that.

Is it not?

[2021-05-06 17:12] dlorenc commented on #303
IDK, not really:

[code]

[2021-05-07 18:38] priyawadhwa opened #311 "Allow specifying an insecure repo for sign/verify"
We'd have to do this if we wanted to run the tests that require a registry for tekton chains

Ref:  https://github.com/tektoncd/chains/pull/70

[2021-05-08 20:13] dlorenc opened #313 "Design: Cosign support for registries with immutable tags"
If a registry has "immutable tags" enabled as a feature (https://aws.amazon.com/about-aws/whats-new/2019/07/amazon-ecr-now-supports-immutable-image-tags/, for example), then cosign's model of "appending" signatures won't work for multiple signatures.

Let's figure out a workable option here. A couple options:

- Use cosign_repository to store signatures in a repo that doesn't have immutable tags e

[2021-05-12 17:22] michaelb990 commented on #313
Hey @dlorenc! I work on ECR. Let me know how we can help with this.

This one seems like the easiest option for us with the fewest "gotchas". It might be an issue for some customers if they have account or organization policies that require all repositories to have immutability enabled, but it should be workable.

This could work, with some issues that could arise when a repository has a ton of ta

[2021-05-12 17:38] dlorenc commented on #313
Thanks! This was my hunch for the best path as well, and my exact concern. I think we'll push ahead with this approach unless we start hearing that it's too hard for users to disable "immutable tags" for specific repositories.

[2021-05-12 17:53] dekkagaijin commented on #313
Do you have a good example of prior art for that? Presumably we'd be able to use the same access token for that API request as we would for the rest of ECR? I wouldn't be _too_ opposed to special casing things a bit here if there's enough demand for sigs in repos with immutable tags

[2021-05-12 18:03] dlorenc commented on #313
I agree, I'm fine in general with "polyfills" like this that make the tool more useful.

I think the ability to separate write permissions between the "signer" and the image repository itself is probably the most compelling reason to go with the separate repo model here though.

[2021-05-12 18:12] michaelb990 commented on #313
What do you mean? [We have documentation](https://docs.aws.amazon.com/cli/latest/reference/ecr/batch-delete-image.html) for the `batch-delete-image` command, there are similar pages for each language's SDK. You'd need to use AWS credentials (not the docker auth token that is used when pushing/pulling an image), but it should work as shown below. Happy to help provide examples in golang or answer o

[2021-05-13 20:25] yan opened #322 "Signature is pushed without tag when using COSIGN_REPOSITORY"
**Description**

When using `cosign sign` with `COSIGN_REPOSITORY` set and attempting to sign an image in ECR, the signature is pushed without tag.

Example invocation:
[code]
The signature gets pushed to the proper repo, although the `<sha>.sig` tag is stripped.

**More info**
It looks like `DestinationRef()` in pkg/cosign/upload.go strips the tag when assembling the final URL.

[2021-05-13 23:13] #322 closed

[2021-05-17 08:37] Dentrax opened #325 "design: consider allow pass by tag to image ref for signing and verifying process"
In order to sign an image with a tag, we need to pass a key-value pair (i.e. `-a tag=0.1.0`), like [the following](https://github.com/sigstore/cosign#tag-signing):
[code]
... We use `crane` here to get the digest of the tag, which brings an unnecessary dependency to the CI pipeline.

I propose that we can simply pass a version tag to the image ref:
[code]

Had better to auto add an `optional` fiel

[2021-05-17 11:24] dlorenc commented on #325
Hmm, if this doesn't work already it should be a bug:

[code]

I just tried with a tag...

[2021-05-17 15:03] Dentrax commented on #325
Oh, I see. We can get to it to fix this issue if you want. :)

[2021-05-17 15:15] dlorenc commented on #325
Hmm, which build of cosign are you using? They all appear for me every time...

[2021-05-17 15:19] Dentrax commented on #325
Hmm, it was a custom build from master, commit: #b48428df5d56433c471f0ec1ea1d3567e7143283

[2021-05-18 13:03] lukehinds opened #327 "libpcsclite.so.1 dependency"
Not something we need to fix as such, but we may want this for an install guide.

On Fedora 33/34;

[code]

Resolved by:

[code]

These are needed by GPG

[2021-05-18 13:59] joaopapereira commented on #313
Hello from Carvel here,
Really appreciate the work that yll are putting into building cosign, so that we can increase our supply chain security 🥇

Hmmm, what if I as a developer want to sign my own image? In this case, the developer would have to have access to write to the signatures repository.

Is there another registry that also supports immutable tags?

Feels a little bit like notary v1 need

[2021-05-18 14:11] dlorenc commented on #313
Hey @joaopapereira!

The default flow of cosign isn't changing! You can sign your own images however you want.

The suggested path here is really just for people that want to separate out permissions between the signatures repo and the images repo, or to enforce "immutable" tags. Since it's already in place via the `COSIGN_REPOSITORY` env var - I think this is really just a documentation issue to

[2021-05-18 14:58] joaopapereira commented on #313
I am approaching this from a `imgpkg` perspective because if we want to allow people to copy Images or Bundles signed with cosign, `imgpkg` will have to find out where these signatures are. So having a single point of search for the signatures would be ideal.
Going to take a look at the `COSIGN_REPOSITORY` env variable that you mentioned to see how might that impact the copy of the Images.

[2021-05-18 15:01] dlorenc commented on #313
Ah cool! Yeah that variable is used by cosign to place them in a different location.

cc @priyawadhwa @dekkagaijin - we just added a "cosign cp" command to help move things around like you're describing. Would it make sense for imgpkg to reuse that as a library?

[2021-05-18 15:04] joaopapereira commented on #313
I will have to see it, but I think that it would make more sense for `imgpkg` to consume the finding of the image as a library since we already have a bunch of logic for copyings OCI Images

[2021-05-18 15:25] dlorenc commented on #313
Ah cool, you can always use the "cosign.Munge" function we have to return the right location to copy.

[2021-05-19 15:44] dekkagaijin opened #329 "v0.5.0 release"
TODO:

- [ ] #313 (if feasible)
- [x] #305
- [x] #304 and #327 (document libpcsclite dependency)

[2021-05-20 18:40] dlorenc commented on #327
This is a dup of #305 I think.

[2021-05-20 18:40] #327 closed

[2021-05-21 19:59] #305 closed

[2021-05-24 12:32] dlorenc commented on #325
@Dentrax did you figure out what the bug/issue was?

[2021-05-24 13:10] rawlingsj opened #337 "[cosign sign] UNAUTHORIZED: You don't have the needed permissions"
Hi, just been looking at signing all Jenkins X images and would also like to make it super easy for Jenkins X users to get automated signing in their own pipelines.  We're using a Tekton task + secret that contains the private key + cosign password like this...

[code]
When the `cosign sign` step runs we're hitting `UNAUTHORIZED: You don't have the needed permissions` when pushing the signature.

[2021-05-24 13:13] dlorenc commented on #337
Ugh, yeah there's no great way here.

cc @jonjohnsonjr. The kaniko way "works" but requires us to add every helper to the image. The other way that we've been using in Tekton is the "k8schain" approach, where you have to setup credentials in an ImagePullSecret. Have you tried that one here?

[2021-05-24 13:46] rawlingsj commented on #337
Ok cool, I'll take a look at the "k8schain" approach.  Yeah it would be good to keep all those helper CLIs out of the image.

[2021-05-24 13:49] dlorenc commented on #337
This is something I'd love to fix "somewhere" by making a "workload identity" cred helper that just magically works with whatever standard workload identity mechanisms exist across all the cloud providers, but I have no idea how the other ones work :(

[2021-05-24 15:40] jonjohnsonjr commented on #337
Somewhat relevant thread here: https://github.com/knative/serving/issues/10259#issuecomment-760467811

If it's possible to build a general solution on top of KEP 541, that would be ideal. Otherwise, I think the best we can do is something _like_ k8schain without any of the magic -- just imagePullSecrets.

[2021-05-24 17:11] Dentrax commented on #325
I think I have used the incorrect public key file, which was why cosign threw `error: no matching signatures` error. I could not reproduce this error:

[code]

It works, my mistake, we can close the issue. 🤗

[2021-05-24 17:11] #325 closed

[2021-05-24 18:28] #304 closed

[2021-05-25 16:09] loosebazooka commented on #311
I can look at this

[2021-05-25 20:51] jonjohnsonjr commented on #311
Why does it have to be insecure?

[2021-05-25 20:59] loosebazooka commented on #311
I think I might want to try to get the test infrastructure to bring up a "trusted" registry to see if that can work?

[2021-05-25 23:00] priyawadhwa commented on #311
Yah so basically the Chains integration tests run on a GKE cluster but don't have credentials for GCR, so I set up an insecure registry in-cluster that we could push signatures to. We'd basically need this feature to be able to run `cosign verify` as a Task as the last step of the integration test.

Right now we get around needing this by port-forwarding the registry to a local port and using that

[2021-05-25 23:03] jonjohnsonjr commented on #311
I'd suggest having a self-signed cert for the registry and getting cosign to trust it via `SSL_CERT_FILE` or something.

[2021-05-26 00:15] dlorenc commented on #311
Isn't this what crane has this for: https://github.com/google/go-containerregistry/blob/7e30746dde2f5a19b609f885dfef4e7b1d1503ad/pkg/name/registry.go#L35 ?

[2021-05-26 00:35] jonjohnsonjr commented on #311
Yes, and it's lazy, and you shouldn't propagate it.

[2021-05-26 14:10] joaopapereira commented on #313
After some chat in https://sigstore.slack.com/archives/C01PZKDL4DP/p1621433653004700, I would like to propose this issue to use the listing tag option available in the [OCI Distribution spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#content-discovery).

The idea here would be for `cosign` when pushing a signature to create a tag that follows the pattern `<algo>-<abc...

[2021-05-27 00:57] dlorenc commented on #337
Any luck here @rawlingsj?

[2021-05-27 11:48] rawlingsj commented on #337
I had a quick look but wasn't 100% sure on the ImagePullSecrets approach.

So I'd need to use a secret containing the docker config json and then add that via a ImagePullSecret on the build pod?  We already have a `kubernetes.io/dockerconfigjson` secret attached to the Tekton kubernetes service account which gets automatically mounted into the build pod (which didn't work unless using the credenti

[2021-06-02 04:14] priyawadhwa opened #347 "Support signing and verification with cosign keys stored in k8s secrets"
We can implement this once https://github.com/sigstore/cosign/pull/345 is merged

[2021-06-04 06:23] cpanato commented on #329
v0.5.0 is out, closing this and moving #313 to v0.6.0

[2021-06-04 06:23] #329 closed

[2021-06-13 13:09] dlorenc opened #368 "CLI Design: Uploading Other Things"
**Description**

Right now we have:

`cosign upload` which uploads a "thing" but treats it as a signature. This is designed for usage in workflows that require signing with strategies unsupported by cosign (HSMs, other scripts), but still wish to use the rest of the [cosign signature spec](https://github.com/sigstore/cosign/blob/main/SPEC.md).

We also have `cosign upload-blob` which uploads a gen

[2021-06-13 13:16] dlorenc commented on #368
Note: all of these commands would be able to work with the current "naming convention" based discovery mechanism, but I think they also would work fine with the either of the two _References_ proposals in the OCI specification as well.

[2021-06-13 13:38] dlorenc commented on #368
@jonjohnsonjr I made this for you:
![image](https://user-images.githubusercontent.com/1714486/121809478-8eb34600-cc22-11eb-8d05-62f8f6f5f6b2.png)

[Gist](https://gist.github.com/dlorenc/989e3b06d698ebc7dee61be08baeb4c2)

[2021-06-13 19:33] nishakm commented on #368
Can cosign return the reference to the SBOM/Signature manifest so some other tool can use it to manage things like tracking original images and blobs? What about signed content, for example, signing an SBOM and producing a detached signature?

[2021-06-13 21:16] dlorenc commented on #368
Yup! I'll try to show how that would work in the diagram. It's actually the nice thing about treating the SBOMs as "first class" images, you can sign them just like normal ones. The only difference is they have a funny name.

[2021-06-13 21:35] dlorenc commented on #368
Getting more crowded, but hopefully this helps!
![image](https://user-images.githubusercontent.com/1714486/121822556-4c5f2880-cc65-11eb-9837-89fb91271577.png)

[2021-06-16 20:43] dekkagaijin opened #374 "v1.0.0 Release"
Tracking issue for enhancements and fixes which should make it into 1.0.0. Open for comment!

- [ ] Sign releases with the TUF-based root of trust
- [x] Docs for `pkg`
- [ ] Code samples for `pkg`

[2021-06-16 20:45] dekkagaijin opened #375 "v0.6.0 Release"
Tracking issue for fixes and enhancements which should make it into v0.6.0

[2021-06-17 12:05] dlorenc commented on #374
A couple quick things we haven't tracked elsewhere:

- document the library extensively and footgun proof it. Anything dealing with unverified data should be private or clearly marked as unsafe.
- define what's in "experimental" clearly
- sign releases with our new root

[2021-06-18 01:33] dlorenc commented on #375
Also let's think about switching from simple signing in this release. We don't have to actually switch, but we should make sure it's possible.

There's finally some movement on defining a standard descriptor format for these payloads.

[2021-06-22 01:14] dlorenc opened #381 "Firm up the spec around our bundle"
I think the bundle format has changed a bit recently @asraa added SET verification in #371, we're also working on better timestamp protocols.

We should take a pass at updating the spec a bit, including info on how to verify each one of these elements.

[2021-06-22 05:08] mkinage opened #383 "Cosign with AWS ECR"
We are working on configuring Docker trust using cosign with AWS ECR. I am able to sign Docker image but getting the below error while running a Docker.
Error: remote trust data does not exist for does not have trust data for awsaccno.dkr.ecr.us-west-2.amazonaws.com/testapp
Please let me know if I missed anything,

[2021-06-22 07:27] cpanato commented on #383
hello @mkinage, can you provide the command that you are running and maybe the full output of the execution?

thanks!

[2021-06-22 08:41] mkinage commented on #383
1.	Cosign installed using the below step
go install github.com/sigstore/cosign/cmd/cosign@latest

2.	Generate the key pair
cosign generate-key-pair

3.	Sign the Docker image
cosign sign -key cosign.key awsaccid.dkr.ecr.us-west-2.amazonaws.com/dockerimagename:1.0.111

4.	Verify Docker image
cosign verify -key cosign.pub awsaccid.dkr.ecr.us-west-2.amazonaws.com/ dockerimagename:1.0.111

All the abov

[2021-06-22 11:55] asraa commented on #381
Bundle was already doing this!

But yes, speaking of this -- do we want to move SignedEntryTimestamp to a signed note formatted timestamp when this is done?

[2021-06-22 12:36] dlorenc commented on #383
Cosign is not actually compatible with Notary/Docker Content Trust, so this is by design.

Could you explain more about your use case? Are you trying to prevent deployment into specific environments?

[2021-06-22 12:43] mkinage commented on #383
We have requirement to enable docker signing and run only signed images on the server. Can we achieve this without Notary / Docker content Trust.
Appreciate your help.

[2021-06-22 12:45] 06kellyjac commented on #383
If you're using kubernetes you can try @dlorenc's admission controller https://github.com/dlorenc/cosigned

For other setups you'll probably need to set up your own checks and balances

[2021-06-22 12:47] mkinage commented on #383
Thank you for the link. We are not running kubernetes.

Appreciate if you can provide any link or documentation to set up with docker.

[2021-06-22 12:54] 06kellyjac commented on #383
I can't find much but your best bet is probably going to be writing a docker engine plugin https://docs.docker.com/engine/extend hopefully you could verify the image and then prevent it from being used before it actually runs the container (IDK if that's possible through the plugin system).

Or you could have a program that watches docker for running containers, verifies their image, then kills th

[2021-06-22 14:05] mkinage commented on #383
Hi All,
Thank you very much for your prompt response.

Our use case is, we want to prevent our containers getting modified outside of our CD pipeline and only our signed container through pipeline can be deployed. since docker notary  is in commericial version, we are looking for open source free solution for same.

Below is the error we are getting by disabling Docker content trust,
docker run  -

[2021-06-22 14:21] 06kellyjac commented on #383
If it's trying to pull something ending with `.sig` I can only assume that's part of docker content trust signature verification, you might still have it enabled in your daemon config?
Unless that is part of the `$TAG` var and you're referring to an image that doesn't exist?

You can use notary with registries other than comercial docker such as the harbor registry which is apache 2.0 licensed:
ht

[2021-06-22 14:38] mkinage commented on #383
Thank you for the update.
I will check both points.

[2021-06-23 17:16] #381 closed

[2021-06-24 21:07] dekkagaijin opened #389 "Integrate sigstore's root of trust into `cosign`"
Allows for us to validate cert chains and signatures for arbitrary images and binaries.

TODO: decide on what the UX should look like for keyless attestation of signatures

[2021-06-25 13:10] dlorenc commented on #389
cc @asraa any thoughts here?

[2021-06-25 13:21] asraa commented on #389
Hm! Interesting good point. Here's what you *could* do:

With the client portion of the demo code https://github.com/sigstore/cosign/pull/366:
We can fetch and validate the targets the root of trust signed (e.g. fulcio root ca and rekor public key hardcoded in cosign) before using them. Where would we want to place them the TUF metadata though?
* on a registry like the demo PR?
* we could fetch di

[2021-06-28 11:34] mkinage commented on #383
I found when I am trying to sign image the sign going in to tag and our original tag which is build number getting removed. Is there any way we can add a tag with sign.
Pushing signature to: awsaccid.dkr.ecr.us-west-2.amazonaws.com/ dockerimagename:sha256-0ff118710bb3f6afasfsdfsdfdsfdddfdfd453a8dd2ac21.sig

[2021-06-28 12:19] dlorenc commented on #383
Hey @mkinage!

Yup - you can use the "-a" flag to add annotations into the signed payload. Something like:

cosign sign -a build=number $image

Then that key/value pair gets signed too. You can select on that during verification too:

cosign verify -a build=number -key key $image

[2021-06-28 16:00] mkinage commented on #383
Thank you very much for the update.
I have tried to do the above mentioned steps, I am able to push and verify image. How can I run the docker with tag.
Appreciate if you can provide steps or documentation to run container.

[2021-06-29 09:37] developer-guy commented on #347
@priyawadhwa are you working on this, if not, we would like to implement this feature with my colleague @Dentrax, we have a cycle for that.

[2021-06-29 12:36] dlorenc commented on #347
Go for it! Priya is on vacation for a bit.

[2021-06-29 19:52] dbilling opened #396 "Generalized Cosign External Signer/HSM Interface"
As cosign gains momentum, invariably there will be more and more requests from the community for ways to integrate into more complex key management services and solutions.  Enterprises are likely to have security requirements, access control/audit restrictions, physical conditions (e.g. datacenter/cloud VMs), and existing HSM/keystore systems in place such none of the current cosign key management

[2021-06-30 16:55] jalseth commented on #396
Agreed on the idea, but I'm not sure using plugins is the right approach. I think `cosign` should be updated to work with any signing backend that provides compatibility with the `crypto.Signer` interface. Doing so would make it trivial to integrate PKCS#11 and others in the future. Which integrations are brought into the core `cosign` project would be left up to the maintainers.

[2021-06-30 17:01] dlorenc commented on #396
Go plugins are slightly problematic for this use-case. I don't know enough about PCKS11, but is that a generic enough API to work with most remote systems?

[2021-06-30 17:10] jalseth commented on #396
PKCS#11 is a standard API for communicating with hardware crypto modules. HSM vendors provide a PKCS#11 module, which is a shared library that exports the expected functions, and then handles any device-specific logic for communicating with the vendor's device. With this, any software that supports PKCS#11 can now work with a large variety of hardware crypto modules from various vendors.

[2021-06-30 18:09] dbilling commented on #396
As the author of the issue, I can state definitively that I do not want or need PKCS#11 for my use case (although others might), rather I need to have cosign interoperate with a signer that works over a custom REST API.    I think @jalseth nailed it when he said  "cosign should be updated to work with any signing backend that provides compatibility with the crypto.Signer interface".     In my part

[2021-06-30 21:32] asraa commented on #389
If it makes sense to pin the initial root in cosign and add verification for Fulcio/Rekor keys and certs, let me know! I can at least use an HTTP fetch.

[2021-06-30 22:42] jalseth commented on #396
I would use PKCS#11, so I'd like to see support for it added to cosign, but like I said as long as cosign supports crypto.Signer that's what really matters as I can write the glue to PKCS#11 myself if I need to. Without that though, I'd have to maintain a fork which can turn into a headache pretty quick.

[2021-07-01 10:39] dlorenc commented on #396
I think I understand now, thanks everyone for the discussion! This is a case of the standard in tree vs out of tree go extensibility problem :)

crypto.Signer is a good place to start as a rule for how we'll add other methods. As for when things go in tree, I think we'll have to establish some criteria. I don't want to be overly cautious here, but at the same time we can't just add direct support

[2021-07-01 12:07] cpanato opened #399 "Support Azure KMS"
**Description**

Support Azure KMS

[2021-07-01 12:07] cpanato commented on #131
will implement for Azure -> https://github.com/sigstore/cosign/issues/399

[2021-07-01 13:27] codysoyland commented on #131
I am almost finished implementing AWS KMS support -- should have a PR in sigstore by EOD.

[2021-07-02 14:23] #383 closed

[2021-07-02 14:24] mkinage commented on #383
It is working with the provided solution. Thank you very much.

[2021-07-02 14:40] omerfsen commented on #383
+1

[2021-07-06 08:32] developer-guy commented on #399
We are currently working on this with my colleague @Dentrax

[2021-07-06 08:51] cpanato commented on #399
@developer-guy there is a PR in WIP https://github.com/sigstore/sigstore/pull/76 please take a look on that

[2021-07-06 13:13] #347 closed

[2021-07-06 19:50] Dentrax opened #409 "proposal: cmd: add sign-list & verify-list, for all tags in the image"
**TL;DR:** _I propose adding two new commands to cosign, called "sign-list" and "verify-list"._

**Abstract**

As we already know that Registry HTTP API V2 exports [Listing Image Tags](https://docs.docker.com/registry/spec/api/#listing-image-tags) endpoint, calling by `GET /v2/<name>/tags/list`, we quickly list all the given tags by giving an image name. `$ crane ls <IMAGE>` for example. Signing a

[2021-07-06 19:51] developer-guy opened #410 "proposal: cmd: add sign-catalog & verify-catalog, for all images in the registry"
Let's assume that we are already using gcr.io to keep our container images.

We know that `gcr.io` is based on [Registry API v2](https://docs.docker.com/registry/spec/api/), which means that we can use the `v2/_catalog` endpoint to get all the repositories that we already have in the container registry.

[code]

So, we can use this kind of information to sign & verify all the images belongs to the

[2021-07-07 18:43] dekkagaijin commented on #374
Going to kick off a 3-week period for comment before releasing 1.0 on July 28

[2021-07-08 14:39] AlekSi opened #423 "Why not use Notary v2?"
The most interesting FAQ entry is empty: https://github.com/sigstore/cosign#why-not-use-notary-v2

[2021-07-08 14:44] dlorenc commented on #423
Hey @AlekSi!

The simple answer is that you can't use notary v2 right now :)

Many of us are actively engaged in the Notary V2 working groups, but I don't have a clear enough picture of what that project is intending to eventually build/become to write a detailed explanation of the differences. My hope is that we can eventually align on an interoperable signature format, see some of my proposals o

[2021-07-08 14:51] AlekSi commented on #423
The first FAQ entry tells me that I can't (should not) use cosign too.

https://www.docker.com/blog/secure-software-supply-chain-best-practices/ tells me

You [plan](https://github.com/sigstore/cosign/issues/374#issuecomment-875842827) to release 1.0.0 this month.

I… just don't understand how two projects that are so close to shipping are not compared in the README / FAQ. As a user, I'm looking f

[2021-07-08 15:04] dlorenc commented on #423
I can't really comment on that blog post, other than to say that it's quite far from my understanding of the state of the notary v2 project.

Here's my understanding of the differences as of today, July 8th:

## Cosign
- Cosign was designed to work with existing registries over existing OCI specifications and APIs, and can be used by over a dozen production registries today.
- We're using it in pr

[2021-07-08 15:05] SantiagoTorres commented on #423
Just want to point out that there's a *whole sea* of difference between "this software has been released a couple of times, and is about to reach API stability" with "there's a blogpost somewhere that promises that they will work very hard to release something in 'a few months if all is well'"

Part of the challenge is that there is no public Notary V2 design yet (at least that I'm aware of). I ca

[2021-07-08 18:13] trishankatdatadog commented on #423
@AlekSi AFAICT, Notary v2 has not publicly committed to offer security levels comparable to TUF (implemented in Notary v1). It is strange why they would _downgrade_ security by default.

OTOH, cosign works well with [TUF](https://blog.sigstore.dev/a-new-kind-of-trust-root-f11eeeed92ef) and [in-toto](https://twitter.com/lorenc_dan/status/1403814822370762754).

[2021-07-10 13:15] joaodrp commented on #410
Keep in mind that the `_catalog` endpoint is _far_ from being widely supported across registry providers, and in fact it's no longer part of the [OCI Distribution spec](https://github.com/opencontainers/distribution-spec), so this could lead to a poor/broken UX.

[2021-07-10 13:42] dlorenc commented on #410
Yeah - it's unfortunate but probably not worth trying just yet.

[2021-07-12 06:24] developer-guy commented on #410
thank you so much for the explanations, at least I learned something new through this PR.

[2021-07-12 06:25] #410 closed

[2021-07-12 21:43] #375 closed

[2021-07-13 10:20] dmesser commented on #40
Hi, small correction here: Quay will support custom mime types in 3.6, not 4.6. We are also updating our default configurations in the documentation and the config-app to include the required mime type for cosign to work as of the 3.6 release.

[2021-07-13 11:24] dlorenc commented on #40
@dmesser Thanks for the update!

[2021-07-13 11:38] dlorenc opened #430 "Bug in verify-dockerfile"
**Description**

It fails on the dockerfile we have in this repo:

[code]

[2021-07-13 15:00] dlorenc commented on #430
Go for it!

[2021-07-13 20:44] Dentrax opened #434 "verify-dockerfile: does not recognize default parameter substitution"
**Description**

Minimal reproduce:

* Set the `$BUILDPLATFORM` env to `arm/v7`.

Happy-path test case:
[code]

* Unset the `$BUILDPLATFORM` env.

Failing test case:
[code]

i.e.:
[code]

[getImageFromLine()](https://github.com/sigstore/cosign/blob/e68da418ca48b1c5bf860ee33bd7e8b85cd3edf3/cmd/cosign/cli/verify_dockerfile.go#L126) function returns `--platform=` instead of `--platform=linux/amd64`

[2021-07-13 20:57] developer-guy opened #435 "verify-dockerfile: support for ARG instructions to define base images"
Sometimes, we might be using `ARG` instruction to define their base images within the `FROM` instruction within the Dockerfiles like the following one:

[code]

I did some tests to see what is going to happen and I got the following error from the method [getImagesFromDockerfile](https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/verify_dockerfile.go#L124):

[code]

So, we have to tackle

[2021-07-15 16:30] developer-guy opened #437 "proposal: verify-manifest: Traversing Kubernetes Resources and Verify the Given Images"
## Abstract

Slightly the same with `verify-dockerfile,` but for Kubernetes Resources, responsible for creating containers such as `Deployments,` `ReplicaSets,` `DaemonSets.`
etc. The same logic we used to check `ImageRef`s in `verify-dockerfile` command can simply traverse the whole resource to check given `image`s actually _signed_.
There is an alternative way of doing the same with creating `Va

[2021-07-16 07:03] Dentrax commented on #437
| KIND        | IMAGE PATH                                        |
|-------------|---------------------------------------------|
| Deployment  | spec.template.spec.containers[*].image      |
| DaemonSet   | spec.template.spec.containers[*].image      |
| ReplicaSet  | spec.template.spec.containers[*].image      |
| StatefulSet | spec.template.spec.containers[*].image      |
| CronJob     | spec.s

[2021-07-16 09:16] developer-guy commented on #430
we noticed other bugs while we are working on this issue. It would be better to mention these issues #434 #435 to keep up the process from a single place.

[2021-07-16 11:05] dlorenc commented on #437
This is awesome! I've also heard another use case that might be good to capture here: "inlining" the signatures for each image nto the k8s object itself as an annotation. That would make verification by a policy system easier.

[2021-07-16 12:59] developer-guy commented on #437
oh nice, yes we would definitely consider that once we start to implement this, what do you suggest we use as an annotation key, is there any standard key for it ?

[2021-07-16 13:02] dlorenc commented on #437
No, not that I know of yet!

[2021-07-16 14:26] dlorenc opened #442 "Determine attestation format for vuln scans"
**Description**

From a slack conversation with @developer-guy @Dentrax and @joshuagl, capturing it here so I don't forget!

We've already discussed support for signing/verifying/storing `attestations`, using the In-Toto model: https://github.com/in-toto/attestation, and @developer-guy brought up a common use case around storing vulnerability scan reports for an image in the registry.

Storing sca

[2021-07-16 15:01] trishankatdatadog commented on #442
Yeap, at a cursory read, saying vuln scans have element of time attached to it makes sense

[2021-07-19 20:53] dlorenc commented on #442
Or as Santiago just brilliantly came up with:

`cosign attest -f <attestation> <img>`

to do the signing, uploading and attaching!

[2021-07-20 18:52] NitinJain2 commented on #442
Storing scan results directly in the attestation has some advantages. For example, an important use-case for Binary Authorization customers is allow-listing certain vulnerabilities in the policy. They typically author policies of the form "No critical vulnerabilities allowed, except when the vulnerability is in the following allow-list: [CVE-1111, ..., CVE-9999] ".
Additionally, customers can chan

[2021-07-20 22:54] dlorenc commented on #442
Makes sense! Thanks @NitinJain2! Are you aware of any specific vuln scan report formats?

[2021-07-20 23:12] Dentrax commented on #442
Something like [Static Analysis Results Interchange Format](https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html) _(SARIF)_ scan report format?

[2021-07-20 23:44] dlorenc commented on #442
Perfect! Do snyk/trivy etc support that?

[2021-07-21 08:28] Dentrax commented on #442
Not [sure about](https://snyk.io/blog/snyk-security-information-in-github-code-scanning/) Synk since [CLI Reference](https://support.snyk.io/hc/en-us/articles/360003812578-CLI-reference) does not point it out, but Trivy have a [template](https://github.com/aquasecurity/trivy/blob/main/contrib/sarif.tpl) for that. And most of analyzers have a support for SARIF output. (i.e., Kics, Dockle, etc.)

[2021-07-21 09:38] lukehinds opened #461 "Expose OIDC values as flags"
Currently oidc and fulcio connectivity is hard coded:

https://github.com/sigstore/cosign/blob/5879961e2d5c17b67188a7d7520320022958eea5/pkg/cosign/fulcio/fulcio.go#L45-L53

Expose these as flags, so that users can also try out keyless against their own infra.

[2021-07-21 09:41] lukehinds commented on #461
To add, it would be nice to get this into 1.0 , as sigstore the hard way uses cosign to demo keyless.

[2021-07-21 11:53] dlorenc commented on #461
There's an env var for fulcio currently, we could also add a flag. We don't have anything for the oidc one, we need to add that.

[2021-07-21 18:26] #430 closed

[2021-07-22 12:42] dlorenc commented on #196
Let's use this to document the existing working policy engines.

We have:
- https://github.com/sse-secure-systems/connaisseur
- Kyverno
- OPA: https://github.com/developer-guy/container-image-sign-and-verify-with-cosign-and-opa
- cosigned

[2021-07-22 16:54] dlorenc opened #467 "Document Package Managers!"
We're in Arch and Nix. We should show how to install cosign with these!

[2021-07-22 19:32] dlorenc commented on #437
Does anyone want to take a stab at the "inlining" aspect?

[2021-07-22 21:18] dlorenc commented on #437
Here's a possible UX:

cosign verify-manifest (similar to blob and image syntax)
cosign inline-attestation -f manifest.yaml -key key [-attestationType=something] [-annotation=something]

[2021-07-23 01:45] dlorenc opened #472 "Feature: Add support for custom attestation predicate types"
Right now we hardcode a specific one for cosign. We should add a flag to select a different one, and then have an index of "well-known" predicates that can be unmarshalled correctly/validated into a go struct

[2021-07-23 06:18] containerpope commented on #399
@cpanato I think discovered a problem in the current implementation, when the signature is verified with the local cosign.pub cert that gets created automatically when you initialize the KeyVault. (signing worked like a charm)

[code]

When I verify via the kms flag, it works fine:

[code]

Is there something wrong with the cosign.pub that gets persisted to disk when you initialize the KeyVault? I

[2021-07-23 06:42] cpanato commented on #467
should we make for brew as well?

[2021-07-23 08:44] dlorenc commented on #467
The more the merrier!

[2021-07-24 11:24] cpanato commented on #399
@containerpope thanks for raising this, i will take a look and reproduce and see how to fix it
sorry if that cause any trouble

[2021-07-24 11:28] containerpope commented on #399
@cpanato no worries, I was just testing on our dev environment. If you need more data or logs feel free to reach out and I will try to provide some.

[2021-07-24 15:39] cpanato commented on #467
now we have brew as well: https://github.com/sigstore/homebrew-tap

[2021-07-24 15:39] cpanato commented on #467
will document all during next week

/assign

[2021-07-25 16:45] joshes commented on #38
I've been thinking about this and yes, as @danmx says we can't run this at `apply` time and not everyone utilizes `kustomize` templating so would limit the usage I think.

What about a discrete plugin that performs 2 actions?

1. **kubectl cosign-update** Updates the resource(s) (writes) with relevant validation metadata on each kind containing an image
2. **kubectl cosign-validate** Validates all

[2021-07-25 16:53] dlorenc commented on #38
This sounds awesome! I somehow forgot this was open and we discussed this a bit in #437 too.

[2021-07-25 18:00] joshes commented on #437
I made a few comments over on #38 and was made aware of this thread. I think this is a good idea and could possibly dovetail nicely into that issue as a downstream side-effect, perhaps as a separate flag on the verify or a more explicit cli option outright.

Verify only:
[code]

Verify and write meta (on verify):
[code]

Explicit:
[code]

Once that exists, it doesn't feel like #38 would be require

[2021-07-26 04:56] lukehinds commented on #461
resolved here https://github.com/sigstore/cosign/pull/462

[2021-07-26 04:56] #461 closed

[2021-07-26 10:33] lukehinds commented on #374
please also include https://github.com/sigstore/cosign/issues/87

this way cosign can be used (albeit experimental) against other fulcio roots (and not just the public instance)

I am working on this now, but figuring out a approach, if maintainer already has an idea how they want it done, please go ahead.

[2021-07-26 11:46] Dentrax commented on #442
I dig into some important tools to check whether they have support. What I have found are the following:

| Tool    | PATH                                                                                  |
|---------|----------------------------------------------------------------------------------------|
| Kics    | https://github.com/Checkmarx/kics/blob/master/pkg/report/model/sarif.go

[2021-07-26 14:46] loosebazooka opened #478 "Add cosign info to user agent"
Add `cosign/$VERSION` to whatever ggcr is already sending.

Ends up looking like: `User-Agent: cosign/version go-containerregistry/version`

details: https://github.com/google/go-containerregistry/blob/f37e4debb1523f20848e7b43837d809a3aee2f97/pkg/v1/remote/options.go#L169

[2021-07-26 17:04] #478 closed

[2021-07-26 23:03] joshes commented on #437
Question around the manifest parser implementation.

Happy path parsing via regex solves for YAML resources and gets this out quickly which is a good thing. But, it is regex and wouldn't support JSON resources OOTB. We could feature-add JSON support by traversing the object looking for "image" keys to keep it simple - but wanted some feedback on this.

Should we enforce a `.yaml` extension for san

[2021-07-27 09:00] pafco007 commented on #437
#38

Le lun. 26 juill. 2021 7 h 03 p.m., Joshua Hansen ***@***.***>
a écrit :

[2021-07-27 09:00] pafco007 commented on #437
Mon argent est ou

Le mar. 27 juill. 2021 4 h 59 a.m., Stéphane Dionne ***@***.***> a
écrit :

[2021-07-27 15:49] #87 closed

[2021-07-28 10:15] angelbarrera92 opened #494 "Binary release not working on alpine based images"
Hi!

I am trying to automate the singning of a container image in a pipeline. It runs inside an alpine container image and the error reported is:

[code]

To reproduce the issue follow these steps:

[code]

I think is missing a OS dependency... How can i figure out which one is missing?

[2021-07-28 10:18] containerpope commented on #399
@cpanato I investigated further and downloaded the certificate also with the az tooling.

[code]

The certificates are identically, so it seems, that the cosign verify does just not work properly with the local certificate. In case you use the key vault kms command to verify it, it works. Is there any difference between the implementations?

[2021-07-28 10:22] angelbarrera92 commented on #494
"Solved" installing also `libc6-compat`.

[code]

So maybe it could be a good idea building the release binaries with the `CGO_ENABLED=0` flag. What do you think?

[2021-07-28 11:17] cpanato commented on #494
yep the release 0.6.0 for linux need this extra dependency, which is removed and the release 1.0.0 will not break this :( sorry for that

you also can use the image available: `gcr.io/projectsigstore/cosign:v0.6.0@sha256:2303322158802ec0452758578ac80801a3754ee9cb19c128fc5d1b2ec32fa2d2`

[2021-07-28 15:31] cpanato commented on #374
we can close this and plan v1.1.0

[2021-07-28 19:10] dekkagaijin commented on #374
Congrats and thank you, all

[2021-07-28 19:10] #374 closed

[2021-07-29 06:41] developer-guy commented on #472
The documentation for the "well-known" precidates within the in-toto's attestation spec can be found by following the link:

https://github.com/in-toto/attestation/blob/main/spec/README.md

[2021-07-29 07:37] lukehinds opened #506 "cosign binary sig verify instructions should be present"
The release page and [installation section](https://github.com/sigstore/cosign#releases) should  give users details on how to verify sigs (using openssl, and not cosign validating itself)

What do they verify with? Against the binary, the cosign_checksums.txt, the hash for the binary in cosign_checksums.txt?

[2021-07-29 10:46] wy65701436 opened #507 "Cosign support for registries with Garbage Collection"
Because of cosign's model of "appending" signatures for multiple signatures, the pervious pushed signuates become untagged artifact in the registry. Since the registry supports GC untagged artifact, these untagged artifact can be deleted via GC, but they are actually valid.

In addition, the reserved signature containes the removed signature layer.

[code]

[2021-07-29 12:40] dlorenc commented on #507
That's correct! The new object has all the previous signatures though, so it should be equivalent.

What's the behavior you're expecting to see?

[2021-07-29 12:43] #472 closed

[2021-07-29 12:45] dlorenc commented on #506
cc @cpanato

[2021-07-29 12:53] dlorenc commented on #506
Added a section on the release page:
![image](https://user-images.githubusercontent.com/1714486/127495601-4fb6bf4e-b6f3-43ea-a603-d2234fc647ee.png)

We had this back on the 0.1 release, but forgot to copy it forward!

[2021-07-29 12:55] dlorenc commented on #337
Did you manage to figure this out @rawlingsj ?

[2021-07-29 12:56] dlorenc commented on #259
This is done now with the new "cosign attest" and "cosign verify-attestation" commands. Thanks @developer-guy and @Dentrax!

[2021-07-29 12:56] #259 closed

[2021-07-29 12:59] dlorenc commented on #442
Retitling this to settle on an attestation for vulnz!

[2021-07-29 13:03] lukehinds commented on #506
awesome, thanks dan!

[2021-07-29 13:08] dlorenc commented on #389
Don't know how I closed this one by accident!

@dekkagaijin could you link your doc here when it's ready?

[2021-07-29 13:29] Dentrax commented on #442
I think @developer-guy we are currently working on [predicate](https://github.com/in-toto/attestation/tree/main/spec#pre-defined-predicates) spec schemas to propose some spec samples about this:

We can enrich the following structure:
[code]

Wdyt, folks?

[2021-07-29 14:06] #506 closed

[2021-07-29 14:09] dlorenc commented on #442
Hmm - what's this section for? It looks redundant maybe with the rest of the attestation format (where the signature is over the entire statement)

[2021-07-29 14:55] #494 closed

[2021-07-29 14:58] Dentrax commented on #442
Oh yeah! `signer` seems a bit redundant. But Not sure but I think it's better if `signed` (or smth like) there since we need to know which project and image signed at the end of day. 🤔 _i.e., alpine (registry.foo.com/images/alpine:v0.1)_

[2021-07-29 15:05] dlorenc commented on #442
Sorry I think I'm still missing something... Wouldn't the image info for alpine get included in the `Subject` field of the Statement? It's in the header for all the predicates.

Something like this:
![image](https://user-images.githubusercontent.com/1714486/127516653-adb7376e-e31f-4dd1-bae0-e1b67c071add.png)

[2021-07-29 15:34] Dentrax commented on #442
I see! I forgot to include _subject_ field. We updated [(edited)](aforementioned) the aforementioned predicate spec structure!

CC'ing @MarkLodato @joshuagl for the feedback and further ideas about the current structure. 😇

[2021-07-29 16:40] dlorenc commented on #442
Nice! looks great. One nit: I think the `predicateType: SARIF` part should actually point to some kind of URI. It could point to something like "cosign.sigstore.dev/sarif/v1".

[2021-07-29 20:51] rjbrown57 opened #508 "verify-dockerfile Does not appropriately handle scratch images."
**Description**

`cosign verify-dockerfile -key $key Dockerfile` Does not appropriately handle scratch images.

[code]

[2021-07-30 07:26] developer-guy commented on #472
there is also another discussion going on about another type of predicate for vulnerability scans.
https://github.com/sigstore/cosign/issues/442

[2021-07-30 08:44] Dentrax commented on #442
The main question is... How should we generate such a big `predicate` spec in efficient way. Let's assume there's more than 5+ scanner results. Should we need to create something like `sarif-generator` at the end of the day? Somehow, we have to feed every field that defined in the spec (i.e., passing by flags, a .tpl file, env substitution, etc.). Wdyt @developer-guy?

[2021-07-30 14:17] developer-guy opened #512 "Feature: Add support for custom attestation predicate types but this time while verifying attestation"
**Description**

We added this support for uploading attestation to the registries in PR #504  but we haven't added this support for verifying attestations against claims yet, so we have to add this support for it too.

https://github.com/sigstore/cosign/blob/main/pkg/cosign/verifiers.go#L47

cc: @dlorenc @Dentrax

[2021-07-30 15:16] dlorenc commented on #437
Actually, instead of "verify-manifest", what if we move this into the "verify" command itself? It could take an image URL or a path to a local manifest file.

Im worried now, because I'd also like to add "verify-attestations" for "manifests", so flattening "manifest" into the verify/verify-attestation commands might be nicer.

[2021-07-30 15:32] joshes commented on #437
I posted this on Slack yesterday and wondering if its applicable here or not (apologies for the cross-post)

I like the idea of flattening it to basically a URI or Manifest, so long as that covers the expected future wants of cosign and we are explicit about what a Manifest is and expectations. I could imagine arbitrary verifiers being wanted by future users though for unhandled use-cases.

[2021-07-30 15:40] dlorenc commented on #437
Ah, now I get it! Yeah, "verifiers" would be "the thing that lists the objects to verify"?

[2021-07-30 16:13] joshes commented on #437
Kind of. Here's an example session of what I think would be a good ux (IMO).

[code]

If the system was pluggable, new verifiers could be added without being so explicitly in the main cosign repository which may add to a more narrower surface area for cosign directly (e.g., "core" functionality vs extended functionality).

So requirements would be:
- Basic plugin system (effectively a driver to ad

[2021-07-30 16:30] Dentrax commented on #437
`list-verifiers` sounds cool idea! We _may_ do not have to pass `--verifier` flag since we check and recognize the input format. Same idea fits to `list-signers` command, IMO.

[2021-07-30 16:47] #508 closed

[2021-07-30 18:51] dlorenc commented on #437
I'd really like to avoid going with an extra install/plugin system. Keeping everything in-tree here would be fine with me!

Do you think we would actually need the --verifier flag in all cases, or could we sometimes detect the type of file automatically?

[2021-07-30 20:52] joshes commented on #437
Seems we wouldn't require the `--verifier` flag so no, which would be much simpler overall. After thinking on it more, what you propose makes sense, just keep the verifiers here (in-repo).

Sounds good!

[2021-08-02 08:46] 06kellyjac opened #514 "1.0.1 tag but no corresponding release"
**Question**

Why is there a 1.0.1 tag but no corresponding release?

[2021-08-02 12:32] dlorenc commented on #514
cc @dekkagaijin

The changes were only to the internal pkg structure, designed to make the code a little easier to use as a library. The tag was to make it so go would import this version, but there should be no functional difference to the binary. We should probably just release binaries again anyway though for consistency.

[2021-08-02 12:35] 06kellyjac commented on #514
Cool, that answers my question :+1:

[2021-08-02 12:35] #514 closed

[2021-08-03 17:04] developer-guy commented on #442
Yeah, sounds cool @Dentrax, that would be great IMHO because people have to create a corresponding attestation spec that fits their needs; if we can develop that kind of tool, we make their life more straightforward to work with attestation specs before signing and verifying them in their CI/CD pipelines.

[2021-08-03 18:09] dekkagaijin commented on #514
Yup, just wanted `go mod` to pick up the PRs which pruned the surface of `pkg` ASAP. Functionality of the binaries weren't modified

[2021-08-04 07:32] Dentrax commented on #188
This morning, @developer-guy sent me a link about the [OCI Base Image Annotations](https://github.com/ImJasonH/ImJasonH/tree/main/articles/oci-base-image-annotations). And just want to look around to see if there is an active discussion issue about this.

---

What would the cosign's behavior in case there are _multiple_ base images? Let's assume we have the following _minimal_ Dockerfile:

[code]

[2021-08-04 07:57] developer-guy commented on #279
I think it has already done, you can close this issue @dlorenc 🙋🏻‍♂️
https://github.com/sigstore/sigstore/blob/main/test/e2e/kms/vault_test.go

[2021-08-04 15:51] jonjohnsonjr commented on #188
I tried to get support for multiple bases in the proposal, but everybody seemed to hate it, so I gave up.

For my own purposes, I'd also love to be able to express this kind of thing, but I don't think the world is ready for it quite yet. In the meantime, I'm planning just produce a synthetic base _index_ that includes every image you pulled FROM. This would essentially be a snapshot of all your b

[2021-08-04 21:24] jackie-kinsler opened #522 ""Created" date for signature is always Dec 31, 0"
When signing images and pushing them to Google Cloud Registry, the signature's "Created" date is always Dec 31, 0.
I would have expected the "Created" date for the signature to be the date the container was signed.

`printenv GCR_ACCOUNT | docker login -u _json_key --password-stdin gcr.io`
`cosign sign -key cosign.key $NAMESPACE:$version`

[2021-08-04 22:24] dekkagaijin commented on #522
We generally avoid unnecessarily breaking reproducibility whenever possible, which means setting such timestamps to a constant value. If there's demand for it, we could add a flag to timestamp the signature images

[2021-08-07 15:48] cipriancraciun opened #525 "Handling passwords when `stdin` is a pipe (as opposed to a TTY)"
At the moment (in `v1.0.0`) when `stdin` is a pipe (for example `some-command-to-print-secret | cosign generate-key-pair`) the tool tries to read the password twice and fails to verify it.  (I know there is `COSIGN_PASSWORD`, but I would like to avoid exposing it as an environment variable.)

This is not exactly a "bug", more an "unexpected behaviour", since most tools that input passwords, if the

[2021-08-07 15:51] cipriancraciun commented on #525
Also, strangely even if `COSIGN_PASSWORD` is exported, the tool still reports `Enter password for private key:` and `Enter again:`, although it does seem to use the environment variable.

[2021-08-08 12:46] dlorenc commented on #525
Thanks for the detailed report! This does look incorrect. Would you like to give fixing this a try? I'd be happy to provide some pointers.

[2021-08-09 16:55] ncdc commented on #196
@dlorenc I'm curious if you're thinking about having an "official" admission controller for cosign in the sigstore org (e.g. move cosigned there, or make it part of this repo), or if admission is something that you'd rather delegate to the broader community?

[2021-08-09 17:06] dlorenc commented on #196
I think I'd be supportive of "an official one" as long as we can convey that sigstore is also intended to work well with all the other ones. I don't want anyone to get the impression that sigstore can **only** be used with the *official** one.

Does that make sense?

[2021-08-09 17:07] ncdc commented on #196
Totally, thanks!

[2021-08-09 22:10] ionut-arm commented on #396
Hi!

Somewhat tangentially related to the original question - you could access hardware backends using [Parsec](https://github.com/parallaxsecond/parsec). We're building this CNCF project with the exact goal of allowing applications abstracted access to crypto backends using high-level libraries written in whatever programming language is needed. Container/workload signing was actually one of the

[2021-08-10 05:58] cipriancraciun commented on #525
I might give it a try (my assumption is to look in the `GetPass` function).

However quickly looking through the source code I see that `term.ReadPassword` is used in quite a few places, therefore perhaps a policy regarding password management should first be identified, and then implemented throughout the code-base (not just the private key handling).

(I see that in the `master` branch, the `Get

[2021-08-11 11:00] anish-yadav commented on #506
Error Verifying Data
139669014983104:error:0D0680A8:asn1 encoding routines:asn1_check_tlen:wrong tag:crypto/asn1/tasn_dec.c:1130:
139669014983104:error:0D07803A:asn1 encoding routines:asn1_item_embed_d2i:nested asn1 error:crypto/asn1/tasn_dec.c:290:Type=ECDSA_SIG

getting this error while trying to verify the data

[2021-08-11 12:16] dlorenc commented on #506
Could you include the full command you tried?

[2021-08-11 12:30] anish-yadav commented on #506
@dlorenc is their something wrong that i am doing.
what I want is to sign the images (docker) using cosign but verify using openssl

[2021-08-11 13:42] anish-yadav commented on #506
@dlorenc
`
{
  "schemaVersion": 2,
  "config": {
    "mediaType": "application/vnd.oci.image.config.v1+json",
    "size": 233,
    "digest": "sha256:3b25a088710d03f39be26629d22eb68cd277a01673b9cb461c4c24fbf8c81c89"
  },
  "layers": [
    {
      "mediaType": "application/vnd.oci.descriptor.v1+json",
      "size": 217,
      "digest": "sha256:0e79a356609f038089088ec46fd95f4649d04de989487220b1a0adbc

[2021-08-11 14:37] dlorenc opened #532 "Lightweight verification library/module"
This came up in the context of OPA in slack - they'd like to provide a builtin for verifying signatures, which would ideally depend only on the Go stdlib. Cosign today links in a bunch of dependencies on things like cloud KMS signers and even the OCI registry clients. We should figure out a way to provide a lightweight library with NO dependencies that can validate signatures. This would require t

[2021-08-11 14:39] dlorenc commented on #532
cc @dekkagaijin @srenatus

Jake - any ideas if this should go here or into sigstore/sigstore? Or do we need a new "verify only" module somewhere? I forget how aggressively go mod will prune transitive deps...

[2021-08-11 15:30] srenatus commented on #532
AFAIK having such a package within this module should be fine.

[2021-08-11 19:03] developer-guy commented on #532
How can we get involved in it with @Dentrax because we are really really interesting with this topic 🤩

[2021-08-11 19:14] dlorenc commented on #532
Go for it! I'm not sure how much refactoring would be needed, but the idea is just some kind of package that can do as much verification as possible using only the stdlib!

[2021-08-13 07:08] ansidorov opened #538 "cosign does not support all available HashiCorp Vault algorithms"
**Description**

While working with cosign with KMS HashiCorp Vault I discovered a problem by getting this error:

[code]

From communication in Slack, we found that cosign currently supports the following algorithms: https://github.com/sigstore/sigstore/blob/main/pkg/signature/kms/hashivault/signer.go#L41-L48

However, HashiCorp Vault currently supports 3 more algorithms: `aes256-gcm96`, `aes128-

[2021-08-15 03:09] JimBugwadia opened #542 "cosign verify does not check if image digest matches the current artifact"
This issue was reported by a Kyverno user and I've reproduced via the cosign CLI:

Currently its possible to change (or delete) the image without updating the signature. When verifying the image via the digest, cosign will not report an error.

1. Sign an push image signature. `cosign sign -key cosign.key ghcr.io/jimbugwadia/pause`.
2. Delete the image in the image registry (I used GitHub to do th

[2021-08-15 17:45] #542 closed

[2021-08-15 18:04] dlorenc opened #545 "Release v1.1.0!"
@dekkagaijin @developer-guy @Dentrax anything else we want to get in for this?

[2021-08-15 18:06] dlorenc commented on #545
@JimBugwadia  just fixed #543 which is pretty important to get out soon IMO. We've also seen quite a few new features, so maybe target end of this week?

Some nice to haves (don't have to wait for):

- [ ] #532
- [ ] #525
- [ ] #389 (we've made some progress here, but can keep going!)

[2021-08-15 18:09] developer-guy commented on #545
I have also some nice to have ones, wdyt?

- [ ] #538 (this one is related to bug about Vault KMS)
- [ ] #512

[2021-08-15 18:11] Dentrax commented on #545
We have included #442 into 1.1.0 milestone. But I'm not sure about if we'd make it in time. Maybe we should iterate this to next milestone?

[2021-08-15 18:11] dlorenc commented on #545
Ooooh right! That one would be great too.

[2021-08-15 19:45] garantir-km commented on #396
Supporting PKCS11 is all that is really needed here. For HSMs (or other cryptographic tokens/services) that provide a PKCS11 library, users will be good to go out-of-the-box without the need to custom code anything (assuming the PKCS11 library implements everything it needs to). For users that need to do something more custom (e.g., REST, gRPC, etc.), they can write their own PKCS11 library that d

[2021-08-17 16:14] mrjoelkamp opened #547 "Unable to add multiple signature layers using Vault KMS"
**Description**

It looks like there is a bug in the read, modify, write process when using Vault as the KMS.
`cosign sign -key hashivault://key repo_path/image:tag`

I've ensured that registry immutability is turned off and have used both AWS ECR and Docker Hub registries for troubleshooting.

Here is a summary of what I have tested:
- Cosign signature manifest is successfully created using Vault

[2021-08-17 23:05] zosocanuck opened #548 "Signing with 3rd party tool"
Hi,

I'm attempting to sign with another tool and using the output of:

`cosign generate xxx/yyy `to produce the JSON payload.

Shoud I be sending the entire payload for signature?

If so I then attach the signature using:

cosign attach signature -signature xyz xxx/yyy

The end result is when I attempt to verify I get:

[code]

cosign version is v1.0.0

[2021-08-18 00:15] shimish2 opened #549 "support for other private key type"
**Question**
Does cosign supports signing images using key that does not have its type "ENCRYPTED COSIGN PRIVATE KEY".

[2021-08-18 00:19] dlorenc commented on #549
What type of key are you trying to use?

Cosign supports several KMS systems which can work with a handful of different keys types. For local, on disk keys, we only support the PEM type you mentioned, because there is no other single widely used format that we'd recommend.

Cosign can also generate payloads that can be signed by other tools, and then upload those same signatures to a registry. Thi

[2021-08-18 00:23] shimish2 commented on #549
I am using normal PKI key generated using openssl.

[2021-08-18 01:17] dlorenc commented on #549
Ah, thanks. Does it begin with BEGIN PRIVATE KEY or BEGIN ENCRYPTED PRIVATE KEY ?

I think we could add a cosign import key command to generate a cosign key from an openssl one. The encryption on the openssl keys isn't great, so I don't like the idea of encouraging the usage of them directly in cosign sign, but an import for compatibility makes sense.

[2021-08-18 01:17] dlorenc commented on #549
Would you be interested in contributing this? I could help out and walk you through it if you're interested!

[2021-08-18 01:20] shimish2 commented on #549
It begins with BEGIN RSA PRIVATE KEY, I would be happy to contribute this.

[2021-08-18 02:17] dlorenc commented on #549
Great! Let me know if you need any pointers to get started. I'll be available on slack tomorrow!

[2021-08-18 13:48] dlorenc commented on #548
Could you share the full command you used to sign the image? Depending on what it is, cosign might not be able to directly verify it. You'd have to use `cosign download signature`, similar to `cosign attach signature` to fetch them then verify again with that tool.

[2021-08-18 16:51] zosocanuck commented on #548
I'm using a REST API to sign payloads, and the backend system is performing EcdsaSha256 for signatures.  I assume cosign verify also does EcdsaSha256?

[2021-08-18 17:55] hectorj2f opened #550 "Include a cosign custom and independent Kubernetes admission controller to verify images"
**Question**

I believe sigstore should include under his own organization an implementation of a cosign admission controller for Kubernetes. This idea does not aim to replace any other possible implementation of verifiers or admission controllers that exist out there. The intention is to have a custom and independent admission controller that simply verifies Kubernetes resources using cosign. The

[2021-08-18 18:10] dlorenc commented on #550
Thanks for filing! Ref #196 as well.

I'm open to moving that code over here if there's demand for it! I started it as a learning project and then kept it separate because I didn't want to slow down support for cosign in other full-featured policy systems like Gatekeeper or kyverno, but I think we're past that point now.

So, +1 on moving it in if people are interested in using i!

[2021-08-18 18:11] dlorenc commented on #545
Hey! Checking in quick, need any help on these? I'll grab #525 today.

[2021-08-18 18:14] dlorenc commented on #548
That's correct - it uses ECDSA with the P256 curve, and the SHA-256 hash. Have you been able to verify the signatures manually with something like openssl?

[2021-08-18 18:14] rjbrown57 commented on #547
I can confirm I'm also seeing this behavior

[2021-08-18 18:15] dlorenc commented on #525
Hmm, I only see that in two places:
https://github.com/sigstore/cosign/blob/1f9d3d91c3849f9cac38320a1374bfae86e1c592/cmd/cosign/cli/generate_key_pair.go#L156

and

https://github.com/sigstore/cosign/blob/9adaad5a567e58185b6dc940cbc2120cf06da2ec/pkg/cosign/pivkey/pivkey.go#L196

We could reduce more, but one is for a PIN and one is for a password.

It looks like the GetPass stuff is probably the ri

[2021-08-18 18:16] zosocanuck commented on #548
Yes, I'm using a commercial tool to sign and verify successfully.

[2021-08-18 18:18] dlorenc commented on #547
Hmm, my only guess here is that our "duplicate signature detector" isn't working correctly with vault.

Just to confirm, are these completely different vault keys? One should not verify for the other? I'm not a vault expert, is there anything special you did to set this up, or just the standard vault setup?

@developer-guy @Dentrax any guesses? I think you're more experienced with vault than I am.

[2021-08-18 18:18] hectorj2f commented on #550
Thanks @dlorenc.

Yes. Even if anyone can still use the implementations from Gatekeeper, Kyverno or Connaisseur. I believe there is a benefit having a single-purpose admission controller that adapts to the on-going cosign development and lives under the sigstore umbrella.

[2021-08-18 19:27] Dentrax commented on #547
Thanks for the reporting this! We can get to it; I think it's uncovered use-case from the cosign side.

@mrjoelkamp Would you mind adding some _steps to reproduce_ command list here?

[2021-08-18 19:30] mrjoelkamp commented on #547
@dlorenc To confirm they are different keys. I ran `cosign generate-key-pair -kms hashivault://key1` and again for `key2` and attempted to sign, in two operations, using both keys. In addition to that, if I signed the image with a local key, say `cosign.key`, generated using `cosign generate-key-pair` locally, sign the image, and try to add a signature to that newly signed image using Vault KMS wi

[2021-08-19 08:06] Dentrax commented on #547
Oh, just find the issue, i guess. This happening because of our [duplicate detecting](https://github.com/sigstore/cosign/blob/0d93915ab1a53ffb4d4a1a7263a3faa0623a1bf4/pkg/cosign/remote/remote.go#L123-L125) logic.

[code]

[code]

As far as I can see, we do not allow uploading new _layer_ since we already have calculated `digest`.

If we run the following command:
[code]

...we do not break the `La

[2021-08-19 08:53] cpanato commented on #545
sgtm!

[2021-08-19 13:52] dlorenc commented on #550
@developer-guy what do you think here? I think it would be easiest to keep in the same repo as cosign long term if there's interest.

[2021-08-19 14:10] developer-guy commented on #550
Yeah, I agree with @hectorj2f, we should definitely move the cosigned project into the sigstore organization and start maintaining it from there, that would be awesome and we (w/@Dentrax) would love to get involved in it because we really like to work with Kubernetes extension points like AdmissionWebhooks.

Yeah, makes sense 🤝

[2021-08-20 11:37] dlorenc commented on #550
OK, SGTM! Want to start moving code over @hectorj2f?

[2021-08-20 11:37] dlorenc commented on #548
I wrote up a gist yesterday on how to sign with openssl and verify with cosign, does this help at all? https://gist.github.com/dlorenc/919210e3e5531c50b573467b8c252533

[2021-08-20 12:32] hectorj2f commented on #550
@dlorenc Good news 🎉 !. Yes, it sounds good to me.

I would move your code to cosign repository under a gitmodule. So we could start to add enhancements/improvements once all the cosigned foundation is in there.

[2021-08-20 15:01] zosocanuck commented on #548
Yes, this was helpful.  Closing this issue for now as I need to investigate why a 3rd party utility is not producing compatible signatures.

[2021-08-20 15:01] #548 closed

[2021-08-20 17:04] xopham opened #556 "Allow pinning trust for verifying keyless signatures"
**Description**
Trust pinning should be implemented for Keyless signatures by adding an optional `-email` parameter to the `cosign verify`. This email can then be used as a trust anchor to validate the keyless signature and returned error code is 0 if the `Certificate subject` contains the email or 1 if not.
In case the optional `-email` is not specified, Cosign should always return 1 as the inten

[2021-08-20 17:05] xopham commented on #556
FYI @dlorenc @asraa

[2021-08-20 17:25] asraa commented on #556
+1 I like the idea of moving the certificate subject into the JSON, i want to add a delegation name into the JSON when we verify against sigstore delegations

Also consider making it an n-values flag where... any one of? the emails can be used to verify? I'm not sure. that might make things confusing in case someone intends it to be all of them.

[2021-08-22 20:33] dlorenc commented on #550
Ugh, git submodules always cause me trouble. I'll try to get it merged in one shot to avoid complications.

[2021-08-22 21:23] hectorj2f commented on #550
@dlorenc i am working on a PR, i did added to the current cosign code without having a new gomodule.

[2021-08-22 21:24] hectorj2f commented on #550
I might get it ready for a review tomorrow.

[2021-08-22 21:28] dlorenc commented on #550
Great! I opened #558 to start to make it easier to add new maintainers. When you're ready, send a PR there as well to get yourself added!

[2021-08-23 08:44] dirien opened #559 "Icon for cosign"
Hi everyone,

cosign needs a cool icon/Logo.

As I am not very talented in terms of design i would ask the community for help.

What you thinking?

[2021-08-23 14:24] xopham commented on #532
Would be great if it could become a full-fledged light-weight verification binary. We also noticed that cosign has a significant size, especially when used in a container setting.

[2021-08-23 14:25] xopham commented on #545
#556 would be nice to have, too :slightly_smiling_face:

[2021-08-23 23:38] dekkagaijin commented on #556
We'll want to come up with a solution to ensure that either a) email domains are uniquely linked to identity providers or b) somehow namespace these IDs to identity providers when a given email is shared across multiple

[2021-08-24 00:23] dlorenc commented on #556
Sorry! We came up with a lightweight improvement here: https://sigstore.slack.com/archives/C01PZKDL4DP/p1629399218104900?thread_ts=1629399218.104900&cid=C01PZKDL4DP

[2021-08-24 00:24] dlorenc commented on #556
The tldr is to add an -email flag to verify, and one exit 0 if that email is present and verified. If the flag isn't passed, exit 1 but continue displaying all signatures.

[2021-08-24 00:28] dlorenc commented on #559
@kimsterv I think we just got icons as part of the new site, right?

[2021-08-24 00:28] dlorenc commented on #525
Closed, fixed with above

[2021-08-24 00:28] #525 closed

[2021-08-24 00:29] dlorenc commented on #442
@developer-guy @Dentrax any updates here? Need any help?

[2021-08-24 06:37] Dentrax commented on #442
Actually, we still continue to discuss this on https://github.com/in-toto/attestation/issues/58 issue. Any help would be appreciated to decide the final proposal for the spec. 🤗

[2021-08-24 07:01] xopham commented on #556
@dekkagaijin interesting point! While a question separate from the specific issue here, I think that is an important discussion for keyless signatures: Technically, GitHub cannot guarantee for `john.doe@example.com`, but only really for the GitHub handle `@john,doe` and there can be multiple other instances, e.g. Azure or Google, that could OIDC for the same email which significantly broadens the

[2021-08-24 07:04] xopham commented on #556
if that is of interest, we could open a separate issue...

[2021-08-24 15:52] hectorj2f commented on #550
I migrated the code with some changes and additions. I believe we need to clarify the release process and how to inject it into the current one.
https://github.com/sigstore/cosign/pull/565 (the chart would live under `helm-charts` if everyone is happy with that).
https://github.com/sigstore/helm-charts/pull/9

[2021-08-25 08:28] Dentrax commented on #442
Just found [go-sarif](github.com/owenrumney/go-sarif) project, capturing here so we might use it. 🤷‍♂️

[2021-08-25 12:52] developer-guy commented on #550
that would be great, I really want to get involved in it. 🙏🤝

[2021-08-26 04:25] dopey opened #575 "Having an issue installing using instructions"
**Description**

[code]

Something wrong with my environment?

macOS 11.5.2
go version go1.16.6 darwin/amd64

[2021-08-26 16:43] #575 closed, assigned to nobody

[2021-08-27 09:55] alexellis opened #585 "Dev releases marked as stable releases"
**Description**

Hi, we are offering cosign as a download in [arkade](https://arkade.dev), a Kubernetes marketplace.

The dev releases are being marked as "stable releases", but if they were marked as pre-release, then GitHub's API would show us the latest v1.0 etc release to download.

Most projects don't mark dev or preview / RC releases as full releases. It's a checkbox in the UI, I wonder what

[2021-08-27 14:54] adambkaplan opened #587 "cosign sign does not use local image registry credentials"
**Question**

I'm trying to sign a container image that I pushed to docker.io. This seems simple enough:

[code]

However, when trying to pull the image, cosign does not appear to use my local credentials. Instead cosign appears to do the following:

1. Try to GET the root of the container registry
2. With the UNAUTHORIZED response, then it requests a "pull" scoped token
3. After receiving the tok

[2021-08-27 16:27] ericofusco opened #588 "Error when downloading cosign"
**Description**

I'm getting this error when I try to download cosign.

[code]

[2021-08-28 09:04] containerpope opened #589 "Local Cert verify not working for Azure KMS"
**Description**

Using cosign with Azure KMS results in different behavior for validation with KMS and local pub cert.

[code]

But when I use the created public certificate, the result is as follows:

[code]

I also exported the key again and tried to reproduce, with the same result:

[code]

Is there anything I did wrong or is there a bug in the verification? Earlier I added also some comments t

[2021-08-28 12:37] dlorenc commented on #589
Thanks for the report! When we've seen this in the past, it's usually because the KMS key gets created with a different algorithm from what cosign is expecting. What hash and signature algorithm are you using, and how did you create the azure key?

[2021-08-28 13:01] cpanato commented on #589
I will try to reproduce and identify what is the issue. But if you can provide more information will be good as well

/assign

[2021-08-28 19:31] dlorenc opened #591 "Verify SCTs"
Fulcio now returns SCTs as a header: https://github.com/sigstore/fulcio/pull/163

Let's verify those in cosign when getting a cert!

[2021-08-28 19:43] dlorenc commented on #399
Closing this issue now, support is in although there are bugs!

[2021-08-28 19:43] #399 closed

[2021-08-28 19:44] #545 closed

[2021-08-28 19:44] #91 closed

[2021-08-28 19:48] dlorenc commented on #550
Closing, we're here!

[2021-08-28 19:48] #550 closed

[2021-08-29 06:09] containerpope commented on #589
@dlorenc @cpanato

thank you for getting back to me, here are some more details:

![CleanShot 2021-08-29 at 08 06 22](https://user-images.githubusercontent.com/12080409/131240518-314bde83-a1a0-4b5f-b013-3061baad9bc9.png)

I created the azure key with the built in cosign command.

[code]

The interesting part is, that the verify via the KMS command works, while using the local public key does not w

[2021-08-30 12:58] hectorj2f opened #594 "cosigned: create a CRD to declare signed image policies per cluster"
**Description**

The idea is to create a cluster-scoped CR to specify a signed image policy on their kubernetes cluster. This policy can be configured to verify signed images from specified patterns.

Based on our implementation of a similar admission controller, we expose a CR with several fields:

`publicKeys`: defines the list of valid public keys.
`registries`: defines the link between registr

[2021-08-30 14:15] dlorenc commented on #594
For pattern - what glob matching semantics do we envision? Would it be simpler to limit to "prefix"? Or are we envisioning ** and * stuff for multiple nested "directories"?

[2021-08-30 15:07] deedubs opened #595 "Support deployment lifecycle of an environment/image"
I would like to be able to answer the questions:

1. When was this container image sha256 deployed to production and when was it retired?
2. What images have been deployed to staging in the last 5 days?
3. What image was running in QA last Tuesday at 4:45 PM GMT?

## Use case 1

I discover a vulnerability in a container image, I want to know when and where the code was ever deployed.

## Use case

[2021-08-30 15:17] dlorenc commented on #595
Nice! Thanks for getting it started, and these questions you'd like to answer are the perfect way to think about attestation schemas.

For an "environment", do you think a simple name like "prod" or "qa" is enough? Or do we need a way to reflect more details?

[2021-08-30 15:21] deedubs commented on #595
I think we'd need some more context, I'm thinking situations like multiple regions, partial rollouts that were aborted, etc

[2021-08-30 15:30] dlorenc commented on #595
Yeah... Any other ideas? We could wrap it up in a URI `acme.com/<environment>/<region>/<service>` or maybe just use a set of labels?

[2021-08-30 15:39] deedubs commented on #595
I think I like the idea of a URI!

It will let users bring their own org structure as well as it could reference an entry with additional details / context of the env itself.

[2021-08-30 16:14] hectorj2f commented on #594
Yes, we rely on `github.com/gobwas/glob`, so any pattern you could think it'll work here. Maybe we could limit it to a simpler use case for now.

[2021-08-30 17:15] adambkaplan commented on #587
Looks like a pretty standard dockerconfigjson:

[code]

[2021-08-30 17:18] adambkaplan commented on #587
Same result.

[2021-08-30 17:26] dlorenc commented on #591
cc @priyawadhwa you were looking at this kind of right?

[2021-08-30 17:29] adambkaplan commented on #587
Note for quay.io authentication isn't an issue - cosign is able to log in just fine, however uploading signatures fails because quay.io doesn't accept the cosign layer type.

See log: https://gist.github.com/adambkaplan/0b8b4bfdaf8771d57730eface258d5a8

[2021-08-30 17:29] priyawadhwa commented on #591
Yah, this was the last thing we needed for bundling to be complete!

We can verify the SCT when we get it, add it to the bundle, and verify again whenever `cosign verify` gets run?

[2021-08-30 17:32] jonjohnsonjr commented on #587
It's stupid but can you try changing the `"docker.io"` key to `"https://index.docker.io/v1/"`?

Some version of docker would set this as the key, and I haven't found a reasonable way to work around this without breaking _someone_: https://github.com/docker/cli/blob/25eee83d6b8c475548254b2decc9c8e0490d229c/cli/config/configfile/file.go#L23

[2021-08-30 17:44] adambkaplan commented on #587
Sadly same result :disappointed:

[2021-08-30 18:20] dekkagaijin commented on #587
Hm. You're right, it's not sending creds in the initial auth handshake. I would have guessed that `https://index.docker.io/v1/` was the issue, as well.

Looks like ggcr does recognize [`docker.io` and does translate it to `index.docker.io` under the hood](https://github.com/google/go-containerregistry/blob/7e0ed51a7bb1930bfb6859f319975b578ed04de2/pkg/name/registry.go#L121-L125), which means that i

[2021-08-30 18:24] jonjohnsonjr commented on #587
😭

You're certain you don't have a credential store or credential helper configured?

https://docs.docker.com/engine/reference/commandline/login/#credentials-store

[code]

This would match the failure mode I expect from your config file :/

[2021-08-30 19:09] shimish2 opened #596 "Does cosign supports signing of local images ?"
**Question**
Does cosign supports signing of local images ?

I am trying to sign a local image but getting this error

[code]

[2021-08-30 22:03] dlorenc commented on #596
Hey!

Unfortunately we don't support this today, you can see some of the discussion over at #60. There are a lot of caveats involved in the way digests get calculated with a local docker daemon - the digest might not even exist.

What's the overall flow you're trying to achieve? There might be other ways to do it.

[2021-08-30 22:11] adambkaplan commented on #587
I am running Fedora 34 Silverblue - no credential store as far as I am aware of, and assuming the presence of anything Docker is not a safe assumption!

[2021-08-30 22:15] shimish2 commented on #596
It's a normal flow as same as remote image, able to sign & verify locally and by local I mean local oci images.

[2021-08-30 22:39] dekkagaijin commented on #596
As @dlorenc said, the thing being signed (the image manifest) doesn't get created until an image is pushed to a repo and doesn't generally get persisted on image pulls. It's not clear how the UX for signing or verifying local images would work

[2021-08-30 23:58] jonjohnsonjr commented on #587
I don't want to say I don't believe you, but I'm having a hard time imagining what could be going wrong here 😄

Can you verify that cosign is reading the right file (via `strace` or similar)?

Are you executing cosign as a different user, maybe?

Is `DOCKER_CONFIG` set to point to a different file?

[2021-08-31 01:17] bwalding commented on #588
I was able to work around this by using `go install github.com/sigstore/cosign/cmd/cosign@main` - I figured someone else would hit this issue and fix it before I had to solve it for myself.

Using `@latest` didn't work for me.

[2021-08-31 07:56] cpanato commented on #588
`latest` i think will not work because this is the branch name

[2021-08-31 11:43] hectorj2f opened #599 "cosigned: add annotations to"
**Description**

The cosigned webhook will add annotations to every processed resource with information about the verification status.
To do so, we would need to change the current ValidatingWebhook to a MutatingWebhook.

[code]

Perhaps, we could add additional annotations such as adding a timestamp when this validation occurred.

I cc @stormqueen1990 and @kkavitha @elfotografo007 as creators of

[2021-08-31 14:34] adambkaplan commented on #587
I can verify it is reading what I think is the right file. From strace, it's clear the config.json file is read:
[code]

I'm running cosign in a Silverblue [toolbox](https://docs.fedoraproject.org/en-US/fedora-silverblue/toolbox/). It's a container-like environment where the user looks and feels the same as the user on the host system. So in the toolbox I'm my normal username with my normal permis

[2021-08-31 17:09] jonjohnsonjr commented on #587
So I know that podman tries to read a different file by default [from here](https://docs.podman.io/en/latest/markdown/podman-login.1.html):

Are you certain that podman is reading the same credentials file as `cosign`?

It's possible that fixing [this issue](https://github.com/sigstore/cosign/issues/587#issuecomment-908541210) gets you some credentials, but not _valid_ credentials?

In your origin

[2021-09-01 14:18] #591 closed

[2021-09-01 14:21] priyawadhwa opened #604 "Automatically run `cosign init` for keyless mode"
Verifying SCTs (https://github.com/sigstore/cosign/pull/600) relies on the user running `cosign init` first so that the CT log public key is on disk for verification

We can automatically run `cosign init` for a user if they haven't already done it before verification! Once this is done, we can consider failing if SCT verifications fails (right now we just log a warning and move on)

[2021-09-01 19:37] dlorenc commented on #604
+1 to either option there Priya. We should embed enough stuff to either initialize the directory or verify in memory

[2021-09-01 21:23] dekkagaijin commented on #585
@cpanato we should probably mark them as pre-releases, then, to avoid conflicts with the Go toolchain and the main binary/package releases

[2021-09-01 21:36] priyawadhwa commented on #604
sgtm! I'll probably switch back to embedding the ct log public key and verifying in memory then, so that we don't have to depend on GCS to get the public key

[2021-09-01 23:02] dekkagaijin commented on #556
For now what I'm thinking is that we'll add support for asserting an expected subject (email) and then add in support for also asserting the identity provider behind that subject once supported by fulcio: https://github.com/sigstore/fulcio/issues/44

[2021-09-02 06:14] Dentrax opened #608 "cmd/verify: allow pass by url for signature flag"
**Description**
Currently, `-signature` flag only supports [filepath](https://github.com/sigstore/cosign/blob/54c956cf8bd38769a322d73f6da3866684716572/cmd/cosign/cli/verify_blob.go#L157-L177). Would it be good practice to pass a URL for this flag? i.e., GitHub download link:

[code]

[2021-09-02 07:32] cpanato commented on #585
@dekkagaijin @dlorenc how about we have a dedicated repo for the Helm Charts?
then we can add rekor helm chart, fulcio helm chart, and others together with the cosigned.

WDYT?

[2021-09-02 11:02] dlorenc commented on #585
That works!

[2021-09-02 11:12] dlorenc commented on #608
SGTM

[2021-09-02 11:16] cpanato commented on #585
@dlorenc i will ping you in slack to talk about and to create the repo 🎸

[2021-09-02 11:21] developer-guy commented on #512
maybe we can discuss a bit about the feature because I'm so excited to start working on this issue. @dlorenc 🤩

[2021-09-02 14:40] cpanato commented on #585
done! we can close this

[2021-09-02 14:40] #585 closed

[2021-09-02 14:40] cpanato commented on #585
move to here: https://github.com/sigstore/helm-charts

PR: https://github.com/sigstore/helm-charts/pull/10

[2021-09-02 15:42] samj1912 opened #610 "Allow sbom signing and verification during attach and download"
**Description**

It would be great is `cosign attach sbom` and `cosign download sbom` allowed for signing and verification of the related sbom.

Example -

`cosign attach sbom -key <key> sbom.json` (Signs the sbom and uploads the signature to image:<sha256>.sbom.sig)

`cosign download sbom -key <key> sbom.json` (Checks if the signature exists and is valid before downloading)

Open questions -

1.

[2021-09-02 17:33] dlorenc commented on #610
Some ideas:

`cosign attach sbom` would sign by default, reusing the same flags and behavior as `cosign sign`. We'd add a `--skip-sign` flag to just do the upload.

`cosign download sbom` would then also verify by default. `--skip-verify` could then disable verification.

Or we keep the commands separate, but add a helper flag to sign:

[code]

[2021-09-02 21:22] samj1912 commented on #610
Looking at the current code, I think it might be easier and lead to less duplication if we do the latter.

[2021-09-03 15:49] #610 closed

[2021-09-03 15:50] dlorenc opened #618 "First-class attachment support"
With #615 in, we should firm up and support the other attachment types (SBOMs, signatures and attestations) across the CLI. We can upload, download, attach, sign and verify them, but we should also support them in copy, clean, and any other commands.

[2021-09-03 23:25] naveensrinivasan opened #620 "curl is a insecure pattern for downloading dependencies"
curl is an insecure pattern for downloading dependencies

https://github.com/sigstore/cosign/blob/79fa380eddb8ffeecbb1a2e7658bf6a614d1c027/Makefile#L61

https://about.codecov.io/security-update/

One of the recommended approaches to solving this issue is using something like `tools.go` https://github.com/ossf/scorecard/blob/main/tools.go where the external tools are tracked and are part of the go.

[2021-09-03 23:36] naveensrinivasan opened #621 "Unpinned dependencies in GitHub workflow"
These files have unpinned dependency https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies.
The yaml files use the version tag which is something that can be moved which poses a security risk.

[code]

[2021-09-04 00:23] dlorenc commented on #620
Is the makefile target used anywhere? Can we just delete it?

I don't like tools.go because it pollutes the dependency tree.

[2021-09-04 00:28] dlorenc commented on #621
Let's just delete the codeql one, I'm still unaware of any value added by it and it's not worth the maintenance/risk.

Good catch on build.yaml!

[2021-09-04 15:17] naveensrinivasan commented on #620
Why not have a separate go.mod for tools similar to this https://github.com/sigstore/rekor/tree/main/hack/tools?

[2021-09-05 11:51] #620 closed

[2021-09-06 10:57] dirien commented on #559
hi @dlorenc,

i close the issue, as it looks like you are already worinkg on some cool stuff.

[2021-09-06 10:57] #559 closed

[2021-09-06 13:38] samj1912 commented on #618
Wanted to help out with this.

Started with triangulate in #628 for attestations and SBOMs.

I had a couple of questions as I proceed further. The current cosign commands can be a but confusing for a first time user.

upload/download/attach/attest - looks like upload allows you to upload random artifacts but download only allows you to download related attachments (only signature and sbom). attest

[2021-09-06 13:43] samj1912 commented on #618
Would we also want to sign signatures or attestations and similarly verify their signatures?

[2021-09-06 18:54] dlorenc commented on #512
This plan sounds good to me!

It would be fun to try to integrate with cue as well for richer, custom validation of the predicate after the signature and subject have been matched.

[2021-09-06 22:59] DavidBerdik opened #633 "Can cosign be used for signing Windows kernel drivers?"
**Question**
Can cosign be used for signing Windows kernel drivers? I am trying to figure out if it can be, but have not had much luck with doing so.

[2021-09-06 23:39] dlorenc commented on #633
Hi @DavidBerdik!

Sorry, no. Cosign can't sign kernel drivers yet. You'll need to use the standard Microsoft tooling and CAs. Getting sigstore trusted by these would be great eventually but we're not there yet :(

[2021-09-07 00:59] DavidBerdik commented on #633
Alright, thanks for letting me know! I look forward to the day when it is supported and using leaks or buying $1000 certs is not necessary. 🙂

[2021-09-07 00:59] #633 closed

[2021-09-07 14:43] dlorenc commented on #618
Unifying makes sense. Not too much thought got put into these. LMK if you come up with something better.

Hah, I think leaving them off is fine. You can always manually sign a signature/attestation with a triangulate call first.

[2021-09-07 19:33] #608 closed

[2021-09-07 20:41] Dentrax commented on #512
We created a discussion on the cue repo: https://github.com/cue-lang/cue/discussions/1252

What we want to do is we need to convert given _enforcement_ flags (as proposed [here](https://github.com/sigstore/cosign/issues/512#issuecomment-906755758) by @developer-guy) into an [in_toto model](https://github.com/in-toto/in-toto-golang/blob/master/in_toto/model.go), and then we easily generate an enfor

[2021-09-08 10:57] BernhardFuchs commented on #588
Got the same issue with `go install` and `v1.1.0` but it worked with `v1.0.0`.
Could install `v1.1.0` with `go get` which gives a deprecation warning.

[2021-09-08 18:21] developer-guy commented on #512
based on the discussion that is started by @Dentrax, we finally found a way to validate the JSON against policy files written by Cuelang.  Here is the code sample we followed:

[code]

and the policy file `policy.cue`:

[code]

if you run the code snippet above, you will get an error:
[code]
So, what we propose is that we will get these policy files behind the flag something like `-policy policy.c

[2021-09-08 18:30] verdverm commented on #512
@developer-guy I sure would

Are there other comm channels like chat or video that get used? I have some questions on the example and probably need to get up to speed on Sigstore / Cosign

[2021-09-08 18:33] developer-guy commented on #512
please feel free to join us from [Slack](https://join.slack.com/t/sigstore/shared_invite/zt-mhs55zh0-XmY3bcfWn4XEyMqUUutbUQ) and let's have a chat 🙏 @verdverm

[2021-09-09 17:38] shykes commented on #512
Copying @mpvl and @myictv who might be interested in following this as well.

[2021-09-09 20:22] #556 closed

[2021-09-09 22:32] naveensrinivasan commented on #621
Codeql has the ability to check for risk of script injections https://github.com/ossf/scorecard/issues/987

[2021-09-10 03:48] manngo opened #642 "Can Cosign be used to sign a Windows / Mac Application"
**Question**

Sorry if this is a bit naive, but I’m looking for a code signing solution to avoid the Windows Defender alert. Is this the sort of thing that Cosign can do? Is it also suitable for Mac applications?

[2021-09-10 05:20] dlorenc commented on #642
Hey!

Not a naive question at all, this is a very complicated topic. You could certainly sign an application with cosign today, but Windows defender wouldn't trust it. The same for Mac applications. We'd like to get trusted by them eventually but aren't there yet.

[2021-09-10 09:47] manngo commented on #642
Thanks. It’s back to looking for another solution then.

[2021-09-10 09:47] #642 closed

[2021-09-11 02:20] dlorenc opened #645 "Add SPIFFE/SPIRE Support for Ambient Credential Detection"
Similar to #644, but look for a SPIRE socket and try to retrieve an SVID over the runtime API with the sigstore audience.

cc @developer-guy @Dentrax this one could be fun :)

[2021-09-11 19:48] mattmoor opened #648 "`cosign verify-dockerfile` is dangerous"
**Description**

Today `cosign verify-dockerfile` is dangerous because it verifies and allows `FROM image:tag` vs. `FROM image@sha256:deadbeef`.  This is dangerous because even if what's currently tagged on the registry is signed properly, there is a race before the `FROM` is evaluated (what if it changes!), or (with `docker build`) it's possible that what is in the local cache(!) is what's actual

[2021-09-11 19:49] mattmoor commented on #648
cc @mlieberman85 who I was telling about this race the other day.

[2021-09-11 20:27] dlorenc commented on #648
+1, cc @dekkagaijin I thought we already had a bug to do the in place resolution actually

[2021-09-12 00:48] samj1912 opened #651 "Separate cosigned into a different repository/reduce dependencies"
**Description**

cosign currently houses an admission controller (cosigned) which includes quite a few k8s related dependencies in the project go.mod. This inflates the dependency tree by quite a bit when trying to import cosign as a library. Even though it may not impact the output binaries, it does impact the development and dependency resolution of the projects that try to include cosign. This

[2021-09-12 01:11] dlorenc commented on #651
I hope we can fix this without splitting repositories. If we make sure the packages are setup correctly and well separated it should be possible to depend on cosign without the cosigned deps.

[2021-09-12 01:23] samj1912 commented on #651
+1 if we can find a way to reduce cosign dependencies without separating cosigned that would be a win-win :)

[2021-09-12 01:46] samj1912 commented on #651
Related slack thread https://sigstore.slack.com/archives/C01PZKDL4DP/p1631407770175900?thread_ts=1631407770.175900&cid=C01PZKDL4DP

[2021-09-12 18:37] hectorj2f commented on #651
The main reason to keep the dependencies together is to easily maintain and test any change. If we move it to a separate subfolder that would work.

[2021-09-13 12:30] Dentrax opened #653 "ux: verify-dockerfile: consider pass public key and dockerfile by default"
**Description**

Currently, we need to fill the `-key` and `arg[0]` in order to pass the required values as follows:

[code]

1. We can set the `cosign.pub` by default in the [flagset](https://github.com/sigstore/cosign/blob/3f83940d3f3d97075d606af1e0793051cc6fc19b/cmd/cosign/cli/verify.go#L51)
2. If [no args passed](https://github.com/sigstore/cosign/blob/3f83940d3f3d97075d606af1e0793051cc6fc19b/

[2021-09-13 12:37] developer-guy commented on #648
we (w/@erkanzileli w/@dentrax) would love to do that issue if you let us do this @mattmoor @dlorenc

[2021-09-13 15:05] dlorenc opened #654 "Release 1.2!"
We've had quite a few features/bug fixes go in since v1.10. Let's cut a v1.2.0 this week.

What do people think about tomorrow the 14th? Any last minute things to get in?

[2021-09-13 15:05] cpanato commented on #654
+1

[2021-09-13 16:37] developer-guy opened #655 "Create our own cosign provider for OPA Gatekeeper"
**Description**

Recently, we had talked about the integration of the cosign project with the policy engines such as OPA Gatekeeper, Kyverno, etc. The Nirmata team community progressed fast about integrating it with Kyverno and wrote a blog post about it too, please [see](https://nirmata.com/2021/08/12/kubernetes-supply-chain-policy-management-with-cosign-and-kyverno/).

 I noticed the lack of it

[2021-09-13 16:43] dlorenc commented on #655
If this is the approved approach by OPA/Gatekeeper then +1 on it here!

We could maybe do the same strategy we're doing with cosigned, in https://github.com/sigstore/cosign/issues/651, where we'll use a submodule but same repo.

[2021-09-13 17:38] DennyHoang opened #657 "Extracting CLI signing functionality to be more configurable as a library function"
**Description**
While using cosign as a library, I found that the `cli.SignCmd` does all the logic that I would require for signing myself, however, it is designed for CLI usage with particular assumptions. One such assumption is that it uses the default keychain. I would like to be able to change the keychain used without having to duplicate the whole function in my own codebase with that one lin

[2021-09-13 17:47] hectorj2f commented on #654
+1

[2021-09-13 18:10] mattmoor commented on #657
It also pulls in a LOT of dependencies 😅

[2021-09-13 18:22] mattmoor opened #658 "Keyless `cosign sign` should do a single 3LO"
**Description**

When signing multiple images with the Fulcio-based "keyless" flow, e.g.:

[code]

You end up doing a 3LO for every single one of them, which gets tedious *really* fast :)

We should do a single 3LO with Fulcio, and sign all of the things with that key.

[2021-09-13 18:22] mattmoor commented on #658
cc @dlorenc

[2021-09-13 22:58] dekkagaijin commented on #648
The behavior is consistent with plain-ol `verify`, at least.

It's becoming more and more apparent that we shouldn't have added image discovery functionality to `cosign` itself. I'm uncomfortable with the idea of adding & supporting this kind of relatively advanced functionality rather than creating built-for-purpose tooling that can be composed with `cosign` to achieve the same effect.

See also:

[2021-09-14 17:43] dekkagaijin commented on #648
Here's a first step to begin breaking out image discovery from signature creation/verification: https://github.com/sigstore/cosign/pull/662

[2021-09-14 19:39] mattmoor opened #666 "`cosign` as a library"
**Description**

tl;dr I propose the creation of a well-curated set of libraries for signing, that compose extremely well with and complement `github.com/google/go-containerregistry` for signing OCI images and indices.

`cosign` has gained considerable traction as a mechanism for signing OCI artifacts as a standalone executable.  I believe that to kick this into an even higher-gear, we want to enc

[2021-09-14 19:45] dlorenc commented on #666
@jonjohnsonjr who could have seen this coming?

[2021-09-14 19:57] mattmoor commented on #666
Only someone with vision 😏

[2021-09-14 20:41] #658 closed

[2021-09-15 00:25] dekkagaijin commented on #666
Gonna add another +1 here to the idea of composition :p

[2021-09-15 06:39] samj1912 commented on #666
+1 This would help a lot with integrations into the Buildpacks ecosystem. Our lifecycle and various platforms almost all use/heavily rely on GGCR. cc: @natalieparellano @matthewmcnew @jromero

[2021-09-15 07:32] cpanato commented on #654
release v1.2.0 is out we can close this issue

[2021-09-15 07:32] #654 closed

[2021-09-15 08:09] cpanato commented on #666
+1

[2021-09-15 12:42] caarlos0 opened #676 "keyless verify-blob?"
**Question**

I am able to keyless sign a blog with:

[code]

But I can't verify it, as it asks for a `-key` or `-sk`.

Is it something planned to work in the future?
If not, maybe we shouldn't allow keyless signing a blob?
Maybe its just me doing something wrong? I don't see any mentions to blob in the [KEYLESS.md](https://github.com/sigstore/cosign/blob/main/KEYLESS.md) file... and seems like th

[2021-09-15 13:00] dlorenc opened #677 "Document Key/Account Compromise Recovery"
We should document how rekor can be used to detect and recover from a compromised account or key.

[2021-09-15 13:10] dlorenc commented on #676
The design doc should be public! You just have to join sigstore-dev@googlegroups.com I think...

It looks like this is missing from the docs, but there's a "-cert" flag you need to pass to verify a blob using the "keyless" flow right now (when you initially sign an object, you get a certificate from Fulcio, unfortunately you need to remember that certificate somewhere today).

That cert can be loo

[2021-09-15 14:37] naveensrinivasan opened #678 "Run Allstar across sigstore"
**Description**
This is not specific to cosign and but an issue across Sigstore.

Run AllStar https://github.com/ossf/allstar across Sigstore to improve the security posture.

https://twitter.com/infernosec/status/1437647160154071045

[2021-09-15 14:37] naveensrinivasan commented on #678
cc @dlorenc

[2021-09-15 18:23] dekkagaijin commented on #437
I only just saw the latter part of this discussion 😔

I have concerns about the usability and maintainability of overloading `verify` with a different image discovery logic for each type of artifact we want to scan. With the intention of eventually adding additional artifact-specific commands, I went ahead and re-organized `verify-dockerfile` into  `dockerfile verify`. The next step would be to ad

[2021-09-15 18:27] dekkagaijin commented on #437
/cc @n3wscott

[2021-09-15 18:35] dekkagaijin opened #679 "Support `verify`ing arbitrary PodSpec-like k8s Objects"
Right now, `verify-manifest` supports [a set of built-in Kubernetes Objects](https://github.com/sigstore/cosign/blob/39a1a16788b54f602f121165ac472a8b13a52a2f/cmd/cosign/cli/verify_manifest.go#L154-L209) which are known to define images. Ideally, we'd use some form of 🦆 typing to support verifying images in arbitrary PodSpec-like Objects. This will allow us to elegantly support custom resources and

[2021-09-15 18:35] dekkagaijin commented on #679
/cc @n3wscott

[2021-09-15 21:52] kfox1111 commented on #655
maybe not the right place to talk about it, but:

what about having multiple signatures for a single image? Would be useful for ensuring, the image was built on one of the right builders (signed by the builder) and the image was tested on the test cluster (signed by the test job), ok now its ok to run on the prod namespace.

[2021-09-15 21:57] dlorenc commented on #655
This is fully supported! Images can be signed many times.

[2021-09-16 03:26] mattmoor commented on #666
I'm gonna start small.  I am staging a PR to create `./internal/oci/empty` to host our own flavor of `empty.Image()`.

I think we should use `internal/` to keep folks from adopting this prematurely, and let us move quickly if we want to change things (possibly dramatically).  Once we're happy, we can move this out and tread more carefully.

[2021-09-16 03:39] dlorenc commented on #678
Let's do it!

[2021-09-16 04:14] mattmoor commented on #666
I think the next step (for tomorrow) will be to set up a `./internal/oci/signed.Image`, which constructs the signature artifact itself.

The way I'm thinking about it now, it should take functional options for a few things, like:
 * Signer - maybe this would default to the keyless signing flow (or be required for now?)
 * Existing signature image - this would default to the new `empty.Image()` if

[2021-09-16 12:28] luhring commented on #588
I'm not able to `go install` using `main`. I can reproduce this problem in a clean environment:

[code]

From what I'm seeing, the issue isn't the two `require` directives in `go.mod`, **it's the `replace` directive**.

The `replace` directive was introduced in cosign's `go.mod` in fb04df8. I've found that `go install ...` stops working as of this commit. In the previous commit (739947d), it works

[2021-09-16 12:41] dlorenc commented on #588
Ugh, we should definitely remove it if we can't get it working...

[2021-09-16 12:46] luhring commented on #588
Agreed. Do we understand why we need the `replace` directive? The `go install ...` method is a really nice convenience, so if there's any way to save it, I'd be super happy... 😄

[2021-09-16 13:30] imjasonh commented on #666
One naming question: a `signed.Image` sounds like it would be the _original_ image, plus a `Signature() (v1.Image, error)` method to get the signed image's signature. Is that what you're intending?

Since signatures are actually just images, you could have a `type Signature v1.Image`* and a `func Sign(v1.Image, Config) (Signature, error)`, to make it clearer when passing around the signature that

[2021-09-16 14:33] mattmoor commented on #666
Yeah, totally +1.  I had the same thought as I walked up to bed and made a mental note to change this to ‘signature.Image’, since it is-a signature, where ‘signed.Image’ sounds like it has-a signature.

[2021-09-16 14:42] mattmoor commented on #666
I do like the idea though of extending the Image interface 🤔

Perhaps we have: signature.Image extend v1.Image with accessors for signature related fields and abstract the layer walking etc.  Same for attestation.Image.

I also wonder about defining an actual signed.Image that wraps v1.Image and allows folks to associate signature and attestation images.  We could have a mutate package to facilita

[2021-09-16 14:49] imjasonh commented on #666
`signature.Image` feels like a misnomer to me -- sure, it's _technically_ stored as an image, but consumers of the package shouldn't have to care about that detail. To them, it's a "signature", and maybe there's some escape hatch to get at its image bits (layers, etc.), but mostly we hope they don't have to.

`signed.Image` could embed `v1.Image` and add `Signature() (cosign.Signature, error)`, bu

[2021-09-16 15:03] mattmoor commented on #666
@imjasonh I think it'd be fair for the Signature stuff to be an alias of `v1.Image`, but not be called `Image`, this would also let us iterate with some of these highly correlated things within a single package 😅

Yeah, I wanted the flexibility to put something together, let it marinate and then hate it and tear it up for something better 🤣

[2021-09-16 15:28] dekkagaijin commented on #588
We also have double `require` directives again, so we've lost compatibility with Go 1.16. We should add 1.16 builds to our presubmit as a sanity test as long as it remains a supported version

[2021-09-16 15:31] dlorenc commented on #588
Are you sure about this? We have `go1.16` as the declared version here: https://github.com/sigstore/cosign/blob/main/go.mod#L3

My understanding is that would force go to be compatible.

[2021-09-16 16:06] dekkagaijin commented on #588
We had issues in the past where 1.16's Go mod errored when it encountered multiple `require`s. Not sure how it got split out again, but my local 1.17.1 `go mod` does respect the version declaration. See https://github.com/sigstore/cosign/pull/689

[2021-09-16 16:19] dlorenc commented on #655
Hey @developer-guy @Dentrax  - do you need any help on this one?

[2021-09-16 16:28] developer-guy commented on #655
Thanks @dlorenc for the mention 🙋🏻‍♂️ We'll start to work on it but we are waiting @sozercan's response to start because in the last talk that we had with him he told us there might be some changes about this implementation🙏

[2021-09-16 16:34] sozercan commented on #655
As I mentioned to @developer-guy, it is an open PR at this time, which is going through review, so expect changes. Definitely would love to see cosign community maintained provider for image signing for Gatekeeper.

[2021-09-16 17:09] luhring commented on #588
Just ran this:

[code]

And it works. This creates a clean environment that uses **Go 1.16** to install Cosign at the commit that had **two** `require` directives, but no `replace` directives.

[2021-09-16 17:46] mattmoor commented on #666
Ok, so I spent some time thinking about this on my whiteboard, and I'm going to try and articulate things here, and then start breaking off pieces.

I think that we want an aggregation type for reasoning about images, their signatures and attestations that extends `v1.Image`:

[code]

[2021-09-16 17:51] mattmoor commented on #666
I think my inclination here is to land this as an interface under `internal/oci` and then we can start to create an implementation for accessing all of this information in a high-level way (moving the logic we have now behind the above interface) under `internal/oci/remote`

[2021-09-16 20:43] #311 closed

[2021-09-16 23:19] #679 closed

[2021-09-17 02:25] mattmoor opened #700 "clean and copy commands only handle signatures"
**Description**

I think these should probably handle `.att` (attestations) as well.

Clean: https://github.com/sigstore/cosign/blob/a868d651df462ec38b152bf56eff877918c55229/cmd/cosign/cli/clean.go#L59
Copy: https://github.com/sigstore/cosign/blob/a868d651df462ec38b152bf56eff877918c55229/cmd/cosign/cli/copy.go#L75

[2021-09-17 02:26] dlorenc commented on #700
Yup! We discussed this here I think: #618. Not sure if anyone is working on it.

[2021-09-17 18:07] n3wscott opened #706 "Recommendation: Move cosign to cobra."
**Description**

`ffcli` seems like an ok prototype tool, but it lacks several features that we could take advantage of, like tab support or rich input validation. Anyone opposed to using something more standard for interactive CLIs like Cobra?

I can make a follow up PR for what I am thinking using `sget`.

[2021-09-17 18:09] dlorenc commented on #706
+1. @ahmetb wanted to do this awhile ago too

[2021-09-17 18:32] dekkagaijin opened #707 "Create a command to resolve image tags to digests in Dockerfiles"
e.g. `cosign dockerfile resolve`

As part of fixing https://github.com/sigstore/cosign/issues/648, we should create a surface which resolves _mutable_ image tags into _immutable_ image digests. Ideally it would be able to both a) update the Dockerfile in place and b) output an updated Dockerfile to stdout

[2021-09-17 20:32] n3wscott commented on #706
I created https://github.com/sigstore/cosign/pull/709 to show what I am thinking on moving to cobra in terms of shape. 3 main things to point out:

1. the `cmd/cli` code is to define the flags and cli interface.
2. the cli delegates to an instance object built up in the cli interpreter and is then executed via `Do(ctx)`
3. The code in `pkg/sget` holds all of the logic to do the `sget` task, and kn

[2021-09-17 20:38] n3wscott commented on #706
I am basing this off https://github.com/n3wscott/cli-base and https://github.com/kubernetes-sigs/zeitgeist/tree/master/buoy among other things.

[2021-09-18 10:37] cpanato commented on #706
+1

[2021-09-18 16:22] mattmoor commented on #666
So I'm think that instead of having `FetchSignatureForImage` which linearizes a set of `SignedPayloads` that `cosign.Verify` then processes, we can surface an `oci.Map` function, which walks the images and signatures of an entity (possibly recursively) and calls some function on them.

This is based around a similar idea I used in `mink` here: https://github.com/mattmoor/mink/blob/7b163e07f73fbf5d

[2021-09-18 19:49] mattmoor opened #718 "`cremote.UploadFile` improperly sets config media type"
**Description**

Reading through the code, I noticed that `cremote.UploadFile` sets the media type here by accessing the `Manifest()` and then setting `m.Config.MediaType = mt`.

https://github.com/sigstore/cosign/blob/03f3f4dd9ec039e3a90e5b12193bb4f2dc8cb408/pkg/cosign/remote/index.go#L155-L159

It is plausible that this works (due to a bug in GGCR), but it should not.  The intent of abstractions

[2021-09-18 19:51] dlorenc commented on #718
This works but it's definitely a bug. At the time, this was the only way to do it. @dekkagaijin I think figured it out.

There was an issue to fix this in ggcr but I don't remember what happened.

[2021-09-18 19:53] mattmoor commented on #718
Yeah, I'm about to break it and surface a way to do it for realz in GGCR, I think.

[2021-09-18 20:34] #588 closed

[2021-09-18 22:13] syhv-git opened #720 "Installing cosign from solutions in #588"
I was running into the same issue as described in #588 and I was able to install cosign with the command fix
[code]
 however after the installation ended, I tried running cosign and got `cosign: command not found`

I then tried to follow the fix #716 but I kept getting this error
[code]

My system is relatively new, running Ubuntu(my knowledge of Ubuntu is also relatively new), and I don't quite u

[2021-09-18 22:59] syhv-git commented on #720
After taking a break for a little and coming back, I copied the cosign executable to `/bin/` and I got it to work. I'd assume the error I received from running #716 solution is because I already have cosign installed even if it didnt execute the cosign command prior to copying the executable to bin. I feel dumb but also learning a lot. Sorry if I wasted anyone's time.

[2021-09-18 22:59] #720 closed

[2021-09-18 23:03] dlorenc commented on #720
No worries! Thanks for explaining how you fixed this. It might help someone else some day!

[2021-09-19 05:56] ShubhamPalriwala commented on #588
Still facing the same issue. Even after #716 is merged

[2021-09-19 11:03] luhring commented on #588
Hi @ShubhamPalriwala — yeah, I neglected to mention something noteworthy... in order to completely fix the issue, we'd need an actual release of Cosign to follow-up this PR.

`go install ...` uses version references: `...@revision`.

These commands should now be fixed:

- `go install github.com/sigstore/cosign/cmd/cosign@main`
- `go install github.com/sigstore/cosign/cmd/cosign@ae960b97774baf1e344

[2021-09-19 12:38] dlorenc commented on #588
Yeah, we should cut a 1.2.1 this week.

[2021-09-19 15:47] naveensrinivasan commented on #678
@jeffmendoza can you help with this?

[2021-09-20 14:04] n3wscott commented on #706
There is a little wrinkle. `ffcli` supports non-POXIS standard single dash word flags and under POXIS, this is not allowed. See the fix required for `sget`: https://github.com/sigstore/cosign/pull/724.

This means we would have to change all of the flags for `cosign` to POXIS standard flags.

See https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html

[2021-09-20 14:26] rgreinho opened #725 "release sget"
## Description

`sget` is mentioned several times throughout the documentation, but the binary is nowhere to be found.

### Possible solutions

1. Update the release process to build and publish `sget` along `cosign` releases
2. If there was a specific reason why the `sget` binary was not directly available, updating the docs with some instructions would be a good compromise.

[2021-09-20 19:54] rgreinho opened #730 "When attaching an SBOM, is it signed?"
**Question**

While experimenting with cosign and SBOMs, I was not sure whether or not the SBOM was signed when attached.

By the look of it, and a quick glance at the code it is not. So I used the following commands to attach it, sign it, and retrieve it:

[code]

And to retrieve it:
[code]

If I missed something would it be possible to clarify how to make sure the SBOM is signed?

If I was corre

[2021-09-21 04:17] mattmoor commented on #666
I think the next piece of this to start looking at and peeling apart is the actual signing process.  Today this all seems to flow through `UploadSignature`, which does a handful of things currently, including:
1. Load any existing signatures,
2. Scan through existing signatures to see whether what we're about to write is redundant,
3. If it isn't redundant, add it to the pile of signatures,
4. `re

[2021-09-21 12:53] adambkaplan commented on #587
@jonjohnsonjr it seems the root issue here is that it is very hard to identify which credentials are being used to push/pull from the container registry. Next chance I have some free "hacking" time I can try submitting a PR to surface this in debug logs.

Any initial guidance/pointers would be appreciated - thanks!

[2021-09-21 13:58] dlorenc commented on #725
This should be safe to release I think!

[2021-09-21 14:52] howardjohn opened #743 "Publish Linux/arm64 releases"
**Description**

Currently Linux amd64 is published, and Darwin arm64 and amd64. It would be great to have Linux arm64 binaries as well.

[2021-09-21 15:22] howardjohn commented on #743
Actually I am a bit confused as it shows up here: https://github.com/sigstore/cosign/blob/be8a0f82b5520fc7d59361336ab579231c56aa49/.goreleaser.yml#L26-L37 but not in https://github.com/sigstore/cosign/releases/tag/v1.2.1

[2021-09-21 15:25] mattmoor commented on #743
Do you mean binaries or **images**?

Reading again I see `darwin` -> you probably mean binaries!

I'm not sure cosign has fully switched to goreleaser yet, but now that goreleaser has cosign integration, I think it's on @dlorenc radar.

[2021-09-21 15:27] howardjohn commented on #743
I was looking for binaries, made a typo in the description. Images would be great as well (if not already present?), but not my primary concern currently

[2021-09-21 15:35] cpanato commented on #743
We added that recently and it is not released yet, will be available in the next release most likely (v1.3.0)

[2021-09-21 16:49] #730 closed

[2021-09-21 19:21] rgreinho commented on #725
Copy that! I will start working on updating the release process.

[2021-09-21 22:54] dlorenc commented on #666
I'd be fine dropping the duplicate detection stuff. I liked it when we put it in, but it doesn't seem to help in practice.

[2021-09-21 23:08] mattmoor commented on #666
I already refactored it a bit, so I'll leave it alone for now unless it gets annoying again 🤷

[2021-09-23 02:16] mattmoor commented on #666
Ok, so I think for the next chunk, what I'm looking at is the logic in `SignCmd` which intertwines recursively walking indices with signing and publishing.

The sketch I'm starting to build in my head is essentially replacing all of the `recursive` handling with `mutate.Map`.  Something along the lines of:
[code]

We'll fold the bulk of the existing signing logic into this function, and then repla

[2021-09-23 07:23] joelapatatechaude commented on #131
Hey guys, just checking. Is AWS KMS support working at this stage (I am testing with 1.2.1). The documentation (KMS.md) seems to indicate it should, but I am not having much success so far. Just checking before opening some issues.

[2021-09-23 08:32] #725 closed

[2021-09-23 14:15] #718 closed

[2021-09-23 20:09] mattmoor commented on #666
I'm going to drop the `Attestations` path for now, which is wholly `NYI` everywhere, since everyone is just treating these as a different form of `oci.Signatures` and accessing them by overriding the signature tag suffix.

https://github.com/sigstore/cosign/pull/769

[2021-09-23 21:05] #666 closed

[2021-09-24 18:04] mattmoor opened #784 "`cosigned` webhook should resolve tags to digests"
**Description**

`tl;dr` This is similar to https://github.com/sigstore/cosign/issues/648 (albeit with a less sensational title); essentially, if we allow tags to pass through the `cosigned` webhook, even if they are verified, we are leaving folks open to problems.

One option here would be to simply outright reject non-Digest requests, which we probably should be doing in pure validation contexts

[2021-09-24 18:22] mattmoor opened #786 "`cosigned` may improperly block multi-arch images"
**Description**

_As I was thinking about https://github.com/sigstore/cosign/issues/784, this was another (largely orthogonal) thought_

`tl;dr` `cosigned` only verifies root-level signatures, which for multi-arch indices may not be where the signatures live!

As we deal with multi-arch images, the signatures may exist deeper in the tree than on the tagged entity itself, so unless we do recursive

[2021-09-25 15:02] mattmoor opened #801 "`cosigned` should use `k8schain` to support `imagePullSecrets`"
**Description**

`cosigned` needs to be able to access the container images stored on registries, and one of the common forms of authentication is to use `imagePullSecrets` (possibly attached to the workload's service account), which isn't currently supported by `cosigned`.

There is a library for supporting this with GGCR, which is used by Tekton and Knative called `k8schain`, which `cosigned` sh