[2021-09-25 15:51] mattmoor opened #802 "`cosigned` doesn't check `CronJob`s"
**Description**

`CronJob` is a bit more complex because it deviates from the "PodSpecable" shape, but it would be good if we could validate it before it becomes `Job`s.

cc @vaikas @n3wscott @dlorenc

[2021-09-26 00:41] #784 closed

[2021-09-26 09:41] ShubhamPalriwala commented on #610
Hey, I am looking to implement this. Is there any documentation for this? I couldn't find much as of now.
Any help would be appreciated

[2021-09-26 22:38] garantir-km commented on #396
Can we bump this up in priority? We have lots of big companies that want to use cosign but the lack of ability to integrate with their existing signing infrastructure is holding them back, and everyone would prefer to not have to fork their own version of cosign. I still believe that the simplest solution that satisfies everyone's needs and reduces the amount of custom coding required is by provid

[2021-09-26 22:57] dlorenc commented on #396
PKCS11 should work. I'm not sure when we'll get to it, but happy to help if you're interested in giving it a try!

[2021-09-27 02:43] garantir-km commented on #396
I think I can give it a shot (or assign it to one of our engineers) at the beginning of October, once this quarter is over.

[2021-09-27 04:37] joelapatatechaude opened #805 "AWS_PROFILE not properly used when verifying with AWS KMS"
I am currently focusing on cosign verify, but what I am writing probably applies to cosign sign too. I am using AWS KMS to sign images in ECR.

There are several things that I find strange when using AWS_PROFILE. For one, even if my .aws/config specify a default aws region for all my profiles, it seems like I always need to specify the env variable AWS_REGION when using cosign, if not, then I get

[2021-09-27 11:12] cpanato commented on #805
The way we are loading the aws credentials we expect the keys are available and not the profile.

I see this as a missing feature and I will fix that

[2021-09-27 11:41] cpanato commented on #805
ok, using my local machine everything works as expected, will try your use case

[2021-09-27 11:54] joelapatatechaude commented on #805
Ok. Not sure the way I am using aws profile is part of the problem, but it's not a basic profile usage, as the profile ch is assuming a role (role_arn) using the creds from another profile (source_profile). AWS Virutal MFA is enabled, (aws_mfa_device in the credentials file). To simplify the usage, the aws_access_key_id, aws_secret_access_key, aws_session_token, and aws_security_token are automati

[2021-09-27 12:02] cpanato commented on #805
ok, seems not a bug and everything is working as expected

[code]

[2021-09-27 12:04] cpanato commented on #805
you need to export the AWS_REGION the config file looks like it only works with the aws CLI, I see similar behavior when using terraform and aws profile.

[2021-09-27 12:20] cpanato commented on #805
humm I see, yep that looks like very special case

[2021-09-27 16:18] #801 closed

[2021-09-27 16:34] vaikas commented on #802
I'll take a look at this.

[2021-09-27 17:13] dbilling commented on #396
As the original author of this issue, I am super excited to see evidence others like me looking for a way to get from cosign to HSM systems for remote signature operations.  The desire to see this happening sooner rather than later is also super encouraging.  However, I'm not really on board with the assessment that seems to have formed that anyone that needs can get to an HSM should get there thr

[2021-09-27 18:26] mrjoelkamp opened #807 "Allow custom signature tag suffix via CLI parameter"
**Description**
Add ability to customize the signature tag (prefix/suffix) before it gets pushed to the registry.

When using [ECR Lifecycle Policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html) you can filter image tags based on the tag prefix (i.e. `sha256-`).

In my specific use case we have lifecycle policies for different environments (i.e. `develpment*`, `p

[2021-09-27 20:04] garantir-km commented on #396
First off, my apologies to @dbilling - I realize my post came across somewhat arrogant and that wasn't my intention. Also, for what it is worth, my company wants to integrate via a REST API as well.

I had a few of goals in mind when I wrote my comment about PKCS11:
- Minimize the amount of custom coding required for the majority of people
- Avoid creating a cosign-specific interface for cryptogra

[2021-09-27 21:28] colek42 commented on #645
@dlorenc @developer-guy,  I am interested about this one as well.  It is on our backlog.

[2021-09-27 22:32] dlorenc commented on #645
Go for it!

[2021-09-28 04:14] joelapatatechaude commented on #805
Hi @cpanato
Thanks for having looked into it. I'll see if I can narrow down my issue to something easily reproducible.

[2021-09-28 06:43] developer-guy commented on #645
yes please go ahead @colek42, we really need you for this issue but please let me know if I can help somehow because this topic is something that I don't know about, but I'm really curious about it also. 🤔🔮🤝

[2021-09-28 09:17] hectorj2f commented on #594
@stormqueen1990 and @kkavitha @elfotografo007 Please, could you update the issue with the latest changes to the spec ?

[2021-09-28 15:33] asraa opened #810 "COSIGN_EXPERIMENTAL=1 requires signature validation in log"
**Description**

Using `COSIGN_EXPERIMENTAL=1` to verify an image with a provided key currently indicates the signature MUST be in the transparency log, rather than COULD be. So we have this behavior:

[code]

I don't think this is incorrect necessarily, but I do think that the logs should indicate that a signature with `key` was found like in the non-experimental flow, but should also log that `s

[2021-09-28 18:10] #802 closed

[2021-09-28 23:40] vaikas opened #820 "Should be worrying about ephemeral containers"
**Question**
While I was looking at the #809 thought about how we might want to handle ephemeral containers. Just wanted to jot this down and see what folks thought about this. Seems like something to at least think about.

https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/

[2021-09-29 07:23] developer-guy commented on #820
hello @vaikas, this is an interesting case nice !! I found this, it might be useful for us:
👉 https://github.com/kubernetes/kubernetes/issues/92557

[2021-09-29 14:30] lukehinds opened #822 "Migrate documentation to docs.sigstore.dev"
We now have a nice docs site, so let's start moving content into there.

Seeking volunteers to help with this and also add more content.

[2021-09-29 15:15] dlorenc commented on #820
Yes!

[2021-09-30 21:15] dlorenc commented on #810
This will be a tricky question as we take EXPERIMENTAL off for the transparency log.

Here's what I'd like to get to:

By default:
- verify the signature
- if there's a cert, verify that against the root (including timestamp)
- if there's a tlog bundle, verify that offline

This means that by default we don't check the log itself. If there's a bundle we check it. If there's no bundle, we don't che

[2021-10-01 01:30] #706 closed

[2021-10-01 03:23] tanvp112 commented on #383
`... How can I run the docker with tag...`

hi @mkinage, can you elaborate how you achieve the run (presumably with the sha and tag)?

[2021-10-01 14:03] codysoyland commented on #131
@joelapatatechaude AWS KMS support should be working as of v0.6.0. Please file a bug and tag me if it is broken.

[2021-10-01 15:29] n3wscott opened #833 "Use capitals to show defaults in user interaction flows?"
Typical flows like this are like:

[code]

and if you press enter, you get Y by default (or whatever we want the default to be).

_Originally posted by @n3wscott in https://github.com/sigstore/cosign/issues/831#issuecomment-932329612_

[2021-10-01 16:49] avoidik opened #834 "Getting incompatible key usage error with cosign verify"
**Description**

hello,

after my image has been signed I want to verify it, but it failed with error below, I assume `fulcio createca` might have created a certificate which cannot be used for verification, please suggest what I am doing wrong here?

[code]

and

[code]

[2021-10-01 16:56] asraa commented on #834
Hm... it looks like you may have set fulcio-root.pem file to contain the certificate used to sign?

The `SIGSTORE_ROOT_FILE` should actually be the Fulcio certificate, which is located here: `./cmd/cosign/cli/fulcio/fulcioroots/fulcio.pem`.

You should see that if you check key usage for the fulcio certificat, it has "certificate sign" as expected (since fulcio signs certs)

[code]

[2021-10-01 16:57] asraa commented on #834
I think you should probably unset `SIGSTORE_ROOT_FILE` so it uses the embedded fulcio cert, or set it to be the actual fulcio cert (located at that path, or here: https://github.com/sigstore/fulcio#status)

[2021-10-01 17:02] avoidik commented on #834
The `fulcio-root.pem` certificate has been created using `fulcio createca` as follows

[code]

which is using hsm slot 1 with a private key

[code]

[2021-10-01 17:10] asraa commented on #834
Hm, ah I see. Thanks! That's strange then coming from line
https://github.com/sigstore/fulcio/blob/e3bb9cbc4d1c488b1bcfaceabf2222248d671fed/cmd/app/createca.go#L94

I will take a look.

[2021-10-01 17:17] avoidik commented on #834
info about the private ca object on hsm

[code]

[2021-10-01 17:38] avoidik commented on #834
minimal repro case

[code]

[2021-10-01 17:53] asraa commented on #834
With that minimal repro I get this as output:

[code]

Can you verify? In the comment above you also had Digital Signature

[2021-10-01 17:59] avoidik commented on #834
(facepalm) I'm using old version https://github.com/sigstore/fulcio/blob/0.1.0/cmd/app/createca.go#L95-L96

[2021-10-01 18:01] #834 closed

[2021-10-01 18:23] avoidik commented on #834
ref. https://github.com/sigstore/fulcio/pull/151

[2021-10-01 19:41] imjasonh commented on #657
Is this a duplicate of #666? Now that #666 is closed (after a bunch of work), is there anything else that needs to be done to close this one?

The specific issue of being able to specify a keychain should be resolved with `ociremote.WithRemoteOptions(remote.WithAuthFromKeychain(myKeychain))`.

[2021-10-01 19:43] mattmoor commented on #657
I think the next level of stuff is going to be pushing some of the signing (and verification) stuff into different packages, which compose nicely with the `pkg/oci` stuff.

[2021-10-04 09:35] developer-guy opened #837 "remove redundant writing public key to disk while generating key/pair using Kubernetes secret operation"
**Description**

Do we really need to write public key to disk while generating key pair as Kubernetes Secret?
Detail 👇 https://github.com/sigstore/cosign/blob/27d68e081567d193d051a330075d3b2acdc1de7e/pkg/cosign/kubernetes/secret.go#L87

All the details are available within the Secret, pub/private key pair, and the password, why are we still writing the public key to disk?

Should we remove this l

[2021-10-04 10:59] hectorj2f commented on #837
In my opinion, this decision should be based on the expected user experience. If we remove this step, we should also do it for the KMS services because they also write the public key locally.

[2021-10-04 11:49] Dentrax opened #838 "Support GitHub and GitLab services for generate-key-pair"
**Description**

Consider the following example:
[code]

What these providers going to do is that simply calling `secret` API to _create_ or _update_ the generated _private key_ in the secret variables. Something like: `[UPSERT] /repos/:owner/:repo/actions/secrets` into `$COSIGN_PRIVATE_KEY` variable.

GitHub: https://docs.github.com/en/rest/reference/actions#secrets
GitLab: https://docs.gitlab.co

[2021-10-04 12:13] dlorenc commented on #838
I like it!

[2021-10-04 13:04] hectorj2f commented on #838
+1 😄

[2021-10-04 17:56] dekkagaijin opened #844 "[cosign/pkg] High-level, pluggable, composable, `cosign`ing and verification flows"
Right now `cosign` as a package is tightly coupled with its signing and verification implementation:

* _Registry-resident_ OCI containers as the signable object
* Generating `fulcio` certs
* Uploading keys to `rekor`

This leads to significant amounts of control flow being required to properly implement even [canonical signing/verifying operations](https://github.com/sigstore/cosign/blob/main/cmd

[2021-10-04 18:07] dekkagaijin commented on #844
The imagined high-level API would be something like:

[code]

or possibly, for the more functional people in the audience:

[code]

The inputs would be presented to steps in turn and results passed to subsequent steps. This way we can fully abstract away interactions with storage, eliminate complex control flow related to upload/verification with `fulcio` and `rekor`, and allow for consumers to ea

[2021-10-04 19:24] sudo-bmitch commented on #596
I'm thinking through a similar workflow. The build pipeline may be performed in a disconnected environment without access to a registry or the general internet. The output of the container image build could be an OCI Layout tar file that includes an index.json that has the descriptor of the image that would be pushed to the registry. If there's a way to sign a digest without pushing the result, ju

[2021-10-04 20:30] dlorenc commented on #596
+1, yeah I don't see any issues there.

[2021-10-05 01:52] mattmoor commented on #844
I think the key bit here is that we should decompose the CLI spaghetti monster around a few key interfaces:
[code]

We could split out implementations of these interfaces into separate packages for:
1. Local public/private key
2. KMS's (including K8s secrets as faux-KMS)
3. Fulcio
4. Rekor (composed with one of the above)

The over-arching goal would be for the CLI to effectively be a glorified or

[2021-10-05 05:35] JimBugwadia opened #846 "Support custom predicates for attestations"
**Description**

The command below sets the predicateType to `cosign.sigstore.dev/attestation/v1` and uses a predicate format custom to cosign.

[code]

Would be great to have support for user specified custom predicates as discussed here: https://github.com/in-toto/attestation#custom-type-examples.

[2021-10-05 05:35] JimBugwadia commented on #846
/assign @JimBugwadia

[2021-10-05 10:35] developer-guy commented on #837
supported k8s:// protocol is not like the KMS service because we are responsible for creating key pairs by using the `client-go` package, so IMHO it'd be okay to separate the logic from other KMS services. WDYT @dlorenc?

[2021-10-05 11:40] #846 closed

[2021-10-05 17:49] hectorj2f commented on #837
@developer-guy I see now, then I'd suggest to keep the same UX experience in both.

[2021-10-06 06:24] dirien opened #855 "Add GoFish support"
**Description**

Hello cosign community and @cpanato,

I added GoFish support via goreleasers (@caarlos0).

Thanks

[2021-10-06 10:31] endorama commented on #822
Happy to help with this! Which content should be migrated? Everything from the `doc/` folder?

[2021-10-06 10:38] lukehinds commented on #822
Thanks @endorama ,  /doc is just auto generated stuff , most of its in the .md files in the root (including the main README.md)

[2021-10-08 15:02] gjirm opened #862 "Password input from terminal in Windows do not work"
## Issue description
When launched, the application freezes and does not prompt user for a password.
This happens whenever entering password is expected from the user. For example these commands:

`cosign generate-key-pair`
`cosign sign --key cosign.key ...`

It works just fine when password is passed from stdin or from COSIGN_PASSWORD environment variable.

It seems that this is caused by golang.

[2021-10-09 00:31] dekkagaijin commented on #587
@tommyreilly you're right, it only supports `docker`'s behavior right now.

If we end up supporting some alternative to Docker's configuration and authentication scheme, it should one we maintain. For this issue, I think documenting our `docker` mimicry and prescribing a manual way of setting things up for automation should suffice

[2021-10-09 19:05] mattmoor opened #865 "cosign for `git`"
**Description**

Today `cosign` is very oriented around OCI entities as both the thing being signed, as well as the medium for storing signatures, attestations, etc.  While this is a pervasive medium for *binaries*, it doesn't capture another critical lifecycle stage: source, which has an even more pervasive medium: Git.

🚨🚨 This conversation will be muddied by the existence of `git commit -s`, wh

[2021-10-09 19:10] dlorenc commented on #865
These examples are great and really motivate the use case.

[2021-10-09 19:40] mattmoor commented on #865
My expectation was still sort of that the unit of signing would be the git SHA, but given that SHA1 is broken we might also consider something like: https://pkg.go.dev/golang.org/x/mod/sumdb/dirhash

I like the idea of using the SHA because it's a first-class thing, but I could also see us incorporating a second hash to strengthen things (then one becomes more lookup oriented, and the other become

[2021-10-09 19:43] lukehinds commented on #865
I don't understand git notes to well (my own lack of understanding, not any fault with the technology). I have been playing around with generating provenance pre-commit which then stages the provenance (intoto link) into the commit before the post commit hook, it also has a fulcio oidc identity allowing some level of non-repudiation. This way its still part of the git commit flow.

I suspect the a

[2021-10-09 19:57] mattmoor commented on #865
@lukehinds This would be a separate commit (in a whole separate part of the DAG), but each note is associated with a specific commit, so the key thing here is that it provides a way to do the post-facto "attachment", which I think we need.

I'm not sure how you are including the information you are including (maybe link from commit message?) but you could do something very similar in a post-commit

[2021-10-09 20:10] lukehinds commented on #865
Its pretty much this

1. A pre-commit hook enacts
2. All of the staged files are hashed into in-toto `products`
3. The fulcio signing certs are procured
4. the `signed` envelope containing the digests in 2, are signed over
5. The staged files and the in-toto link file are commited in one.

It's just a prototype in python right now I worked on with Santiago https://github.com/OpenSecureSupplyChain/

[2021-10-09 20:55] mattmoor commented on #865
@lukehinds I wonder whether there are any ways to guarantee a `pre-commit` hook runs last, or this shift might also close a race where I register `zzz-my-exploit-hook` as a `pre-commit` hook to get you to sign it before I modify it 🤔 😅

[2021-10-10 02:19] mattmoor opened #866 "`cosigned` should support verifying `Fulcio` signatures"
**Description**

Today the `cosigned` webhook requires folks to setup `k8s://cosign-system/verification-key` with the public key that should be used for verification.  The webhook passes the following `CheckOpts`:
https://github.com/sigstore/cosign/blob/278ad7d4063592b822ef58bf4a88abee7bb2eff3/pkg/cosign/kubernetes/webhook/validation.go#L61-L62

... which includes a `SigVerifier` based on the veri

[2021-10-10 02:25] mattmoor commented on #866
Here's sort of what I'm thinking:
1. Switch from using a secret for `verification-key` to using a `ConfigMap` (since it's a public key, when specified).
2. When the key isn't specified, verify against the Fulcio roots.

Over time, we can use this configmap to pass additional configuration, including:
 * Alternate Fulcio root certs (e.g. if a custom Fulcio root is in use),
 * A Rekor URL to verify

[2021-10-10 19:57] dlorenc opened #868 "Documentation and Examples for cue/rego policies!"
Let's add some documentation and examples for attestations in general, but in particular with cue and rego policies.

For example, we should clarify exactly what gets passed into the validator (just the predicate portion?), and show a few getting started examples.

[2021-10-11 12:23] mattmoor opened #873 "`cosigned` rejections should include image name"
**Description**

Today the errors from `cosigned` look something like:
[code]

It would be nice if these also contained the unsigned digest, which feels more useful (especially when this is bubbling through higher-level abstractions like Tekton).

[2021-10-11 12:40] hectorj2f commented on #873
Sounds good to me. I can fix that in a quick PR.

[2021-10-11 12:42] hectorj2f commented on #594
It sounds good to me @DennyHoang. I suggest you open a PR with the proposed changes to show the benefits of using this CRD.

[2021-10-11 13:52] mattmoor opened #874 "`cobra` prints usage on errors"
**Description**

After the switch to `cobra`, we get the usage displayed when a command errors, e.g.

[code]

cc @dekkagaijin @n3wscott (we may want to fix this before 1.3)

[2021-10-11 14:18] hectorj2f commented on #873
@mattmoor Let me know if that works https://github.com/sigstore/cosign/pull/875, or we prefer a one-liner err msg instead.

[2021-10-11 21:08] #874 closed, assigned to nobody

[2021-10-11 21:23] #862 closed

[2021-10-11 21:26] #838 closed

[2021-10-11 21:36] #873 closed

[2021-10-11 23:41] mattmoor opened #880 "Provide public accessors for each sub-command"
**Description**

Previously, you could invoke subcommands with something like: `cli.Sign().Exec(...)`,

Now, the code is constructed and added to the root commands via private methods:
https://github.com/sigstore/cosign/blob/f85fe3fb8e010f47f6a80185e1a9388e221a537f/cmd/cosign/cli/sign.go#L32

This might be okay, if these were thinner wrappers around the logic nested in Exec, but to pick on `Sign`,

[2021-10-12 00:04] n3wscott commented on #880
Don't use the cli init, use the command that the cli sets up. There should always be a public struct or function that does the work. The cobra setup is just for cobra and private as planned. Don't reuse that, reuse what cobra is calling.

[2021-10-12 07:46] ShubhamPalriwala opened #881 "`$` missing in some CLI commands in README"
**Description**
The README has various examples and their command snippets. Most of them are appended with a `$` however a few aren't!
To be fixed:
- Under the [Blobs section](https://github.com/sigstore/cosign#blobs)
[code]
[code]
- Under the [Rekor Supoort](https://github.com/sigstore/cosign#rekor-support)
[code]
- Under the [Specifying registery](https://github.com/sigstore/cosign#specifying-re

[2021-10-12 14:46] srenatus opened #884 "enhance rego policy output"
In https://github.com/sigstore/cosign/pull/872, the output on failing validation is

[code]

It would be cool if the output could be influenced by the policy.rego code. To do that, we'd have to support a more complex result set, and have policies like

[code]

The call to rego.eval would check the result set and include the information in the CLI output.

It's a pattern already used in conftest an

[2021-10-12 21:04] jkjell opened #887 "Cosign YubiKey integration broken"
https://github.com/sigstore/cosign/blob/42ec945a84b2f772471037d815288dd85d04922e/cmd/cosign/cli/sign/sign.go#L274

It appears that we're closing the key before using it to sign (I think the defer close got refactor for a higher level function previously).  I'm not sure the best approach to solve this, either open the key again before signing?  Or move the open/close of the YubiKey somewhere else.

[2021-10-12 21:05] jkjell commented on #887
Commenting that line out allowed the signing to work properly.

[2021-10-12 21:32] developer-guy opened #888 "use sget or go install to install google/ko"
**Description**

I saw there is a line for installation `google/ko` via curl which is an insecure way of doing it as you all agree:

👉 https://github.com/sigstore/cosign/blob/main/.github/workflows/build.yaml#L40

we can fix this as we did previously for `golangci-lint` in [PR](https://github.com/sigstore/cosign/pull/624).

[2021-10-13 07:34] lfstm commented on #587
Hi, had auth issues (I use podman instead of docker), the following was a workaround for me:

`cat ${XDG_RUNTIME_DIR}/containers/auth.json > ~/.docker/config.json`

[2021-10-13 08:53] lukehinds commented on #822
Already made a start on this (in fact it should be good to go)

https://github.com/sigstore/sigstore-website/pull/67

[2021-10-13 12:35] operatorequals opened #890 "[Vault] Cannot sign with Transit Rotated key"
A workflow has been designed using `cosign` and its Vault integration where it uses a Vault path to create Signatures.
Additionally, the Vault Transit endpoint is being rotated every some hours, using Vault API [1].

This process has been bootstrapped once using the `cosign generate-key-pair -kms hashivault://something` command, but is never used again, as rotation happens through Vault API (addit

[2021-10-13 22:33] #888 closed

[2021-10-14 05:39] srenatus commented on #884
Thanks a lot! That was quick! 🚀

[2021-10-14 07:49] developer-guy commented on #884
thank you so much for your cooperation, it was super helpful for me to work with you on this issue, learned so many things from you, we are very lucky to have you in this community 🥳🤝🚀

[2021-10-14 07:58] operatorequals commented on #890
The workaround we did is to delete the whole Vault Transit key and recreate it using `cosign`

[2021-10-16 11:51] dlorenc commented on #822
Nice!

Now we have to figure out how to best link over to those docs from here, and what should stay here.

Maybe this readme can contain installation instructions, a quickstart, and then a link to the full docs on the website?

[2021-10-16 11:53] dlorenc commented on #822
One other quick thing I noticed when browsing those docs: we should probably leave the specification files here in this repo:

https://docs.sigstore.dev/cosign/cosign_predicate_spec
https://docs.sigstore.dev/cosign/specifications

[2021-10-17 17:28] mlieberman85 opened #906 "Content type flag usage info on upload blob doesn't indicate that the flag is currently unimplemented"
**Description**

See:
[code]

See TODO comment: https://github.com/sigstore/cosign/blob/7dd85a76624bd8e8b65783bd012df7b9680bbdef/cmd/cosign/cli/upload/blob.go#L31

I don't know how long it would take to implement and can take a look a little later, but if it is going to take a while I think it makes sense to indicate in the usage of the CLI that the flag currently isn't implemented.

[2021-10-17 22:18] dlorenc commented on #887
Yeah I've verified this.

This one might be tricky to fix. Let me play around with it...

[2021-10-18 04:19] #887 closed, assigned to nobody

[2021-10-18 08:35] TBBle opened #913 "Why are the signatures OCI Images rather than OCI Artifacts?"
**Question**

Why are the signatures OCI Images rather than OCI Artifacts?

I've been poking through the docs and website for a while, but couldn't track down an answer, or even a discussion.

It seems to me that the current [OCI Images created by this tool](https://github.com/sigstore/cosign/blob/2594f7acc849644a6bd05e5f3fa567ac87056b85/specs/SIGNATURE_SPEC.md?plain=1#L183-L201) ([relevant source

[2021-10-18 12:38] erkanzileli opened #914 "Consider following CII Best Practices"
**Description**

According to my cosign fork's [assessment](https://bestpractices.coreinfrastructure.org/en/projects/5325#) there are things to do.

cc: @Dentrax @developer-guy

[2021-10-18 19:33] garantir-km commented on #396
It has been brought to my attention by one of our engineers that there is already the [CertSignVerifier interface](https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/sign/sign.go#L406) which implement's sigstore's [SignerVerifier interface](https://github.com/sigstore/sigstore/blob/v1.0.0/pkg/signature/signerverifier.go#L30), and it is [used by cosign](https://github.com/sigstore/cosign/b

[2021-10-18 19:40] dlorenc commented on #396
I think we're missing an "out of tree" extensibility model today. This interface would still require getting things upstreamed here into cosign. I'd like to be flexible in cosign and merge implementations that would see wide usage, but that won't be enough for every use case.

[2021-10-19 02:09] #906 closed, assigned to nobody

[2021-10-19 03:14] mattmoor opened #919 "keyless `verify-attestation` dereferences nil pointer"
**Description**
To reproduce this, you effectively need a `cosign` built at HEAD since keyless attestation was broken until earlier today.

Run the following:
[code]

The second command will panic because `pubKey` is nil here:
https://github.com/sigstore/cosign/blob/dcfb11d6c01d7e48829557b65e7df390c9d78e54/cmd/cosign/cli/verify/verify_attestation.go#L115-L117

[2021-10-19 09:28] mirogl opened #921 "redirect_uri did not match URI from initial request"
Hi,
I tried to sign my image via OAuth2 - but it seems to be broken.

[code]

I choose github and get a code there - but when I enter it, i get

[code]

Seems to be the error mentioned in this link - https://github.com/sigstore/sigstore/issues/113

Thanks for your support

[2021-10-19 15:50] #921 closed, assigned to nobody

[2021-10-19 16:05] JimBugwadia opened #923 "option to replace attestations"
**Description**

Provide a way to replace (vs. append) attestations.

Currently the same attestation type can be appended multiple times. A proposal is to support a `--replace` which would change the behavior to replace an attestation of the same type instead of appending it to the existing list of attestations.

Slack discussion at: https://sigstore.slack.com/archives/C01PZKDL4DP/p163346391630510

[2021-10-19 20:41] mattmoor commented on #866
I'm going to close this, and we can open a new issue for greater configurability.

[2021-10-19 20:41] #866 closed

[2021-10-20 09:53] Dentrax opened #925 "Brainstorming: How would the "server" command fit in? (cosign as a Service)"
_The idea behind this is inspired by @developer-guy from the [container-image-sign-and-verify-with-cosign-and-opa](https://github.com/developer-guy/container-image-sign-and-verify-with-cosign-and-opa), which simply exposes 2 endpoints called `/sign` and `/verify`._

---

**Description**

Let's assume we have the `server` command in cosign as follows:

[code]

The idea here is that slightly same wi

[2021-10-20 15:12] vaikas opened #927 "How do folks deal with different registries for attestations in things like cosigned?"
**Question**

Since it's possible to use a different registry for adding SBOM and other attestations to a an image, it would appear that for any given image, verifying attestations these could need to fetched from a different repo. I'm curious how folks are thinking about how to configure things like cosigned webhook to handle this.

My knee jerk reaction is that we should probably have a ConfigMa

[2021-10-20 15:16] mattmoor commented on #927
I'd guess there are similar problems for *producing* attestations with Chains, so cc @mlieberman85 @priyawadhwa

[2021-10-20 15:45] vaikas opened #928 "Shouldn't we validate signatures on SBOM download?"
**Question**
While I started playing around a bit with #919 and trying to wrap my head around the codebase more and seeing how various pieces do what they do, I noticed that here:
https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/download/sbom.go#L63

It _looks_ like to me that we do not verify signatures like we do for the verify-attestations loop. I was sort of kind of expecting one or

[2021-10-20 16:36] mlieberman85 commented on #927
This is a good question. I would push for downloading all associated attestations and potentially materials along with the image into any repo you have, but that might not be viable in a lot of situations.

[2021-10-20 18:32] sbose78 commented on #40
Though, updates to quay.io would be pending for a while I guess.

[2021-10-20 19:45] vaikas opened #931 "Consider separating Signature vs. Attestation at the Interface level."
**Description**
As I was ramping up on #930 and #919 I found it a bit confusing that both Signature and Attestation are treated as Signature, even though they actually behave differently. I tried to clarify in the documentation to hopefully help other newcomers (or maybe it was just me :) ) but that led me to think that given that since there are some codepaths where these are treated differently

[2021-10-20 20:33] #919 closed, assigned to nobody

[2021-10-20 21:20] JimBugwadia commented on #927
Here is a related issue and discussion in the Kyverno repo: https://github.com/kyverno/kyverno/issues/2294

The policy rule definition allows specifying an COSIGN_REPOSITORY for each matching image pattern:

[code]

[2021-10-20 23:33] DennisDenuto opened #932 "Allow specifying image via stdin"
**Description**

cosign doesn't read in the image ref via stdin. When piping output from other tools to cosign, the output of the image ref needs to be interpolated as an argument (using xargs for e.g.)

I think it would make scripting simpler if instead, cosign accepted the image ref via stdin.

for e.g. it would be nice to do something like this
[code]

[2021-10-21 02:33] dlorenc commented on #932
Seems reasonable!

[2021-10-21 02:34] dlorenc commented on #928
This was correct historically.

It felt weird to combine "upload and sign" into one operation. Attest can be used for that, but the attestation spec AND the sbom specs were both new so it seemed weird to require using the combination of both at the same time.

[2021-10-21 14:49] #881 closed, assigned to nobody

[2021-10-21 18:59] DennisDenuto opened #936 "Using sign-blob with a transparency log should output cert to disk"
**Description**

I’m trying to use cosign’s experimental transparency log feature to sign a blob (a go binary built and uploaded to a GH release).
verify-blob requires the blob, signature, and public key.
The blob and signature are easy to provide. (The signature can be extracted when signing via the --signature flag). However getting the public key is a bit trickier...

The sign-blob does output

[2021-10-22 08:20] developer-guy opened #939 "retrieve public key from GitLab via cosign public-key command"
**Description**

cosign has the support of generating and storing public/private keys on `GitHub` and `GitLab` variables #900. Nowadays, @hectorj2f added the support of verifying signature by retrieving keys from `GitLab` #934. Today, I'm suggesting to add the support of retrieving this public key via the `cosign public-key` command, a similar design would be like the following:

[code]

cc: @Dent

[2021-10-22 17:26] developer-guy opened #940 "use justfile instead of Makefile via just CLI tool"
**Description**

@lukehinds recently mentioned this project on Twitter. There is a new project called [just](https://github.com/casey/just) which is an alternative to `make`. Evet `sigstore/sget` project now is using `justfile`, thanks to @Dentrax, please [see](https://github.com/sigstore/sget/commit/38dad5eee2d616e02723efe5681def657a661a4a) for more detail. So, I'm proposing the same for the `cos

[2021-10-23 16:23] naveensrinivasan opened #945 "Branch protection for main branch"
**Question**
The branch protection for `cosign` isn't in the recommended state.

[code]
I was able to identify using  https://github.com/ossf/scorecard
 `scorecard --repo=github.com/sigstore/cosign --checks=Branch-Protection --show-details --format json | jq`

 Could these things be avoided?

[2021-10-24 03:45] beingamarnath opened #946 "Cosign with AWS KMS and AWS ECR doesn't work as expected for specific type of keys"
### Description

Cosign has the support for AWS KMS as a means to provide keys for Signing and also AWS ECR is as well supported as a Container registry to have the signing information.

So I tried to take the duo for testing and below are my findings .

P.S: I tried all the below setup also with Jfrog Artifactory as Container Registry and the results are the same.

AWS KMS 1 (alias/cosign-ec512):

[2021-10-25 10:38] developer-guy opened #947 "support generating Tekton Task & TaskRun"
**Description**

Wouldn't be nice if we can support generating `Tekton Task & TaskRun` resources via new command? This command will do two things. The first one is generating key pairs using the `k8s://` scheme and creating necessary **Task** & **TaskRun** resources.

<details>

<summary> Sample Cosign Tekton Task </summary>

[code]

</details>

cc: @Dentrax @erkanzileli @gkovan

[2021-10-25 11:10] #947 closed, assigned to nobody

[2021-10-25 11:42] Itxaka opened #948 "CLI exit status should be improved"
**Description**
Currently if you run cosign verify against a non existing image, against a not signed image, against a signed image with a different key, the exit status is the same (1)

This makes difficult to automate using cosign to verify stuff, especially in projects where the signing is starting or in which all artifacts may not be signed and those are out of your control.

cosign should pro

[2021-10-25 22:28] developer-guy opened #950 "support verification of the signature with multiple public keys"
**Description**

The idea is actually came from here[^1]. We can support verification of the signature with multiple public keys, I couldn't think over the design much yet but, at the end of the day it might look like the following:

[code]

[^1]: https://github.com/kyverno/kyverno/issues/2583

cc: @dentrax @dlorenc @JimBugwadia @hectorj2f

[2021-10-26 11:55] #939 closed, assigned to nobody

[2021-10-26 16:46] n3wscott opened #952 "RFC: Release cosigned artifacts with cosign releases?"
**Description**

I would like to do the work on releasing the `cosigned` webhook config (with signed image) independent of the helm chart.

I would like to know if anyone has a good reason for all the configuration options inside the helm chart? We can also ship the helm chart alongside the resolved release manifests without issues, it just means we will have two paths to install the webhook.

[2021-10-28 14:16] developer-guy opened #959 "generating SBOMs for both cosign and cosigned projects and sign them"
**Description**

we (w/@dentrax) thought that there are no SBOMs files generated and signed for both `cosign` and `cosigned` projects, so we're proposing to generate, sign them right after generating them via cosign's private key, and attach them to the proper registry. I'd like to list the tools that can help us to do that:

* https://github.com/anchore/syft
* https://github.com/anchore/sbom-acti

[2021-10-28 17:04] blackcat-lin opened #962 "Cosign webhook requires kubernetes version at least 1.20"
**Description**

Try to install cosign webhook on EKS 1.19 cluster and got below error:

{"severity":"EMERGENCY","timestamp":"2021-10-28T15:56:03.638407106Z","logger":"cosigned","caller":"sharedmain/main.go:273","message":"Version check failed","commit":"eb051f6","error":"kubernetes version \"1.19.13-eks-8df270\" is not compatible, need at least \"1.20.0-0\" (this can be overridden with the env va

[2021-10-28 23:41] mattmoor opened #963 "Improve the cosigned webhook errors"
**Description**

a lot of great diagnostic information is blocked by this `bool`: https://github.com/sigstore/cosign/blob/0bf537fb5c4a12028f5de175415acfe9be1a46ec/pkg/cosign/kubernetes/webhook/validation.go#L37

In particular when auth is failing we say that the signatures are missing 🤦

[2021-10-29 03:40] #963 closed, assigned to mattmoor

[2021-10-29 23:04] mattmoor opened #974 "Have ko publish multi-arch builds, drop Dockerfile"
**Description**

@dekkagaijin pointed me at: https://github.com/sigstore/cosign/blob/fbe6fabcf3dbad1f94e1fd50d3bbe157c180b5be/.goreleaser.yml#L162-L232

We can just publish images like we do for `/ci/`, but with `--platform=all` to build for ~5 architectures.

There are examples of doing this as part of a release workflow with goreleaser here: https://github.com/mattmoor/mink/blob/master/.github/w

[2021-10-29 23:05] mattmoor commented on #974
cc @dlorenc @cpanato

[2021-10-29 23:16] DennisDenuto commented on #676
Hey @dlorenc is there any plan to automate looking up the cert using rekor when running `verify-blob`?

[2021-10-29 23:43] dlorenc commented on #676
I think we should do it! I don't have a plan to personally (just a bandwidth thing) but we can definitely help if someone wants to try and get it merged!

[2021-10-30 07:43] containerpope commented on #589
@dlorenc @cpanato can you give me some details on which sections of the code to look into for this? We have all the environment setup, maybe we can troubleshoot it and send a PR :)

[2021-10-30 15:43] dlorenc commented on #423
Update: now that the notation alpha is out I'm working on a document to compare these and will share when it's finished. I've asked some of the notary maintainers to review it as well.

If you'd like to help review or edit before it's finished, please let me know and I'll add you to the document!

[2021-10-30 19:44] #890 closed

[2021-11-01 08:35] VinodAnandan commented on #959
We have helped with the SBOM generation for Kyverno, Trivy, gosec, Buildpack, etc. The following Github action is utilised to generate the SBOM, https://github.com/CycloneDX/gh-gomod-generate-sbom . It is simple and straightforward and generates an accurate SBOM with a dependency graph. @nscuro has already addressed @dlorenc's concern ( https://github.com/CycloneDX/cyclonedx-gomod/issues/20 ) rela

[2021-11-01 10:50] nscuro commented on #959
As cosign uses goreleaser, https://github.com/goreleaser/goreleaser/issues/2597 (and consequently https://github.com/goreleaser/goreleaser/pull/2618) may be relevant.

[2021-11-01 14:58] trishankatdatadog commented on #423
Count me in after it's finished

[2021-11-01 17:16] mattmoor commented on #974
One thing @dlorenc brought up that might be problematic with `ko` is the piv-key stuff, which uses cgo

[2021-11-01 17:18] mattmoor opened #984 "cosign images aren't multi-arch"
**Description**

I see logic in goreleaser that appears intended to stitch together manifests: https://github.com/sigstore/cosign/blob/main/.goreleaser.yml#L165-L239

However, the tagged images are not multi-arch:
[code]

cc @cpanato

[2021-11-01 20:45] JimBugwadia commented on #950
Currently `cosign.VerifySignatures` takes a `signature.Verifier` and loops through all signatures and invokes the verifier.  Can this be refactored to push multiple signatures to a new abstraction that performs the logic to verify the entire set against policies or other declarations?

Something like this:

[code]

We can then support different verifiers e.g. CueVerifier, MultiKeyVerifier, SingleK

[2021-11-01 22:27] dekkagaijin opened #988 "Release is broken"
Currently, attempting a release results in the error:

[code]

[2021-11-02 05:54] developer-guy commented on #946
kindly ping @dlorenc @Dentrax @hectorj2f

[2021-11-02 12:54] developer-guy commented on #932
@DennisDenuto, as @mattmoor says in the #953:

What about using something like the following ones:

`COSIGN_PASSWORD=1 ./cosign sign --key cosign.key $(kbld -f sample.yaml | yq eval '.spec.template.spec.containers[0].image' -)`

or

`kbld -f sample.yaml | yq eval '.spec.template.spec.containers[0].image' - | xargs COSIGN_PASSWORD=1 ./cosign sign --key cosign.key `

[2021-11-02 13:24] cpanato commented on #988
ack

[2021-11-02 13:42] derwei commented on #423
I'd love to read up on the comparison between notation alpha and cosign and to help however I can. Please count me in too!

[2021-11-02 19:35] sozercan commented on #655
Gatekeeper external data validation PRs are merged. External data will be released as alpha as part of v3.7.0 (hoping for this week).

Here is an example of a provider: https://github.com/open-policy-agent/gatekeeper/tree/master/test/externaldata/dummy-provider

cc @Dentrax @developer-guy

[2021-11-02 22:44] naveensrinivasan opened #990 "cosign doesn't provide an option to set timeout on rekor upload"
I am trying to `cosign sign-blob` and run into a timeout issue
[code]
After some investigation, it looks like the code doesn't provide an option
https://github.com/sigstore/cosign/blob/ae36ba5bd7fd839e6dceccfa2a27455572e8a3dc/pkg/cosign/tlog.go#L76

but `rekor` has that option https://github.com/sigstore/rekor/blob/0c2b37c15bbaf80a1c32d47b63956c5d499a6f2c/pkg/generated/client/entries/create_log_en

[2021-11-03 00:34] DennisDenuto commented on #932
@developer-guy

Thanks for looking into this!

Specifying an env var via xargs doesn't seem to work.

[code]

I *could* def get around this by exporting the env var though. FWIW, This issue isn't a blocker but seemed like a nice-to-have UX to assist scripting.

[2021-11-03 07:17] developer-guy opened #992 "Transfer of ownership for rekor-installer GA (GitHub Action)"
**Description**

We (w/@dentrax @erkanzileli) created a repository for installing the `rekor-cli` via GitHub Action, and we can move this GA to under the `sigstore` organization as an official repository if you like it :point_down:

* https://github.com/developer-guy/rekor-installer
* https://github.com/developer-guy/rekor-installer/runs/3989660891?check_suite_focus=true

We talked a bit about it.

[2021-11-03 09:42] cpanato commented on #990
this is something we face before, but I'm not sure if we fix it @lukehinds did you make a PR for this fix?

[2021-11-03 09:46] cpanato commented on #974
@mattmoor @dlorenc the idea is to use ko and drop goreleaser for building the images? and how about the binaries?

we can drop goreleaser and use a make/bash that builds everything and push to github.

we just need to decide how we move forward and I can implement the changes

for this we are only building the binaries not images

[2021-11-03 10:06] cpanato commented on #974
ignore the issue link, copy/paste issues

[2021-11-03 10:07] cpanato commented on #988
fixed for now, closing

[2021-11-03 10:07] #988 closed

[2021-11-03 10:08] cpanato commented on #984
we are releasing for arm64 and amd64 for now, some discussions are being carried here https://github.com/sigstore/cosign/issues/974 as well

[2021-11-03 11:05] naveensrinivasan commented on #990
If not I am open to fixing this. We need in Scorecard. Thanks

[2021-11-03 15:58] mattmoor commented on #984
confirmed with 1.3

[2021-11-03 15:58] #984 closed

[2021-11-04 14:56] mwielgoszewski commented on #589
The signature returned by KeyVault is the ECDSA {R,S} values concatenated as bytes. Digging through the code, [co.SigVerifier.VerifySignature()](https://github.com/sigstore/cosign/blob/main/pkg/cosign/verify.go#L175) calls [ecdsa.VerifyASN1()](https://github.com/sigstore/sigstore/blob/9a93316efcab066173677cbc7b8cad9d25b901e8/pkg/signature/ecdsa.go#L168), defined in [ecdsa.go](https://github.com/go

[2021-11-04 15:06] dlorenc commented on #589
Ah thanks! I actually found this at one point and had a patch to fix it but never got it out! I'll give this all a try!

[2021-11-04 15:32] containerpope commented on #589
@dlorenc if you have something to test, feel free to reach out, I still have my running test setup here :)

[2021-11-04 19:30] asraa opened #1000 "Pre push hook for docgen and lint verification"
**Description**

Would people be in support of me making a pre push hook to run the docgen and lint command? I keep forgetting to run this before I push.

[2021-11-04 19:42] naveensrinivasan commented on #1000
In scorecard, we decided to do it part of the makefile https://github.com/ossf/scorecard/blob/af594d39210f97029cd207e32b703939cf42b177/Makefile#L114

[2021-11-05 20:02] dlorenc commented on #992
I like the idea of one action. Curious about what others think though!

[2021-11-05 21:49] naveensrinivasan opened #1003 "Fuzzing is Broken"
The fuzzing check for the password is broken.

https://github.com/sigstore/cosign/blob/9b9cd94fe0be63b7c40086a78d6ad5bae1dee13a/test/fuzz.go#L30

[code]

 I was able to check out this SHA 38e0cae and it is working as expected. This was the commit which

From then to now there are a few things that are an issue.
- a mod reference to this is missing  `github.com/dvyukov/go-fuzz v0.0.0-20210914135545

[2021-11-05 21:52] naveensrinivasan commented on #1003
cc @priyawadhwa

[2021-11-05 23:02] naveensrinivasan commented on #1003
This is the reason it is broken https://github.com/dvyukov/go-fuzz/issues/326

[2021-11-06 20:16] dlorenc commented on #589
I think I got the double hash here: https://github.com/sigstore/sigstore/pull/126

Kind of hard to test until we get it merged since you'd need to pull this down and do a local replace directive in the cosign go.mod :(

[2021-11-06 20:17] JimBugwadia commented on #923
Thanks, @dlorenc! Please assign to me and I will work on a PR.

[2021-11-06 20:57] dlorenc commented on #589
Whoo! I've verified that this works now with https://github.com/sigstore/sigstore/pull/126

[2021-11-06 21:47] chipzoller opened #1006 "Support for verifying/signing images from a private registry using PKI"
**Description**

Currently, cosign is not able to leverage the existing trust established by container runtime engines such as Docker or Containerd against private registries signed with an internally-trusted certificate authority. For example, although pulls might be successful from such a registry either signing or verifying will inevitably throw an error:

[code]

While it is possible to set th

[2021-11-07 13:28] luhring commented on #844
I'm wondering if perhaps the `Signer` interface shouldn't have an `Attest` method... 🤔  It's not clear to me yet that consumers of the `Signer` interface have a need for a single object to perform both `Sign` and `Attest`. And it could be that _implementers_ of the `Signer` interface don't have a need to implement their own attestation functionality.

IIUC, implementations of `Signer` have no logi

[2021-11-07 13:47] cpanato commented on #992
i support this as well

[2021-11-07 14:03] luhring commented on #992
I think this makes sense!

One thought though — do we intend to add **other kinds of actions besides installing**? For example, a cosign action that signs things?

I ask because another pattern we've started seeing in the GitHub Actions ecosystem is to group actions logically by **high-level task**. We followed this when building the Syft GitHub action just recently:

`anchore/sbom-action` — perfo

[2021-11-07 15:34] dlorenc commented on #992
I tried to get this to work originally but found it too hard to pass around things like the image name and credentials to automatically sign things. I'd love to make it more automatic, but settled on just installing at first as the lowest common denominator.

[2021-11-07 15:41] cpanato commented on #992
i will work in more automatic things, I have some ideas :) will work on this for cosign this week

[2021-11-07 15:53] dlorenc commented on #423
The draft is almost ready and I'm going to be publishing it tomorrow. Thanks everyone for the reviews!

[2021-11-07 15:54] dlorenc commented on #209
I think this is fixed now! Are we missing anything still @xopham ?

[2021-11-07 22:35] luhring commented on #844
**Question:** Should we consider moving some part of this to sigstore/sigstore? A lot of the logic that's getting changed seems to be pure signature logic, as opposed to logic that's coupled closely with container images and registries.

[2021-11-07 23:49] #589 closed

[2021-11-07 23:50] dlorenc commented on #589
@containerpope this should be fixed now! Please let me know if you get a chance to try it out!

[2021-11-08 01:38] dlorenc opened #1012 "Change the verify attestation implementation"
Right now when using the verify-attestation command, only the predicate is passed to the verification policy. This is nice, but has a few issues:

* It loses the predicate type itself. This is in the attestation header, but could be useful in policy.
* It makes the commands hard to use separately cosign verify-attestation with just a key will output the full attestation to stdout. This should be u

[2021-11-08 01:38] dlorenc commented on #1012
Cc @developer-guy @Dentrax what do you think?

[2021-11-08 03:52] dekkagaijin commented on #844
Splitting `Signature` and `Attestation` is one avenue to disentangle to the current spaghetti. It's one we'll probably go down. However, 'signature' and 'signed thing' are the fundamental, atomic units we care about.

Yes and no. We are dealing with signatures on _arbitrary inputs_, which just so happen to be living in _an OCI world_.
I'd argue that OCI related functionality should stay within `co

[2021-11-08 06:45] containerpope commented on #589
@dlorenc it works like a charm, after I signed my testcontainer again, thanks alot :)
Will there be a release soon or should I just take the main branch for now?

[2021-11-08 08:30] xopham commented on #209
I am not entirely certain. I think the issue comes from a different time :sweat_smile:
Is there a way to have actual delegation w/o OIDC?

[2021-11-08 08:37] Dentrax commented on #1012
IIUC, we are currently _unmarshal_ ing the [predicate body](https://github.com/sigstore/cosign/blob/7066f122b8288e5621cf7e3dca600075bb70cd47/cmd/cosign/cli/verify/verify_attestation.go#L168) to pass into [validation steps](https://github.com/sigstore/cosign/blob/7066f122b8288e5621cf7e3dca600075bb70cd47/cmd/cosign/cli/verify/verify_attestation.go#L208-L216), which we do not check the attestation he

[2021-11-08 10:34] endorama commented on #467
PR is ready and waiting for a review.

[2021-11-08 13:51] luhring commented on #844
This makes sense. I think this is a separate question from "which methods does the `Signer` interface specify?". Regardless of where `Sign` and `Attest` functions appear, we can have them both return a `Signature`.

This seems like the right distinction. So maybe "yes" to "some part", but only for logic that's truly decoupled from the OCI world.

Thanks for the response, @dekkagaijin!

[2021-11-08 14:34] imjasonh opened #1013 "Keyless verification example is broken"
**Description**

In Usage: https://github.com/sigstore/cosign/blob/main/KEYLESS.md#usage

[code]

However, when I try this myself:

[code]

Now that we have a demo automatically building and signing an image in GitHub Actions, should the keyless.md example show verifying that image instead?

[code]

[2021-11-08 14:35] dlorenc commented on #589
We can probably cut a 1.3.1 this week. WDYT @dekkagaijin and @cpanato?

[2021-11-08 14:39] dlorenc commented on #1013
Makes sense, I bet that image got cleaned up.

[2021-11-08 15:33] cpanato commented on #589
replied here https://sigstore.slack.com/archives/C01PZKDL4DP/p1636358489206200

but sounds a good idea

[2021-11-08 16:09] dlorenc commented on #423
Closing with #1014.

[2021-11-08 16:09] #423 closed

[2021-11-08 19:47] dlorenc opened #1015 "Cosign "save" and "load" commands"
We should add some commands to save an image and it's "attachments" to disk in some kind of bundle on disk, and then load that into a remote registry from disk. See this thread: https://twitter.com/sudo_bmitch/status/1457794784135761920

[2021-11-08 19:47] dlorenc commented on #1015
cc @developer-guy this could be a fun one :)

[2021-11-09 08:21] developer-guy commented on #1012
Yes, @dlorenc, it makes sense. Actually, in the beginning, we (w/@dentrax) were aware of that, but we didn't think that this header might be a valuable thing to validate, so we didn't care about it much. Okay, then, we can pass the Attestation as a whole (body + header) to the validation steps and revise the logic according to that. Is it okay for you, too, @dlorenc? 😋

[2021-11-09 08:33] developer-guy commented on #923
amazing thought @JimBugwadia, we (w/@dentrax @erkanzileli) are available for a while, so, we can work on this issue if you let us do that 🤩

[2021-11-09 11:50] priyawadhwa commented on #1015
chatted with @developer-guy, i might give this a go! :)

[2021-11-09 11:51] developer-guy commented on #1015
I assigned it to you @priyawadhwa. Thank you so much for asking it me first, that was very kind! Good luck with it. We can't wait to see the results! 🚀

[2021-11-09 12:50] dlorenc commented on #1012
Yeah! I think that would be good. I went back and forth on this one too but I think being able to pass the entire thing directly into "cue vet" is the big win.

[2021-11-09 14:18] JimBugwadia commented on #923
@developer-guy  please proceed, thanks!

[2021-11-09 17:57] priyawadhwa commented on #1003
Yah it seems like this has been an issue for a few months with no plans for a fix in go-fuzz (https://github.com/dvyukov/go-fuzz/issues/326#issuecomment-884605930)

Since we need the `go:embed` directive, it might make sense to remove fuzzing for now? 😞

[2021-11-09 19:53] clemenko opened #1018 "Cosign sign fails successfully"
Following the Getting Started guide : https://docs.sigstore.dev/cosign/getting_started

key generate completes.
[code]

signing fails successfully.
[code]
The image is real : https://hub.docker.com/r/clemenko/jenkins
[code]

Even validation fails.
[code]

ENV :
M1 Mac Mini - Monterey - 12.0.1
Docker Desktop : 4.1.1
Cosign Version
[code]

[2021-11-09 20:23] naveensrinivasan opened #1019 "Cosign builds aren't reproducible"
**Description**
Checkout 1.3.0 and run a build
`git checkout -b repro-builds v1.3.0`
[code]
[code]
### Download from the release
`curl -L -o cosgin https://github.com/sigstore/cosign/releases/download/v1.3.0/cosign-linux-amd64`
[code]

[2021-11-09 20:23] naveensrinivasan commented on #1019
cc @cpanato

[2021-11-09 21:34] naveensrinivasan commented on #1003
I agree, probably do it when `go 1.18` which has built-in support for fuzzing.

[2021-11-10 08:38] cpanato commented on #1019
i will take a look on that

[2021-11-10 09:47] cpanato commented on #1019
@naveensrinivasan something looks wrong with the sha256sum from the binary that you downloaded from github

the checksum file in the release says that binary have a sha256 sum of `9604a5eb171748113f92a67495556007dde6f45804f0b38d3e55c3bc7e151774  cosign-linux-amd64` and not `c7a6819408e4580e561ba4e060afdaeb161af353f8f8fefc33171f7d62cd98a1`

I've downloaded using the same command as you and got the

[2021-11-10 09:50] cpanato commented on #1019
i got a successful reproducible build using a container

Dockerfile definition

[code]

build the container: `docker build . -t cosing-repro-build`

in the local cosign directory you can run the docker to build the binary

[code]

the binary will be out in the host and then you can check the sha256sum

[code]

which is the same as in the https://github.com/sigstore/cosign/releases/download/v1.3.0/

[2021-11-10 09:52] cpanato commented on #1019
/cc @mattmoor @dlorenc @dekkagaijin

[2021-11-10 10:35] Dentrax commented on #936
Any updates here? What we expect here something like:
[code]
...right?

Our current workaround is to ask Rekor to get the cert:
[code]

Cross ref: https://github.com/goreleaser/goreleaser/issues/2657

cc: @developer-guy @erkanzileli

[2021-11-10 11:57] Dentrax commented on #1018
Did you mean to verify `clemenko/jenkins` instead of `dlorenc/demo`?
[code]

[2021-11-10 12:53] clemenko commented on #1018
AH. it validates locally only. I assumed it validated against the signature stored on the registry.

[code]

This still doesn't seem to push the signature like it does in the demo.

[2021-11-10 12:58] dlorenc commented on #936
I think this was fixed recently in #991!

[2021-11-10 13:23] developer-guy commented on #936
Thank you, @dlorenc. Yes, we're aware of that issue while opening this one. Still, IMHO these two are different because we are extracting the certificate for later use in the verify-blob command that accepts this certificate through the `--cert` flag, so users might want to do it either, right?

[2021-11-10 13:32] dlorenc commented on #936
Whoops I misunderstood. Yeah I think #1016 is the same!

[2021-11-10 13:53] dlorenc commented on #1019
Is it a go version issue? Are we sure we're using the same version of go in the release?

[2021-11-10 13:54] cpanato commented on #1019
in the release v1.3.0 the go version was 1.17.2, now we are in 1.17.3

[2021-11-10 19:16] hickey opened #1023 "Secrets should not be stored in the git repository"
**Description**

Currently the secret key used to sign the binaries for a release is stored in `.github/workflows/cosign.key`. This allows a bad agent access to the key and could be used to brute force the password or attempt to recover the password through other means. Once the password is recovered any malicious binary could be replaced and the signature could be regenerated to make it appear th

[2021-11-10 19:48] dekkagaijin commented on #1023
That key (`.github/workflows/cosign.key`) hasn't been used for any recent release. The current actual signing key lives in GCP KMS: https://github.com/sigstore/cosign/pull/427

[2021-11-10 19:48] #1023 closed

[2021-11-10 19:49] hickey commented on #1023
Oh, that makes me feel a lot better! Thanks for clarifying.

[2021-11-11 09:42] Dentrax opened #1027 "Consider documenting "verify-blob to find signing cert in transparency log" examples in KEYLESS.md"
**Description**

@DennisDenuto did a great job in PR #991 to implement _finding cert logic in TLog._ And @shibumi [well-clarified](https://github.com/goreleaser/goreleaser/issues/2659#issuecomment-965756308) how the binary is still valid, although the certificate has already expired. From the issue we have discussed [#2659](https://github.com/goreleaser/goreleaser/issues/2659), we can move that gr

[2021-11-11 09:49] developer-guy commented on #1027
we can use the `https://sigstore.dev` website for it. Eventually, all the documents in cosign are going to move to this website. WDYT?

👉 https://github.com/sigstore/sigstore-website

[2021-11-11 09:56] Dentrax commented on #1027
Creating something like _keyless.md_ in [/content/en/cosign](https://github.com/sigstore/sigstore-website/tree/docs/content/en/cosign) sound makes sense!

[2021-11-11 12:17] dlorenc commented on #1027
+1 this is amazing!

[2021-11-11 18:14] SgtCoDFish commented on #946
I can also confirm this kind of issue exists in GCP KMS for 4096-bit RSA keys with PKCS#1v1.5 padding and SHA512 digests.

Cosign will happily sign using such a key and **also verify using that key** if getting the key directly from GCP:

[code]

But with that key exported to a [local file](https://github.com/SgtCoDFish/ace/blob/f47ab3817e1ce8ee30a2221e225b273c19738916/PUBKEY), the verification fa

[2021-11-11 18:46] dlorenc commented on #946
I'm fine adding the flag for verify. I think the heuristic is nice, but we might not know the algorithm without making extra API calls if we're using a KMS system directly.

[2021-11-11 21:21] davidkarlsen commented on #40
@sabre1041 - you know the roadmap here? Is there any way to introspect what version quay.io is?

[2021-11-11 21:33] zosocanuck opened #1037 "Signing with PKCS#11 keypair that has no X.509 certificate"
Hi,

I'm using the latest P11 functionality in 1.3.0 and noticed this issue.  Note that I do not run into this issue if the P11 keypair has an associated X.509 certificate

[code]

[2021-11-11 22:59] #1012 closed

[2021-11-12 02:02] naveensrinivasan commented on #1003
Fixed by https://github.com/sigstore/cosign/pull/1020

[2021-11-12 02:02] #1003 closed

[2021-11-12 02:03] naveensrinivasan commented on #990
Fixed by https://github.com/sigstore/cosign/pull/1020

[2021-11-12 02:03] #990 closed

[2021-11-12 11:47] garantir-km commented on #1037
Hi @zosocanuck. I think this is due to this check
https://github.com/garantir-km/cosign/blob/84c94b6361848bfac9e083483b66f41e55c3d613/cmd/cosign/cli/sign/sign.go#L345
We should check for `certFromPKCS11` being `nil` instead. Can you please try with [this](https://github.com/garantir-km/cosign/tree/fix-pkcs11-no-cert) branch ?

[2021-11-12 17:09] zosocanuck commented on #1037
@garantir-km This resolved the issue. Thanks.

[2021-11-12 20:40] #1037 closed

[2021-11-13 23:19] shibumi opened #1046 "More information about the certificate during verify operations"
**Description**

Right now, cosign prints the following information when invoking `verify-blob`:
[code]

The Email entry is empty, because this signature got created via a workload identity.
The only way to validate  the workload identity is to retrieve the public certificate via rekor, storing it on disk and examining it with openssl:

[code]

This behavior is way to complicated. I suggest adding

[2021-11-14 01:55] shibumi opened #1048 "Machine-Readable output for a few cosign subcommands"
**Description**

Under certain circumstances it might make sense to provide machine-readable output for a few cosign subcommands.
It could be useful to provide information about the used certificate when verifying a blob or OCI image in JSON for consumption.

I am especially thinking about the Issuer and the URI fields in the certificate. These two fields could establish some sort of trust for end

[2021-11-14 10:02] ckotzbauer opened #1051 "Signing complains about "invalid PEM block""
Hi all,

I'm playing around with cosign, Github Actions and GoReleaser. When I try to sign my artifacts via goreleaser and cosign I always get the error `Error: signing dist/mail-archiver_0.0.3_linux_arm64.tar.gz: reading key: invalid pem block artifact=mail-archiver_0.0.3_linux_arm64.tar.gz cmd=cosign`

**Versions**
- Cosign 1.3.1
- GoRelease 0.184.0

#### .goreleaser.yml
[code]

#### Github Acti

[2021-11-14 13:43] #467 closed

[2021-11-15 11:33] #923 closed

[2021-11-15 14:22] caarlos0 commented on #1019
https://github.com/sigstore/cosign/pull/1053

The other bits were already there, just go mod proxy was missing

[2021-11-15 14:32] asraa commented on #1046
Happy to take this! The `1.1` suffixed OID extension will always contain the issuer for any of the OIDC providers. This would be great to output with cosign verification. I think for the URI, maybe cosign should check `EmailAddresses` and then `URI`s if not present.
https://github.com/sigstore/fulcio/blob/60a53fb9423cd03c10d5537619ff86c1c9f688e9/pkg/ca/x509ca/x509ca.go#L105-L126

I think for maint

[2021-11-15 18:45] mattmoor opened #1055 "Sign cosign release images against Fulcio"
**Description**

I was demoing https://chainguard.dev/posts/2021-11-03-zero-friction-keyless-signing with `cosigned` enabled, and it didn't let the `cosign` release container through because it wasn't signed against Fulcio 🤦

We should start signing the images we release against Fulcio as well as with the stuff in KMS.

cc @cpanato @dlorenc

[2021-11-15 21:53] philips commented on #1027
I would love to help on this but I am so confused on how to participate in the development of docs.sigstore.dev. The entire website process changed since last I contributed I think.

[2021-11-16 09:21] cpanato commented on #1055
@mattmoor should we use GitHub actions with a workflow dispatch to run the releases instead of cloudbuild or we should see how to get a token in cloudbuild? what are your thoughts on this?

and if we use keyless do we need to keep signing with KMS as well?

[2021-11-16 09:41] Dentrax commented on #950
Kind ping here 🙏

[2021-11-16 12:51] #1046 closed

[2021-11-16 13:17] shibumi commented on #1046
Hey @asraa sorry for the late reply, this issue is already done with #1047. I just realized that you might want a few changes.
Is the  merged PR sufficient or do we want to compile a new issue with your adjustments? :)

[2021-11-16 13:37] Dentrax opened #1059 "dx: revise the `--upload` and add `--output-signature` flags"
**Description**

From the [discussion we had here](https://github.com/imjasonh/kontain.me/pull/64#discussion_r749370886) with @imjasonh and @developer-guy, dropping the idea here, so we do not forget!

**~--upload~ --skip-upload**

We currently use the `--upload=false` [flag](https://github.com/sigstore/cosign/blob/main/doc/cosign_sign.md#options) to decide whether to upload the signature, `true`

[2021-11-16 14:13] imjasonh commented on #1059
FWIW, `--upload=(true|false)` sounds just fine to me, I don't think renaming it is worth breaking current users or going through a deprecation and switch-over.

In general I don't think we should feel the need to change cosign's CLI or Go packages just to support the relatively exotic and esoteric use case that kontain.me is shooting for.

[2021-11-16 14:18] Dentrax opened #1060 "chore: consider passing structs for the core cmd functions to define params"
**Description**

Some core functionalities such as:
* [SignCmd](https://github.com/sigstore/cosign/blob/d48fe2580565f982bb538ab9a6a6400a71f5ef79/cmd/cosign/cli/sign/sign.go#L127)
* [SignBlobCmd](https://github.com/sigstore/cosign/blob/d48fe2580565f982bb538ab9a6a6400a71f5ef79/cmd/cosign/cli/sign/sign_blob.go#L55)
* [VerifyBlobCmd](https://github.com/sigstore/cosign/blob/d48fe2580565f982bb538ab9a6a6

[2021-11-16 14:56] asraa commented on #1046
It's perfect!

[2021-11-16 16:11] ckotzbauer commented on #1051
Just don't remove the newlines and it worked.

[2021-11-16 16:11] #1051 closed

[2021-11-16 17:33] dekkagaijin commented on #1059
cc @n3wscott

[2021-11-16 22:10] mattmoor commented on #1055
Sorry I thought I replied to this earlier.  @dlorenc did this in cloudbuild for distroless, so we can continue doing this there with a little help from an admin on that project to set up IAM.

https://github.com/GoogleContainerTools/distroless/blob/b654a39142a2f21119ad5ad8db6fd86eac204550/cloudbuild.yaml#L82

[2021-11-17 06:57] houdini91 commented on #950
Issue/PR may be relevant.
[https://github.com/secure-systems-lab/go-securesystemslib/issues/4](url)
https://github.com/secure-systems-lab/go-securesystemslib/pull/7

[2021-11-17 12:58] cpanato commented on #1055
ok, I think I don't have that permission.

@dlorenc would you mind setting up that and sharing the service account

also to learn that, if you can share the steps to set up that will be great as well, then I can do the same in my rehearsal account to try out

[2021-11-17 13:30] hectorj2f commented on #594
@mattmoor @mlieberman85 Our team created a PR https://github.com/sigstore/cosign/pull/1064 with a first approach, so we could start again the discussions.

[2021-11-17 13:50] dlorenc commented on #1055
Sorry - which project is this again? The GCP project that the cosign release images are hosted inside of?

[2021-11-17 14:46] dlorenc commented on #1055
I think we should be good to go with `keyless@projectsigstore.iam.gserviceaccount.com` now!

[2021-11-17 15:24] developer-guy opened #1067 "cosign verify not working with signature file"
**Description**

We have an option to output signature to the standard output with the cosign sign command, but there is no way to use this signature with verify command.

Shouldn’t we accept this signature while using verify command? Because my signature is not uploaded to the registry, so, I can’t verify it with verify command, right?

you can reproduce what I’m saying by issuing the following c

[2021-11-17 16:27] cpanato commented on #1055
cool thanks
i will do the same in my account to make a rehearsal and then update upstream properly

[2021-11-17 18:24] JimBugwadia commented on #594
Looks like a number of the items discussed above and future considerations (match/exclude, HA, fail-closed vs open, external data, wildcarding, etc.) have been addressed for Kyverno along with other features like support for attestations.

Does it make sense to explore how to best reuse?

If a stand-alone admission controller is desirable, perhaps we can consider a library approach like was done f

[2021-11-18 00:31] mattmoor commented on #594
@JimBugwadia IMO yeah, for sure.

I think one of the goals with #666 and @dekkagaijin follow-up work for signing are basically trying to improve the "cosign-as-an-SDK" story.  My hope would be that folks can consume the `cosign`-level functionality several ways:
1. Via the `cosign` CLI,
2. Via a focused `cosigned` webhook,
3. Via more comprehensive tools that integrate `cosign` as an SDK (alongsid

[2021-11-18 00:56] #1059 closed

[2021-11-18 06:53] adubey8 opened #1069 "cosigned: Key store support for Cosigned Admission Webhook"
Cosigned Admission Webhook can be used with generated keys and potentially with K8s secret.
[code]
but cosigned webhook can't use keys from persisted sources.
Please add functionality to support keys from other sources like Azure Key Vault, AWS KMS, Google Cloud KMS, Hashicorp Vault. Thanks!

[2021-11-18 07:59] adubey8 opened #1070 "cosigned: Validation failed for imported keys from AKV"
Since I can't use AKV for cosigned webhook directly as per this request: https://github.com/sigstore/cosign/issues/1069

I worked around by exporting keys from AKV manually
`az keyvault key download --vault-name $KVNAME -n cosignkey -e PEM -f cosign-akv.pem`

Then I used the public key value in the `cosign-akv.pem` to create the cosigned webhook:
[code]
So helm chart gets installed. (Note: Also re

[2021-11-18 12:10] dlorenc commented on #1069
This makes sense to me!

[2021-11-18 12:21] developer-guy commented on #1069
Hello @adubey8, thank you for this issue. We did a similar effort in the Kyverno project, please [see](https://github.com/kyverno/kyverno/pull/2607/). But, this leads us to an error when we try to run Kyverno in GKE and use GCP KMS, please [see](https://github.com/sigstore/sigstore/issues/138).  I think we have to consider this before adding this support to cosigned project too. WDYT @dlorenc @hec

[2021-11-18 14:06] developer-guy opened #1074 "make easier to pass annotations with defined file format for it"
**Description**

People who might want to sign container images with annotations assigned have to specify all the annotations via a `-a` flag, so, once they have a lot of annotations, the command will be huge.

Instead, maybe we can specify some kind of special file called `.annotations`, and expect users to define all the annotations within that file as k/v pairs, then we can read and parse this

[2021-11-18 14:07] hectorj2f commented on #1069
Yes, I like the idea and makes sense to support KMS references.
@developer-guy I believe we could benefit from adding support for the other KMS services, Vault, etc., and add a note in the release notes about known issues. In the meantime, we could investigate a solution for GKE and GCP KMS.

[2021-11-18 18:07] #1055 closed

[2021-11-18 18:24] JimBugwadia commented on #950
Hi @houdini91 @Dentrax  - is the plan to use the `MultiEnvelopeSigner` in `cosign.VerifySignatures`?

[2021-11-18 18:32] Knibbaz opened #1076 "Custom naming pem and key files"
**Question**
I was wandering if it would be possible to change the name of the pem and key files while creating them. Something like cosign generate-key-pair --name project-3

[2021-11-18 20:35] dlorenc commented on #1070
Ah! Which version of cosigned are you running? There was a bug in azure KMS verification with exported keys but we fixed it in the 1.3.1 release.

[2021-11-18 20:36] dlorenc commented on #1070
Actually - the cosigned version shouldn't matter here. Which version of cosign did you use to sign the images?

[2021-11-19 00:35] venafi-iw opened #1078 "Centralize password prompt logic for key generation/import functionality"
**Description**

Consolidate password prompt logic to provide better code reuse as highlighted in PR #1050 (importing keypair) and generating keypair `cmd/cosign/cli/generate/generate_key_pair.go -> getPassFromTerm(...)`

@asraa

[2021-11-19 02:12] dlorenc commented on #1060
+1

[2021-11-19 06:27] developer-guy commented on #950
Hi @JimBugwadia, IMHO, there are things that we have to decide what we should do first like:

* Should it be evaluated AND or OR when we define multiple keys?

* Should we define a threshold number to make it valid check for defining at least N keys should be evaluated as true?

am I right @dlorenc @hectorj2f ?

[2021-11-19 11:59] hectorj2f commented on #950
Yes, you are right in my opinion.

For our use cases, we need to answer this question ☝🏻  which is more important at this moment.

I am not sure this is necessary if we decide on using cue to define the AND/OR policy for the keys, as proposed from @dlorenc .

[2021-11-19 12:03] hectorj2f commented on #1060
+1

[2021-11-19 17:16] hectorj2f commented on #594
@JimBugwadia @mattmoor  I 100% agree on that. Let's come with a common vision and as a result a library.

[2021-11-20 22:43] mattmoor opened #1086 "`cosign download sbom` for multi-arch images"
**Description**

This came up developing: https://github.com/google/ko/pull/506

Basically what we're doing in `ko` with multi-arch builds is producing an SBOM attached to each image.  However, `cosign download sbom` only does a shallow look, and reports that there are no SBOMs.

I think that we should first check the index, but if nothing is found (or maybe regardless) walk the child images looki

[2021-11-20 22:44] mattmoor commented on #1086
We could also take a `--platform` option to resolve a particular platform's SBOM, if we choose to default `linux/amd64`, as some clients do.

[2021-11-20 22:44] mattmoor commented on #1086
cc @imjasonh FYI

[2021-11-21 01:01] JimBugwadia opened #1087 "Keyless verification using custom OIDC scopes and claims"
**Description**

The [keyless](https://github.com/sigstore/cosign/blob/main/KEYLESS.md) flow currently uses the OIDC `email` claim as the Subject in the generated certificate.

This is great, but does not allow writing policies like:
- signed by a user with an `admin` role
- signed by a member of the `code-review` group
- etc.

A possible way to enable such policy checks would be to add support fo

[2021-11-21 01:11] dlorenc commented on #1087
Thanks! I like the idea!

[2021-11-22 07:07] developer-guy commented on #1087
@dlorenc, we can do this awesome idea, with @Dentrax 🤩 @JimBugwadia thanks a lot bud, you always find brilliant ideas! ✨🔮

[2021-11-22 08:14] developer-guy opened #1090 "provide an option to enable creating immutable secrets while generating key pair with k8s scheme"
**Description**

I think `immutability` is a critical part while working on multi-tenant systems like Kubernetes. At the time I wrote this, `cosign` supports generating key pairs, and storing them in Kubernetes secrets. Kubernetes introduces us `Immutable Secrets`[^1] with the v1.21.1 release, so, maybe users might want to use this option to enable storing key pairs in the immutable secrets.

cc:

[2021-11-22 13:43] dlorenc commented on #1015
What's left here @priyawadhwa? This one would be great for the next release.

[2021-11-22 13:44] dlorenc commented on #1074
At some point when adding a lot of data it probably makes sense to switch from annotations to attestations. Would that make sense for this use case?

[2021-11-22 14:18] houdini91 commented on #950
I am down with what ever the community leader think is best.
My own view of the support is as following
1) Add DSSE multi sign/verify support as specified by spec [`DSSE Multi sign spec`](https://github.com/secure-systems-lab/dsse/blob/master/protocol.md#multi-signature-verification)
PR is in progress
2) Add support to `sigstore` code base using the `MultiEnvelopeSigner` and `MultiEnvelopeVerifier

[2021-11-22 14:33] #1090 closed

[2021-11-22 15:24] priyawadhwa commented on #1015
hoping to have a PR open by tmrw! just have to hook up the commands to the `layout` package (currently seeing a bug with writing to a remote repo tho so just have to get to the bottom of that)

[2021-11-22 16:23] asraa commented on #1078
+ also `fileExists` reuse across key gen and import

[2021-11-22 17:04] priyawadhwa commented on #1015
it might be useful to add support for the layout on disk to `cosign verify` -- maybe something like `cosign verify -key [KEY] [path to image directory]`?

[2021-11-23 13:44] developer-guy commented on #655
Hello folks, we (w/@sozercan @dentrax) have good news for you. We've developed a provider called `cosign-gatekeeper-provider,` one of the provider implementations of OPA Gatekeeper's new ExternalData feature.

You can reach out to the details about the provider from this GitHub repository[^1]. IMHO, the next thing would be maintaining this repository under the sigstore foundation, WDYT @cpanato @d

[2021-11-23 16:46] #855 closed

[2021-11-24 03:08] tuananh opened #1097 "download sbom error MANIFEST_UNKNOWN"
I'm new to cosign and i'm reading the src code at the moment and trying things out

i want to test download sbom with `cosign download sbom gcr.io/distroless/static-debian11` and i got the following error

looks like the distroless image is signed and i can verified it. however, i can not download sbom.

[code]

[2021-11-24 07:19] developer-guy opened #1099 "Transfer of ownership of cosign-gatekeeper-provider"
**Description**

As you might see from the Tweets[^1], we (w/@sozercan @dentrax) developed a new provider[^2] to adapt cosign to OPA Gatekeeper's new feature called ExternalData to make cosign available to Gatekeeper users to verify container image signatures. Furthermore, [@LachlanEvenson](https://twitter.com/LachlanEvenson) already wrote a blog post[^3] about this provider 🤩

Let's move and main

[2021-11-24 12:41] dlorenc commented on #1099
+1! Do you need your own repo for this or do you want it to be in the same repo here?

[2021-11-24 12:42] developer-guy commented on #1099
let me try to move this to the sigstore foundation because maybe I've enough permissions to do that, is that ok for you?

[2021-11-24 13:15] dlorenc commented on #1099
I think you probably have to request it and then someone on the org approves.

[2021-11-24 13:19] developer-guy commented on #1099
I couldn't find any request page for it, I just hit the transfer ownership button, and it happened. Can you please remove it unless you accept this, I couldn't re-transfer it to me. @dlorenc

https://github.com/sigstore/cosign-gatekeeper-provider

[2021-11-24 13:28] #1099 closed

[2021-11-24 13:30] developer-guy commented on #1099
The next thing is that maybe we could improve its CI/CD maintenance with @cpanato, would you mind helping me to figure this out 🤩🥳 But, I really want to do the hard work to learn more about maintaining an opensource project😋🙏

[2021-11-24 14:05] dlorenc commented on #1097
I don't think there is an SBOM for the distroless images right now. cc @loosebazooka

[2021-11-24 14:07] tuananh commented on #1097
Is there any image i could try?

[2021-11-24 19:35] verdverm opened #1101 "Docker Plugin"
Moving https://github.com/docker-library/official-images/issues/6838 here

The general idea is to explore the possibility of writing a Docker CLI Plugin so that container signing can be easier to adopt into existing workflows. Ideally, the UX could be something as minimal as `docker plugin install sigstore/cosign-docker-plugin` and would support pushing the signature to the same registry the conta

[2021-11-24 19:42] verdverm commented on #1101
https://github.com/moby/moby/issues/43044

[2021-11-24 20:09] loosebazooka commented on #1097
Correct. Injecting sbom information via bazel is something we have to figure out

[2021-11-25 08:03] tuananh opened #1105 "random callback uri port"
the url generated is localhost:xxxxx . however the port is random each time so it doesn't match with what i have register in oidc idp (dex) and i get this error when the url opened in browser

[code]

is there anyway to fix the port?

[2021-11-26 11:17] hectorj2f commented on #1070
@adubey8 I noticed you used `helm install cosigned -n cosigned-ns sigstore/cosigned --devel  --set cosign.cosignPub=<dummy value>` the You only need to set the public key.

Question: Did you use `cosign verify ` to validate the cosignPub was valid ?

[2021-11-27 02:29] tuananh opened #1108 "how do i automate the keyless signing process in CI?"
I'm using Dex sitting infront of our corp ldap. i'm trying the experiment keyless feature and wondering how do i automate the keyless signing process in CI? when i do it locally on my machine, i need to sign in via browser.

Thank you in advance

[2021-11-27 02:37] dlorenc commented on #1108
cc @bobcallaway for Dex. I'm not sure it can be automated fully. What CI provider do you use?

[2021-11-27 02:38] tuananh commented on #1108
we have Dex set up with our corporate LDAP active directory

[2021-11-27 02:58] tuananh commented on #1087
@JimBugwadia Great. I'm looking to use this in Kyverno :D

[2021-11-28 16:20] Johannestegner commented on #1101
Just wanted to leave a note that the `/engine/extend` link is not docs for CLI-plugins (docs for cli plugins is a _pain_ to find and I can't even find a link for it to leave here).
I've played around a bit with the CLI plugin Go lib by looking at "official" plugins such as buildx and the cli plugin code in the docker repo: https://github.com/docker/cli/tree/master/cli-plugins

Implementing it as a

[2021-11-28 16:30] dlorenc commented on #1101
Thanks @Johannestegner! That helps a lot. I know CLI plugins exist but couldn't find any docs!

[2021-11-29 09:34] developer-guy commented on #1101
Hello, there is some useful information out there about Docker CLI plugins, here are some:

* https://github.com/docker/cli/issues/1534
* https://dille.name/slides/2019-11-13/020_advanced/080_docker_cli_plugins/slides.final/
* https://github.com/lukaszlach/clip

Seems it is all about managing the binary name and directory stuff, then all should work, right @Johannestegner ?

[2021-11-29 09:38] developer-guy commented on #1087
we had talked a bit about this with @dlorenc, and he told me that maybe @bobcallaway @lukehinds can give hints about the implementation details. Because I think, we should do development in several projects to make it happen. 🤝

[2021-11-29 09:40] Johannestegner commented on #1101
Yes, basically, the plugin is only required to implement a very simple interface.
I have to be able to answer to a meta-data call, other than that, it's just a executable which is named `docker-<plugin name>`.

Imho, a very simple and elegant way to implement plugins (sure, users will have to trust the author to quite a high degree, but other than that, very helpful for plugin developers).

Person

[2021-11-29 10:49] lukehinds commented on #1087
It would be better to put these into a signed policy file rather than load up too many policy based fields into the SAN's.

I would recommend looking at policy init and policy sign, its not yet complete (the image signing part may need some work), but we could add some type of custom field section.

[2021-11-29 13:13] dlorenc commented on #1087
I think it's complementary. We need the groups information propagated from the OIDC endpoint in the cert somewhere in order to do other types of policy.

[2021-11-29 13:42] lukehinds commented on #1087
One thing I am not following here, is that we get scopes back from the OIDC provider (based on the grant), so how are we going to get them reply with custom scopes (for code-review etc) or is this a request to stash values into the SAN which have not been provided by the OpenID provider?

[2021-11-29 13:48] dlorenc commented on #1087
We would need to include them in the request for an identity token, IIUC. Not every scope would be supported by every provider.

[2021-11-29 14:17] Dentrax opened #1109 "Provide a man page for cosign"
**Description**

Just thinking if it makes sense to implement `man` page for cosign.

1. Create `man` folder
2. Create `cosign.1` man page file
3. Install by running smth like `$ install -Dm 644 cosign.1 -t /usr/share/man/man1` in `make`

[2021-11-29 14:49] dlorenc commented on #1087
We could always filter it if that is a concern.

[2021-11-29 15:05] asraa commented on #1087
Could be a filter by default, and enable with a flag on sign. I could also imagine that if you were to sign a container whose repo contained a policy that mandated info on claims, that it would automatically enable including that info

[2021-11-29 15:35] lukehinds commented on #1087
+1 , that was what I was thinking. The claims then also have a cryptographic base.

[2021-11-30 21:25] haydentherapper commented on #1015
Chatted with @priyawadhwa about working on https://github.com/sigstore/cosign/issues/1015#issuecomment-975734697 to add support for verification from disk. I'll be taking a look at adding this!

[2021-11-30 21:31] hectorj2f commented on #178
@dlorenc Isn't this already supported with `cosign update blob ...`  ?

[2021-11-30 21:34] hectorj2f commented on #442
I also think this is covered as part of `cosign attest ...`.

[2021-11-30 21:50] dlorenc commented on #178
Ah yep! We can close this.

[2021-11-30 21:50] #178 closed

[2021-11-30 22:36] Toey9177 opened #1114 "Concise description of the bug"
**Description**

[2021-11-30 23:12] dekkagaijin commented on #1114
Could not reproduce

[2021-11-30 23:12] #1114 closed

[2021-12-01 12:59] developer-guy opened #1118 "Helm Plugin"
**Description**

There are very detailed guides about developing Helm plugins, so, AFAIK, this is all about providing a meta-data file called `plugin.yaml`.

We (w/@dentrax) thought that we can develop a helm plugin to allow signing all of the container images that are managed through the Helm Chart.

[code]

WDYT?

** References **

* https://helm.sh/docs/topics/plugins/
* https://www.datree.io/r

[2021-12-01 13:21] #1067 closed

[2021-12-01 17:48] developer-guy commented on #959
kindly reminder @dlorenc

[2021-12-01 18:11] developer-guy commented on #707
hello, short notice, we'll be working on this with @Dentrax FYI. 🙋🏻‍♂️

[2021-12-01 20:58] developer-guy opened #1121 "dockerfile-verify COPY statement images"
**Description**

We (w/@dentrax) noticed that we could use the external image in the COPY statement, as you can see from [here](https://docs.docker.com/develop/develop-images/multistage-build/#use-an-external-image-as-a-stage). We might consider verifying them too in addition to base images.

WDYT @dlorenc @hectorj2f?

[2021-12-02 18:54] developer-guy opened #1125 "use --check flag of the addlicence command"
**Description**

cosign uses addlicence tool to do license header check, but, to do that cosign uses git commands, [see](https://github.com/sigstore/cosign/blob/9076d71cab0dc499b1b9a5372f4b1765726d670e/.github/workflows/tests.yaml#L73-L77). But there is --check flag exists to do the same thing, so, let's use it.

https://github.com/google/addlicense/issues/99#issuecomment-984733566

[2021-12-03 19:39] imjasonh opened #1130 "Documenting pitfalls of registry usage in `cosign policy init` and `cosign policy sign`"
### Background

`cosign policy init` allows users to define a policy around how many signatures and from whom should be considered necessary to consider an artifact as "trustworthy" -- e.g., two or more of [`alice`, `bob`, `carla`] must sign the policy before the signed thing is okay to run in prod. This policy is stored in a content-addressed blob in the registry, referenced by a manifest with a

[2021-12-03 19:50] lukehinds commented on #1130
Thanks @imjasonh good to go over this topic.

It's vital that we reject anything not in rekor, I have a section in the proposal document about this.

![image](https://user-images.githubusercontent.com/7058938/144663843-3134b3ad-b1be-47fb-aa0d-3a934b431b9b.png)

The other option outlined is a kind of spin on known_hosts, but this is less useful as many sget operations will run within an unattended

[2021-12-03 20:35] Dentrax commented on #1109
[go-md2man](https://github.com/cpuguy83/go-md2man): Converts markdown into roff (man pages).

[2021-12-03 23:57] zosocanuck commented on #594
+1 on extending the public key management of this to allow for external attestation implementations, whereby enterprises may have many public keys requiring frequent policy updates.  Keyless verification via Rekor makes sense here as well.  Perhaps there is an additional field (e.g. attestationServer) whereby the cosign public key/cert could be sent during verification.  While you are going down t

[2021-12-04 22:19] developer-guy opened #1134 "use pinned SHA of GitHub Actions instead of branch name or version"
**Description**

 In GitHub Actions (GA) there is a security consideration related to 3rd party GA, so, GitHub recommends using Pinned SHA of the 3rd party GA instead of using branch name or version of GA.

There are already side projects that ensure that like the following:

* https://michaelheap.com/ensure-github-actions-pinned-sha
* https://michaelheap.com/improve-your-github-actions-security/

[2021-12-05 11:13] samj1912 opened #1136 "Add support for syft SBOMs to cosign"
**Description**

syft is a popular SBOM scanner/creator. It has it's own SBOM format that is used with Grype which is an open source vuln scanner. We should also support syft as a format apart from cyclonedx/spdx.

[2021-12-05 16:57] developer-guy opened #1140 "Security Hardening Tracking Issue"
**Description**

This is a general issue to keep track of all the security issues that need to be solved detected by the [ossf/scorecard](https://github.com/ossf/scorecard) project. The current score of cosign is 7.1, let's make it 10 🤩

All of your help would be greatly appreciated 🤝🥳

[code]

<details>

</summary> Security Report by scorecard</summary>

[code]

</details>

- [ ] [CII-Best-Practi

[2021-12-05 18:40] developer-guy commented on #992
kindly ping @cpanato

[2021-12-06 01:40] caarlos0 commented on #1136
fwiw, this is happening in goreleaser, so you could probably integrate it to the release process (I can open a PR once its shipped on goreleaser)

https://github.com/goreleaser/goreleaser/pull/2648

[2021-12-06 08:51] cpanato commented on #992
that is in my backlog :)

[2021-12-06 08:52] developer-guy commented on #992
is there anything that I can help with?

[2021-12-06 08:52] developer-guy commented on #992
I can transfer it if you want btw or I can add you as an owner of the repo

[2021-12-06 09:02] developer-guy commented on #992
maybe we can create something like `sigstore-installer`, and it can accept a parameter to get a tool name that people want to install such as `cosign, rekor-cli, etc`, and also version. The implementation will look like the following:

[code]

WDYT?

[2021-12-06 09:12] cpanato commented on #992
you need to transfer to @dlorenc he is admin of the org

[2021-12-06 09:14] developer-guy commented on #992
I've recently transferred another repo, so, I can do it, I think, I have the right permissions to be able to do it.

[2021-12-06 13:39] dlorenc commented on #992
I like it. We could default to everything @ latest or let people specify a set of specific ones and versions.

[2021-12-06 15:53] #1136 closed

[2021-12-06 16:39] mattmoor commented on #959
For `cosigned` we added support for producing sboms with ko, so once we cut a new ko release we should get that for free (same with the `cosign` images we build with `ko`).

[2021-12-06 16:41] developer-guy commented on #959
oh, that's so nice, would you mind sharing the PR on the ko side?

[2021-12-06 16:45] mattmoor commented on #959
There were a few, but this connects a few of the dots: https://github.com/google/ko/pull/511

It's merged at HEAD.  Please try it out and report any issues!

[2021-12-06 16:48] developer-guy commented on #959
We (w/@dentrax) would like to add CycloneDX support as well. May we do this? Because the CycloneDX community provides great go modules that we can use for this.

* https://github.com/CycloneDX/cyclonedx-go

[2021-12-06 17:02] developer-guy commented on #959
works like a charm @mattmoor 🤩
![Screen Shot 2021-12-06 at 20 02 20](https://user-images.githubusercontent.com/16693043/144889378-71f067a7-6dff-4bbb-b6f4-cdc42c0483a4.png)

[2021-12-06 17:15] developer-guy commented on #959
Also, cosign supports `text/spdx+json` mediaType for SBOMs based on SPDX format. Maybe we can add this support too, WDYT @mattmoor? Is it worth it?

[2021-12-06 17:19] #1125 closed

[2021-12-06 20:16] mattmoor commented on #959
@developer-guy works for me!  cc @imjasonh

[2021-12-06 21:42] imjasonh commented on #959
Just a nit: `ko build --sbom` builds and pushes with an SBOM, and `ko deps --sbom=spdx` generates one on-demand from the binary in the image.

You should try `ko build --sbom=spdx` and `cosign download sbom ...` on the pushed image to verify that the SBOM was built and pushed and attached how `cosign` expects to find it.

[2021-12-06 21:59] developer-guy commented on #959
what about making ko compliant with CycloneDX format, and also supporting `text/spdx+json` mediaType, I'd love to do that btw, I can create separate issues for that.

[2021-12-06 22:32] mattmoor commented on #959
SPDX was always just a starting point.  I think we'd love to have CycloneDX support as well.

[2021-12-07 03:14] tuananh commented on #1105
@dlorenc i omit it so i assume it's the public dev one? the client i have registered in dex looks like below.

[code]

as you can see, the redirect uri has port in it but everytime i run the below command, the port changed so i got `unregistered redirect_uri`

[code]

[2021-12-07 08:09] lukehinds opened #1152 "Messaging around key storage"
I think we should evaluate our messaging around key storage and encourage users away from questionable practises such as storing long term private keys in secrets / on disc and alike. We should instead start to pivot towards recommending folks use Keyless or a KMS, HSM etc.

Looking at the [github blog yesterday](https://github.blog/2021-12-06-safeguard-container-signing-capability-actions/#so-how

[2021-12-07 08:48] gjirm opened #1153 "Cosign crashes when password input is requested from terminal in Windows"
On Windows when password should be read from terminal, application immediately crashes with the following error:

[code]
For example when running these commands:

[code]

I think it is related to the bug #862 I previously reported.

### My environment

- Windows 11 (21H2 - build 22000.318), Windows 10 (21H2 - build 19044.1348)
- cosign v1.4.0
- Window Terminal  v1.11.2921.0
  - native cmd.exe
  -

[2021-12-07 15:41] mattmoor commented on #1152
A somewhat orthogonal, but similar thing we have been discussing (on/off for a while) is allowing folks to sign tags (vs requiring digests).

I believe at a minimum using tags should carry a warning, but eventually we may even want to require an additional flag to support them.

[2021-12-07 15:53] dlorenc commented on #1152
Something else to keep in mind is that even when fulcio/rekor come out of EXPERIMENTAL, we still don't have a great story for using them with private repos and artifacts. We'll need to be very clear on that messaging too - we don't want surprises for people using our tooling to then find out what data has been "leaked" into the logs.

[2021-12-07 18:01] haydentherapper opened #1155 "Log verification for expired roots/frozen logs"
After rotating the Fulcio signing certificate or freezing a Rekor shard, we need to consider how we will handle verification of old entries in the logs.

To consider:
* Discovery of expired targets
* UX around verification with expired targets
* Offline entry verification
* Verifying >1 year old entries/packages

cc @asraa

[2021-12-07 18:08] haydentherapper opened #1156 "Update wording for experimental flag for github starter workflow"
Currently, we warn users in the cosign repo that the experimental features are not yet production ready, for example we may clear the Rekor log without warning and we have no SLO for the managed instances of fulcio and rekor. We should add this warning to the github starter workflow, which uses the experimental flag to enable keyless signing.

Starter Workflow - https://github.com/actions/starter-

[2021-12-07 19:22] dlorenc commented on #1155
I think ideally we'd somehow start treating the fulcio roots the same way we treat intermediate and leaf certificates today. They "chain" back up to the TUF root, so we'd need to pack the fulcio root cert into the "bundle" alongside the timestamp. As long as we can verify that the certificate was valid at the point the signature was created, we're good. We could do this by checking the time on the

[2021-12-07 19:57] asraa commented on #1155
How do we do this though? TUF gives us a picture of the chained previous `x.root.json` and a view of the current `targets.json`, snapshotted and timestamped. I think we would need to pull the versions of `targets.json`, `snapshot.json` and `timestamp.json` that were valid at the time of signature creation.

That is, unless, a TUF targets contained *all* the previous root certificates we've ever us

[2021-12-07 20:11] dlorenc commented on #1155
Ah I wasn't smart enough to suggest this, but I think that would work too!

Yeah I assumed for old entries we'd need to walk back and find the correct TUF root for that time. I kinda thought we had to do that already though - to validate that the current TUF root is actually correct I though we needed to walk the chain back to the initial root.

[2021-12-07 21:08] haydentherapper commented on #1155
To save some space, can we put just the fulcio root SKID in the log? When we fetch the signature from the OCI registry, this should contain the cert chain, and we can compare SKID.

Would this need to be a set of roots, since I assume their validities will overlap?

[2021-12-08 04:16] dekkagaijin opened #1160 "`tuf_leveldbstore.FileLocalStore()` causes memory leaks"
https://github.com/sigstore/cosign/blob/9394f855034282711b571604989b85ddfe126b24/pkg/cosign/tuf/client.go#L171

It opens Files which need to be `Close()`'d, but returns an interface which doesn't implement it: https://github.com/theupdateframework/go-tuf/blob/7ded50136bf99d4da098895fb336993abffc9892/client/leveldbstore/leveldbstore.go#L47-L56

[2021-12-08 06:15] mehran-sayyah commented on #1156
Help me making website

[2021-12-08 09:23] developer-guy commented on #442
Hello, we thought that there is a huge potential is lying in here 🤩 So, let's liven it up 🚀

Let's summarize the steps that we'll follow at the beginning to accomplish this:

1. We've defined a spec recently on how people can specify `Vulnerability Scan Record`, please [see](https://github.com/in-toto/attestation/issues/58) for the latest changes, IMHO, it requires more agreement, but at least we

[2021-12-08 13:15] dlorenc commented on #442
Since it's an Attestation, would we need a separate suffix? I was thinking these could all live in the .att bundles.

Everything else sounds amazing!!!

[2021-12-08 21:21] dekkagaijin opened #1171 "Replace GCP service account token JSON with workload identity"
https://github.com/google-github-actions/setup-gcloud#workload-identity-federation-preferred

Follow-up to https://github.com/sigstore/cosign/pull/1170

[2021-12-09 00:19] mehran-sayyah commented on #1156
ci/docker-publish.yml

[2021-12-09 08:27] cpanato commented on #1156
@haydentherapper i did not quite understand, do we have plans to clear rekor/fulcio logs?

[2021-12-09 12:11] rgerganov opened #1179 ""cosign initialize" doesn't work"
I am trying to run `cosign` with a local TUF root. My understanding is that I should use the `initialize` command like this:
[code]
However this fails with:
[code]
Running without `--root`:
[code]

It appears it always fetch stuff from GCS which has an expired timestamp. I know there is a `--mirror` flag which can override the default GCS location but I don't want to put my stuff of GCS.

[2021-12-09 17:28] priyawadhwa commented on #1179
cc @asraa might know more about this?

[2021-12-09 17:41] asraa commented on #1179
Fixed now -- cosigns updated with the latest root, but GCS isn't synced. I'll make a fix PR to auto-update it and tag you

[2021-12-09 18:07] rgerganov commented on #1179
But why do we need GCS in the first place? Why it's not possible to use local TUF root?

[2021-12-09 18:36] asraa commented on #1179
`cosign initialize` is a manual fetch. You don't have to run it at all, you use the local TUF root during a cosign verification. `cosign initialize` is just our system of allowing users to manually updating/downloading in case they want to verify with a remote.

[2021-12-09 19:02] rgerganov commented on #1179
I am not sure I understand, so I will describe what I am trying to achieve.
I have a local instance of Fulcio and CT log. When I experiment with keyless signing, I am getting an error which says that SCT signature received from Fulcio cannot be verified. This is because cosign is using `ctfe.pub` from its embedded TUF repo. I want to change the TUF repo and provide my own `ctfe.pub`. I thought the

[2021-12-09 19:19] asraa commented on #1179
Ah, sorry, didn't realize you wanted your entire own root!

Yes, you are correct in using `cosign initialize`. You actually need to provide you own entire TUF root -- that would mean
`cosing initialize --root $YOUR_ROOT --mirror $YOUR_MIRROR`

where your_root is your own trusted root.json and mirror is the corresponding TUF repository, a collection of metadata. It is expecting a `timestamp.json`,

[2021-12-09 19:30] rgerganov commented on #1179
That would be great, thanks!

Not really, but I am trying :) My end goal is to have local instances of Fulcio, Rekor and CT log and make `cosign` work with them.

[2021-12-09 19:32] asraa commented on #1179
I would be happy to help! I use the go-tuf CLI but the python one's a lot more expressive. Please feel free to ping me on slack and I'll be happy to walk through examples and speak to limitations/ways to do stuff.

[2021-12-10 11:04] rgerganov commented on #1179
I have added support for fetching TUF root over HTTP with PR #1185. With this I have been able to initialize cosign without using GCS and make it work with my local instances of Fulcio and CT log.

[2021-12-10 19:13] dekkagaijin commented on #1153
@gjirm I wasn't able to reproduce the issue. Would you be able to add a test case to https://github.com/sigstore/cosign/blob/main/test/e2e_test.ps1 that provokes the bug?

[2021-12-11 17:20] #1179 closed

[2021-12-11 21:55] patrickdung commented on #522
On GitLab, the signature or attestation files would be created as a very old date.
If the user enabled house keeping of container register (by tags), I am not sure if the signature or attestation files would be removed by house keeping.

[2021-12-12 01:56] dlorenc opened #1192 "Better docs for cosigned"
It's kind of hard to discover the usage information for `cosigned`, or even that it exists. I think we should get a page up over at https://github.com/sigstore/sigstore-website and a small quickstart here in this readme.

[2021-12-12 01:59] dlorenc commented on #1192
The chart and any other installation methods should be on sigstore-website too!

[2021-12-12 02:00] dlorenc commented on #1192
Oh, and we should link out to all the other policy mechanisms that work (Kyverno, the experimental OPA data provider stuff), anything else too.

[2021-12-12 12:22] developer-guy commented on #1192
We (w/@dentrax) can take care of that, we always have been loved the documentation issues, so we can create one and send it to you for review.

[2021-12-12 12:23] developer-guy commented on #1192
Also, the cosigned project is one of the projects that we want to learn more about, so this issue would be a good starting point for us.

[2021-12-12 12:46] dlorenc commented on #1192
You're the best!

[2021-12-12 14:13] dlorenc opened #1193 "Specify and implement on-disk "verification bundle" format"
Right now we stash a bunch of information for verifying signatures (fixed-key and keyless) in OCI images. This includes fields like:

* the signature itself
* the signed payload
* the certificate (and chain)
* the transparency log index/uuid/inclusion proof
* a signed timestamp

Full info is here: https://github.com/sigstore/cosign/blob/main/specs/SIGNATURE_SPEC.md

This works great for OCI stuff

[2021-12-13 01:17] dmeibusch opened #1194 "Support Oracle Cloud KMS and certs"
https://www.oracle.com/security/cloud-security/

Oracle Certificates SDK: https://docs.oracle.com/en-us/iaas/Content/certificates/home.htm
Oracle Vault SDK: https://docs.oracle.com/en-us/iaas/Content/KeyManagement/home.htm#top

[2021-12-13 01:18] dmeibusch commented on #1194
I'm looking to see how we can get this done at Oracle.

[2021-12-13 01:19] dmeibusch commented on #131
Created #1194

[2021-12-13 09:29] rgerganov opened #1195 "The `upload` flag of `cosign initialize` is not used"
`cosign initialize` has an `upload` flag which is supposed to set a threshold of root key signers and has default value 3. Currently this value is not used in any way because we always take the root threshold of the local repo and use this number to update from the remote one.
I propose to change the name of the flag from `upload` to `threshold` and use it to override the root threshold when updat

[2021-12-13 10:17] gjirm commented on #1153
@dekkagaijin Unfortunately, I don't know how to add a test case, because it only happens to me if I run the command without entering a password (via a environment variable or via a pipe). See example below for `cosign generate-key-pair`:

![cosign_bug_1153](https://user-images.githubusercontent.com/32864045/145793598-b490904e-69eb-41f8-9727-b858dc88401a.gif)

[2021-12-13 18:59] priyawadhwa commented on #1193
This could also be useful for Chains for our non-oci storage backends, we could start storing the entire bundle in gcs instead of having a separate file for each payload/signature (having a consistent bundle would make it easier for clients to verify as well)

Slightly related, but @asraa and I were just chatting about maybe adding support for those backends (like gcs) in cosign directly. Just men

[2021-12-13 19:00] dlorenc commented on #1193
+1!

What would that look like? `cosign sign-blob --store=gcs|docdb|something`?

[2021-12-13 19:16] asraa commented on #1193
At least for GCS is it user-friendly to do something like `sign-blob gcs://<bucket>/<object>` and infer the bucket to place the bundle? It seems more seamless than an alternative like: `cosign sign-blob a.txt --store=gcs://<bucket>` (since I'd assume that the blob is already on GCS)

[2021-12-13 19:22] dlorenc commented on #1193
Yeah, but it's technically a bit "racy", similar to tag signing in a container image. GCS doesn't enforce any kind of immutability, and you need to fetch something to calculate its digest :(

Signing locally and then uploading sort of sidesteps that race condition. GCS does store hashes separately in the API but IIRC they're just md5.

[2021-12-13 19:35] priyawadhwa commented on #1193
At least for the Chains case signing locally and then uploading would totally work, `cosign sign-blob --store=gcs|docdb|something` is pretty much what I had in mind.

[2021-12-14 01:11] ckingbailey commented on #383
@mkinage how did you enforce signature verification on/before running a Docker container? Did you follow @06kellyjac's [suggestion](https://github.com/sigstore/cosign/issues/383#issuecomment-865957513) to have a program listen for Docker run events, verify the image, and kill the container if verification fails? I'm trying to do exactly that with a Lambda, but I'm unable to `docker login` on the L

[2021-12-14 01:19] dlorenc commented on #383
We have a few guides on EKS but I'm not sure how to do this on ECS. Do you want to open a separate issue and we can figure it out?

[2021-12-14 08:05] rgerganov commented on #1195
After discussion with @asraa we decided to simply delete this flag (PR #1201)

[2021-12-14 09:45] developer-guy opened #1202 "consider attaching attestations to the OCI registry but verify its signature first"
**Description**

As we support attaching SBOMs and signatures by using the `cosign attach` command, why don't we add attaching attestation files support as an addition to that? The only option people have is that `cosign attest,` but it also signs the attestation and attaches it to the OCI Registry. What I want to do is that only store the attestation files in OCI registries.

cc: @dlorenc @hector

[2021-12-14 09:56] lukehinds commented on #1202
Why would you want to do that? I mean cosign is a project about signing things :)

[2021-12-14 09:58] developer-guy commented on #1202
yep, but it also allows us to attach things, so I think attestations could be one of them

[2021-12-14 13:52] #1195 closed

[2021-12-14 15:14] ChaosInTheCRD commented on #1202
This is maybe something separate, but I was a bit confused by the `cosign attest --predicate` command and the docs around it. My thought process was "I want to sign and attach my attestation to the OCI registry", and `cosign attach` seemed like the first port of call. I was also slightly unfamiliar with the phrase "predicate", which got me mixed up and thinking that this was the incorrect command.

[2021-12-14 15:35] dlorenc commented on #1202
Is the idea that you'd sign with some other way, then upload/attach the already signed attestation? I could see that being useful (basically just decomposing the `attest` command up to add flexibility.

[2021-12-14 15:56] ChaosInTheCRD commented on #1202
Yeah I could see this being helpful. As I said though, the one caveat being care taken over ensuring the user understands that this **will not** sign the attestation.

[2021-12-14 16:32] developer-guy commented on #1194
@dmeibusch we (w/@dentrax) would love to help 🙋🏻‍♂️

[2021-12-14 19:52] jbpratt opened #1205 "keyless signing in GitHub Actions"
Key-less signing of a container image inside of GitHub Actions: `failed to decode timestamp.json: expired at 2021-12-14 18:48:47 +0000 UTC`

We [install](https://github.com/ContainerCraft/kmi/blob/1015ba569d504146b61fa2707e25f3240a6dfd7c/.github/workflows/test.yml#L54) `cosign` via the GitHub action. [Action with failure](https://github.com/ContainerCraft/kmi/runs/4525124402?check_suite_focus=true

[2021-12-14 19:54] dlorenc commented on #1205
cc @asraa

[2021-12-14 20:15] asraa commented on #1205
OMG I suppose https://github.com/sigstore/root-signing/blob/03ceeb24fe67705c2df9248da65690cfb2ddf4a7/.github/workflows/snapshot-timestamp.yml#L8 did not trigger. Manually triggering and updating. Give it 20 min to go through. Thank you -- I will make this weekly so we don't run into this.

[2021-12-14 20:21] asraa commented on #1205
Should be fixed. Let me know, please close it if it is!

[2021-12-14 20:33] #1205 closed

[2021-12-14 21:37] dlorenc commented on #645
Yay!

[2021-12-14 22:00] dekkagaijin opened #1207 "Kind e2e tests are broken"
e.g. https://github.com/sigstore/cosign/runs/4526494006?check_suite_focus=true

[2021-12-14 22:38] dekkagaijin opened #1210 "TUF client initialization panics when `$HOME/.sigstore` or its contents are read-only"
TUF client initialization fails if the `$HOME/.sigstore` directory and its contents aren't writable, causing panics like `panic ... creating root cert pool: retrieving trusted root; local cache may be corrupt: creating cached local store: mkdir $HOME/.sigstore: read-only file system`

See also: https://github.com/sigstore/cosign/issues/1207

[2021-12-14 22:44] asraa commented on #1210
Can fix with in-memory fetching only, writing failures can be gracefully failing.

[2021-12-14 22:59] ckingbailey opened #1212 "Enforce image signing on AWS ECS"
We have a requirement to enforce image signing on AWS ECR. Any AWS service that tries to run a container should be prevented from doing so if the image does not pass signature verification. All of our container run on ECS. Per [the suggestion on issue 383](https://github.com/sigstore/cosign/issues/383#issuecomment-865957513), I'm trying to run a program that listens for ECS events, verifies the im

[2021-12-14 22:59] ckingbailey commented on #383
@dlorenc separate issue opened https://github.com/sigstore/cosign/issues/1212

[2021-12-14 23:26] #1207 closed

[2021-12-14 23:41] dekkagaijin commented on #1210
SGTM @asraa :)

[2021-12-15 13:48] QWERTY92009 opened #1215 "Prefer using the unencrypted key for signing images so we don't have to manage the encrypted key and the password."
**Description**

Our CI pipeline manages all secrets in Hashicorp Vault. Rather than managing the encrypted signing key and its password, we would prefer to manage just the unencrypted key, which will be pulled by the signing agent as needed.

[2021-12-15 13:58] dlorenc commented on #1215
In that case, would it make more sense to use the hashicorp API directly as a KMS provider?

[2021-12-15 16:13] lukehinds opened #1217 "invalid kind value: "hashedrekord""
Seems cosign is pushing in the wrong type to rekor?

![image](https://user-images.githubusercontent.com/7058938/146222843-96d4697b-08ce-4d08-97d7-d6ddef8dbcb9.png)

[2021-12-15 16:15] lukehinds commented on #1217
my bad, built from a stale main

[2021-12-15 17:56] mattmoor opened #1219 "Add support for reading image digests from a file"
**Description**

Tools like `kaniko` have support for writing the published digest to a file to support results in systems like Tekton.

Signing these digests is awkward currently because you need to use shell functionality to read the result file:
[code]

I propose adding support for reading these from a file.  A (straw-person) pattern for this would be to use `@filename`, which would shorten thi

[2021-12-15 18:18] dlorenc commented on #1219
Maybe this would be a good opportunity to switch to signing descriptors. @sudo-bmitch had some ideas here too. If we start signing descriptors we'll need more than just the digest (mostly size) so this file should support that too.

[2021-12-15 21:00] sudermanjr opened #1223 "Support vault transit mounts named something other than 'transit'"
We use multiple transit mounts in our vault, and I would love to be able to tell cosign to use that. I can't seem to find a way to do that, but maybe I'm missing something.

So essentially supporting the path:
[code]

[2021-12-15 22:37] sudo-bmitch commented on #1219
I was leaning towards the index.json file format from the [OCI Layout](https://github.com/opencontainers/image-spec/blob/main/image-layout.md) spec. In addition to the size, we need the media type to avoid [CVE-2021-41190](https://github.com/advisories/GHSA-mc8v-mgrf-8f4m).

[2021-12-15 23:06] asraa opened #1224 "TUF: Support fallback on trusted Sigstore target for custom roots."
**Description**

* This came up when I was testing and demo-ing a BYO TUF root. Currently, we require you sign off on all targets that are needed for verification, including Rekor pubkey, Fulcio root CA, CTFE key. If a project wants to only host their own rekor instance, they will still want to fallback on Sigstore's trusted Fulcio instance.

[2021-12-16 11:56] rgerganov opened #1229 "Do not require multiple Fulcio certs in the TUF root"
`cosign` requires both `fulcio.crt.pem` and `fulcio_v1.crt.pem` in the TUF root which doesn't make sense when using local TUF. `fulcio_v1.crt.pem` was added in the embedded TUF in order to support Fulcio v1 but it shouldn't be required when users initialize `cosign` with their own TUF repo.

I will submit a patch which will make `fulcio_v1.crt.pem` optional.

/cc @asraa

[2021-12-16 18:37] asraa commented on #1229
I suppose this would also be fixed by https://github.com/sigstore/cosign/issues/1224

[2021-12-16 21:22] haydentherapper commented on #1224
Could we also call this support for multiple TUF roots?

I think we'd want a mode where there's never fallback, if someone never wants to trust the hosted infrastructure. If someone wanted to use the fallback, they could initialize cosign with their custom root and Sigstore root.

On verification, we'd have to update all expired caches, unless there's some mapping between a signature and its root.

[2021-12-16 23:05] mattmoor opened #1231 "`cosign verify-attestation --policy` docs don't have working examples"
**Description**

I was trying to play with this: https://docs.sigstore.dev/cosign/attestation/#cosign-custom-predicate-type-and-cue-policy

However, I noticed a few things:
1. A mix of `-foo` and `--bar` flags (we should shift to `--bar` exclusively).
2. The given example doesn't work!

Here is an example I was able to get working:
[code]

Perhaps things changed from passing the `predicate` to the

[2021-12-16 23:10] mattmoor opened #1232 "Pass additional metadata to policy evaluations"
**Description**

Today the policy validation is only passed the body of a single statement for evaluation, after the signature has been verified.

This makes some sense when the attestation is being verified against a particular key, but for keyless mode part of the policy check MUST include the `iss` and `sub`, but it should also include all of the metadata we encode in the certificate extension(

[2021-12-16 23:24] mattmoor opened #1233 "Multi-attestation policy assessments"
**Description**

_(this is related to https://github.com/sigstore/cosign/issues/1232)_

Suppose I want to author policy that requires two of my five approvers to have signed attestations about a new release before it can be admitted to production.  We need something like #1232 to assess who is making the claim (for keyless, for keys who knows?).

However, the scope of policy checking today is a si

[2021-12-17 00:09] JimBugwadia commented on #1232
For keyless, would also be good to pass claims returned from OIDC scopes as discussed here: https://github.com/sigstore/cosign/issues/1087.

[2021-12-17 00:19] mattmoor commented on #1232
Yeah, I expect that'd get stored in one of the extensions, which we should pass in as well.  I alluded to this in a TODO of the other issue I opened (linked to this)

[2021-12-17 06:44] rgerganov commented on #1224
This is possible now. You can create your own TUF root and then initialize cosign like this:
`cosign initialize --mirror http://localhost:8080/repository --root /tmp/tuf/repository/root.json`

[2021-12-17 13:50] #1229 closed

[2021-12-17 16:57] dlorenc commented on #1231
cc @developer-guy @Dentrax !

[2021-12-17 19:08] dlorenc commented on #1219
WDYT @mattmoor? index.json seems like it would work, although it can contain multiple images. But then again, cosign can also sign multiple at a time.

[2021-12-17 19:09] dlorenc commented on #1193
Cool! If anyone wants to start on this one, go for it!

[2021-12-18 21:05] #1231 closed

[2021-12-18 21:08] dlorenc commented on #1223
I think we might already support this with an env var: https://github.com/sigstore/sigstore/blob/587d504f4dc16b2bc55eb7100658149de417eb30/pkg/signature/kms/hashivault/client.go#L115

Does that work for you?

[2021-12-18 23:35] mattmoor commented on #1219
Really only if the manifest referenced by digest doesn't include one, which I'd wager the vast majority of images/indices (still using docker media types) do, no?

That said... Honestly I care very little about the schema of the file, so long as it aligns with what Tekton Chains would expect in such a file, so I can basically pass in the `IMAGES` or `DESCRIPTORS` or whatever the result file is.

A

[2021-12-18 23:53] sudo-bmitch commented on #1219
For the vast majority of images, yes. I'm thinking of possible malicious intents. Perhaps a security check is run to validate the image before signing it (maybe not a vulnerability scan since those change over time, but some kind of static compliance check), and it only sees the image descriptor and checks that. The attacker then uses that signature to deploy the index with a malicious image to pr

[2021-12-19 03:38] dlorenc commented on #40
I'm going to close this one - we have pretty good support now :)

[2021-12-19 03:38] #40 closed

[2021-12-19 03:39] dlorenc commented on #71
This one has been fixed!

[2021-12-19 03:39] #71 closed

[2021-12-19 03:39] #73 closed

[2021-12-19 03:39] #97 closed

[2021-12-19 03:39] dlorenc commented on #97
This has been fixed!

[2021-12-19 03:40] #115 closed

[2021-12-19 03:40] #141 closed

[2021-12-19 03:40] dlorenc commented on #161
We have this now, fixed!

[2021-12-19 03:40] #161 closed

[2021-12-19 03:40] dlorenc commented on #181
Fixed!

[2021-12-19 03:40] #181 closed

[2021-12-19 03:41] #191 closed

[2021-12-19 03:41] #196 closed

[2021-12-19 03:41] dlorenc commented on #196
Ref #1192

[2021-12-19 03:42] dlorenc commented on #197
This starts to tie into the policy conversation :) I think we decided to leave the CLI at one key but support multiple in the API/cosigned

[2021-12-19 03:42] #197 closed

[2021-12-19 03:43] #243 closed

[2021-12-19 03:43] #389 closed

[2021-12-19 03:44] dlorenc commented on #337
Closing this one out - reopen if you can repro!

[2021-12-19 03:44] #337 closed

[2021-12-19 03:44] dlorenc commented on #547
Did we fix this one?

[2021-12-19 03:45] dlorenc commented on #651
Are the dependencies still a problem here?

[2021-12-19 03:45] dlorenc commented on #743
This is done now!

[2021-12-19 03:45] #743 closed

[2021-12-19 03:47] dlorenc commented on #925
This is now merged in over at https://github.com/sigstore/cosign-gatekeeper-provider!

[2021-12-19 03:47] #925 closed

[2021-12-19 03:48] dlorenc commented on #948
+1 on this! We could switch to a different exit code.

[2021-12-19 03:49] #368 closed

[2021-12-19 03:50] #211 closed

[2021-12-19 03:50] dlorenc commented on #211
I don't think we can really do much here, closing unless there's a lot more demand.

[2021-12-19 03:52] #1015 closed

[2021-12-19 03:52] dlorenc commented on #1070
Closing, please reopen if you can repro!

[2021-12-19 03:52] #1070 closed

[2021-12-19 03:55] dlorenc commented on #1192
The page should contain something like:

* a quickstart
* installation (helm and non-helm)
* full detailed usage

We should maintain a separate page (linked from here) that compares cosigned to the other policy engines, including:

* OPA
* Kyverno
* Connaiseur
* any others that work!

If the other engines don't have their own docs, we can host our own too. I think OPA is probably the only one righ

[2021-12-19 03:56] dlorenc commented on #655
This has been moved into the sigstore project now!

[2021-12-19 03:56] #655 closed

[2021-12-19 03:57] dlorenc commented on #1097
Closing, this was just an issue with distroless.

[2021-12-19 03:57] #1097 closed

[2021-12-19 03:57] dlorenc commented on #252
Fixed, we can close.

[2021-12-19 03:57] #252 closed

[2021-12-19 03:58] dlorenc commented on #522
I'd be fine setting this to a real value. Reproduciblity is good, but the signatures are random anyway.

What do people think? Setting a real time could be useful, with a flag for reproducible? Time seems like it would be better to set by default TBH.

[2021-12-19 03:59] dlorenc commented on #264
This is now supported with "cosign attest". Closing here.

[2021-12-19 03:59] #264 closed

[2021-12-19 04:00] dlorenc commented on #936
Closed with #1016!

[2021-12-19 04:00] #936 closed

[2021-12-19 14:28] dlorenc commented on #946
I think we can close this now that #1071 is merged!

[2021-12-19 14:28] #946 closed

[2021-12-19 18:13] maorkuriel commented on #596
Hi,
I am experiencing the same issue with a local registry ( Minikube) on a Macbook M1.

[code]

[2021-12-20 11:04] Rozzii opened #1235 "What should I expect from the --output-file option?"
Hi all!

So I was testing cosing for my use case in a Ubuntu 20 environment. Everything seem to work except that lately I have noticed that there is this option called --output-file and my understanding is that if I would provide a payload name for the --output-file  option then my payload would be generated with the provided name without using the redirection operator.

I have found the original

[2021-12-20 13:00] developer-guy commented on #1202
kindly ping @dlorenc

[2021-12-20 13:00] developer-guy commented on #1202
also related with https://github.com/sigstore/cosign/pull/1216

[2021-12-20 13:46] dlorenc commented on #1202
Yeah, attaching an already signed attestation works for me. Like @ChaosInTheCRD said, we should verify it's a signed attestation first to make it safe.

[2021-12-20 13:52] developer-guy commented on #1202
Amazing !

[2021-12-20 16:47] developer-guy commented on #1202
Seems wrong issue closed @dlorenc 😊

[2021-12-20 17:34] #959 closed

[2021-12-20 17:34] developer-guy commented on #1202
my bad 🤦🏻‍♂️ it should close #959, and I closed it manually.

[2021-12-20 18:16] haydentherapper commented on #1224
That would be for hosting a separate root, correct? I was suggesting we add support for multiple roots, and we don't treat the Sigstore root differently than any other root (besides maybe a special flag to initialize the cosign root). For example, supporting something like:

`cosign initialize --root /tmp/tuf/repository/root.json<delimiter>http://localhost:8080/repository --root /other/root.json<d

[2021-12-20 18:18] asraa commented on #1224
Why would you want multiple TUF roots? You want to combine support for verifying against different roots without having to run cosign initialize between verifications?

[2021-12-20 18:20] haydentherapper commented on #1224
Yep, exactly. Say you want to trust what's signed by the Sigstore root and also some private root too.

[2021-12-20 19:16] #645 closed

[2021-12-21 01:31] #442 closed

[2021-12-21 18:44] developer-guy opened #1239 "[cosigned] add image tag as an annotation to a pod"
**Description**

Once you resolve the digest of an image tag, people might want to know which image I'm actually deploying because when they run `kubectl get pods <pod> -oyaml`, they'll see a digest of an image, so, they might want to know what is the tag equivalent of the digest we resolved. So, let's add an annotation to a Pod to show the tag of an image before resolving its digest.

[2021-12-22 05:55] vaikas opened #1240 "Support other Public keys than ecdsa when verifying SCT"
**Description**

For verifying the SCT cosign seems to assume that public keys are always going to be Elliptical. I also verified that if I spin up an instance of CT Log here:
https://github.com/google/certificate-transparency-go/blob/master/trillian/docs/ManualDeployment.md#key-generation

With RSA keys, then cosign is unable to verify the SCT produced by the CT Log.

The assumption seems to be h

[2021-12-22 05:55] vaikas commented on #1240
I can't assign to myself, but I'll be happy to work on this.

[2021-12-22 10:18] dlorenc commented on #1240
+1!

[2021-12-22 10:33] hectorj2f commented on #1239
Question: do you want to add an annotation to show the tag associated to the image deployed by a pod ? Shouldn't it be something already ingested by the deployed app e.g.  In Helm you could know that with the chartVersion, appVersion? I feel we want users to stop using tags and rely more on digests.

[2021-12-22 13:17] developer-guy commented on #1239
I totally agree with you about enforcing people to rely more on digests but TBH people want to see the tag equivalent of a digest when they do troubleshooting via the describe or get -oyaml functionalities.

[2021-12-22 13:38] dlorenc commented on #1223
Going to close this one out, pretty sure the feature is implemented there and documented here: https://docs.sigstore.dev/cosign/kms_support#hashicorp-vault

[2021-12-22 13:38] #1223 closed

[2021-12-22 13:39] Itxaka opened #1242 "[sign] output log misrepresents target repo for signatures"
**Description**

When pushing signatures to a different repository than the image we are signing there is a message in the terminal that seems to tell us that we are pushing to the same repo where the image resides.

This doesn't take into account the `COSIGN_REPOSITORY` value for the output which can cause confusion in users (I got confused and kind of terrified of pushing to a different repo!)

[2021-12-22 17:03] #1242 closed

[2021-12-22 17:03] #1240 closed

[2021-12-27 10:54] developer-guy opened #1254 "Add GitLab Support for Ambient Credential Detection"
**Description**

There are some environment variables provided by GitLab to the runner environment which we can use to authenticate.

[code]
👉 https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

cc: @dlorenc @dentrax @orhun

[2021-12-27 13:17] dlorenc commented on #1254
There's some discussion over here: https://github.com/sigstore/fulcio/issues/243

The tokens are currently missing an audience so we can't use them directly. It sounds like that might be in progress though!

[2021-12-27 14:30] sabre1041 opened #1257 "Signature and Certificate Files Overwritten During signing when recursive option chosen"
When specifying `--output-signature` or `--output-certificate` as part of `cosign sign`, contents are overwritten when specifying `-r`/`--recursive` for signing mutiarch images

Separate files would need to be created for each image being signed

[2021-12-27 22:07] sudermanjr commented on #1223
I'll try it out, just got back from vacation. Thanks! I don't know how I didn't find those docs, but now I know where to look. Thanks again!

[2021-12-28 11:58] hectorj2f commented on #1192
@dlorenc I believe we could move what we have from https://github.com/sigstore/helm-charts/tree/main/charts/cosigned. We are currently designing some changes to cosigned as part of the WG action items, so I believe it'd be great to have that page (at least as min action items).

[2021-12-28 18:37] ckotzbauer opened #1258 "OIDC-Issuer flag ignored (Github Actions)"
**Description**

Hi folks,

I had a strange behaviour while trying to sign a blob via GitHub Actions with keyless-signing. The command seems to ignore the `--oidc-issuer` flag which was set to the GitHub-OIDC-Endpoint and uses the default Sigstore-Issuer instead. I then did the verification-login to sigstore manually. The verification for the received token then failed with the message, that the t

[2021-12-28 19:06] #1202 closed

[2021-12-28 19:29] bobcallaway commented on #1258
If you're running this in the context of a GitHub Action workflow run, you shouldn't have to specify `--oidc-issuer` to leverage the GitHub OIDC Token that is available for the scope of the particular run.

Did you set the correct permission on your workflow definition to make sure the ID token would be made available?

https://docs.github.com/en/actions/deployment/security-hardening-your-deployme

[2021-12-28 20:04] mattmoor commented on #1254
Yeah, we should NOT do this before the public Fulcio supports gitlab via `--identity-token`, otherwise it'll create annoying failure modes.

[2021-12-29 11:34] ckotzbauer commented on #1258
okay, so maybe I can omit the `--oidc-issuer` flag, as it runs within GitHub. However, it seems to be ignored even its explicitly set.

The environment is the following:
- GitHub-Action with correct permissions (id-token) calls a workflow via nektos/act and sets the GITHUB_TOKEN as secret.
- The "inner" workflow runs an action with the cosign command, specified above.

I think the Github-Context i

[2021-12-30 04:00] woohgit opened #1259 "gcpkms:// parsing is broken in 1.4.x"
## Symptom

When trying to use cosign with GCP KMS, the `--key gcpkms://` is not parsed properly and handled as a local file path.

Affected versions:

- `v1.4.0`
- `v1.4.1`

Example run error below:

[code]

It works well with `v1.3.x`

[2021-12-30 09:32] developer-guy commented on #1259
thank you for letting us know about the bug @woohgit, I noticed that we called the wrong method which cause searching key from the file 🙋🏻‍♂️

[2021-12-30 09:38] developer-guy commented on #1259
Ah, I think there is an error with the key you store in GCP KMS because code will try to retrieve the key from KMS if an error occurred then it will try to download it from the file, please [see](https://github.com/sigstore/cosign/blob/591601cad3ea743af1a42b813b5acb2b346a983d/pkg/signature/keys.go#L144).

[2021-12-30 09:42] developer-guy commented on #1259
but yeah, we can be more helpful by logging the error before searching it in disk

[2021-12-30 10:48] woohgit commented on #1259
@developer-guy Do you think that there is anything with the key?

It's working with 1.3.x with all our keys, and 1.4.x is not working with any of the keys.

I'll build a local copy from your PR and see what's the error.

[2021-12-30 10:59] woohgit commented on #1259
Nah it looks good. No error this time, probably my GSA permissions / ADC permissions.

[2021-12-30 13:40] #1259 closed

[2021-12-30 14:49] marshall007 commented on #1254
If possible, I think using `CI_JOB_TOKEN` is probably the best medium-term approach.

If Fulcio is passed our `CI_JOB_TOKEN` it can make an API call to `GET <gitlab-server-url>/api/v4/job` to tretrieve the job definition for the given token. See docs:

https://docs.gitlab.com/ee/api/jobs.html#get-job-tokens-job

One desirable property of the `CI_JOB_TOKEN` is that we automatically revoke its acces

[2021-12-30 15:17] ricardomaraschini commented on #587
My two cents: `auth.json` (podman) or `config.json` (docker) must contain an entry with for `https://index.docker.io/v1/`, otherwise the authentication seems to fail. I have solved it by adding an extra entry like so (trailing / needed):

[code]

I [found out](https://github.com/google/go-containerregistry/blob/main/pkg/authn/keychain.go#L119-L122) that if the registry is either "docker.io" or "in

[2021-12-30 19:03] sabre1041 commented on #1257
Putting some thoughts on how this might want to be implemented.

* For non recursive signatures, use parameters provided by the user
* For recursive signatures
    * manifest list image uses the parameters provided by the user
    * Each resulting image appends the architecture and platform as follows
        `<user_provided_input>-<platform>-<architecture>

thoughts?

[2021-12-30 20:51] marshall007 opened #1262 "Consider one-to-one mapping of an invocation to scan result"
The recent addition of the [`COSIGN_VULN_ATTESTATION_SPEC`](https://github.com/sigstore/cosign/blob/3dd690ea18cd65adbcea2e9ae9686cbb4b2ee428/specs/COSIGN_VULN_ATTESTATION_SPEC.md) supports storing multiple scan results originating from a single invocation. I think it would be more intuitive if we encouraged folks to map a single invocation to a single scan result.

This would not only make it easi

[2021-12-31 06:49] marshall007 opened #1263 "Switch to `kyaml` for manifest parsing"
The current implementation of `cosign manifest verify` is not extensible and, for example, cannot detect image references in CRDs (like the steps in a Tekton `Task`):

https://github.com/sigstore/cosign/blob/8194edd77d1077505e85e89122432479a63791e0/cmd/cosign/cli/manifest/verify.go#L102-L145

We could make this more robust and also drop a dependency on `k8s.io/apimachinery` by switching to `sigs.k

[2021-12-31 07:00] marshall007 commented on #1263
Might also make sense for these commands to support reading from `stdin`. That way you can pipe directly from things like `kubectl get`, `helm template`, etc.

[2021-12-31 13:13] dlorenc commented on #1263
cc @mattmoor I think this makes sense!

[2021-12-31 14:46] dlorenc commented on #1235
This is weird! I'm looking into it now.

[2021-12-31 15:50] developer-guy commented on #1263
I can take care of that one if you folks let me @marshall007 @dlorenc

[2021-12-31 16:30] dlorenc commented on #1263
Go for it!

[2021-12-31 19:30] erkanzileli commented on #1263
When we inspected this example, we see that we need the path specifically. Did you may be asked for a flag to specify the image path in the command for specific CRD.

**Example:**

[code]

Here is how to verify this specific CRD

[code]

WDYT @marshall007 @dlorenc

[2022-01-02 00:55] dlorenc commented on #1262
cc @developer-guy @Dentrax what do you think?

[2022-01-02 00:55] dlorenc commented on #1257
That sounds good to me!

[2022-01-02 09:05] Dentrax commented on #1262
+1, that makes sense! It would be better if the the spec mapped single invocation to single scanner. In this case `scanner` field should not an array?

[2022-01-02 14:42] dlorenc commented on #1262
Yeah I think that's right!

[2022-01-02 20:03] hectorj2f commented on #1192
@Dentrax @developer-guy Please, let me know if you're already working on this documentation.

[2022-01-02 20:03] dlorenc commented on #1235
This should be fixed now with #1264!

[2022-01-02 20:03] #1235 closed

[2022-01-02 20:08] dlorenc commented on #1192
I added a bit more here since filing this: https://docs.sigstore.dev/cosign/kubernetes#cosigned-admission-controller

[2022-01-02 20:12] hectorj2f commented on #1192
Awesome, thanks @dlorenc.

[2022-01-03 16:03] #1078 closed

[2022-01-03 18:21] mattmoor commented on #1254
@marshall007 I am curious what you anticipate Fulcio would do with this information?

This is the aspect I'm struggling with, since we're talking about granting access to sign against Fulcio without that being explicitly declared. 😅

Yeah, I totally get it and empathize with the goal, but I still am not seeing how we differentiate between `CI_JOB_JWT[_V2]` today (or with legacy installations) and

[2022-01-03 18:31] mattmoor commented on #1254
Here's a thought, which might be a decent compromise, since my major issue is folks opting into the dangers here...

We could teach Fulcio to do what you suggest, which would enable folks to *opt-in* to this functionality in their own private Fulcio instances.

However, for the "public good" Fulcio instance, we would continue to require `aud: sigstore`.  I think we'd want the ambient functionality

[2022-01-04 07:21] Rozzii commented on #1235
Thank you @dlorenc !

[2022-01-04 16:30] jdolitsky commented on #1262
Hello all, attempted to resolve this in https://github.com/sigstore/cosign/pull/1268

[2022-01-04 22:05] marshall007 commented on #1263
@erkanzileli that's right, I was thinking you'd be able to append additional/custom paths via a CLI flag. I think you should be able to specify this flag multiple times as you might need to add multiple field paths. I also think this should _append_ to the default set as I see no reason why you would ever not want to include the default paths we look at currently.

@developer-guy you can definitel

[2022-01-05 13:40] #1262 closed

[2022-01-05 14:51] dlorenc opened #1271 "Improve TUF expiration tests"
#1270 was a short term fix to handle expired TUF metadata, but we should improve this. I think it'll take a patch in go-tuf to make it easier to test.

We want to verify the following configurations in cosign:

* the embedded TUF metadata is expired
* the embedded TUF metadata is not expired

This requires modifying local TUF state and the clock. We could do this by dynamically generating TUF meta

[2022-01-05 17:05] asraa commented on #1271
Interesting, in my lost cosign PR that updated/cleaned up a TUF logic here, I made the monkey-patch a very granular check on when the time of expiration was in my tests. Definitely was kind of messy.

I'll still try to recall my cosign PR with the added tests that included both of those configs for now, until the go-tuf patch exists.

[2022-01-05 17:07] dlorenc commented on #1271
Your monkey patch worked fine, but I think we were missing the case of forcing an actually expired TUF root to be unexpired. Then we hit another check later on internally in the go-tuf code that blows up.

[2022-01-05 19:21] haydentherapper opened #1273 "Log verification for expired targets"
**Overview**

This is a tracking issue for supporting verification for expired/rotated targets. @asraa and I will be working on this.

Currently, cosign assumes the latest TUF metadata can be used to validate signatures. As the Fulcio CA certificate will expire, we will have to rotate that target at some point. This will cause cosign to not be able to validate the signatures that chain up to the e

[2022-01-05 21:23] marshall007 commented on #1254
@mattmoor to be clear `CI_JOB_TOKEN` is an opaque token, _not a JWT_. So in this case, rather than verifying the integrity of a JWT and referencing metadata from the parsed claims, I was saying that Fulcio could both validate this opaque token and get job metadata by calling our API endpoint, for example:

[code]

I can fully appreciate not wanting to "teach" Fulcio how to interpret GitLab-specifi

[2022-01-05 22:07] asraa commented on #1273
Some more thoughts to make the experience of expired target verification along with BYO TUF root:
- [ ] we may want to change the sigstore TUF root to pull in directories of targets rather than hard-coded target names (e.g. add all targets in a path `fulcio/**` to the trusted root pool rather than pull in a hardcoded target name `fulcio_v1.crt.pem`). this would reduce friction between any target v

[2022-01-06 18:03] Namanl2001 commented on #1258
do we have to manually click on the link generated to enter the verification code, for each workflow run?

if we don't, we're getting this error https://github.com/kyverno/kyverno/runs/4729805789?check_suite_focus=true#step:10:16

[2022-01-07 14:40] priyawadhwa commented on #1193
I'll give this one a go :)

[2022-01-07 20:22] Hayden-IO opened #1288 "Add cosign configuration file"
**Description**

For flag values that remain the same between all invocations of cosign, it'd be useful to have an on-disk config file to persist those values.

Writing the config to disk could be a part of `cosign initialize`. Additionally, cosign can look in a default location (`~/.sigstore/config.yaml`) for the config, and this could be customizable via flag.

Persisting state will also be nece

[2022-01-07 20:33] haydentherapper opened #1289 "TUF: Support option to reference mirror during verification/signing"
**Description**

Currently, `cosign initialize` is the only way to update BYO TUF metadata. If the TUF metadata is out of date on verification/signing, then cosign will fetch the updated TUF metadata from the [hosted GCS bucket](https://github.com/sigstore/cosign/blob/main/pkg/cosign/tuf/client.go#L61).

One option would be to move `mirror` and `root` to global flags, so that these could be used w

[2022-01-07 20:38] asraa commented on #1289
Just adding some more context:

This is because of the default fallback. It's kind of questionable on whether we want to fallback gracefully or fail when your cache is expired or corrupt

[2022-01-07 20:43] haydentherapper commented on #1289
Adding support for this will also allow cosign to support BYO TUF with no disk writes (`SIGSTORE_NO_CACHE`), since the TUF client would use the mirror to fetch TUF metadata/targets, and then those would be persisted in-memory.

[2022-01-10 15:45] asraa opened #1291 "TUF: Using custom meta for target identification"
**Description**

Right now, we hardcode the name of the TUF targets used for verification, e.g. `fulcio.crt.pem` etc. For users who BYO their own root for sigstore, they must name the target files exactly as we expect.

Instead, I wonder if it's better to use custom meta attached to target names e.g. "sigstore: fulcio" on the targets to indicate that this target should be used for the fulcio root

[2022-01-10 18:22] asraa opened #1293 "TUF: Initializing cosign with expired TUF metadata"
**Description**

Just requesting better error handling here... if you run `cosign initialize` with a TUF repo that has expired metadata (e.g. the timestamp expires), then you'll panic on a following `cosign verify` since none of the fulcio roots could be used. We need better error handling,

(1) Early error handling: warn a user when initializing a TUF repo with expired metadata
(2) This problem c

[2022-01-11 17:47] asraa opened #1297 "TUF: Root status output"
**Description**

I'd like to add a command like `tuf root info` that outputs what cosign *thinks* the current root is/should be used for gathering targets, and what the expiration for the timestamp is.

e.g.

[code]

[2022-01-11 17:48] asraa commented on #1297
cc @haydentherapper @dlorenc @bobcallaway WDYT?

[2022-01-11 18:10] haydentherapper commented on #1297
This seems useful to help with debugging TUF! Maybe instead of `tuf root`, this could be a part of a debug command? This could also be useful in the future if we add more state and need to help users, like `brew doctor`.

[2022-01-11 19:14] medenzon opened #1298 "Support for Signing String Literals"
**Description**

Adding support for signing string literals. This is similarly to sign-blob, except it allows for a string to be passed in instead of being read from a file.

Example:

[code]

[code]

[2022-01-11 19:15] medenzon commented on #1298
Please see pull request https://github.com/sigstore/cosign/pull/1299

[2022-01-12 00:54] brianluong opened #1301 "cosign verify doesn't properly validate when Vault used as KMS"
Hey team!

* I created 2 different keys in Vault.
* I only used one to sign the image using cosign.
* However, I'm able to use cosign verify using the other key.

[code]

Interestingly, when I export the public key, verification fails
[code]

### Other Info
* Key type: ecdsa-p256
* Cosign: 1.4.1
* Vault: 1.9.1

[2022-01-12 04:41] dlorenc commented on #1301
Cc @developer-guy any guesses here?

[2022-01-12 21:19] imjasonh opened #1304 "Signing should reject annotations that conflict with reserved fields"
Today, I can `cosign sign` and include annotations, which end up in the signature:

[code]

Because my `foo: bar` annotation is stored alongside the `Issuer`, `Subject`, `Bundle`, I might think I can overwrite those.

Luckily, I can't:

[code]

...doesn't change the `Issuer`, and my `blahblahblah` is silently ignored.

But it's maybe only an accident that it doesn't work, and I don't think there's

[2022-01-13 00:32] jdolitsky opened #1307 "Attaching SBOMs "--sbom" flag uploads literal filepath if file does not exist"
If I run something like the following:
[code]

and the file `sbom.txt` does not yet exist, the blob uploaded contains the literal string contents `./sbom.txt`.

Ability to upload raw string should be supported (and is via STDIN/`--sbom=-`), but I would expect an error if I'm attempting to load a file and it doesn't exist.

Source seems to be https://github.com/sigstore/cosign/blob/main/cmd/cosign/

[2022-01-13 09:09] rgerganov opened #1309 "OIDC client secret is not used"
There is command line argument for OIDC client secret (`--oidc-client-secret`) but it is not used. This prevents using `cosign` with OIDC providers (such as Auth0) which require a non-empty secret.

I will submit a PR which fixes this.

[2022-01-13 09:39] rgerganov opened #1311 "The port for the OIDC callback listener cannot be specified"
`cosign` is starting a callback listener on localhost which receives the code from the OIDC issuer. The problem is that it uses a random free port, see [here](https://github.com/sigstore/sigstore/blob/main/pkg/oauthflow/interactive.go#L138). So there is no way to know the exact redirect URL in advance for the OIDC dance. This is a problem because some (most?) OIDC issuers require a white list of c

[2022-01-13 09:54] rgerganov commented on #1289
It'd be also nice if cosign is keeping the mirror URL which is passed on `cosign initialize` and tries to update from it when the local cache has expired.

[2022-01-13 13:38] dlorenc commented on #1309
@bobcallaway - can you double check this?

[2022-01-13 15:23] ChaosInTheCRD opened #1312 "Add `--view-decoded-payload` for `cosign verify-attestation` or similar"
**Description**
For the purpose of easily viewing the decoded attestation in plain text. I feel that there is a pretty heavy use case for doing this. I for one found it slightly confusing when I initially called `cosign verify-attestation` that it did not decode and present the attestation to me by default.

Especially while the project is in the early stages and people trying to make sense of eve

[2022-01-13 15:36] asraa opened #1313 "Verify certificate against job_workflow_ref string"
**Description**

Right now, `--cert-email` only verifies against the cert.EmailAddresses field. If the image was signed by a github actions, there is no way to supply a URI (possibly a regex?) to match against the job_workflow_ref included in the cert URI's field. I'd be interested in doing this, to verify, for e.g. that a container was signed by the correct repository and/or workflow, so that we

[2022-01-13 15:39] asraa commented on #1313
TBH I think unifying the email/uri field like `CertSubject` does is better...

`cosign verify --cert-subject <either URI or email> $IMG`

[2022-01-13 16:35] hectorj2f commented on #1307
@jdolitsky This behavior also happens to `--signature=` parameter for the attach signature command. I am not sure if it should be limited to stdin and files only.

[2022-01-13 17:41] haydentherapper commented on #1313
+1 to a single flag, `--cert-subject`, with an eventual deprecation of `--cert-email`. Regex support can be added without a separate flag, with documentation noting what is accepted. For documentation, we also need to note that this will accept SPIFFE IDs.

@dekkagaijin You were on the original ticket for this feature, and you had noted you wanted to think through the UX for a subject flag. Did yo

[2022-01-14 02:45] dekkagaijin commented on #1313
We're currently in the process of thinking through what the policy API should look like, with this being a core concern. The industry standard method of kicking the can down the road is to have users specify such assertions in a language like CUE, but the UX is understandably awful and I do think that we have a mandate to offer users something better than a prickly footgun.

IMHO, for `cosign` its

[2022-01-14 03:28] dlorenc commented on #1313
I like cert-subject but might be missing something. What's the concern with that @dekkagaijin ?

[2022-01-14 03:41] dekkagaijin commented on #1313
My concern is that what constitutes a valid x509 cert `Subject` is as unfriendly as it is flexible. I don't believe it's possible to create a sane, powerful, transparent, and user-friendly implementation of a unified `--cert-subject`

[2022-01-14 04:31] haydentherapper commented on #1313
For users that want simple identity pinning, a combination of a subject flag plus an OIDC issuer flag (which I'm adding on https://github.com/sigstore/cosign/pull/1308) seems sufficient. I agree that it's not very robust, but for simple use cases like where you trust just one identity issuer+subject, this seems like an easy approach. We'll just need to document that `cert-subject` means "Check the

[2022-01-14 04:35] haydentherapper commented on #1313
To avoid this, we could avoid calling it a `cert-subject` and instead refer to it as `cert-identity` and for the oidc flag, `cert-identity-issuer`.

[2022-01-14 04:36] dlorenc commented on #1313
This is what I was imagining too. One concern might be that we have different ways expressing subjects, some of which expose multiple x509 extensions (mostly GitHub).

In the case I can start to see the concern with trying to squeeze it all into one flag. The next obvious approach is something like `--cert-subject key=value`, where `key` represents an entry in the subject alt name field (making su

[2022-01-14 04:43] haydentherapper commented on #1313
I was thinking `cert-subject` only handles these [four cases](https://github.com/sigstore/fulcio/blob/dcfd3e87755590845de2f55de6c8d48610dbfe96/pkg/ca/x509ca/common.go#L56-L76V). The [additional information](https://github.com/sigstore/fulcio/blob/dcfd3e87755590845de2f55de6c8d48610dbfe96/pkg/ca/x509ca/common.go#L104) added to the cert for Github values would be out of scope for this flag. However,

[2022-01-14 05:07] dekkagaijin commented on #1313
I was thinking something like that, too, if only to constrain the test to one of equality. It would also avoid the issue of ordering by just treating it as the dict that it is. The only issue is that it's a half measure; exposes implementation details without allowing flexibility

[2022-01-14 05:12] dekkagaijin commented on #1313
Any by that I mean "trade off"

I think everyone can admit that this is a hard, unsolved usability problem, and it'd be totally fine to propose this kind of middle ground experience

[2022-01-14 12:48] bobcallaway commented on #1309
We don't require/use a client credentials flow in the `oauth2.sigstore.dev` endpoint because we could not keep the client secret as an actual secret... however if folks are using different providers on their own instances of fulcio, this seems reasonable to me.

[2022-01-14 14:52] hectorj2f commented on #1301
Okay, I have the feeling the verification has been broken because based on vault verification endpoint "valid=true" should be what we expect as a successful verification

[2022-01-14 15:15] blz-ea commented on #1301
If replace line [here](https://github.com/sigstore/sigstore/blob/b1a36a4771f1d3abaf40befde88e0cdb6ccffbaa/pkg/signature/kms/hashivault/client.go#L224) with
[code]

and add `"prehashed":  alg != crypto.Hash(0),` to the request [here](https://github.com/sigstore/sigstore/blob/b1a36a4771f1d3abaf40befde88e0cdb6ccffbaa/pkg/signature/kms/hashivault/client.go#L212)

It does seem to be able verify

Plus s

[2022-01-14 15:18] asraa commented on #1313
Yeah, the job workflow ref is pretty unfriendly to use from a client/cosign side. On the other hand though, my main problem is that running `cosign veirfy $IMG` to validate that something was signed in a github actions is meaningless without extra policy -- that image could have been signed in anyone else's github workflow. Maybe it's just worth calling out to workflow identity use-cases: like, us

[2022-01-14 15:50] #1193 closed

[2022-01-14 17:31] hectorj2f commented on #1301
@blz-ea Great! I was working on a PR but I saw your PR. Yes, it looks good to me and works.

[2022-01-14 18:21] blz-ea commented on #1301
@hectorj2f Thank you for the review
Sorry if I cut you with PR. Didn't mean to 😄

[2022-01-14 19:45] hectorj2f commented on #1301
@blz-ea All good 👍🏻 ! Actually I was about to remove the `prehashed` in sign to fix it.

[2022-01-14 20:13] rgreinho opened #1321 "Add DSSE support to verify-attestation"
## Description

As described in [chains issue #329](https://github.com/tektoncd/chains/issues/329), when the signature(s) get stored as a taskrun annotation, it is represented using the [dsse envelope format](https://github.com/secure-systems-lab/dsse/blob/master/protocol.md). For example:

[code]

Currently there is no way to use `cosign` to verify the payload against the signature(s).

It would

[2022-01-15 11:48] bobcallaway opened #1323 "Fix code scanning alert - Pinned-Dependencies"
Tracking issue for:
- [ ] https://github.com/sigstore/cosign/security/code-scanning/58

[2022-01-15 12:22] bobcallaway opened #1324 "enable CodeQL on all PRs, not just code on main"
Tracking issue for:
- [ ] https://github.com/sigstore/cosign/security/code-scanning/67

[2022-01-15 12:56] #1323 closed

[2022-01-15 14:33] #1309 closed

[2022-01-15 14:34] #1257 closed

[2022-01-15 19:54] patrickdung opened #1329 "generate-key-pair for GitLab and masking "COSIGN_PASSWORD""
**Description**

I had run ``` cosign generate-key-pair gitlab://[username]/[project-name]```.
After that, I check the variables in GitLab UI.
In the UI, COSIGN_PASSWORD could enabled to be 'masked' in logs manually.
I am not sure if the GitLab API allows masking it when it is created by cosign.

![image](https://user-images.githubusercontent.com/38665827/149635617-ba967cb5-9d65-438a-945c-c28b5d9e

[2022-01-15 20:23] dlorenc commented on #1329
This makes sense to me!

[2022-01-15 20:56] hectorj2f commented on #1329
Yes, it does to me too.

[2022-01-15 22:28] #1301 closed

[2022-01-16 14:17] imjasonh opened #1331 "GitHub OIDC CI test panic: error retrieving CT public key"
**Description**

[code]

Full log: https://github.com/sigstore/cosign/runs/4829926117?check_suite_focus=true

This workflow runs nightly, and just started failing today: https://github.com/sigstore/cosign/actions/workflows/github-oidc.yaml

[2022-01-17 11:56] dlorenc commented on #1324
I'm going to push back a bit here. In my experience this isn't useful enough as a presubmit to justify the time it takes to run, at least for Golang.

A few minutes here and there doesn't sound like a lot, but they do add up over time. I'm personally fine running this check after merges. I'd feel differently if the check caught more issues, but we just haven't seen any real value from it here.

[2022-01-17 11:58] dlorenc commented on #1321
Is this similar to the work @mlieberman85 started in https://github.com/sigstore/cosign/pull/1265 ?

[2022-01-17 13:26] dlorenc commented on #1331
Maybe a flake? It passed after that: https://github.com/sigstore/cosign/actions/runs/1705932783

[2022-01-17 13:28] imjasonh commented on #1331
Maybe. It also failed in my fork, which is how I found out about it: https://github.com/imjasonh/cosign/actions/runs/1703121145

I'd love to understand better how that happens, at least. If anybody has any ideas that'd be helpful.

[2022-01-17 13:30] dlorenc commented on #1331
The error appears to be:
![image](https://user-images.githubusercontent.com/1714486/149777857-36fcbf9a-339f-4e02-b934-e4bef60e03c9.png)

The only time I've seen that "off-by-one" style thing is on windows where `\r\n` characters were getting auto-swapped in for `\n`s...

cc @asraa @haydentherapper any ideas here?

[2022-01-17 16:29] dlorenc commented on #1312
This sounds good to me, I have to admit that I forget what the current output looks like. Would you mind elaborating a bit more on exactly what the change in output would look like (either here or in a PR)?

[2022-01-17 16:46] strongjz opened #1337 "Add native Linux package manager support for releases"
**Description**

Add native packages for installs of cosign, etc. On build systems like AWS CodeBuild and others, instead of having users install Golang then cosign or curl releases from GitHub it would be helpful to install packages native package managers.

Example: https://netdevops.me/2021/building-and-publishing-deb/rpm-packages-with-goreleaser-and-gemfury/

Goreleaser supports this functiona

[2022-01-18 18:31] developer-guy opened #1338 "add generic webhook impl for verifying attestation integrity in addition to CUE or Rego policies"
**Description**
In the meantime, cosign has two different ways of verifying the integrity of attestations, CUE, or Rego policies. In this issue, I'm proposing to add a new way of verifying them by calling some external service which makes a decision whether an attestation is valid. IMHO, it adds extra flexibility to a system for people who might not want to write CUE or Rego policies.

WDYT @Dentr

[2022-01-18 18:33] danpopnyc commented on #1338
i think he means you @dlorenc  :)

[2022-01-18 18:37] dlorenc commented on #1338
Is there a specific system or use case in mind? Webhooks as extensibility always feels like a giant smell to me

[2022-01-19 12:47] dlorenc commented on #1337
Nice! Feel free to grab this one @strongjz!

[2022-01-19 15:44] saschagrunert opened #1341 "How to sign a manifest lists?"
**Question**

I'm wondering if it's possible to sign manifest lists like we use it for multi architecture images in Kubernetes. I failed by doing:

[code]

[code]

Signing the single image works as intended, but what if I try to sign the manifest list:

[code]

Is there another way to sign a list?

[2022-01-19 15:47] saschagrunert commented on #1341
Pushing the manifest would help here, sorry about the confusion :)

[2022-01-19 15:47] #1341 closed

[2022-01-19 18:16] asraa opened #1342 "TUF: Use custom metadata to identify TUF target usage"
**Description**

Currently, we hardcode TUF targets by name, e.g. `fulcio.crt.pem`. As we rotate logs year by year, we will want to annotate custom metadata about these targets. This will also help users make their own TUF targets without relying on fixed file names.

We should probably include:
* the component the target is used for: (fulcio, rekor, ctfe)
* the dates the target will be valid for

[2022-01-20 22:02] Knibbaz opened #1344 "What are you wondering about?"
**Question**
For my school project I need to show how the verifying process flows from the public key to checking if it matches the .sig in the registry. I use a key-pair generated by cosign for signing images.

I tried to read and understand the cosign code but it didn’t make me wiser. I saw that it took the raw public key and then used UnmarshalPEMToPublicKey(). I found a [link](https://go.dev/p

[2022-01-21 01:41] dlorenc commented on #1344
Hey @Knibbaz!

I made a graphviz to try to help here:
![image](https://user-images.githubusercontent.com/1714486/150449672-cb24ef38-7766-4d35-8adc-89ea75811d6a.png)

Does that help?

We do use ECDSA P256, with the sha256 hash algorithm by default.

For the PEM-encoding, this blog post explains it a bit: https://smallstep.com/blog/everything-pki/

In short, a public key pem file is:
* A public key

[2022-01-21 16:45] rgreinho commented on #1321
More details here on what I am trying to achieve.

First of all, I started by setting up tekton and chains following the tutorial we wrote here: https://github.com/thesecuresoftwarefactory/ssf/blob/main/examples/buildpacks/dual-storage-backend.md.

With this process I get the `cosign.pub` public key:

[code]

And the DSSE `dsse.sig` (from in the tekton taskrun annotation):

[code]

Digging in the

[2022-01-21 18:46] #1289 closed

[2022-01-21 19:15] priyawadhwa commented on #1321
I think this could make sense in `verify-attestation`, or maybe in `verify-blob` if we can somehow indicate the signature is in DSSE format (maybe with a `--dsse` flag?)

[2022-01-22 14:35] jbpratt commented on #1331
I also saw this a few minutes ago https://github.com/ContainerCraft/kmi/runs/4907414391?check_suite_focus=true
[code]

[2022-01-22 20:44] simongottschlag opened #1350 "Azure Container Registry authentication"
**Description**

Hi!

As always, thank you for the great work you are doing with cosign and sigstore. :1st_place_medal:

There seems to be a bug with how cosign authenticates with Azure Container Registry:
[code]

After spending some time troubleshooting this, it seems to be related to two bugs in upstream packages. These are packages used by `go-containerregistry`. I'll document it here but we'll

[2022-01-22 20:55] dlorenc commented on #1350
Whoa, thank you for the detailed debugging information! cc @jdolitsky and @jonjohnsonjr

[2022-01-22 22:40] simongottschlag commented on #1350
No problem at all! The issues and PRs are created and I'm going to try and get the Google CLA signed on Monday.

[2022-01-23 22:13] simongottschlag commented on #1350
An idea I've been exploring is to use the hamilton project instead of the current ACR Helper. If we're able to get the following two through (or perhaps using some additional modules outside of hamilton) we could remove a a dependency to autorest - which would be great. :+1:

- Add ACRHelper to hamilton: https://github.com/manicminer/hamilton/pull/141
- Remove autorest from the main hamilton modul

[2022-01-24 07:11] BerndFarkaDyna opened #1351 "VAULT KMS signing and verification broken after rotating a key in vault"
The Vault transit engine has a fundamental feature for rotating keys (https://www.vaultproject.io/docs/secrets/transit), therefore each digest returned from vault has a prefix identifying the version of the used key. For example **vault:v3:XXXXXXX** links version 3 of the key. The version of course is important for the verification.

Detailed analysis:

https://github.com/sigstore/sigstore/blob/24

[2022-01-24 11:43] hectorj2f commented on #1351
Hello @BerndFarkaDyna

Yes, it is correct that the version is removed from the signature. Have you tried to use `VAULT_KEY_PREFIX` ? You could replace the hardcoded/default value `vault:v1` by `vault:v3` as you defined when verifying it.

[2022-01-24 13:16] BerndFarkaDyna commented on #1351
@hectorj2f THX for you response!

I see various problems in defining it with `VAULT_KEY_PREFIX`:

* me as the verifier of an signature i most probably do not know the version it got signed
* older versions can still be valid for verification
* there can be mixed versions in an image, first n layers got signed with v1 and a new layer gets signed with v2 for example

AFAIK this could all be valid ca

[2022-01-24 15:18] hectorj2f commented on #1351
@BerndFarkaDyna Indeed, it opens some valid use cases here.

[2022-01-24 15:22] asraa commented on #1331
Huh, looking into this right now. Very odd to me that it would be flakey

[2022-01-24 16:27] BerndFarkaDyna commented on #1351
@hectorj2f: i would be open for helping implementing the fix, since i have a valid test-setup up and running.

The question for me is: what should be the solution? would adding the vault and version prefix to the digest a valid solution from your point of view?

[2022-01-25 16:27] jw-s opened #1354 "Improve the way PKCE is determined/disable check"
**Description**

I would like to use `cosign` in `keyless mode` with a custom token issuer - i.e Azure

Azure oauth v1 and v2 endpoints both support PCKE based on Azure documentation but unfortunately as of now doesn't return the required [claim](https://github.com/sigstore/sigstore/blob/main/pkg/oauthflow/pkce.go#L42) mentioned by [rfc8414](https://datatracker.ietf.org/doc/html/rfc8414) which `co

[2022-01-25 16:28] jw-s commented on #1354
cc: @bobcallaway

[2022-01-25 17:28] developer-guy opened #1356 "shouldUploadTLog control over sign-blob command and enable force flag"
**Description**

I noticed that we have control over the sign command to decide whether we should upload an entry to tlog, when we specify force flag true, it'll bypass the control. So, couldn't we have to do it for the sign-blob command too?

cc: @dlorenc

[2022-01-25 17:48] bobcallaway commented on #1354
i wrote a quick check to check the provider auth URL against the ones listed in the Azure docs which should be sufficient to bypass the claim check on the discovery JSON (note: it still requires that PKCE is actually utilized in the interactions with the provider)

we still need to bump `go.mod` in cosign to consume a release of `sigstore/sigstore` that includes sigstore/sigstore#246 in order for

[2022-01-25 18:15] #1350 closed

[2022-01-26 01:46] #1321 closed

[2022-01-26 08:47] hectorj2f commented on #1351
@BerndFarkaDyna That is a good question. Is there a way to get the last version ? Why would i want to use a rotated version of my key ?

[2022-01-26 09:03] BerndFarkaDyna commented on #1351
From the Vault Documentation (https://learn.hashicorp.com/tutorials/vault/eaas-transit#rotate-the-encryption-key)

The More general Answer would be:

So basically it simply is a very good preventive measure if a key/secret/whatever gets leaked.

In my use-case it is simply part of "Best Practice" to not have very long living keys.

[2022-01-26 09:18] developer-guy opened #1359 "generate fig autocompletion"
**Description**

We (w/@srenatus @anderseknert) did a [similar effort](https://github.com/withfig/autocomplete/pull/854) in OPA to add autocompletion of opa CLI in by [fig](https://github.com/withfig/autocomplete). So, let's do this for cosign too.

![image (17)](https://user-images.githubusercontent.com/16693043/151136006-6a1ed57c-2a50-4990-b34a-ffd5dd7cfc13.png)

[2022-01-26 13:41] developer-guy opened #1361 "ability to load Rego or CUE policies over OCI registries"
**Description**

For example, conftest has the ability to share Rego policies[^1] over OCI registries which means that users can pull or push rego policies to OCI registries, which we can do the same for CUE basically. So, we have support to verify attestation files via Rego or CUE-based policies. To do so, generally, we use file or directory formats to load policies, so, in addition to that, we c

[2022-01-26 14:19] dlorenc commented on #1361
+1!

[2022-01-26 15:00] dlorenc opened #1363 "Plan for sget!"
Cc @imjasonh

[2022-01-26 15:24] imjasonh commented on #1363
Somewhat stream-of-thought notes based on the community call yesterday:

Terminology note:
- `sget-go` refers to the Go code in this sigstore/cosign, in cmd/sget -- we think we want to phase this out.
- `sget-rs` refers to the Rust code currently in sigstore/sget -- this focuses on OCI fetching + policy, we think we want to remove OCI functionality from this at least.
- `sget-new` refers to some y

[2022-01-26 15:43] imjasonh commented on #1363
Oh! Another point:

If `cosign` wants to support fetching a blob from OCI, verifying signatures (+policy?) and printing it to stdout, that seems entirely within its newly staked out scope, different enough from `sget` not to be too controversial. 🤞

So maybe `sget-go` just migrates its code into `cosign` instead of being deleted entirely. The standalone `sget-go` tool could still be removed, or ju

[2022-01-26 18:03] lukehinds commented on #1363
Just a note: If sget-go is deprecated/deleted and OCI features are removed from sget-rs (or sget-$lang), you won't have any way of retrieving  blobs / signing materials from an OCI registry.  This might be OK, but keep in mind the `cosign policy` code is present as well to work with the policy validation code that is in sget-rs https://github.com/sigstore/sget/blob/main/src/policy.rs

[2022-01-26 18:22] dlorenc commented on #1363
I think this is missing the "what should sget-new do" part still.

A skeleton command line surface or mock showing how a user would interact with it, and what checks it should perform. If we start with that, then we can figure out the best language and repo for the tool to live in.

[2022-01-26 18:32] imjasonh commented on #1363
Fetching-verifying-policying blobs in OCI could move to `cosign`, https://github.com/sigstore/cosign/issues/1363#issuecomment-1022324509

"Replace `curl` for piping into `sh`" seems like the consensus, at least to me:

[code]

What it does behind the scenes to make that a safer alternative to `curl`, and how drop-in it could be in all cases, still TBD -- ideas welcome! -- but that's the goalpost I

[2022-01-26 19:04] lukehinds commented on #1363
What would be the storage medium here if OCI is out of the picture?

I know you like the idea of http @imjasonh , but it's a sticky one to get working with signing materials (how to map artifact to signature , websites get hacked a lot). I honestly love the git method (I even prefer it over OCI), but unfortunately the very meagre rate limits github / gitlab have for API access means it won't work

[2022-01-26 19:21] dlorenc commented on #1363
This is feeling like we need another meeting :) What do we think about trying to set up an hour next week to get in sync around the long term vision? I think we're close but not on the exact same page.

[2022-01-26 19:21] luhring commented on #1363
Here's one idea for what a flow might look like for the MVP.

The user copies a command from a project README and runs it.

[code]

### Here's what sget does

#### 1. Retrieve the HTTP resource

`sget` acts as an HTTP client to download the resource (and follows a normal TLS validation process when using HTTPS, just like `curl` does).

#### 2. Verify retrieved bytes

Before sending any bytes to st

[2022-01-27 00:32] haydentherapper commented on #1273
As I was implementing verification using the TUF timestamp, I ran into an issue. As a reminder, the verification flow is roughly:
1. Read the timestamp from an annotation on the OCI image
2. Using the timestamp, fetch the versioned snapshot
3. Using the snapshot, fetch the versioned root (N) and targets
4. Verify the root by walking the chain from 1.root.json to N.root.json
5. Verify the timestamp

[2022-01-27 16:22] imjasonh commented on #1363
@luhring this sounds great, thanks for writing that up! I think there's still some questions to sort out, but I think that's roughly along the lines of something we'd need for this to work for arbitrary URLs, especially when the maintainers might not have done anything to enable better assurances for `sget` users specifically.

This seems unavoidable, basically. Do we need some separation of globa

[2022-01-28 10:50] hectorj2f commented on #1351
@dlorenc I believe we need your opinion about this ☝🏻  ? wdyt ?

[2022-01-28 12:19] dlorenc commented on #1351
I don't know that we have a great answer here. The approach of storing the entire result from vault will work for rotation but it will break verification against an exported public key.

Could the prefix stuff be stored separately, and then used if present?

[2022-01-28 13:19] BerndFarkaDyna commented on #1351
From my point of view this could be a very valid solution.

After having a deeper look in the implementation this would need some bigger code change but feels like the most cleanest way.

But it might break the current API

As addition we still could add the vault:v1 prefix if somebody tries to verify against vault and no prefix is stored (which would keep the compatibility to the current situatio

[2022-01-28 13:26] dlorenc commented on #1351
If you have a sketch on what it would look like we can evaluate!

[2022-01-28 13:56] ribbybibby opened #1370 "Improve json output of `cosign verify`"
**Description**
 From this discussion: https://sigstore.slack.com/archives/C01PZKDL4DP/p1643231244166000

At the moment, `cosign verify` returns something like this:
[code]

The `optional` fields there aren't actually part of the payload, they're added in by `cosign verify` [here](https://github.com/sigstore/cosign/blob/v1.5.0/cmd/cosign/cli/verify/verify.go#L236-L250).

The 'optional' information

[2022-01-28 14:06] BerndFarkaDyna commented on #1351
I might have to rework mine a bit but that should not be a problem within the next few days.

but the changes will go to the sigtool and cosign repo -> do we need 2 issues there?

[2022-01-28 14:11] dlorenc commented on #1351
Nah - one tracking issue is fine!

[2022-01-29 19:04] sabre1041 opened #1373 "Improve handling of tlog interaction when `--upload=false`"
Currently, when `COSIGN_EXPERIMENTAL=1` is set, content is always published to rekor. However, when `--upload=false`, it should be possible to not only support storing image signatures and certificates locally, but the necessary details to avoid needing to communicate with rekor.

## Assumptions:
* `COSIGN_EXPERIMENTAL=1` set

## Discussion:
* Support is needed to avoid uploading to tlog when `--u

[2022-01-29 20:41] developer-guy opened #1375 "cosign kubectl plugin"
**Description**

We can develop kubectl plugin of cosign which makes it easier to use cosign for Kubernetes people. We can simply spin up pods in Kubernetes that are using cosign in a container, even we can use ambient credential detection if we could do this.

https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

WDYT @dlorenc @Dentrax @cpanato?

[2022-01-30 13:26] cpanato commented on #1375
i did not follow you, is a plugin to spin a cosign pod? or that will check images that are running in the cluster? sorry for my dumb question

[2022-01-30 13:30] developer-guy commented on #1375
Can do both I'm shooting in the dark, just wanted to give an idea how it can be designed 🙋🏻‍♂️

[2022-01-30 13:31] dlorenc commented on #1375
Same question as Carlos! What would the command look like?

[2022-01-30 13:34] luhring commented on #1363
I've been thinking a lot about Jason's comment above. This trust thing is a fascinating problem!

I definitely see value in this distinction (it reminds me vaguely of SSH config: "here are my trust settings for _any_ host, here are my settings for _host X_, etc."). I think something like this would be good to include. I'm wondering if it should be in the MVP or not.

I love this! ❤️  It adds a soc

[2022-01-31 03:07] bburky opened #1378 "cosign attest --replace fails to create attestations on random.Image() generated images"
While implementing the unit test for #1366, I discovered that `cosign attest --replace` silently fails to create any attestations on images created by [go-containerregistry's `random.Image()`](https://pkg.go.dev/github.com/google/go-containerregistry/pkg/v1/random#Image). That PR added a failing `TestAttestationReplace()` test which is currently skipped because the replace option doesn't create an

[2022-01-31 09:43] developer-guy commented on #820
Hello, kindly ping here 🙋🏻‍♂️ We can use ephemeral containers sub resource definition in the rules section of Validating/MutatingWebhookConfiguration as follows 👇
[code]

[2022-01-31 14:20] saschagrunert opened #1380 "Considering higher level API vs importing `cmd/cosign/cli`"
**Description**

Right now we're importing the `cmd/cosign/cli` bits of this project into the kuberntes-sigs/release-sdk:
https://github.com/kubernetes-sigs/release-sdk/blob/main/sign/sign.go#L26-L27

I feel a bit uncomfortable with that, because I would expect an API somewhere in `pkg`. Is this the desired intention to use this project or do you think it would make sense to move the logic from th

[2022-01-31 14:30] luhring opened #1381 "Clarifying questions re: cosign vulnerability attestation spec"
Hi! I saw @developer-guy open https://github.com/anchore/grype/issues/614. I think vulnerability scan attestations are a great idea, and I've been catching up on what exists already via these places so far:

- https://github.com/sigstore/cosign/blob/main/specs/COSIGN_VULN_ATTESTATION_SPEC.md
- https://github.com/sigstore/cosign/issues/442
- https://github.com/in-toto/attestation/issues/58

Before

[2022-01-31 15:37] BerndFarkaDyna commented on #1351
@dlorenc, @hectorj2f

Some thoughts from my side where you (hopefully) can share some thoughts from your side...

´´´
"github.com/sigstore/sigstore/pkg/cryptoutils"

type SignerVerifier interface {
	Signer
	Verifier
}

type Signer interface {
	PublicKeyProvider
	SignMessage(message io.Reader, opts ...SignOption) ([]byte, error)
}

type Verifier interface {
	PublicKeyProvider
	VerifySignature(signa

[2022-01-31 15:58] dlorenc commented on #1351
Just thinking out loud here, this might not be a great idea (@mattmoor and @znewman01 and @bobcallaway might have better ones):

The generic pattern for that "prefix" is sometimes referred to as a KeyID. What if we make an optional extension to the SignerVerifier interface that looks something like:

`SIgnerVerifierWithKeyID`

It could include extensions to those methods:

`SignMessageWithKeyID(me

[2022-01-31 16:01] BerndFarkaDyna commented on #1351
Fine with me too of course!

[2022-01-31 16:12] cpanato commented on #1380
cc @dlorenc @mattmoor

[2022-01-31 16:45] mattmoor commented on #1380
Totally agree.  This is what @dekkagaijin has been working towards, but I think we'd love help if folks are willing/able to pitch in!

[2022-01-31 19:38] imjasonh commented on #1350
This is now released in v1.5.1 🎉

https://github.com/sigstore/cosign/releases/tag/v1.5.1

[2022-01-31 20:03] znewman01 commented on #1351
I'm not terribly familiar with Vault, but here are my initial thoughts.

We want to enable two use cases (both API and CLI):

  1. Sign with latest version, check against "valid" versions.

     This could mean *any* version is okay, or we check that the key is >= some
     version.

[code]

  2. Sign/verify with specific version.

     Here, we can just think of the version as part of the key URI

[2022-01-31 20:22] dlorenc commented on #1351
It's returned at part of the ciphertext, but vault also supports exporting the plain public key for standard verification. If you leave the prefix in then, it breaks :(

[2022-01-31 20:28] garantir-km commented on #86
Are TUF signatures fully supported now? [This blog post](https://blog.sigstore.dev/sigstore-bring-your-own-stuf-with-tuf-40febfd2badd) makes it seem like they are but this issue is still marked as open. Also, once TUF signatures are supported, does that mean that cosign can be used as a complete replacement to Notary to sign Docker images?

[2022-01-31 20:59] znewman01 commented on #1351
Ahh, that's what I was missing. Updated my comment above.

That said, it's a *terrible* hack but could we just make `VerifySignature` work as follows?

- if ciphertext starts with "vault:XXX:"
    - if key is a vault KMS key, check for "compatibility"
    - otherwise, strip "vault..." and proceed
- otherwise, if key is a vault KMS key: check signature with latest key in the vault
- otherwise, veri

[2022-01-31 22:02] mnm678 commented on #86
Some of these tasks have been completed. I updated the pr to turn the different pieces into check boxes. @asraa might know of some related issues that I missed (or of some items I should add here). I'm also open to closing this here and moving to a longer-term discussion/planning forum for these ideas/issues if the maintainers would prefer that.

[2022-01-31 22:59] priyawadhwa opened #1384 "Move keyless signing out of experimental"
Related to https://github.com/sigstore/cosign/issues/116, just opening this for tracking.

[2022-02-01 03:06] priyawadhwa opened #1385 "Review unit and integration tests"
Some things we could do here:
- [ ] Make sure unit tests are thorough
- [ ] Reorganize integration tests (they're mostly in one big e2e_test.go file right now)
- [ ] Make sure integration tests are thorough, ideally covering experimental features well & an OIDC flow (this might have already happened)

[2022-02-01 06:51] BerndFarkaDyna commented on #1351
@znewman01:

I really doubt that

is a use-case at all.

For me as a user of a KMS, one of the reasons for choosing Vault is that i do not have to care about those versions on the client side at all. I can specify the the versions (valid for signing and verification) on vault itself. I would not think of any valid reason why doing this on the client.

[2022-02-01 08:32] BerndFarkaDyna commented on #1351
Verifying the signature with an exported key:

1. Is this a use-case which really should be supported? The default of Vault is to forbid the export and you have to enable this for certain keys.
2. If somebody enables that the user will have to keep on tracking the versions and distribute the public key.
3. AFAIK it could be the case that some layers are signed with different versions, how to handl

[2022-02-01 10:18] garantir-km commented on #86
@mnm678 Thank you for the quick response. I have some questions about what you said.

Which tasks are you referring to? Cosign being a complete replacement for Notary or for items listed in the linked blog post? We are very interested to know if cosign can currently be used to sign Docker images in a manner that Docker Content Trust can natively verify.

[2022-02-01 11:48] dlorenc commented on #86
I don't think cosign will ever be a "drop in" replacement for DCT. The location signatures are stored is too different and I doubt docker will make changes that large at this point.

I think we're aiming for is a conceptual replacement where it supports the same feeatures, use cases, and key management strategies as DCT so it can be used instead if people want.

[2022-02-01 12:15] dlorenc commented on #1351
Yup, this is very common. These are public keys, not private ones, so exporting is common and is actually a good pattern to allow verification without access to vault or by a third party.

[2022-02-01 12:59] bobcallaway commented on #1351
I'm thinking through a longer response, but wanted to mention this idea - rather than adding new methods, could we not just leverage the functional options pattern already in place:
- add an `RPCOption` like `options.WithVaultKeyID(keyID string)` to request using a specific `keyID` for signing and/or verification
- add an `SignerOption` like `options.RecordKeyID(keyID *string)` to request that the

[2022-02-01 13:20] dlorenc commented on #1351
Ah yeah, this is much better!

[2022-02-01 14:08] mnm678 commented on #86
I was referring to the subtasks listed in the original issue. Some pieces of the TUF integration have been finished, like the TUF root of trust in sigstore, and the cosign+TUF approach in the blog post you mention. However, I think there's still room here for other integrations, like the ongoing Fulcio+TUF work that is being proposed for PyPI and others.

As @dlorenc said, making a direct replacem

[2022-02-01 18:23] BerndFarkaDyna commented on #1351
@bobcallaway: THX this is the best approach so far...

Just one minor little thing: shouldn't it be considered calling it

[code]

so it would be much more general and could be reused in future for further KMS if needed?

[2022-02-01 18:56] bobcallaway commented on #1351
Is there another KMS that would immediately benefit from making this more generic? "KeyID" is a rather vague term so from a readability perspective I'd lean towards keeping the name specific to HV if it's the only one we know of right now (we could always delegate later to a common implementation and more generic name)

[2022-02-01 19:16] BerndFarkaDyna commented on #1351
I just had a quick look on the AWS-KMS documentation...

the response of an sign operation looks like this:
https://docs.aws.amazon.com/kms/latest/APIReference/API_Sign.html
[code]
and it looks like the verification request also takes a keyId (and looks even more complex than a vault request does)

https://docs.aws.amazon.com/kms/latest/APIReference/API_Verify.html
[code]

[2022-02-01 19:48] dlorenc commented on #1363
These sound like a good set of questions to answer tomorrow in the call. I'll suggest we do it in a bit different of an order:

* Who is going to use `sget-new`, and what are they going to use it for?
* What are the commands/flags/surface the tool should have to support that?
* What are the different ways it should support fetching contents? Just one system/protocol, or should we support as many a

[2022-02-02 00:28] bobcallaway commented on #1351
According to https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html

I think that means that there's no way for AWS KMS callers to refer to multiple versions of a key in AWS KMS since the values don't change when the key is rotated.

[2022-02-02 09:37] lukehinds commented on #1363
I would slow down here folks and before delving into questions such as how will the UX play out, what language, flags etc, I would suggest we first define what is the current and projected scope of sget-go and have that clearly defined. You can't design something new, without first understanding the goals of the current implementation.

[2022-02-02 11:06] dlorenc commented on #1363
I think that's a bit circular - sget-go is on pause until we resolve what's happening with the other sget(s). I can explain what I originally wanted to do here with it, but we're trying to make sure there's only one sget and all of these plans can change to make sure we get one thing everyone is happy with.

[2022-02-02 12:02] dlorenc opened #1389 "Windows Unit Test Flake"
This has been failing about 30% of the time for a week or so now and passing on re-runs: https://github.com/sigstore/cosign/runs/5035173302?check_suite_focus=true

[code]

[2022-02-02 12:23] dlorenc commented on #1370
I like this idea!

[2022-02-02 12:23] dlorenc commented on #1361
Although I'd note that rego actually has a spec on how to bundle and fetch these, while I'm not sure cue does. Maybe we should start with rego?

[2022-02-02 12:26] dlorenc commented on #1381
+1 to removing this one!

I think the idea was to allow embedding anything here. The only real "standard" we saw around this was SARIF, which isn't widely supported enough for me to feel comfortable requiring.

Naming is hard! Any other suggestions? I'm not picky :)

I kind of like having this at the top level since it would make it easier to write policy against consistently, without needing to k

[2022-02-02 12:26] dlorenc commented on #1381
cc @developer-guy any other thoughts here?

[2022-02-02 13:30] dlorenc commented on #1331
Have we seen this again since? I've seen some flakes but they're all in the Windows unit test filesystem stuff.

[2022-02-02 13:30] #1344 closed

[2022-02-02 13:31] dlorenc commented on #1192
I think we can close this one out!

[2022-02-02 13:31] #1192 closed

[2022-02-02 14:05] jbpratt commented on #1331
I haven't seen this again looking back at the last ~30 jobs (within 7 days).

[2022-02-02 14:16] dlorenc commented on #1331
Oof, oh well :( I'll close for now.

[2022-02-02 14:30] dlorenc commented on #1298
Closing as the attached PR was closed!

[2022-02-02 14:30] #1298 closed

[2022-02-02 15:28] cardil opened #1390 "`cosign verify-blob` fails in experimental mode (keyless)"
## Description

The `cosign verify-blob` fails to verify a blob using keyless mode (in `COSIGN_EXPERIMENTAL` mode):

[code]

### Version

[code]

[2022-02-02 15:43] mattmoor commented on #1390
Generally the `.sig` files for keyless and keyfull(?) signing will be different files, and you are passing the same `.sig` to both of these, which is likely the issue.

If you *just* sign with keyless, and then verify that signature, do you still see an issue?

[2022-02-02 15:53] cardil commented on #1390
Nice. It works for the `-keyless.sig` file:

[code]

But, the forks to two issues:

- The UI is bad, as `cosign` should inform the user that signature type is wrong, and `keyless` signature is required.
- Why the signature can't be the same file? It should be possible to have multiple signatures in a single `sig` file. Also, maybe it could be possible to the keyless, and keyfull to generate the sa

[2022-02-02 19:41] bobcallaway commented on #1351
On second look, I think we could make this generic for GCP KMS so I just pushed up the first patch of several that should address the original concern - PTAL :)

[2022-02-02 19:47] #1354 closed

[2022-02-02 21:39] imjasonh commented on #1363
So we met, and I think we all in general agreed to the following course of action:

1. deprecate, archive and rename `github.com/sigstore/sget` to `github.com/sigstore/sget-archived` (name TBD)
2. create a _new_ `github.com/sigstore/sget` repo and copy cosign's `cmd/sget` code into the new repo
3. for now, keep cosign's `cmd/sget` as a wrapper around the imported `sigstore/sget` codebase, and even

[2022-02-02 21:44] dlorenc commented on #1363
LGTM!

[2022-02-02 21:54] dlorenc commented on #1363
This one actually might be too hard to do without circular imports, happy to punt on that one if it complicates stuff too much.

I think there's a `git filter-tree` thing that works for this so we don't lose history/authorship too.

[2022-02-02 21:56] imjasonh commented on #1363
That sgtm too. 👍 If we don't keep it as a wrapper we just have to coordinate with packagers who expect to find it there.

Sounds like you're volunteering 😉

[2022-02-02 21:58] dlorenc commented on #1363
Why not! Let's give it a try.

[2022-02-03 16:47] haydentherapper commented on #1342
Taking a look at this as part of #1273.

[2022-02-03 21:22] dlorenc commented on #1212
We finally got something working here! Check out this blog post and code:

https://blog.chainguard.dev/cosign-verify-ecs/
https://github.com/chainguard-dev/cosign-ecs-verify

[2022-02-04 01:24] haydentherapper commented on #1389
Is there any parallelization with the tests? Could one be removing a file while another tries to read/rename that deleted file?

[2022-02-04 01:34] dekkagaijin commented on #1389
I remember Windows not playing nice with atomic writes (i.e. file renames). It may not be possible in a friendly way, though in this case we may be able to succeed on failure

[2022-02-04 01:43] dlorenc opened #1397 "Plan for Reference Types Work!"
**Description**

The reference types work is off and running now in OCI, and we should start to think through how we'll adopt it here in cosign.

Assuming the work completes, gets adopted by registries, and meets all the use cases required by cosign, we still have a few choices to make!

* When do we add support, and how? Do we need to wait for all registries to support it, or can we do a transiti

[2022-02-04 02:08] mattmoor commented on #1397
We should track the reference type work in GGCR's `pkg/registry` to test against.  If we can flag this on/off then we can also test fallback.

[2022-02-04 15:27] jdolitsky commented on #1397
Perhaps this is something to cross-post in GGCR repo, but yesterday the extensions proposal was merged:
https://github.com/opencontainers/distribution-spec/tree/main/extensions

Regarding fallback options, etc., this is how clients will be able to determine if experimental APIs defined in the working group are exposed by a given registry

[2022-02-04 21:42] vaikas opened #1405 "Local registry times out unless --allow_insecure_registry is used"
**Description**
Trying to use cosign against a local registry like so (using ./main that's cosign from the head of the main).
[code]

My understanding is that there should be some magic that if a local registry is specified it will imply that the allow-insecure-registry would be implied.

[2022-02-04 21:43] vaikas commented on #1405
Oh, and it obviously errors even in the first case because the image doesn't exist, but the point is that it doesn't time out :)

[2022-02-05 12:57] #1297 closed

[2022-02-05 23:16] vaikas commented on #1405
Oh, and same also happens with download sbom for example:
[code]

[2022-02-06 01:08] caarlos0 opened #1406 "verify-blob not finding tlog on rekor, but it is there"
**Description**

I might have found a bug, not sure if here, rekor, or elsewhere... or maybe my understanding of things is a bit wrong... in any case, here it goes:

First thing I noticed is that `rekor-cli` does not find any entries for some files:

[code]

Here, it seems like after some time they are not available anymore, or at least, not searchable?

So, if I try to verify without the PEM, it

[2022-02-06 02:31] dlorenc commented on #1389
I don't think it's parallelism, and I don't have a Windows machine to test with available. It looks like the error is actually coming from ggcr's test registry. I propose we just open the bug over there and skip this test in Windows untill it's narrowed down in the dependency.

[2022-02-06 02:33] dlorenc commented on #1405
cc @jonjohnsonjr @imjasonh

[2022-02-06 21:32] bobcallaway opened #1408 "use lowercase imageRef since docker does not support capital letters"
Per issue reported in [sigstore/cosign-installer](https://github.com/sigstore/cosign-installer/issues/47#issuecomment-1026743589), docker push doesn't support references with uppercase characters.

[code]

There isn't really a useful error message to assist in debugging.

We can either check for uppercase characters and fail with a helpful error message, or we could transform the image ref to be i

[2022-02-06 23:19] dlorenc commented on #1408
cc @mattmoor @jonjohnsonjr I thought we saw this back in December and fixed it in ggcr somewhere...

[2022-02-06 23:29] mattmoor commented on #1408
We didn’t because the starter action uses some metadata action to normalize instead

[2022-02-06 23:45] dlorenc commented on #1408
Ah whoops!

[2022-02-07 09:51] hectorj2f commented on #1405
@vaikas i always use “allow-registry-insecure” as an explicit flag and default to secure communication otherwise.

[2022-02-07 12:06] bobcallaway commented on #1406
`rekor-cli search` queries an index that maintains a mapping from various keys to a specific entry in the log. it's unlikely but entirely possible that the index becomes out of sync with the state of the transparency log, so we'll need to investigate further what's going on here.

Both `rekor-cli verify` and `cosign verify` do a lookup directly from the transparency log by recreating the expected

[2022-02-07 12:40] caarlos0 commented on #1406
ok, so my mental model was more or less accurate, thanks!

ah, neat!

---

Another question: what's the recommended way to instruct users to check if the public key et al are what they actually say they are?

[2022-02-07 13:55] #1408 closed

[2022-02-07 18:37] dlorenc opened #1414 "Publish release YAMLs for cosigned"
This would make it easier to install directly from CI without needing helm.

cc @n3wscott @mattmoor

[2022-02-07 20:32] pdxjohnny opened #1416 "Can URL output by sign-blob be public?"
If one were to run the following setup via pubic CI, would that pose a security risk? Would it be bad if anyone could see the OAuth URL?

https://github.com/sigstore/cosign/blob/main/FUN.md#level-11

[2022-02-07 20:42] jonjohnsonjr commented on #1405
This is what @mattmoor tried to mitigate in https://github.com/google/go-containerregistry/pull/1165 but I'm guessing you're hitting this multiple times and then hitting cosign's 3 minute timeout.